<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<div class="container">
    <header th:replace="cust_layout :: header">
    </header>

<section class="wrapper content-wrapper">
    <form class="col-sm-4" role="search">
            <label for="" class='message-label'>Message Center</label>
            <div class="input-group add-on">
                <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text"/>
                <div class="input-group-btn  bg-white">
                    <button class="btn btn-default search-icon" type="submit"><i class="fa fa-search icon-search"></i></button>
                </div>
            </div>
        </form>
         <p class="col-xs-12 invisible">
                    Fields marked <span style="color:red">*</span> are compulsory
            </p>

        <div class="row">

            <div class="col-md-9 bg-coronation content-mail"  >
                <aside class="col-md-3 alert  mail-links-box">
                    <div class="">
                         <ul class='mail-links'>
                           <a th:href="@{/retail/mailbox/compose}"><li class='bg-white coronation-blue' style="border-bottom:0px !important;font-size:13px;font-weight:bolder">Compose Message
                            </li></a>
                            <a th:href="@{/retail/mailbox/inbox}"><li >Inbox (1) <i class=' pull-right fa fa-angle-right' style="font-size:20px"></i></li></a>
                            <a th:href="@{/retail/mailbox/sentmail}"><li class=''>Sent (1)<i class='pull-right fa fa-angle-right' style="font-size:20px"></i></li></a>
                            <a th:href="@{/retail/mailbox/draft}"><li > Drafts (1) <i class=' pull-right fa fa-angle-right' style="font-size:20px"></i></li></a>

                        </ul>
                    </div>
                </aside>
                <article class="col-md-9 article">  
                    <div class="alert alert-bottom bg-coronation-blue">
                        <p style="color:white">Compose Message</p>
                    </div>

                   <form method="post" th:action="@{/retail/mailbox}" th:object="${messageDTO}">
                       

                       <div class='form-group compose '>
                           <div class="col-md-2">
                                <label class='mail-label'>Subject: </label>
                           </div>
                           <div class="col-md-10">
                               <input type ='text' class='form-control no-bd' th:field="*{subject}" />
                           </div>
                       </div>


                       <div class='form-group compose '>
                           <div class="col-md-2">
                                <label class='mail-label'>Compose: </label>
                           </div>
                           <div class="col-md-10">
                               <textarea name="message" class='form-control no-bd mail-textarea' th:field="*{body}"></textarea>
                           </div>
                       </div>

                       <div class='pull-right' style="margin:20px;">
                           <button class="btn btn-link">Save as draft</button>
                            <button class="btn btn-link" type='submit'>Send</button>
                       </div>
                   </form>
                </article>
            </div>
             <div class="col-md-3  pull-right">
                            <div th:replace="cust_layout :: sidebar" class="" >
                            </div>
            </div>
        </div>
</section>


<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
</div>
</body>
</html>