<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<div class="container">
    <header th:replace="cust_layout :: header">
    </header>

<section class="content-wrapper">
    <form class="col-sm-4" role="search" >
            <label for="" class='message-label'>Message Center</label>
            <div class="input-group add-on">
                <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text"/>
                <div class="input-group-btn  bg-white">
                    <button class="btn btn-default search-icon" type="submit"><i class="fa fa-search icon-search"></i></button>
                </div>
            </div>
           
        </form>
         <p class="col-xs-12 invisible">
                    Fields marked <span style="color:red">*</span> are compulsory
            </p>

        <div class='row'>
    
            <div class="col-md-9 bg-bank content-mail" >
                <aside class="col-md-3 alert  mail-links-box">
                    <div class="">
                         <ul class='mail-links'>
                           <a th:href="@{/retail/mailbox/compose}"><li class='bg-white pantone-1' style="border-bottom:0px !important;font-size:13px;font-weight:bolder">Compose Message
                            </li></a>
                            <a th:href="@{/retail/mailbox/inbox}"><li >Inbox (1) <i class=' pull-right fa fa-angle-right' style="font-size:20px"></i></li></a>
                            <a th:href="@{/retail/mailbox/sentmail}"><li class='mail-active'>Sent (1)<i class='pull-right fa fa-angle-right' style="font-size:20px"></i></li></a>
                            <a th:href="@{/retail/mailbox/draft}"><li > Drafts (1) <i class=' pull-right fa fa-angle-right' style="font-size:20px"></i></li></a>

                        </ul>
                    </div>
                </aside>
                <article class="col-md-9 article">  
                    <div class="alert alert-bottom bg-pantone-1">
                        <p style="color:white">Sent Messages</p>
                    </div>


                    <div class='alert no-bd'>
                        <h3 class="in-bo sent-info">
                                    <span >From: </span><span class="in-box" th:text="${messageDTO.sender}"></span>
                        </h3>


                        <h4 class="in-bo sent-info">
                                    <span >To: </span><span class="in-box" th:text="${messageDTO.recipient}"></span>
                                    <span class="pull-right font-noraml" th:text="${messageDTO.createdOn}">02 FEB 2017</span>

                        </h4>


                        <h4 class="in-bo sent-info">
                                        <span>Subject: </span><span class="in-box" th:text="${messageDTO.subject}">Aldrsions of Lorem Ipsum.</span>
                                        <a th:href="@{/retail/mailbox/{id}/forward(id=${messageDTO.id})}" class="btn btn-link pull-right" data-toggle="tooltip" data-placement="top" title="Reply"><i class="fa fa-arrow-right m-r-5"></i> Forward</a>
                                        <a  th:href="@{/retail/mailbox/sent/message/{id}/delete(id=${messageDTO.id})}" class="btn btn-link pull-right" data-toggle="tooltip" data-placement="top" title="Delete">
                                        <i class="fa fa-trash-o"></i>&nbsp;
                                    </a>
                        
                        </h4>

                        

                    </div>

                    <div class='bg-white sm-box'>
                         
    <h3><p th:text="${messageDTO.body}">
                                </p></h3>
                    </div>

                </article>
            </div>
             <div class="col-md-3  pull-right">
                            <div th:replace="cust_layout :: sidebar" class="" >
                            </div>
            </div>
        </div>

</section>

<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
</div>
</body>
</html>