<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
</head>

<body>
<div id="wrapper">

    <nav th:replace="layout :: admin-sidebar" role="navigation">

    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div th:replace="layout :: main-header">

        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Admin console</h2>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Create Bank Staff</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <form role="form" action="" method="post">
                                    <!--<p th:if="${#fields.hasErrors('${userChangePassword}')}" th:errors="${userChangePassword}">Mismatch</p>-->
                                    <div class="form-group"><label>Enter CIF-id</label> <input type="text"  placeholder="Enter cif-id" class="form-control"/>
                                        <div>
                                        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Create Account</strong></button>
                                    </div>
                                        </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>


        <div th:replace="layout :: main-footer">

        </div>

    </div>
</div>

</body>
</html>