<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/plugins/jquery-steps/css/jquery.steps.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/jquery-ui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/font-awesome/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/custom.css}"/>

    <title>Test</title>
</head>
<body>


    <div class="container">

        <div class="row">
                <div class="top-bar col-xs-12">
                        <ul class="top-link">
                            
                            <li class="no-bd"><a href="https://www.coronationmb.com/" target="_blank"> Coronation merchant bank</a>&nbsp;</li>
                            
                        </ul>
                </div>
            </div>

            <div  class="row  margin-bottom">

                <div class="col-sm-10">

                    <nav class="navbar navbar-default bg-success" >
                        <div class="">
                            <div class="navbar-header navbar-left ">
                                <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">MENU</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#" data-toggle="collapse" data-target="#navbar-collapse-1">Menu</a>
                            </div>
                            <div class="collapse navbar-collapse no-pad-left" id="navbar-collapse-1">
                                <ul class="nav navbar-nav ">
                                    <li><a href="/"> HOME</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> LOGIN</a>
                                        <ul class="dropdown-menu">
                                            <li><a th:href="@{/login/retail}"> INDIVIDUAL </a></li>
                                            <li><a th:href="@{/login/corporate}"> CORPORATE </a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/register"> REGISTER</a></li>
                                    <li><a href="/#contact_us"> CONTACT US</a></li>
                                    <li><a href="/faqs"> FAQ</a></li>
                                </ul>

                            </div>
                        </div>
                    </nav>

                </div>

                <div class="col-sm-2">
                     <div class="center" style="margin:0px auto;">
                        <a href="/" class="log" data-toggle="tooltip" data-placement="bottom" title="Coronation Merchant Bank">
                            <img class="img-responsive" style="display:block;margin:0px auto;" th:src="@{~/customer/img/cmb_logo.png}" alt="Coronation Merchant Bank" />
                        </a>
                    </div>
                </div>
               
               

            </div>


<section class="content-wrapper">
    <div class="containe">
        <!-- Start row-->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h2 class="header-title"> Self Registration</h2>
                    <form id="reg-form"  action="/register" method="post">

                        <div>
                            <h3>Account Details</h3>
                            <section>
                                <div class="row">
                                    <br/>
                                    <div class="col-md-offset-4 col-md-4">
                                        <div class="form-group clearfix">

                                            <label>Account Number</label>
                                            <span class='req'></span><input type="text" name="accountNumber" autocomplete="off" class="my-select required" placeholder="Account Number"/>
                                        </div>

                                        <div class="form-group">
                                            <label>Select Email or Date of birth to complete registration</label>
                                            <select name="userdet" id="userdet" class="my-select">
                                                <option th:value="email">Use Email</option>
                                                <option th:value="dob">Use Date of Birth</option>
                                            </select>
                                        </div>

                                        <div id="email" class="form-group clearfix">
                                            <label>Email</label>
                                            <span class='req'></span><input type="email" name="email" autocomplete="off" class="my-select" placeholder="Email"/>
                                        </div>
                                        <div id="dob" style="display: none;" class="form-group clearfix">
                                            <label>Date of Birth</label>
                                            <span class='req'></span><input name="birthDate" type="text" class="my-select" data-mask="99-99-9999" placeholder="DD-MM-YYYY"/>
                                        </div>


                                        <p id='loading-icon' style="display:none"><i class='fa fa-spinner fa-spin' style="font-size:10px;color:#003056"></i> Confirming Account details. Please Wait</p>



                                    </div>
                                </div>
                            </section>
                            <h3>Profile Details</h3>
                            <section>
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-4">
                                        <br/>

                                        <div id='regcodebox' class="form-group clearfix">
                                            <label>Registration Code</label>
                                            <span class='req'></span><input type="number" min="0" id="code" name="regCode" class="col-md-8 my-select required" autocomplete="off" placeholder="Registration Code"/>
                                            <a id="send" href="javascript:void(0)" onclick="sendRegCode();" data-toggle="tooltip" data-placement="right" title="Resend verification code">Resend Verification Code</a>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label>Username</label>
                                            <span class='req'></span><input type="text" name="userName" autocomplete="off" class="my-select required" placeholder="Preferred Username"/>


                                        </div>

                                        <div class="form-group clearfix">
                                            <label>Password</label>
                                            <span class='req'></span><input onKeyUp="passwordStrength(this.value)" type="password" id="password" name="password" class="my-select required" placeholder="Password"/>

                                            <label for="passwordStrength">Password strength</label>
                                            <div id="passwordDescription">Password not entered</div>
                                            <div id="passwordStrength" class="strength0"></div>
                                        </div>
                                        <div class="form-group clearfix">
                                            <label>Confirm Password</label>
                                            <span class='req'></span><input type="password" id="confirm" name="confirm" class="my-select required" placeholder="Confirm Password"/>
                                        </div>


                                        <input id="customerId" name="customerId" type="hidden"/>
                                    </div>

                                    <div class="col-md-4">
                                        <br/>
                                        <h5 style="font-size: 16px; font-weight: bolder;">Password tips</h5>
                                        <p th:each="rule : ${policies}" th:text="${rule}"></p>
                                    </div>
                                </div>
                            </section>
                            <h3>Security Questions</h3>
                            <section>
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-4">
                                        <br/>
                                        <input id="returnValue" type="hidden"/>
                                        <input th:name="noOfQuestions" th:value="${noOfQuestions}" type="hidden"/>
                                        <div th:each="questionList,ind : ${secQuestions}">
                                            <div class="form-group clearfix">
                                                <label th:text="'Security Question '+${ind.index+1}" >Question</label>
                                                <select th:name="'securityQuestion'+${ind.index}" class="my-select">
                                                    <option th:each="question : ${questionList}" th:text="${question.securityQuestion}" th:value="${question.securityQuestion}"></option>
                                                </select>
                                            </div>
                                            <div class="form-group clearfix">
                                                <label>Answer</label>
                                                <input type="text" th:name="'securityAnswer'+${ind.index}" class="my-select required" placeholder="Security Answer"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <h3>Phishing Image</h3>
                            <section>
                                <div class="row">
                                    <br/>
                                    <div class="col-md-offset-3 col-md-6">

                                        <div class="form-group">
                                            <label>Select Phishing Image</label>

                                            <div class="col-md-12" style="max-height: 250px; max-width: 450px;overflow: scroll;">
                                                <div class="col-md-3" th:each="image : ${images}" style="position: relative; max-height: 100px;">
                                                    <img th:src="${imagePath} + ${image}" width="100px" height="100px" style="padding: 5px;"/>
                                                    <input type="radio" name="phishing" th:value="${image}" id="check1" class="required" style="position: absolute; bottom: 20px; right: 20px;" />
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="col-md-offset-4 col-md-4">
                                        <input type="text" name="caption" class="my-select required" placeholder="Enter Image Caption"/>
                                    </div>
                                </div>
                            </section>
                            <h3>Summary</h3>
                            <section>
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-4">
                                        Self Registration Successful
                                    </div>
                                </div>
                            </section>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End row-->
    </div>
</section>

<div id="myModalError" class="modal fade " role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content no-bd-rad content ">
            <div class="modal-body">
                <p id='errorMess' class='mess text-danger'>Put something here iff need be.</p>
            </div>
            <div class="modal-footer no-bd-top">
                <button type="button" class="btn btn-link" data-dismiss="modal">OK</button>
            </div>
        </div>

    </div>
</div>


<div id="myModalSuccess" class="modal fade " role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content no-bd-rad content ">
            <div class="modal-body">
                <p id='successMess' class='mess text-primary'>Put something here iff need be.</p>
            </div>
            <div class="modal-footer no-bd-top">
                <button type="button" class="btn btn-link" data-dismiss="modal">OK</button>
            </div>
        </div>

    </div>
</div>

<footer>
    <div class="containe">
        <div class="footer_bar">
            <div class="col-md-6 col-xs-12">
                <ul class="list_group">
                    <li><a href="#" target="_blank">Privacy policy</a></li>
                    <li><a href="#" target="_blank">Disclaimer</a></li>
                    <li><a href="#" target="_blank">Terms &amp; Conditions</a></li>
                </ul>

            </div>
            <div class="col-md-6 col-xs-12"><p> &copy; 2017 - All rights reserved</p></div>

        </div>
    </div>
</footer>


    </div>
<!-- CORE JQUERY SCRIPTS -->
<script th:src="@{~/customer/js/jquery-1.11.1.js}"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script th:src="@{~/customer/js/bootstrap.js}"></script>

<script th:src="@{~/customer/js/jquery.validate.min.js}"></script>
<script th:src="@{~/customer/js/jquery-ui.js}"></script>
<script th:src="@{~/customer/plugins/jquery-steps/js/jquery.steps.min.js}" type="text/javascript"></script>
<script th:src="@{~/customer/js/jasny-bootstrap.min.js}"></script>
<script th:src="@{~/customer/js/register.js}" type="text/javascript"></script>
<script th:src="@{~/customer/plugins/bootstrap-notify/bootstrap-notify.js}"></script>

<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/

    $('#userdet').on('change', function () {
        if ($(this).val() === "email") {
            $("#email").show();
            $("#dob").hide();
        }
        else if ($(this).val() === "dob") {
            $("#dob").show();
            $("#email").hide();
        }
    });

//    alert([[${passwordStrength.digits}]]);

    //var strength = [[${passwordStrength}]];

    function passwordStrength(password)
    {
        var desc = new Array();
        desc[0] = "Very Weak";
        desc[1] = "Weak";
        desc[2] = "Medium";
        desc[3] = "Strong";

        var score   = 0;

        //if password bigger than 6 give 1 point
        if (password.length > [[${passwordStrength.minLength}]]) score++;

        //if password has both lower and uppercase characters give 1 point
        //if ( ( password.match(/[a-z]/) ) && ( password.match(/[A-Z]/) ) ) score++;


        //if password has at least one number give 1 point
        if (password.match(new RegExp([[${passwordStrength.digits}]]))) score++;

        //if password has at least one special caracther give 1 point
        if ( password.match([[${passwordStrength.SpecialChars}]]) ) score++;


        $('#passwordDescription').html(desc[score]);
        $('#passwordStrength').addClass("strength" + score);

    }

    $('#password').bind("cut copy paste",function(e) {
        e.preventDefault();
    });
    $('#password').bind("cut copy paste",function(e) {
        e.preventDefault();
    });
    $('#confirm').bind("cut copy paste",function(e) {
        e.preventDefault();
    });

    /*]]>*/
</script>
</body>
</html>