<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="corp_layout :: site-head">

</head>
<body>
<header th:replace="corp_layout ::corp-header">
</header>

<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> International transfer</h5>
                <select class="form-control" name="coronationbeneficiaries">
                    <option value="Overveiw">International beneficiaries</option>
                </select>
            </div>
        </div>

        <div class="row">

            <div class="col-md-8 content-bg">

                <div class="row form-spacing">
                    <div class="col-md-12 col-sm-12">
                        <h6 class="page_header">Beneficiaries</h6>
                        <form method="post" >


                            <table class="table">
                                <thead>
                                <tr>

                                    <th>Beneficiary name</th>
                                    <th>Bank</th>
                                    <th>Currency</th>
                                    <th>Account balance</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>

                                    <td>Simeon Okeya</td>
                                    <td>Barclays</td>
                                    <td>NGN</td>
                                    <td>N 7,000.38</td>
                                </tr>
                                <tr>

                                    <td>Oladapo Ayo</td>
                                    <td>UBS</td>
                                    <td>NGN</td>
                                    <td>N 7,000.38</td>
                                </tr>
                                <tr>

                                    <td>Sharon tobi</td>
                                    <td>Morgan-Stanley</td>
                                    <td>NGN</td>
                                    <td>N 7,000.38</td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div th:replace="corp_layout :: corp-sidebar" class="col-md-3 sidebar">
            </div>
        </div>
    </div>
</section>


<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="corp_layout ::corp-footer">
</footer>
<script>
    //datepicker
    $( function() {
        $( "#datepicker" ).datepicker(
                { dateformat : 'dd/mm/yy'}
        );
    } );
</script>
</body>
</html>