<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="javascript:var bread = [['Home', '/retail/dashboard'],['contact', '']];currentBar('contact us');breadCrumb(bread)">

<div layout:fragment="content">
    

    <div class="col-xs-12 ml-15 " >
        <div class="col-md-5">
        <select class="form-control full-width coronation-form-control "  name="beneficiaryType" id="benType" >
            <option th:value="local">Local</option>
            <option th:value="foreign">Foreign</option>
        </select>
        </div>
        <div class="col-xs-11 no-pad-lef  alert no-bd">
            <div class=" col-xs-12">
                           
                 <div class="col-md-3 alert no-bd">
                        <h3>Contact Address</h3>
                        <hr class="related-nfo"/>
                        <address class='bg-white alert'>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                             sed diam nonummy nibh euismod tincidunt ut laoreet dolore

                              <p>Tel: 01-34455</p>
                        </address>
                       
                    </div>

                    <div class="col-md-9 alert no-bd col-xs-12">

                        <form action="/retail/contact" method="post">
                            <div class="form-group">
                                <label>Message</label>
                                <span class="required"></span><textarea  name="message" required="required" class=" full-width form-control" rows="10"></textarea>
                            </div>
                            <div class="form-group">
                                <button class=" btn btn-link required-step form-control full-width">Send Message</button>
                            </div>
                        </form>
                    </div>
                       
            </div>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">

      
            
</th:block>

</body>
</html>