<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="javascript:var bread = 'home';currentBar('dashboard');breadCrumb(bread)">


<div layout:fragment="content">
    <div class="col-md-5 col-sm-5">

        <select class="form-control full-width coronation-form-contro invisible" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 " >
        <div class="no-pad-lef table-responsive bg-white alert" style="padding:0px !important">
            <table class="table table-hover no-pad-lef" id="users">
                <caption style="font-size: large">Transactional Accounts</caption>
                <thead class='thead'>
                <!--<tr>-->

                <strong><th class="text-cente">Acct. Name</th></strong>
                <th class="text-cente">Acct. Number</th>
                <th class="text-cente">Acct. type</th>
                <th class="text-cente">Currency</th>
                <th class="text-cente">Av. Bal</th>
                <th class="text-cente">Ledger Bal.</th>
                <th class="text-cente">&nbsp;</th>
                <!--</tr>-->
                </thead>
                <tbody>
                <tr th:each="list : ${accountList}" class="tt">
                    <td th:align="cente" th:text="${list.preferredName}"></td>
                    <td th:align="cente" th:text="${list.accountNumber}"></td>
                    <td th:align="cente" th:text="${list.accountType}"></td>
                    <td th:align="cente" th:text="${list.currencyCode}"></td>
                    <td th:align="cente" th:text="${list.accountBalance}" class="bal"></td>
                    <td th:align="cente" th:text="${list.ledgerBalance}" class="bal"></td>

                    <td th:align="cente">
                        <select th:id="${list.id}" class="quickAccess" th:attr="onchange='javascript:getId(\'' + ${list.id} + '\');'">
                            <option>Quick Actions</option>
                            <option value="Last 10 Transaction">Last 10 Transaction</option>
                            <option value="Transaction History">Transaction History</option>
                            <option value="Account Statement"> Account Statement</option>

                        </select>

                    </td>
                </tr>

                </tbody>
            </table>
        </div>

        <div th:if="${not #lists.isEmpty(loanAccounts)}" class="no-pad-lef table-responsive bg-white alert" style="padding:0px !important">
            <table class="table table-hover no-pad-lef" id="loans">
                <caption style="font-size: large">Loan Accounts</caption>
                <thead>
                <tr>
                    <th>Account Name</th>
                    <th>Account Number</th>
                    <th>Account Currency</th>
                    <th>Pdf</th>
                    <th>Excel</th>
                    <th>Email</th>




                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <tr>
                    <th>Account Name</th>
                    <th>Account Number</th>
                    <th>Account Currency</th>
                    <th>Pdf</th>
                    <th>Excel</th>
                    <th>Email</th>
                </tr>
                </tfoot>
            </table>

        </div>

        <div id="coverage-div">


        </div>

    </div>
    <div id="mailModal" class="modal" >
    <div class="modal-dialog">
    <div class="modal-content no-bd-rad tokenBox" >
        <form id="mailForm" action="#" th:action="@{/retail/loan/email}" method="post" th:object="${mailLoanDTO}">
            <div class="modal-body no-bd-rad">

                <h3 class="tokenHeader"><span class='text-danger'>Hello</span>, </h3>
                <div class="margin-bottom">
                    <p style="margin-bottom:20px">Kindly enter recipient name and mail you are sending loan details to. </p>
                    <div id="username_div1" class="form-group">

                        <input  type="hidden" required class='my-select5 tokenInput' id="accNum" name="accountNumber" th:field="*{accountNumber}"  />
                        <input  type="text" name="recipientName" required class='my-select5 tokenInput' placeholder="Recipient Name " th:field="*{recipientName}" />

                        <input  type="email" name="recipientEmail" required class='my-select5 tokenInput' placeholder="Recipient Email " th:field="*{recipientEmail}" />
                    </div>
                    <p style="margin-bottom:20px; color:#9F614B;" id="wait"><b>Sending Email....... </b></p>


                </div>


            </div>
            <div class="modal-footer no-bd-top ">
                <input type='button' class="btn btn-link less-required token-btn" id="cancelButton" value='Back'/>
                <input type='submit' class="btn btn-link token-btn required-step" id="sendButton" value='Send'/>
            </div>

        </form>
    </div>
    </div>
    </div>

</div>


<th:block layout:fragment="scripts">

    <script>

        $(document).ready(function () {
                $('.tt').each(function () {
                    var sth = $(this).find(".bal").html();
                    $(this).find(".bal").html(parseFloat(sth).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
        //                $(this).find(".bal").html('₦'+ numberWithCommas(sth));
                })
            });

    function getId(Id) {
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        if ($('#' + Id).val() === "Last 10 Transaction") {
            if (( Id != null || Id != '' )) {
                window.location.href = "/retail/account/" + Id + "/statement";
            }
        }
        if ($('#' + Id).val() === "Transaction History") {
            if (( Id != null || Id != '' )) {
                window.location.href = "/retail/account/" + Id + "/viewonlyhistory";
            }
        }
        if ($('#' + Id).val() === "Account Statement") {
            if (( Id != null || Id != '' )) {
                window.location.href = "/retail/account/viewstatement/"+Id;
            }
        }
    }

    </script>


    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {

            var table = $('#loans').DataTable({
                select:true,
                responsive: true,
                "lengthMenu" : [ [ 10, 20, 30,-1],	[ 10, 20,30, "All" ] ],
                "pagingType" : "simple_numbers",
                "searching": false,
                "paging": true,
                "serverSide" : true,
                "ajax": "/retail/dashboard/loans",
                "dom": 'T<"clear">frtlp',
                "columns": [
                    { "data": "accountName" },
                    { "data": "accountNumber" },
                    { "data": "currencyCode" }
                ] ,

                "columnDefs" : [ {
                    "targets" : 3,
                    "data" : "accountNumber",
                    "render" : function(data, type,full, meta) {

                        return'<a   href="/retail/loan/pdf/' + data + '"><i class="fa fa-file-pdf-o"></i> download </a>';
                    }
                },
                    {
                        "targets" : 4,
                        "data" : "accountNumber",
                        "render" : function(data, type,full, meta) {

                            return'<a href="/retail/loan/excel/' + data + '" ><i class="fa fa-file-excel-o"></i> download</a>';
                        }
                    },
                    {
                        "targets" : 5,
                        "data" : "accountNumber",
                        "render" : function(data, type,full, meta) {

                            return'<a  onclick="mailLoan(\'' + data + '\')" ><i class="fa fa-envelope-o"></i> Send</a>';
                        }
                    }]



            })




        });

        /*]]>*/
    </script>
    <script th:inline="javascript">
        $(document).ready(function () {
            $("#mailModal").hide();
            $("#wait").hide();

            });
        function mailLoan(data) {
           $("#mailModal").show( function(){
               $(".modal-body #accNum").val( data );
              console.log(data);

                         });

        }


        $("#cancelButton").click(function() {
            $("#mailModal").hide();
        });
        $("#sendButton").click(function () {
            $("#wait").show();
            });
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            var retId = [[${retId}]];

            $.ajax({
                url: "/retail/coverage/"+retId,
                type: 'GET',
                success: function (coverageData) {
                    for (let n = 0; n < coverageData.length; n++) {
                        var coverageDetails = coverageData[n].details;

                        if(!(jQuery.isEmptyObject(coverageDetails)))
                        {
                            var coverageName = Object.keys(coverageDetails)[0];
                            var container = document.createElement('div');
                            container.setAttribute('id',coverageName+'div');
                            container.setAttribute('class','no-pad-lef table-responsive no-mt bg-white alert');

                            var table = document.createElement('table');
                            table.setAttribute('id',coverageName+'table');
                            table.setAttribute('class','table table-hover');

                            var tableCaptionElement = document.createElement('caption');
                            tableCaptionElement.setAttribute('id',coverageName+'caption');
                            tableCaptionElement.setAttribute("style", "margin-top: 1em;");

                            var tableCaptionNode = document.createTextNode(coverageName.toUpperCase());
                            tableCaptionElement.appendChild(tableCaptionNode);

                            var tableHeader = document.createElement('thead');
                            tableHeader.setAttribute('class','thead');

                            var tbody = document.createElement('tbody')
                            var tbodyDetails = coverageDetails[coverageName];

                            if(Array.isArray(tbodyDetails)){
                                var datatableColumns =[];
                                var header = Object.keys(tbodyDetails[0]);
                                console.log(header);
                                for(var i=0;i<header.length;i++){
                                    var th = document.createElement('th');
                                    var node = document.createTextNode(header[i][0].toUpperCase()+header[i].slice(1));
                                    th.appendChild(node);
                                    tableHeader.appendChild(th);
                                    datatableColumns.push({"data":header[i]});

                                }
                                for (var i = 0; i < tbodyDetails.length; i++) {
                                    var tr = document.createElement('tr');
                                    var row = Object.keys(tbodyDetails[i]);
                                    for (var coverageElement of row) {
                                        var td = document.createElement('td');
                                        tr.appendChild(td);
                                        var textNode = document.createTextNode(tbodyDetails[i][coverageElement]);
                                        td.appendChild(textNode);
                                    }
                                    tbody.appendChild(tr);
                                }
                            }
                            else {
                                var datatableColumns =[];
                                var header = Object.keys(tbodyDetails);
                                console.log(header);
                                for(var i=0;i<header.length;i++){
                                    var th = document.createElement('th');
                                    var node = document.createTextNode(header[i][0].toUpperCase()+header[i].slice(1));
                                    th.appendChild(node);
                                    tableHeader.appendChild(th);
                                    datatableColumns.push({"data":header[i]});
                                }
                                var tr = document.createElement('tr');
                                var row = Object.keys(tbodyDetails);
                                for (var coverageElement of row) {
                                    var td = document.createElement('td');
                                    tr.appendChild(td);
                                    var textNode = document.createTextNode(tbodyDetails[coverageElement]);
                                    td.appendChild(textNode);
                                }
                                tbody.appendChild(tr);
                            }
                            table.appendChild(tableCaptionElement);
                            table.appendChild(tableHeader);
                            table.appendChild(tbody);
                            container.appendChild(table);
                            document.getElementById('coverage-div').appendChild(container);
                        }

                        var datatable = $("#"+coverageName+'table').DataTable({
                            responsive: true,
                            "lengthMenu": [ [5, 10, 20], [5, 10, 20] ],
                            "pagingType": "full_numbers",
                            "searching": false,
                            "paging": true,
                            "dom": 'T<"clear">frtlp',
                            "columns":datatableColumns,

                        });

                    };


                },
                error:function (response) {
                    console.log(response)
                }
            });


        });






        /*]]>*/
    </script>



</th:block>

</body>
</html>