<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="javascript:var bread = 'home';currentBar('dashboard');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5">

        <select class="form-control full-width coronation-form-contro invisible" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 " >
        <div class="no-pad-lef table-responsive bg-white alert" style="padding:0px !important">
            <table class="table table-hover no-pad-lef" id="users">
                <thead class='thead'>
                <!--<tr>-->

                <strong><th class="text-cente">Acct. Name</th></strong>
                <th class="text-cente">Acct. Number</th>
                <th class="text-cente">Acct. type</th>
                <th class="text-cente">Currency</th>
                <th class="text-cente">Av. Bal</th>
                <th class="text-cente">Ledger Bal.</th>
                <th class="text-cente">&nbsp;</th>
                <!--</tr>-->
                </thead>
                <tbody>
                <tr th:each="list : ${accountList}" class="tt">
                    <td th:align="cente" th:text="${list.preferredName}"></td>
                    <td th:align="cente" th:text="${list.accountNumber}"></td>
                    <td th:align="cente" th:text="${list.accountType}"></td>
                    <td th:align="cente" th:text="${list.currencyCode}"></td>
                    <td th:align="cente" th:text="${list.accountBalance}" class="bal"></td>
                    <td th:align="cente" th:text="${list.ledgerBalance}" class="bal"></td>

                    <td th:align="cente">
                        <select th:id="${list.id}" class="quickAccess" th:attr="onchange='javascript:getId(\'' + ${list.id} + '\');'">
                            <option>Quick Actions</option>
                            <option value="Last 10 Transaction">Last 10 Transaction</option>
                            <option value="Transaction History">Transaction History</option>
                            <option value="Account Statement"> Account Statement</option>

                        </select>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">

    <script>

        $(document).ready(function () {


                $('.tt').each(function () {
                    var sth = $(this).find(".bal").html();
                    $(this).find(".bal").html(parseFloat(sth).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
        //                $(this).find(".bal").html('₦'+ numberWithCommas(sth));
                })
            });

    function getId(Id) {
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        if ($('#' + Id).val() === "Last 10 Transaction") {
            if (( Id != null || Id != '' )) {
                window.location.href = "/retail/account/" + Id + "/statement";
            }
        }
        if ($('#' + Id).val() === "Transaction History") {
            if (( Id != null || Id != '' )) {
                window.location.href = "/retail/account/" + Id + "/viewonlyhistory";
            }
        }
        if ($('#' + Id).val() === "Account Statement") {
            if (( Id != null || Id != '' )) {
                window.location.href = "/retail/account/viewstatement/"+Id;
            }
        }
    }

    </script>
</th:block>

</body>
</html>