<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="javascript:var bread = 'home';currentBar('Error');breadCrumb(bread)">

<div layout:fragment="content">

    <div class="alert alert-danger center">
        <ul class="fa-ul center text-center">
            <li>
                <i class="fa fa-exclamation-triangle" style="font-size:50px" aria-hidden="true"></i>
                An unexpected error has occured. Please contact the bank.
            </li>
        </ul>
    </div>


</div>


<th:block layout:fragment="scripts">


</th:block>

</body>
</html>