<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/plugins/jquery-steps/css/jquery.steps.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/jquery-ui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/font-awesome/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/custom.css}"/>

    <title>Retrieve Username</title>
</head>
<body>

<header class="header">
    <div class="container">
        <div class="top_bar">
            <ul class="list_group">
                <li><a href="#"> CORONATION MERCHANT BANK</a></li>
            </ul>
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">MENU</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" data-toggle="collapse" data-target="#navbar-collapse-1">Menu</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">HOME</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> LOGIN</a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/login/retail}"> RETAIL </a></li>
                                <li><a th:href="@{/login/corporate}"> CORPORATE </a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/register}">REGISTER</a></li>
                        <li><a href="/">CONTACT US</a></li>
                        <li><a href="/">HELP</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <a href="#" class="logo">
            <img th:src="@{~/customer/img/cmb_logo.png}" alt="Coronation Merchant Bank" />
        </a>
    </div>
</header>
<br/>
<br/>
<br/>
<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <h5 class="page_header">Retrieve Username</h5>

                    <form id="reg-form" action="/forgot/password" method="post">

                        <div>
                            <h3>Account Number</h3>
                            <section>
                                <div class="row">

                                    <div class="col-md-offset-4 col-md-4">
                                        <br/>
                                        <div class='alert alert-danger' id="myspan" style="margin:0px;">
                                        </div>
                                        <br/>
                                        <br/>
                                        <div class="form-group">
                                            <label>Account Number</label>

                                            <span class='req'></span><input style="width:100% !important" type="text" name="acct" class="form-control required" placeholder="Account Number"/>

                                        </div>
                                    </div>
                                </div>
                            </section>
                            <h3>Security Information</h3>
                            <section>
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-4">
                                        <br/>
                                        <div class='alert alert-danger' id="myspan">
                                        </div>
                                        <br/>
                                        <br/>
                                        <div class="form-group">
                                            <label>Security Question</label>
                                            <input th:value="${retUsernameForm.securityQuestion}" name="securityQuestion" readonly="readonly" class="form-control"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Security Answer</label>
                                            <span class="required"></span><input th:value="${retUsernameForm.securityAnswer}" type="text" name="securityAnswer" class="form-control required" placeholder="Security Answer"/>
                                        </div>
                                        <input id="returnValue" type="hidden"/>
                                        <input id="customerId" name="customerId" th:value="${retUsernameForm.customerId}" type="hidden"/>
                                    </div>
                                </div>
                            </section>
                            <h3>Summary</h3>
                            <section>
                                <div class="row">
                                    <div class="col-md-7">
                                        <br/>
                                        <h4 style="font-size: 16px;">Your username reset was successful</h4>
                                        <br/>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                                        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie

                                    </div>
                                </div>
                            </section>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="footer_bar">
            <div class="col-md-6 col-xs-12">
                <ul class="list_group">
                    <li><a href="#" target="_blank">Privacy policy</a></li>
                    <li><a href="#" target="_blank">Disclaimer</a></li>
                    <li><a href="#" target="_blank">Terms &amp; Conditions</a></li>
                </ul>

            </div>
            <div class="col-md-6 col-xs-12"><p> &copy; 2017 Coronation Merchant Bank. - All rights reserved</p></div>

        </div>
    </div>
</footer>
<!-- CORE JQUERY SCRIPTS -->
<script th:src="@{/customer/js/jquery-1.11.1.js}"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script th:src="@{/customer/js/bootstrap.js}"></script>

<script th:src="@{~/customer/js/jquery.validate.min.js}"></script>
<script th:src="@{~/customer/js/jquery-ui.js}"></script>
<script th:src="@{~/customer/plugins/jquery-steps/js/jquery.steps.min.js}" type="text/javascript"></script>
<script th:src="@{~/customer/plugins/bootstrap-notify/bootstrap-notify.js}"></script>
<script th:src="@{~/customer/js/forgotusername.js}" type="text/javascript"></script>
</body>
</html>