<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/custom.css}"/>
    <title>Log in | Coronation Merchant Bank
    </title>
</head>
<body onload="loadToken()">
<div class="container">
    <div class="top_bar">
        <ul class="list_group">
            <li><a href="#"> CORONATION MERCHANT BANK</a></li>
        </ul>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">MENU</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" data-toggle="collapse" data-target="#navbar-collapse-1">Menu</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">HOME</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> LOG IN </a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/login/retail}">RETAIL</a></li>
                            <li><a th:href="@{/login/corporate}">CORPORATE</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/register}">REGISTER</a></li>
                    <li><a href="/">CONTACT US</a></li>
                    <li><a href="/">HELP</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <a href="#" class="logo">
        <img th:src="@{/customer/img/cmb_logo.png}" alt="Coronation Merchant Bank" />
    </a>
</div>

<section class="content-wrapper">
    <div class="container">
        <div class="bg">
            <!--<form id="loginform" th:action="@{/retail/token}" method="POST" class="form-signin">-->
                <!--<h1>Token Authentication</h1>-->
                <!--<br/>-->


                <!--<div id="username_div" class="form-group">-->
                    <!--<input type="password" id="token" name="token" class="form-control"  placeholder="Token Code" />-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<button class="btn btn-primary form-control" type="submit"> Next </button>-->
                <!--</div>-->
            <!--</form>-->
        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog" style="margin-top: 180px;">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content modal-box" style="">
                <form id="loginform" th:action="@{/retail/token}" method="POST" class="form-signi">
                <div class="modal-body">
                    <h4 class=" text-danger tokenHeader" >Hello, <span class="text-black-req">Tolu!</span></h4>
                    <div class='alert alert-danger alert-dismissable' id="myspa" style="display:non">
                        <div th:if="${failure}">
                            <div hidden="hidden">
                                <ul class="">
                                    <li th:each="msg : ${failure}" th:text="${msg}">Message</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <p class="text-mute">Kindly enter the OTP from your device</p>

                    <input placeholder="Enter your One-Time PIN" type="text" class="form-control" style="width:100% !important;display: block;margin: 0px auto;margin-top:30px;border: 1px solid rgba(0,0,0,0.4);"/>



                    <div style="margin-top: 70px;">
                        <p>
                            Don't have a token?
                        </p>
                        <a href="#" class="k" style="color:black">Send me an OTP <i class="fa fa-money"></i> </a>
                    </div>
                </div>

                <div class="modal-footer" style="border-top: 0px;">
                    <a type="button" class="b" data-dismiss="modal" style="padding:10px;color:black">Back</a>
                    <input type="submit"  class="btn btn-link" style="padding:10px;color:black;" value="Continue"/>
                </div>
                </form>
            </div>

        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="footer_bar">
            <div class="col-md-6 col-xs-12">
                <ul class="list_group">
                    <li><a href="#" target="_blank">Privacy policy</a></li>
                    <li><a href="#" target="_blank">Disclaimer</a></li>
                    <li><a href="#" target="_blank">Terms &amp; Conditions</a></li>
                </ul>

            </div>
            <div class="col-md-6 col-xs-12"><p> &copy; 2017 - All rights reserved</p></div>

        </div>
    </div>
</footer>
<!-- CORE JQUERY SCRIPTS -->




<div th:if="${message}">
    <div hidden="hidden">
        <ul class="actionMessage">
            <li th:each="msg : ${message}" th:text="${msg}">Message</li>
        </ul>
    </div>
</div>



<script>

    function loadToken()
    {
        $('#myModal').modal('show');
    }
</script>

<!-- jQuery -->
<!-- Bootstrap -->
<!-- FastClick -->
<script th:src="@{~/bank/vendors/fastclick/lib/fastclick.js}"></script>
<!-- NProgress -->
<script th:src="@{~/bank/vendors/nprogress/nprogress.js}"></script>

<script th:src="@{~/bank/js/bootstrap-editable-custom.js}"></script>
<script th:src="@{~/bank/vendors/bootstrap-dialog/js/bootstrap-dialog.js}"></script>

<!-- CORE JQUERY SCRIPTS -->
<script th:src="@{~/customer/js/jquery-1.11.1.js}"></script>
<script th:src="@{~/customer/js/jquery-ui.js}"></script>
<script th:src="@{~/customer/js/jquery.dataTables.js}"></script>
<script th:src="@{~/customer/js/momentMin.js}"></script>
<script th:src="@{~/customer/js/calendar.js}"></script>
<script th:src="@{~/customer/js/jquery.spring-friendly.min.js}"></script>
<script th:src="@{~/customer/plugins/bootstrap-notify/bootstrap-notify.js}"></script>
<script th:src="@{~/customer/js/coronation.js}"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script th:src="@{~/customer/js/bootstrap.js}"></script>

</body>
</html>