<!DOCTYPE html>
<link rel="stylesheet" type="text/css" th:href="@{~/customer/plugins/jquery-steps/css/jquery.steps.css}" />
<link rel="stylesheet" type="text/css" th:href="@{~/customer/css/jquery-ui.css}" />
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index-layout}">

<div layout:fragment="content">
    

    <section class="content-wrapper">
        <div class="containe">
            <br/>
            <br/>
            <br/>
            <br/>
            <!-- Start row-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <h2 class="header-title">Password Reset</h2>
                        <form id="reg-form" action="/forgot/password" method="post">

                            <div>
                                <h3>Security Information</h3>
                                <section>
                                    <div class="row">
                                        <div class="col-md-offset-4 col-md-4">
                                            <br/>

                                            <div th:each="questionList,ind : ${secQuestion}">
                                                <div class="form-group clearfix">
                                                    <label th:text="${questionList}">Question</label>
                                                </div>
                                                <div class="form-group clearfix">
                                                    <input type="text" autocomplete="off" th:name="'securityAnswer'+${ind.index}" th:id="'securityAnswer'+${ind.index}" class="my-select required" placeholder="Security Answer" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <h3>Validate Reset Code</h3>
                                <section>
                                    <div class="row">
                                        <div class="col-md-offset-4 col-md-4">
                                            <br/>

                                            <div class="form-group">
                                                <label>Enter the reset code sent to your email address</label>
                                                <input type="text" name="genpassword" autocomplete="off" id="genpassword" class="my-select" />

                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <h3>Set New Password</h3>
                                <section>
                                    <div class="row">
                                        <div class="col-md-offset-4 col-md-4">
                                            <br/>
                                            <input type="hidden" id="noOfQuestion" name="noOfQuestion" th:value="${noOfQuestion}">
                                            <input id="returnValue" type="hidden" />
                                            <div class="form-group">
                                                <label>Password</label>
                                                <!--<span class="required"></span><input type="password" autocomplete="off" onkeyup="passwordStrength(this.value)" id="password" th:value="${forgotPasswordForm.password}" name="password" class="my-select required" placeholder="Password"/>-->
                                                <span class="required"></span><input type="password" onkeyup="valPassword(this.value)" autocomplete="off" id="password" th:value="${forgotPasswordForm.password}" name="password" class="my-select required"
                                                    placeholder="Password" />
                                            </div>


                                            <div class="form-group clearfix">

                                                <div id="passwordDescription">Password not entered</div>
                                                <div id="passwordStrength"></div>
                                            </div>
                                            <div class="form-group">
                                                <labetl>Confirm Password</labetl>
                                                <span class="required"></span><input type="password" autocomplete="off" id="confirm" th:value="${forgotPasswordForm.confirmPassword}" name="confirm" class="my-select required" placeholder="Confirm Password"
                                                />
                                            </div>
                                        </div>
                                        <input id="username" name="username" th:value="${forgotPasswordForm.username}" type="hidden" />
                                        <div class="col-md-4 password">
                                            <br/>
                                            <h5 style="font-size: 16px; font-weight: bolder;">Password tips</h5>
                                            <ul>
                                                <li th:each="rule : ${policies}" th:text="${rule}"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </section>
                                <h3>Token Authentication</h3>
                                <section>
                                    <div class="row">
                                        <div class="col-md-offset-4 col-md-4">
                                            <br/>

                                            <div class="form-group">
                                                <label>Token Code</label>
                                                <input type="text" name="token" class="my-select" required autocomplete="off" />

                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <h3>Summary</h3>
                                <section>
                                    <div class="row">
                                        <div class="col-md-offset-1 col-md-10">
                                            <br/>
                                            <h4 style="font-size: 16px;">Your password reset was successful</h4>
                                            <br/>

                                        </div>
                                    </div>
                                </section>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End row-->
        </div>
    </section>

    


    <div id="myLoader" class="modal fade " role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->

            <div class=" no-bd-rad no-bd content text-center " style=" background: transparent !important;">
                <div class="bg-white center" style="width:40%">
                    <img class="img-responsive block center  loader-img" style='padding:7px;' th:src="@{~/customer/img/loader.png}" alt="Coronation Merchant Bank" />
                    <div id='loading-icon' class=' bg-white text-center'><i class='fa fa-spinner block center fa-spin' style="font-size:18px;color:#003056"></i> Loading. Please Wait
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




<th:block layout:fragment="scripts">
    <script th:src="@{~/customer/js/jquery.validate.min.js}"></script>
    <script th:src="@{~/customer/js/jquery-ui.js}"></script>
    <script th:src="@{~/customer/plugins/jquery-steps/js/jquery.steps.min.js}" type="text/javascript"></script>
    <script th:src="@{~/customer/js/passwordStrength.js}" th:inline="javascript" type="text/javascript"></script>
    <script th:src="@{~/customer/js/forgotpassword.js}" type="text/javascript"></script>
    <!--<script th:src="@{~/customer/plugins/bootstrap-notify/bootstrap-notify.js}"></script>-->

    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        var m_noOfDigits = [[${passwordStrength.numOfdigits}]];
        var m_strCharacters = [[${passwordStrength.specialChars}]];
        var minLength = [[${passwordStrength.minLength}]];
        var noOfSpecChar = [[${passwordStrength.numOfSpecChar}]];

        function valPassword(strPassword) {
            runPassword(strPassword, minLength, m_noOfDigits, m_strCharacters, noOfSpecChar)
        }
        $('#password').bind("cut copy paste", function(e) {
            e.preventDefault();
        });
        $('#password').bind("cut copy paste", function(e) {
            e.preventDefault();
        });
        $('#confirm').bind("cut copy paste", function(e) {
            e.preventDefault();
        });

        $('.actions > ul > li:first-child').attr('style', 'display:none');

        /*]]>*/
    </script>
    <script th:inline="javascript">
        $('.actions > ul > li:first-child').attr('style', 'display:none');



        $(document).ready(function() {

            errorLogin();
            inputErrors();
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</th:block>

</html>


 
