<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

<style>
    .hstyle{
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 10px 0 20px;
    }

    .hstyle span {
        background:#fff;
        padding:0 10px;
    }
    table.dataTable tbody > tr.selected{
        color: black;
        background-color: #d7bdb3;
    }
</style>
<body onload="currentBar('Beneficiaries')">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12" >
        <div class="no-pad-lef  no-mt no-bd  alert">
             <form method="post" th:action="@{/corporate/transfer/save}" id="" class="form-horizontal">
                <div class="row spacing">
                    <div>
                        <p>To make a bulk transfer, Select source account and enter token from your device</p>
                    </div>

                    <br/>
                    <div class="form-group col-md-6">
                        <label>Source account</label>


                        <span id="scurency"></span>
                        <select name="debitAccount" class="form-control" id="debitAccount">
                            <!--<option value=""> select an account</option>-->
                            <option th:each="s: ${accounts}" th:value="${s}" th:text="${s}"></option>
                        </select>
                        <input type="hidden" name="requests"/>
                    </div>
                </div>

                    <br/>

                 <div class="table-responsive">
                        <table id="mytab" class="table table-striped table-bordered  table-hover" cellspacing="0"  >
                            <thead>
                                <th>Account Number</th>
                                <th>Beneficiary Name</th>
                                <th>Amount (N)</th>
                                <th>Narration</th>
                                <th>Sort Code</th>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                     </div>

                    <br/>

                 <div class="form-group col-md-6">
                     <div id="tokendiv">
                         <label>Token *</label>
                         <input type="text" name="token" placeholder="" class="form-control"/>
                     </div>

                     <br/>
                     <div class="form-group">
                         <button class="btn btn-link" type="submit" id="button_submit">Submit</button>
                         <a class="btn btn-link" type="button" th:href="@{/corporate/transfer/upload}">Back</a>
                     </div>


                 </div>


                 <!--<a class="btn btn-link" th:href="@{/corporate/transfer/bulk}">Back</a>-->
                    <!--<button class="btn btn-link" type="submit" id="button_submit">Submit</button>-->

                </form>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">
    <script th:src="@{~/customer/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{~/bank/vendors/sweetalert/sweetalert.min.js}"></script>
    <script th:src="@{~/bank/vendors/bootstrap-dialog/js/bootstrap-dialog.js}"></script>
    <script th:src="@{~/bank/js/jquery.spring-friendly.min.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/



    var errorCount=0;
    $(document).ready(function() {
        var table = $('#mytab').DataTable({
            select:true,
            "lengthMenu" : [ [ 5, 10, 20],	[ 5, 10, 20 ] ],
            "pagingType" : "simple_numbers",
            "searching": true,
            "paging": true,
            "serverSide" : false,
            "ajax": "/corporate/transfer/all",
            "dom": 'T<"clear">frtlp',
            "columns": [
                { "data": "accountNumber" },
                { "data": "accountName" },
                { "data": "amount" },
                { "data": "narration" },
                { "data": "sortCode" }
            ],
            "columnDefs": [ {
                "targets": '_all',
                "render": function ( data, type, full, meta ) {
                    if(data == "ERROR HERE"){
                       errorCount = errorCount + 1;
                        return '<input type="text" value="'+data+'" style = "color: red" readonly/>';

                    }
                    if(errorCount > 0){
                        document.getElementById('tokendiv').style.display = 'none';
                    }
                    return '<input type="text" value="'+data+'" readonly />';

                }
            } ]
        });






    });



    $('#button_submit').click(function(e) {
        e.preventDefault()

        bulkTab = $('#mytab').DataTable();

        if(errorCount > 0){

            var message = "Unable to submit.. Uploaded file has columns with null or incorrect values (See columns highlighted in RED).. " +
                "Kindly reupload corrected file";
            document.getElementById("successMess").innerHTML = message;
            $('#myModalSuccess').modal('show');

        }
        else {
            data = JSON.stringify(bulkTab.data().toArray());
            $("input[name='requests']").val(data);
            $('form').submit();
        }

    });

    //});


    /*]]>*/

</script>
</th:block>

</body>
</html>