<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/tabs.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/custom.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/select.bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/plugins/datatables/css/jquery.dataTables.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/plugins/datatables/css/dataTables.bootstrap.css}" />

</head>

<style>
    .hstyle {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 10px 0 20px;
    }
    
    .hstyle span {
        background: #fff;
        padding: 0 10px;
    }
    
    table.dataTable tbody>tr.selected {
        color: black;
        background-color: #d7bdb3;
    }
</style>

<body onload="javascript:var bread = [['Home', '/corporate/dashboard'],['Bulk transfer','/corporate/transfer/bulk'],['approve','']];currentBar('approve multiple');breadCrumb(bread)">

    <div layout:fragment="content">
        <style>
            .approve {
                padding: 7px !important;
            }
        </style>
        <div class="col-md-5 col-sm-5 ">

            <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
        </div>

        <div class="col-xs-12 ">
            <div class="no-pad-lef  no-mt no-bd  alert">
                <div class="">
                    <div class="">
                        <div class="form-group ">
                            <p>Request Date: <span th:text="${bulkTransfer.tranDate}"></span></p>
                            <p>Source account: <span th:text="${bulkTransfer.customerAccountNumber}"></span></p>

                        </div>
                    </div>

                    <div class="col-xs-12 no-pad-left no-pad-right">
                        <button class="btn btn-default btn-sm bulk-btn ">Authorizations</button>
                        <button class="btn in-active btn-sm bulk-btn">Transaction Details</button>
                    </div>

                    <style>
                        .pd-5 {
                            padding: 5px !important;
                        }
                    </style>

                    <div class="col-xs-12 no-pad-left no-pad-right" style="margin-top:10px">

                        <div class=" author col-xs-12 col-md-9 no-pad-left no-pad-right content-approve">
                            <div class="table-responsive">
                                <table class="table table-striped table-condensed table-hover">
                                    <thead style="border-top:2px solid #8d8d8f !important;padding:30px !important;border-bottom:2px solid #8d8d8f !important;background:#d3d4d7 !important">
                                        <td style="padding:10px">Role</td>
                                        <td style="padding:10px">Authorizer</td>
                                        <td style="padding:10px">Status</td>
                                        <td style="padding:10px">Comments</td>
                                        <td style="padding:10px">Entry Date</td>
                                        <td style="padding:10px">Attribute</td>
                                    </thead>
                                    <tbody>



                                        <tr th:each="auth : ${authorizationMap.auths}" th:if="${authorizationMap.auths != null }" style='background:white;border-bottom:2px solid grey'>
                                            <td style="font-size:11px" th:text="${auth.role.name+' '+auth.role.rank}"></td>
                                            <td style="font-size:11px" th:text="${auth.user.firstName+' '+auth.user.lastName}"></td>
                                            <td style="font-size:11px" th:text="${auth.status}"></td>
                                            <td style="font-size:11px" th:text="${auth.comments}"></td>
                                            <td style="font-size:11px" th:text="${#dates.format(auth.entryDate,'dd-MM-yyyy hh:mm a')}"></td>
                                            <td style="font-size:11px" d th:if="${corpTransRule.anyCanAuthorize}">Optional</td>
                                            <td style="font-size:11px" th:unless="${corpTransRule.anyCanAuthorize}">Required</td>
                                        </tr>
                                        <tr th:each="trn : ${rolesNotAuth}" style='background:white;border-bottom:2px solid grey'>
                                            <td style="font-size:11px" th:text="${trn.name + ' ' + trn.rank }"></td>
                                            <td style="font-size:11px"></td>
                                            <td style="font-size:11px"></td>
                                            <td style="font-size:11px"></td>
                                            <td style="font-size:11px"></td>
                                            <td th:if="${corpTransRule.anyCanAuthorize}">Optional</td>
                                            <td th:unless="${corpTransRule.anyCanAuthorize}">Required</td>
                                        </tr>
                                    </tbody>
                                </table>




                            </div>

                            <form th:action="@{/corporate/transfer/bulk/approve}" method="post">
                                <label class="control-label">Comments</label>
                                <textarea th:if="${userCanAuthorize}" class="form-control full-width" th:field="${corpTransReqEntry.comments}" placeholder="Enter comments"></textarea>

                                <div>
                                    <input type="text" th:if="${userCanAuthorize}" class="form-control full-width" name="token" placeholder="Enter token code"/>
                                </div>
                                <div>

                                    <input type="hidden" name="tranReqId" th:value="${corpTransRequest.id}" />
                                </div>
                                <div>
                                    <button class="btn btn-link required-step" th:if="${userCanAuthorize}" type="submit">
                                                    Approve
                                                </button>
                                    <button id="cancel" class="btn btn-link less-required" type="reset">Decline</button>
                                </div>
                            </form>



                        </div>

                        <div class=" trans col-xs-12 col-md-9 no-pad-left no-pad-right content-approve display-none">
                            <div class="table-responsive">
                                <table id="mytab" class="table table-striped table-condensed table-hover" style='width:100%'>
                                    <thead style="" class='th-table'>
                                        <th style="padding:10px 3px !important">Acc Num</th>
                                        <th style="padding:10px 3px !important">Sort Code</th>
                                        <th style="padding:10px 3px !important">Ben. Name</th>
                                        <th style="padding:10px 3px !important">Amt</th>
                                        <th style="padding:10px 3px !important">Narration</th>
                                        <th style="padding:10px 3px !important">Status</th>

                                    </thead>
                                    <tbody class='body'>

                                    </tbody>
                                </table>
                            </div>

                        </div>


                        <div class="col-xs-12 col-md-3 no-pad-right  hidden-xs mobile-no-left">
                            <div id="pie-chart" style="width:100%;height:150px;  background-color: whitesmoke"></div>
                            <input type="hidden" class="form-control full-width" th:value="${bulkTransfer.id}" th:field="*{bulkTransfer.id}" th:id="bk" id="bk" />

                        </div>

                    </div>

                    <!--<div class="col-xs-12 col-sm-6" style="width:100%; height:250px; background-color: red">-->
                    <!--<label class="label label-success">Pie Chart</label>-->
                    <!--<div id="pie-chart"></div>-->
                    <!--</div>-->


                </div>
            </div>
        </div>

    </div>


    <th:block layout:fragment="scripts">
        <script th:src="@{~/bank/vendors/sweetalert/sweetalert.min.js}"></script>
        <script th:src="@{~/bank/vendors/bootstrap-dialog/js/bootstrap-dialog.js}"></script>
        <script th:src="@{~/bank/js/jquery.spring-friendly.min.js}"></script>
        <script th:src="@{~/customer/js/raphael-min.js}"></script>
        <script th:src="@{~/customer/js/morris.min.js}"></script>



        <script th:inline="javascript">
            //<![CDATA[

            $(document).ready(function() {


                $('.bulk-btn').click('click', function() {

                    $('.bulk-btn').removeClass('btn-default').addClass('in-active');
                    $(this).addClass('btn-default').removeClass('in-active');
                    if ($(this).text() == 'Transaction Details') {
                        $('.author').addClass('display-none');
                        $('.trans').removeClass('display-none');

                    } else {
                        $('.author').removeClass('display-none');
                        $('.trans').addClass('display-none');
                    }


                });


                var id = document.getElementById("bk").value;
                var json_data = (function() {
                    var json;
                    $.ajax({
                        type: 'GET',
                        url: "/corporate/transfer/" + id + "/status",
                        async: false,
                        global: false,
                        success: function(data) {
                            json = data;
                        },
                        error: function() {
                            alert("Error loading chart");
                        }
                    });
                    return json;
                })();

                var sum = 0,
                    value = json_data,
                    i;
                for (i = 0; i < value.length; i++) {
                    sum += value[i].value;
                }
                console.log(sum);

                Morris.Donut({
                    element: "pie-chart",
                    data: json_data,
                    formatter: function(y, data) {

                        return Math.round(y / (sum) * 100) + "%";
                    },
                    colors: ['lightgreen', 'red', 'orange'],
                });




                var table = $('#mytab').DataTable({
                    select: true,
                    "lengthMenu": [
                        [5, 10, 20],
                        [5, 10, 20]
                    ],
                    "pagingType": "input",
                    "searching": false,
                    "paging": true,
                    "serverSide": false,
                    "ajax": "/corporate/transfer/" + id + "/allcreditrequests",
                    "dom": 'T<"clear">frtlp',
                    "columns": [{
                        "data": "accountNumber"
                    }, {
                        "data": "sortCode"
                    }, {
                        "data": "accountName"
                    }, {
                        "data": "amount"
                    }, {
                        "data": "narration"
                    }, {
                        "data": "status"
                    }]
                });

            });

            //});

            /*]]>*/
        </script>

    </th:block>

</body>

</html>