<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">
<link th:href="@{~/bank/vendors/sweetalert/sweetalert.css}" rel="stylesheet"/>
<!--<head>
    <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css"/>
    <link rel="stylesheet" type="text/css" href="css/select.bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/dataTables.bootstrap.css"/>
</head>-->
<body onload="currentBar('Bulk Transfer')">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 ml-15 " >
        <div class="col-xs-12 no-pad-lef  no-mt no-bd  alert">
            <div class="">
                            <h4 class="sub_header"></h4>
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group" role="group" aria-label="First group">
                                    <a type="button" th:href="@{/corporate/transfer/upload}" class="btn btn-default bt-link-act"><i class="fa fa-plus"></i>New</a>
                                    <a  type="button" class="btn bt-select btn-default bt-link-act" th:href="@{/corporate/transfer/index/view}" disabled="disabled" ><i class="fa fa-eye"></i> View Details</a>
                                </div>
                            </div>
                            <br/>
                            <div class="table-responsive">
                            <table class="table table-striped table-bordered bg-white table-hover" id="bulk">
                                <thead>
                                <tr>
                                    <th>Debit Account</th>
                                    <th>Request Date</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>


                                </tbody>
                                <!--<tfoot>-->
                                <!--<tr>-->
                                    <!--<th>Batch ID</th>-->
                                    <!--<th>Debit Account</th>-->
                                    <!--<th>Request Date</th>-->
                                    <!--<th>Status</th>-->
                                <!--</tr>-->
                                <!--</tfoot>-->
                            </table>
                            </div>
                </div>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">
    <script th:src="@{~/customer/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{~/customer/js/dataTables.select.js}"></script>
    <script th:src="@{~/bank/vendors/sweetalert/sweetalert.min.js}"></script>
    <script th:src="@{~/bank/vendors/bootstrap-dialog/js/bootstrap-dialog.js}"></script>
    <script th:src="@{~/bank/js/jquery.spring-friendly.min.js}"></script>


      <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
            var table = $('#bulk').DataTable({
                select:true,
                responsive: true,
                "lengthMenu" : [ [ 5, 10, 20],  [ 5, 10, 20 ] ],
                "pagingType" : "simple_numbers",
                "searching": false,
                "paging": true,
                "serverSide" : true,
                "ajax": "/corporate/transfer/alltransfers",
                "dom": 'T<"clear">frtlp',
                "columns": [
                    { "data": "debitAccount" },
                    { "data": "requestDate" },
                    { "data": "status" }
                ] });

            table.on('select', function() {
                if (table.rows({
                        selected : true
                    }).indexes().length === 0) {
                    $('.bt-select').attr("disabled", true);
                } else {
                    $('.bt-select').removeAttr("disabled");
                }

            });

            table.on('deselect', function() {
                if (table.rows({
                        selected : true
                    }).indexes().length === 0) {
                    $('.bt-select').attr("disabled", true);
                } else {
                    $('.bt-select').removeAttr("disabled");
                }
            });

        });

        $("a.bt-link-act").on("click", function(e) {
            e.preventDefault();
            var link = $(e.currentTarget);
            if($(link).attr("disabled")){
                return;
            }
            var dt = $('#bulk').DataTable();
            var id = $(dt.row({
                selected: true
            }).node()).attr("id");
            var ooo = link.attr("href").replace("index",id);
            window.location.assign(ooo);

        } );

        $("#delete-btn").on("click", function(e) {
            e.preventDefault();
            var link = $(e.currentTarget);
            if($(link).attr("disabled")){
                return;
            }
            var dt = $('#bulk').DataTable();
            var id = $(dt.row({
                selected: true
            }).node()).attr("id");
            //window.location.href = link.attr("formaction") + '?id=' + id;
            //replace {id} with id
            var ooo = link.attr("href").replace("index",id);
            warnBeforeRedirect(ooo);

        } );


        function warnBeforeRedirect(ooo) {
            swal({
                title: "Are you sure?",
                text: "Are you sure that you want to delete this code?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete code!",
                closeOnConfirm: false
            }, function() {
                // Redirect the user
                window.location.assign(ooo);
            });
        }

        /*]]>*/
    </script>
</th:block>

</body>
</html>