<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">
<link th:href="@{~/bank/vendors/sweetalert/sweetalert.css}" rel="stylesheet"/>
<body onload="currentBar('Upload Bulk Transfer File')">

    
<style>
    .hstyle{
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 10px 0 20px;
    }

    .hstyle span {
        background:#fff;
        padding:0 10px;
    }
</style>


<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 ml-15 " >
        <div class="col-xs-11 no-pad-lef  no-mt no-bd  alert">
             <div class="row">
                    <div class="form-spacing">
                        <p>To make a bulk transfer, You are required to download a pre-formatted file and fill
                            in the details of the beneficiaries... <a th:href="@{/corporate/transfer/bulk/download}">Download File</a></p>
                    </div>

                  

                    <!--<p>Upload the completed file through the link below</p>-->
                    <hr width="100%" size="1" />
                    <h6 class="hstyle"><span>Upload the completed Bulk Transfer file through the link below</span></h6>


                    <div class="col-md-6 col-sm-6">
                        <form method="post" th:action="@{/corporate/transfer/bulk/upload}" enctype="multipart/form-data">


                            <div class="form-group">
                                <!--<label>Bulk Transfer file</label>-->
                                <input  type="file" name="transferFile"/>
                                <br/>
                                <!--<input  type="submit" value="Upload"/>-->
                                <button class="btn btn-link" type="submit">Upload</button>

                            </div>

                        </form>
                    </div>
                </div>
        </div>
        
    </div>

</div>


<th:block layout:fragment="scripts">
    <script th:src="@{~/bank/vendors/sweetalert/sweetalert.min.js}"></script>
    <script th:src="@{~/bank/vendors/bootstrap-dialog/js/bootstrap-dialog.js}"></script>
    <script th:src="@{~/bank/js/jquery.spring-friendly.min.js}"></script>


     <script>
    //datepicker
    $( function() {
        $( "#datepicker" ).datepicker(
            { dateformat : 'dd/mm/yy'}
        );
    } );
</script>
</th:block>

</body>
</html>