<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

<body onload="javascript:var bread = [['Home', '/retail/dashboard'],['Accounts','/retail/account/customize'],['Last 10 Transactions', '#']];currentBar('Last 10 Transactions');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 ml-15  no-mt" >
        <div class="col-xs-11  table-responsive no-mt no-bd alert">
            <form method="post">

                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group" aria-label="First group">
                        <a type="button" th:href="@{/corporate/account/viewonlyhistory}" class="btn btn-default ">Transaction History</a>
                        <a  type="button" class="btn bt-select btn-default " th:href="@{/corporate/account/viewstatement}" > Account Statement</a>
                    </div>
                </div>
                <br/>
                <div class="table-responsive">
                <table class="table" id="users">
                    <thead>
                    <tr>

                        <th>Transaction Narration</th>
                        <th>Post Date</th>
                        <th>Value Date</th>
                        <th>Debit/Credit</th>
                        <th>Transaction ReferenceID</th>
                        <th>Account Balance</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="list : ${transRequestList}">
                        <td  th:text="${list.narration}"></td>
                        <td th:text="${#dates.format(list.postedDate, 'dd-MMM-yyyy')}"></td>
                        <td th:text="${#dates.format(list.valueDate, 'dd-MMM-yyyy')}"></td>
                        <td th:text="${list.tranType}"></td>
                        <td th:text="${list.tranId}"></td>
                        <td th:text="${#numbers.formatDecimal(list.balance, 0, 'COMMA', 2, 'POINT')}"></td>

                        <td><a target="_blank"  th:href="@{'/corporate/account/' + ${list.tranId} + '/downloadhistory'}"><i class="fa fa-print" style="font-size:16px;"></i></a></td>

                    </tr>
                    </tbody>

                </table>

</div>

            </form>

        </div>
    </div>

</div>


<th:block layout:fragment="scripts">
    <script th:src="@{~/customer/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{~/customer/js/dataTables.select.js}"></script>


    <script th:inline="javascript">

        /*]]>*/
    </script>

</th:block>

</body>
</html>