<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="corp_layout :: site-head">

</head>
<body>
<div class="container">
<header th:replace="corp_layout ::corp-header">
</header>

<section class="content-wrapper">
    <div class="">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Account Settings</h5>
                <select class="form-control invisible">
                    <option value="account">Account Overview</option>
                </select>
            </div>

            <p class="col-xs-12">
                Fields marked <span style="color:red">*</span> are compulsory
            </p>
        </div>
        <div class="row">
            <div class="col-md-9 content-bg">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Account Name</th>
                                <th>Account Number</th>
                                <th>Currency</th>
                                <th>Account Type</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="acct : ${accounts}">
                                <td th:text="${acct.accountName}"></td>
                                <td th:text="${acct.accountNumber}"></td>
                                <td th:text="${acct.currencyCode}"></td>
                                <td th:text="${acct.schemeType}"></td>
                                <td><a th:href="@{'/corporate/account/' + ${acct.id} + '/customize'}">Customise</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pull-right">
                <div th:replace="corp_layout :: corp-sidebar" class="" >
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="corp_layout ::corp-footer">
</footer>
</div>
</body>
</html>