<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="corp_layout :: site-head">

</head>
<body>
<div class="container">
<header th:replace="corp_layout :: corp-header">
</header>

<section class="content-wrapper">
    <div class="">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Customize Account</h5>
                <select class="form-control invisible" id="view">
                    <option value="account">Account Overview</option>
                </select>
            </div>

            <p class="col-xs-12">
                Fields marked <span style="color:red">*</span> are compulsory
            </p>
        </div>
        <div class="row">
            <div class="col-md-9 content-bg">
                <div class="row">
                    <div class="col-md-6">
                        <form method="post" th:action="@{/corporate/account/customize}" th:object="${customizeAccount}">
                            <div class="form-group">
                                <label>Preferred Name</label>
                                <input  name="accountName" th:value="${account}" class="form-control"/><span class='req-inner'></span>
                                <p class="errors" th:if="${#fields.hasErrors('accountName')}" th:errors="*{accountName}">&times;</p>
                            </div>

                            <button type="submit" class="btn btn-default">Save</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pull-right">
                <div th:replace="cust_layout :: sidebar" class="" >
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="corp_layout ::corp-footer">
</footer>
</div>
</body>
</html>