<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

<body onload="javascript:var bread = [['Home', '/corporate/dashboard'],['Accounts','account/customize']];currentBar('dashboard');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 ml-15 " >
        <div class="col-xs-11 no-pad-lef table-responsive no-mt bg-white alert">
            <table class="table table-hover">
                            <thead class="thead">
                           
                                <th>Account Name</th>
                                <th>Account Number</th>
                                <th>Currency</th>
                                <th>Account Type</th>
                                <th>Action</th>
                            
                            </thead>
                            <tbody>
                            <tr th:each="acct : ${accounts}">
                                <td th:text="${acct.preferredName}"></td>
                                <td th:text="${acct.accountNumber}"></td>
                                <td th:text="${acct.currencyCode}"></td>
                                <td th:text="${acct.schemeType}"></td>
                                <td><a th:href="@{'/corporate/account/' + ${acct.id} + '/customize'}">Customise</a></td>
                            </tr>
                            </tbody>
                        </table>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">

   
</th:block>

</body>
</html>