<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="corp_layout :: site-head">

</head>
<body>
<div class="container">
<header th:replace="corp_layout :: corp-header">
</header>

<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Account Statement/Transaction History</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content-bg">
                <div class="row spacing">
                    <div class="col-md-10">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Account Name</th>
                                <th>Account Number</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="acct : ${accounts}">
                                <td th:text="${acct.accountName}"></td>
                                <td th:text="${acct.accountNumber}"></td>
                                <td><a th:href="@{'/corporate/account/' + ${acct.id} + '/primary'}" th:if="${acct.primaryFlag == 'N'}">Make Primary</a>
                                    <span th:if="${acct.primaryFlag == 'Y'}" th:text="*{'Primary'}">Primary</span></td>
                                <td><a th:href="@{'/corporate/account/' + ${acct.id} + '/hide'}" th:if="${acct.hiddenFlag == 'N'}">Hide</a>
                                    <a th:href="@{'/corporate/account/' + ${acct.id} + '/unhide'}" th:if="${acct.hiddenFlag == 'Y'}">Unhide</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div th:replace="corp_layout :: corp-sidebar" class="col-md-3 sidebar">
            </div>
        </div>
    </div>
</section>

<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="corp_layout ::corp-footer">
</footer>
</div>
</body>
</html>