<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

<body onload="javascript:var bread = [['Home', '/corporate/dashboard'],['Accounts','/corporate/account/customize'],['Account Statement', '#']];currentBar('account statement');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 no-mt" >
        <div class=" no-pad-lef no-pad-righ   no-mt no-bd alert">
            <form method="post" th:action="@{/corporate/account/viewstatement/display}">

                        <div class="">

                            <br/>
                            <div class="form-group col-md-12 no-pad-left col-sm-12">
                                <div class="form-group col-md-6 no-pad-left col-sm-6">
                                    <label>Date Range</label>
                                    <div class="input-daterange input-group" id="date-range">
                                        <input type="text" data-date-format="dd-mm-yyyy" class="form-control datepicker" id="start" name="fromDate" placeholder="Start date" required="required" />
                                        <span class="input-group-addon no-border">to</span>
                                        <input type="text"  data-date-format="dd-mm-yyyy" class="form-control datepicker" name="toDate" id="endDate" placeholder="End date" required="required" />
                                    </div>
                                </div>
                                <div class="form-group col-md-6 no-pad-left col-sm-6">
                                    <label>Transaction Type</label>
                                    <select name="tranType"  class="form-control">
                                        <option value="B">All</option>
                                        <option value="C">Credit</option>
                                        <option value="D">Debit</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-12 no-pad-left col-sm-12">
                                <div class="form-group col-md-6 no-pad-left col-sm-6">
                                    <label>Account Number</label>
                                    <span class="req"></span>
                                    <select name="acctNumber" id="acctNumber" class="form-control"
                                            required="required">
                                        <option th:each="s: ${accounts}" th:value="${s.accountNumber}" th:text="${s.accountNumber}"></option></select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>&nbsp;</label>

                                    <button type="submit" class="btn btn-link " id="btn-find"><i class="fa fa-search"  ></i>&nbsp; view</button>

                                </div>
                            </div>



                            <p>

                                <a id="btn-print" th:href="@{'~/viewstatement/display/data'}"  class="btn bt-link-act pull-right"> <i class="fa fa-print"  ></i>&nbsp; print</a>

                                <!--<a th:href="@{'#'}" class="btn "> <i class="fa fa-envelope" style="color: white" ></i>&nbsp; send mail</a>-->
                            </p>

                            <h2>TRANSACTION DETAILS</h2>


                            <div class="" >
                                <table class="table" id="tranDetails">
                                    <thead>
                                    <tr>
                                        <th>Account Balance</th>
                                        <th>Currency Code</th>
                                        <th>Post Date</th>
                                        <th>Transaction Narration</th>
                                        <th>Debit/Credit</th>
                                        <th>Value Date</th>

                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Account Balance</th>
                                        <th>Currency Code</th>
                                        <th>Post Date</th>
                                        <th>Transaction Narration</th>
                                        <th>Debit/Credit</th>
                                        <th>Value Date</th>

                                    </tr>
                                    </tfoot>
                                </table>
                            </div>



                        </div>
                    </form>
        </div>
    </div>

</div>



<th:block layout:fragment="scripts">

    <script th:src="@{~/customer/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{~/customer/js/dataTables.select.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        jQuery.download = function(url, key, data) {
            // Build a form
            var form = $('<form></form>').attr('action', url).attr('target', '_blank')
                    .attr('method', 'get');
            // Add the one key/value
            form.append($("<input></input>").attr('type', 'hidden').attr('name',
                    key).attr('value', data));

            $.each( data, function( propertyName, valueOfProperty ){
                form.append($("<input></input>").attr('type', 'hidden').attr('name',
                        propertyName).attr('value', valueOfProperty));
            });

            //send request
            form.appendTo('body').submit().remove();
        };

        $(document).ready(function() {
        $('#btn-print').hide();
            $('.datepicker').datepicker({ dateFormat: 'dd-mm-yy' });//

            $('#tranDetails').DataTable({
                responsive: true,

                "lengthMenu" : [ [ 5, 10, 20],	[ 5, 10, 20 ] ],
                "pagingType" : "simple_numbers",
                "searching": false,
                "paging": true,
                "processing": false,
                "serverSide" : false,
                "ordering" : false,
                "dom": 'T<"clear">frtlp',
                "columns" : [
                    {"data" : "narration"},
                    {"data" : "postDate"} ,
                    {"data" : "valueDate"},
                    {"data" : "tranType"},
                    {"data" : "tranId"},
                    {"data" : "accountBalance"}
                ],
                "columnDefs" : [ {
                    "targets" : 1,
                    "data" : "postDate",
                    "render" : function(data, type,full, meta) {

                        if (type === 'display') {
                            if(data == null)
                                return data;

                            var pattern = /(\d{2})\.(\d{2})\.(\d{4})/;
                            var dt = new Date(data.replace(pattern,'$3-$2-$1'));
                            return dt.toDateString();
                        }
                        return data;
                    }
                },{
                    "targets" : 5,
                    "data" : "accountBalance",
                    "render" : function(data, type,full, meta) {
                        if (type === 'display') {
                            if(data == null)
                                return data;
                            var twoPlacedFloat = parseFloat(data).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
                            return twoPlacedFloat;
                        }
                        return data;
                    }
                }
                    , {
                        "targets": 2,
                        "data": "valueDate",
                        "render": function (data, type, full, meta) {
                            if (type === 'display') {

                                if (data == null)
                                    return data;
                                var pattern = /(\d{2})\.(\d{2})\.(\d{4})/;
                                var dt = new Date(data.replace(pattern,'$3-$2-$1'));
                                return dt.toDateString();
                            }
                            return data;
                        }
                    } ],
                "ajax" : {
                    "url":"viewstatement/display/data",
                    "type" : "GET",
                    "data" : function(d) {
                        d.acctNumber = $('[name=acctNumber]').val();
                        d.fromDate = $('[name=fromDate]').val();
                        d.toDate = $('[name=toDate]').val();
                        d.tranType = $('[name=tranType]').val();
                    }
                }

            });

            $("#btn-find").on("click", function(e) {

                e.preventDefault();
                dt = $('#tranDetails').DataTable();
                    $('#btn-print').show();
                dt.ajax.reload(null, true);

            });

            $("#btn-print").on("click", function(e) {
                e.preventDefault();
                var table = $('#tranDetails').DataTable();
                var data = table.ajax.params();
                $.download("downloadstatement", "data", data);

            });


        });




        /*]]>*/
    </script>

</th:block>

</body>
</html>