<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<header th:replace="cust_layout :: header">

</header>
<!-- HEADER END-->
<div class="navbar navbar-inverse set-radius-zero" th:replace="cust_layout :: main-header">

</div>
<!-- LOGO HEADER END-->
<section class="menu-section" th:replace="cust_layout :: menu">
</section>
<!-- MENU SECTION END-->
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="page-head-line" th:text="${'Make a ' + requestConfig.requestName + ' Request'}"></h4>
                            </div>
                            <div class="panel-body">
                                <form method="post" th:action="@{/retail/requests}" th:object="${serviceReqConfigDTO}">
                                    <p th:each="field : ${requestConfig.formFields}">
                                        <label th:text="${field.fieldLabel}"></label>
                                        <p th:if="${field.fieldType} == 'Text'"><input class="form-control" th:type="${field.fieldType}" th:name="${field.fieldName}"/></p>
                                        <p th:if="${field.fieldType} == 'Code'">
                                            <select class="form-control" th:name="${field.fieldName}">
                                                <option th:each="type : ${field.codeDTOs}" th:value="${type.code}" th:text="${type.description}"></option>
                                            </select>
                                        </p>
                                        <p th:if="${field.fieldType} == 'Account'">
                                            <select class="form-control" th:name="${field.fieldName}">
                                                <option th:each="type : ${requestFieldType}" th:value="${type.code}" th:text="${type.description}"></option>
                                            </select>
                                        </p>
                                        <p th:if="${field.fieldType} == 'List'">
                                            <select class="form-control" th:name="${field.fieldName}">
                                                <option th:each="type : ${fixedList}" th:value="${type}" th:text="${type}"></option>
                                            </select>
                                        </p>
                                        <!--<p><input class="form-control" th:type="${field.fieldType}" th:name="${field.fieldName}"/></p>-->
                                    </p>
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="alert alert-warning">
                    This is blank page for which you can customize for your project.
                    Use this admin template 100% free to use for personal and commercial use which is crafted by
                    <br />
                    <a href="http://www.designbootstrap.com/" target="_blank">DesignBootstrap.com</a> . For more free templates and snippets keep looking <a href="http://www.designbootstrap.com/" target="_blank">DesignBootstrap.com</a> . Hope you will like our work

                </div>
            </div>

        </div>
    </div>
</div>
<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">

</footer>
<script>
    /*<![CDATA[*/
    $(document).ready(function() {
        $('#select').click(function (){

        });
    } );
    /*]]>*/
</script>
</body>
</html>
