<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<header th:replace="cust_layout :: header">
</header>

<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8 col-sm-8">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <h5 class="page_header" th:text="${requestConfig.requestName + ' Service Request'}"></h5>
                        <form method="post" th:action="@{/retail/requests}" th:object="${serviceReqConfigDTO}">
                            <p th:each="field : ${requestConfig.formFields}">
                                <div class="form-group">
                                    <label th:text="${field.fieldLabel}"></label>
                                    <p th:if="${field.fieldType} == 'TEXT'"><input class="form-control" th:type="${field.fieldType}" th:name="${field.fieldName}"/></p>

                                    <p th:if="${field.fieldType} == 'DATE'"><input class="form-control" id="datepicker" type="text" th:name="${field.fieldName}"/></p>

                                    <p th:if="${field.fieldType} == 'CODE'">
                                        <select class="form-control" th:name="${field.fieldName}">
                                            <option th:each="type : ${field.codeDTOs}" th:value="${type.code}" th:text="${type.description}"></option>
                                        </select>
                                    </p>
                                    <p th:if="${field.fieldType} == 'ACCOUNT'">
                                        <select class="form-control" th:name="${field.fieldName}">
                                            <option th:each="type : ${requestFieldType}" th:value="${type.code}" th:text="${type.description}"></option>
                                        </select>
                                    </p>
                                    <p th:if="${field.fieldType} == 'LIST'">
                                        <select class="form-control" th:name="${field.fieldName}">
                                            <option th:each="type : ${fixedList}" th:value="${type}" th:text="${type}"></option>
                                        </select>
                                    </p>
                                </div>
                            </p>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                    <div class="col-md-2 col-sm-2">

                    </div>
                </div>

            </div>
            <div class="col-md-3 col-sm-3">
                <div class="alert alert-warning">

                </div>
            </div>
        </div>
    </div>
</section>

<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
<script>
    $( function() {
        $( "#datepicker" ).datepicker(
            { dateformat : 'dd/mm/yy'}
        );
    } );
</script>
</body>
</html>
