<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<header th:replace="cust_layout :: header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <strong><a href=""> Contact Us </a>&nbsp;</strong>
                <span class="dem-bar">&nbsp;</span>
                <strong><a href=""> Coronation Merchant Bank </a>&nbsp;</strong>
                <span class="dem-bar">&nbsp;</span>
                <strong><a href=""> Help </a>&nbsp;</strong>
            </div>

        </div>
    </div>
</header>
<!-- HEADER END-->
<div class="navbar navbar-inverse set-radius-zero" th:replace="cust_layout :: main-header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="Welcome">
                <div class="bvn">
                    <p>Your Bank verifiction number</p>
                    <h4>BVN: 12345678911&nbsp;</h4>
                </div>
                <div class="welcome-text">
                    <h4><span>Welcome, &nbsp;</span>Tolu James&nbsp; <i class="fa fa-envelope"></i></h4>
                    <h6>FAQS</h6>
                </div>
            </div>

        </div>

        <div class="logo">
            <img src="assets/img/cmb_logo.png"/>
        </div>

    </div>
</div>
<!-- LOGO HEADER END-->
<section class="menu-section" th:replace="cust_layout :: menu">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="navbar-collapse collapse ">
                    <ul id="menu-top" class="nav navbar-nav navbar-left">
                        <li class="dropdown mega-dropdown"> <a href="#" class="dropdown-toggle" data-toggle="">Dashboard</a>
                            <ul class="dropdown-menu mega-dropdown-menu row">


                                <li class="col-sm-2">
                                    <ul>
                                        <li class="dropdown-header">Dresses</li>
                                        <li class="divider"></li>
                                        <li><a href="#">Unique Features</a></li>
                                        <li><a href="#">Image Responsive</a></li>
                                        <li><a href="#">Auto Carousel</a></li>
                                        <li><a href="#">Newsletter Form</a></li>
                                        <li><a href="#">Four columns</a></li>
                                    </ul>
                                </li>
                                <li class="col-sm-2">
                                    <ul>
                                        <li class="dropdown-header">Dresses</li>
                                        <li class="divider"></li>
                                        <li><a href="#">Unique Features</a></li>
                                        <li><a href="#">Image Responsive</a></li>
                                        <li><a href="#">Auto Carousel</a></li>
                                        <li><a href="#">Newsletter Form</a></li>
                                        <li><a href="#">Four columns</a></li>
                                    </ul>
                                </li>
                                <li class="col-sm-2">
                                    <ul>
                                        <li class="dropdown-header">Dresses</li>
                                        <li class="divider"></li>
                                        <li><a href="#">Unique Features</a></li>
                                        <li><a href="#">Image Responsive</a></li>
                                        <li><a href="#">Auto Carousel</a></li>
                                        <li><a href="#">Newsletter Form</a></li>
                                        <li><a href="#">Four columns</a></li>
                                    </ul>
                                </li>
                                <li class="col-sm-2">
                                    <ul>
                                        <li class="dropdown-header">Dresses</li>
                                        <li class="divider"></li>
                                        <li><a href="#">Unique Features</a></li>
                                        <li><a href="#">Image Responsive</a></li>
                                        <li><a href="#">Auto Carousel</a></li>
                                        <li><a href="#">Newsletter Form</a></li>
                                        <li><a href="#">Four columns</a></li>
                                    </ul>
                                </li>
                                <li class="col-sm-2">
                                    <ul>
                                        <li class="dropdown-header">Jackets</li>
                                        <li class="divider"></li>
                                        <li><a href="#">Easy to customize</a></li>
                                        <li><a href="#">Glyphicons</a></li>
                                        <li><a href="#">Pull Right Elements</a></li>
                                    </ul>
                                </li>
                                <li class="col-sm-2">
                                    <ul>
                                        <li class="dropdown-header">Accessories</li>
                                        <li class="divider"></li>
                                        <li><a href="#">Default Navbar</a></li>
                                        <li><a href="#">Lovely Fonts</a></li>
                                        <li><a href="#">Responsive Dropdown </a></li>
                                    </ul>
                                </li>
                            </ul>



                        </li>
                        <li><a href="ui.html">UI Elements</a></li>
                        <li><a href="table.html">Data Tables</a></li>
                        <li><a href="forms.html">Forms</a></li>
                        <li><a href="login.html">Login Page</a></li>
                        <li><a class="menu-top-active" href="blank.html">Blank Page</a></li>
                    </ul>

                </div>
            </div>
            <ul id="menu-top" class="nav navbar-nav navbar-right">
                <li><a  href="index.html">Log out <i class="fa fa-sign-out"></i></a></li>
            </ul>
        </div>
    </div>
</section>
<!-- MENU SECTION END-->
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-head-line">Blank Page</h4>

            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    This is blank page for which you can customize for your project.
                    Use this admin template 100% free to use for personal and commercial use which is crafted by
                    <br />
                    <a href="http://www.designbootstrap.com/" target="_blank">DesignBootstrap.com</a> . For more free templates and snippets keep looking <a href="http://www.designbootstrap.com/" target="_blank">DesignBootstrap.com</a> . Hope you will like our work

                </div>
            </div>

        </div>
    </div>
</div>
<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                &copy; 2017 CoronationMB
            </div>

        </div>
    </div>
    <!-- FOOTER SECTION END-->
    <!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY SCRIPTS -->
    <script th:src="@{/customer/js/jquery-1.11.1.js}"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script th:src="@{/customer/js/bootstrap.js}"></script>
</footer>

</body>
</html>
