<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="currentBar('service request')">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 ml-15 " >
        <div class="col-xs-11 no-pad-lef alert no-bd">
           <div class="">
                  <div class="col-md-12 table-responsive">
                        <table class="table " id="track">
                            <thead>
                            <tr>
                                <th>Request Name</th>
                                <th>Status</th>
                                <th>Request Date</th>

                            </tr>
                            </thead>
                            <tbody>
                            <!--<tr th:each="req : ${requests}">-->
                                <!--<td th:text="${req.requestName}"></td>-->
                                <!--<td th:text="${req.dateRequested}"></td>-->
                                <!--<td th:text="${req.requestStatus}"></td></tr>-->
                            </tbody>
                        </table>
                    </div>
                               
            </div>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">
  <script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var url = "/retail/requests/track/all";
        var table = $('#track').DataTable({
            select: true,
            responsive : false,
            "lengthMenu" : [ [ 5, 10 ], [ 5, 10 ] ],
            "pagingType" : "simple",
            "searching" : false,
            "paging" : true,
            "serverSide" : true,
            "ajax" : url,
            "dom" : 'T<"clear">flrtp',
            "columns" : [
                { "data": "requestName" },
                { "data": "requestStatus" },
                { "data": "date" }

            ]
        });
    });

    /*]]>*/
</script>
</th:block>

</body>
</html>