<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<header th:replace="cust_layout :: header">
</header>

<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Previous Requests</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content-bg">
                <div class="row spacing">
                    <div class="col-md-10">
                        <table class="table" id="track">
                            <thead>
                            <tr>
                                <th>Request Name</th>
                                <th>Request Date</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="req : ${requests}">
                                <td th:text="${req.requestName}"></td>
                                <td th:text="${req.dateRequested}"></td>
                                <td th:text="${req.requestStatus}"></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div th:replace="cust_layout :: sidebar" class="col-md-3 sidebar">
            </div>
        </div>
    </div>
</section>

<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>

<!--<script>-->
    <!--/*<![CDATA[*/-->
    <!--$(document).ready(function() {-->
        <!--var table = $('#track').DataTable({-->
            <!--select:true,-->
            <!--responsive: true,-->
            <!--"lengthMenu" : [ [ 5, 10, 20],	[ 5, 10, 20 ] ],-->
            <!--"pagingType" : "simple_numbers",-->
            <!--"searching": false,-->
            <!--"paging": true,-->
            <!--"serverSide" : true,-->
            <!--"ajax": "/retail/requests/track/all",-->
            <!--"dom": 'T<"clear">frtlp',-->
            <!--"columns": [-->
                <!--{ "data": "requestName" },-->
                <!--{ "data": "date" },-->
                <!--{ "data": "requestStatus" }-->

            <!--] });-->

        <!--table.on('select', function() {-->
            <!--if (table.rows({-->
                    <!--selected : true-->
                <!--}).indexes().length === 0) {-->
                <!--$('.bt-select').attr("disabled", true);-->
            <!--} else {-->
                <!--$('.bt-select').removeAttr("disabled");-->
            <!--}-->

        <!--});-->

        <!--table.on('deselect', function() {-->
            <!--if (table.rows({-->
                    <!--selected : true-->
                <!--}).indexes().length === 0) {-->
                <!--$('.bt-select').attr("disabled", true);-->
            <!--} else {-->
                <!--$('.bt-select').removeAttr("disabled");-->
            <!--}-->
        <!--});-->

    <!--});-->

    <!--/*]]>*/-->
<!--</script>-->
</body>
</html>