<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<div class="container">
    <header th:replace="cust_layout :: header">
    </header>

<section class="content-wrapper">
    <div class="containe">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Track Requests</h5>
                <select class="form-control invisible">
                <option value="account">Account Overview</option>
            </select>
            </div>
            <p class="col-xs-12 invisible">
                Fields marked <span style="color:red">*</span> are compulsory
            </p>

        </div>
        <div class="row">
            <div class="col-md-9 content-bg">

                    <div class="col-md-12">
                        <table class="table table-responsive" id="track">
                            <thead>
                            <tr>
                                <th>Request Name</th>
                                <th>Status</th>
                                <th>Request Date</th>

                            </tr>
                            </thead>
                            <tbody>
                            <!--<tr th:each="req : ${requests}">-->
                                <!--<td th:text="${req.requestName}"></td>-->
                                <!--<td th:text="${req.dateRequested}"></td>-->
                                <!--<td th:text="${req.requestStatus}"></td></tr>-->
                            </tbody>
                        </table>
                    </div>

            </div>
            <div class="col-md-3 pull-right " >
                <div th:replace="cust_layout :: sidebar" class="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var url = "/retail/requests/track/all";
        var table = $('#track').DataTable({
            select: true,
            responsive : false,
            "lengthMenu" : [ [ 5, 10 ], [ 5, 10 ] ],
            "pagingType" : "simple",
            "searching" : false,
            "paging" : true,
            "serverSide" : true,
            "ajax" : url,
            "dom" : 'T<"clear">flrtp',
            "columns" : [
                { "data": "requestName" },
                { "data": "requestStatus" },
                { "data": "date" }

            ]
        });
    });

    /*]]>*/
</script>
</div>
</body>
</html>