<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

<body onload="javascript:var bread = [['Home', '/corporate/dashboard'],['Bill Payment']];currentBar('Bill Payment');breadCrumb(bread)">


<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ml-15 hide-content-onl">

        <select class="form-control full-width bank-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 no-pad-left " >
        <div class="no-mt no-pad-lef alert no-bd">
            <div class="">
                <div class="form-spacin col-md-7 col-sm-7 no-pad-right">

                    <form id="local" method="post" th:action="@{/corporate/payment/summary}"
                          th:object="${billPaymentDTO}">


                        <div class="form-group">
                            <label>Source Account</label>

                            <!--<span class="alert no-bd-rad my-border bg-white" id="sourceCurrency">CCY</span>-->

                            <select name="source" class="form-control" id="source"
                                    th:field="*{customerAccountNumber}" onchange="getBalance();" required="required">
                                <option th:each="s: ${accountList}" th:value="${s.accountNumber}" th:text="${s.accountNumber}" th:selected="${s.primaryFlag=='Y'}"></option>
                            </select><span class='req-inner'></span>
                            <!--<p th:if="${#fields.hasErrors('customerAccountNumber')}" th:errors="*{customerAccountNumber}"-->
                            <!--class="errors"></p>-->
                        </div>

                        <div class="form-group">
                            <label>Category</label>
                            <select class="form-control" th:field="*{categoryName}" id="categories" name="categories" onchange="fetchBillers()" required="required">
                                <option value=""> Select Category </option>
                                <option th:each="category : ${billerCategories}" th:value="${category.categoryName}" th:text="${category.categoryName}"></option>
                            </select><span class='req-inner'></span>

                        </div>

                        <div class="form-group">
                            <label>Biller</label>
                            <select  class="form-control" th:field="*{billerId}" id="billerId" name="billerId" onchange="fetchPaymentItems()" required="required" >
                            </select><span class='req-inner'></span>
                            <!--                            <input type="hidden" id="referenceName"/>-->
                        </div>


                        <div class="form-group">
                            <label>Payment Item</label>
                            <select class="form-control" th:field="*{paymentItemId}" id="paymentItemId" name="paymentItemId" onchange="fetchPaymentItemDetails()" required="required">
                            </select><span class='req-inner'></span>

                        </div>


                        <!--                        <div id="ownerReferenceNumberDiv" class="form-group" style="display: none">-->
                        <!--                            <label id="ownerReferenceNumber">Owner Reference Number</label>-->
                        <!--                            <input type="text" class="form-control" th:field="*{customerIdentifier}"-->
                        <!--                                   required="required"/>-->
                        <!--                        </div>-->

                        <div class="form-group">
                            <label >Price</label>
<!--                            <input type="text" class="form-control" th:field="*{amount}"-->
<!--                                   required="required" readonly/>-->
                            <div>
                            <input id="amount" th:field="*{amount}" required="required" type="number" min=1 class="form-control" onchange="amountError()"  placeholder="Amount" readonly/>
                            <p class="errors close" data-dismiss="alert" aria-label="close" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">&times;</p>
                            <span class='req-inner'></span>
                            </div>
                            <span id="amountError" style="color:red"></span>
                        </div>

                        <div class="form-group">
                            <input type="hidden" class="form-control" th:field="*{paymentCode}"/>
                        </div>

                        <div class="form-group">
                            <label >Phone Number</label>
                            <input type="text" class="form-control" th:field="*{phoneNumber}"
                                   required="required" readonly/>
                        </div>
                        <div class="form-group">
                            <label >Email Address</label>
                            <input type="text" class="form-control" th:field="*{emailAddress}"
                                   required="required" readonly/>
                        </div>

                        <button id="localsave" class="btn btn-link required-step" >Next</button>
                    </form>

                </div>

                <div class="col-xs-12 col-sm-5  wel ">
                    <!--<p class="related" style="padding-top: 5%">Related Information</p>-->
                    <div  class="related-box">
                        <h3 class="related-bar">Related Information</h3>

                        <!--<input type="availBal" name="availBal"/>-->
                        <p class="related-info pantone-1" id="availBal"><b></b></p>
                        <!--<p  class="related-info pantone-1" id="limit"><b></b></p>-->

                    </div>
                </div>



            </div>
        </div>
    </div>

</div>




<th:block layout:fragment="scripts">
    <script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {

        getBalance();
        fetchBillers();
        fetchPaymentItems();

    });


    function getBalance(){

        var accountNumber = $('#source').val();
        $.ajax({
            url: "/corporate/transfer/balance/"+accountNumber,
            type: 'GET',
            async: false,
            success:function(jd){
                var message = jd.message;
                var success =  jd.success;
                console.log(message);
                console.log(success);
                if (success==false){
                    document.getElementById("myspan").textContent="Could not get balance from server, please try again.";
                    $("#myspan").show();
                }else{
//                    $('input[name=availBal]').val(bal);

                    var  bal=numberWithCommas(message);
                    $('#availBal').html("Available Balance: "+bal);

                }
            }
        })
    }


    function fetchBillers(){

        var category = $("#categories").val();
        console.log("Category", category)

        $.ajax ({
            type: 'POST',
            url: "/corporate/payment/biller",
            data: {categoryName: category},
            success: function (biller , status, xhr) {
                console.log(JSON.stringify(biller));
                console.log(biller.length);
                if(biller.length==0){

                }
                $('#billerId').empty();
                $('#billerId').append("<option value=''>-Select-</option>");
                console.log("Biller ---------->>>" +biller)
                biller.forEach(b => $('#billerId').append("<option value='"+b.billerId+"'>"+b.billerName+"</option>"));

            }
        })

    }

    function fetchPaymentItems(){

        var biller = $("#billerId").val();
        console.log("Biller selected is ---->>>>>", biller)
        $.ajax({
            type: 'POST',
            url: "/corporate/payment/paymentItem",
            data: {billerId: biller},
            success: function (items , status, xhr) {
                console.log(JSON.stringify(items));
                console.log(items.length);
                if(items.length==0){

                }
                $('#paymentItemId').empty();
                $('#paymentItemId').append("<option value=''>-Select-</option>");
                console.log("Biller ---------->>>" +items)
                items.forEach(b => $('#paymentItemId').append("<option value='"+b.paymentCode+"'>"+b.paymentItemName+"</option>"));
            }
        })
    }

    function amountError() {
        var amount = $("#amount").val();
        if(amount < 1){
            $("#amountError").text("Price must be greater than or equal to 1")
            $("#localsave").attr("disabled",true);
        }else{
            $("#amountError").text("")
            $("#localsave").attr("disabled",false);
        }

    }


    function fetchPaymentItemDetails(){

        var paymentItemId = $("#paymentItemId").val();
        console.log("paymentItem detail is ---->>>>>", paymentItemId)
        $.ajax({
            url: "/corporate/payment/paymentItem/" + paymentItemId+"",
            success: function (paymentItem, status, xhr) {
                console.log("PaymentItem name is "+paymentItem.paymentItemName);
                console.log("PaymentItem price is "+paymentItem.amount);
                console.log("PaymentItem read-only status is "+paymentItem.readonly);

                $('#amount').val(paymentItem.amount);
                $('#paymentCode').val(paymentItem.paymentCode);

                if(paymentItem.readonly==false || paymentItem.isAmountFixed==false){
                    $('#amount').removeAttr("readonly")
                }
                else {
                    $('#amount').attr("readonly","readonly")

                }


            }
        });

    }


    /*]]>*/
</script>
</th:block>

</body>
</html>


