<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="corp_layout :: site-head">

</head>
<body>
<div class="container">
<header th:replace="corp_layout :: corp-header">
</header>
kk
<section class="content-wrapper">
    <div class="">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Add New User</h5>
                <select class="form-control invisible" id="view">
                    <option value="account">Account Overview</option>
                </select>
            </div>
            <p class="col-xs-12">
                Fields marked <span style="color:red">*</span> are compulsory
            </p>

        </div>
        <div class="row">
            <div class="col-md-9 content-bg">
                <div class="row ">
                    <div class="col-md-6 col-sm-6">
                        <form method="post" class="form-horizontal" th:action="@{/corporate/users}" th:object="${corporateUser}">

                            <!--<div th:replace="corp_layout::form-validation"></div>-->

                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" th:field="*{userName}"/><span class='req-inner'></span>
                                <p class="errors" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">&times;</p>
                            </div>

                            <input th:if="${corporate.id}" th:type="hidden" name="corporateId" th:value="${corporate.id}"/>

                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" th:field="*{firstName}"/><span class='req-inner'></span>
                                <p class="errors" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">&times;</p>
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" th:field="*{lastName}" /><span class='req-inner'></span>
                                <p class="errors" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">&times;</p>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" th:field="*{email}"/><span class='req-inner'></span>
                                <p class="errors" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">&times;</p>
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" class="form-control" th:field="*{phoneNumber}"/><span class='req-inner'></span>
                                <p class="errors" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">&times;</p>
                            </div>

                            <div class="form-group">
                                <label>Role</label>
                                <select class="form-control" th:field="*{roleId}">
                                    <option th:each="role : ${roles.?[#strings.equalsIgnoreCase(userType, 'corporate')]}" th:value="${role.id}" th:text="${role.name}"></option>
                                </select><span class='req-inner'></span>
                            </div>

                            <div class="form-group">
                                    <button class="btn btn-link required-step" type="submit">Create User</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pull-right">
                <div th:replace="corp_layout :: corp-sidebar" class="" >
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="corp_layout :: corp-footer">
</footer>
<script>
    $( function() {
        $( "#datepicker" ).datepicker(
            { dateformat : 'dd/mm/yy'}
        );
    } );
</script>
</div>
</body>
</html>