<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

<body onload="javascript:var bread = [['Home', '/corporate/dashboard'],['User management']];currentBar('User management Approval');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>
    <div class="col-xs-12 " >
        <div class=" no-mt no-bd  alert" >
            <form method="post" th:action="@{/corporate/users/verify}" class="form-horizontal" th:object="${verification}" >

                <label style="font-size:large" th:text="${verify.description}"></label>

                <!--<div id="before" style="overflow-wrap: break-word;border-left: 1px solid;margin-right: 1px;padding:5px; ">-->

                    <table class="table table-striped dt-responsive no-wrap" id="table">
                        <thead>
                            <tr>
                                <th class='bg-grey'>Before</th>
                                <th class='bg-danger'>After</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="word-break:break-all;width:50%;text-align:left;border-top:none;color:#032A4F;">
                                    <th:block th:text="${verify.beforeObject}"></th:block>
                                </td>
                                <td class="" style="word-break:break-all;text-align:left;border-top:none;color:#032A4F">
                                    <th:block th:text="${verify.afterObject}"></th:block>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                <div>
                    <input  th:hidden="hidden" th:field="${verify.version}"/>
                    <input  th:hidden="hidden" th:field="${verify.id}"/>
                </div>

                <br/>
                <label for="comments" class="col-sm-2">Comments</label>
                <div th:unless="${status}">
                    <p  th:text="${verify.comments}"></p>
                </div>
                <div th:if="${isAuthorizer}"class="form-group" >
                    <div th:if="${status}"  class="col-sm-6">
                        <textarea  th:field="${verify.comments}" class="form-control" id="comments"></textarea>
                        <p class="errors" th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}">&times;</p>
                    </div>
                </div>

                <div th:if="${isAuthorizer}">
                    <div th:if="${status}">
                        <div class="form-group">
                            <button type="submit" name="approve"  value="true" class="btn btn-link required-step my-buttons">
                                Approve
                            </button>

                            <button type="submit" name="approve" value="false" class="btn btn-link less-required my-buttons">
                                Decline
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<th:block layout:fragment="scripts">
    <script th:src="@{~/bank/js/jsonpath-0.8.0.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var parseJsonAsList = function(jsn,path, color){

            var result = '';
            for(node in jsn){

                if(Object.prototype.toString.call(jsn[node]) === '[object Array]')
                {

                    current_path = path.endsWith('[') ? path + node + ']' : path + '.' +node;

                    b = jsonPath(beforeData,current_path)[0] ;
                    a = jsonPath(afterData,current_path)[0];

                    if(true ){

                        result += '<li class="list-group-item">'+ node +':<ul class="list-group">' + parseJsonAsList(jsn[node],current_path+'[') + '</ul></li>';
                    }else{
                        result += '<li class="list-group-item list-group-item-danger">'+ node +':<ul class="list-group">' + parseJsonAsHTMLTree(jsn[node],current_path+'[') + '</ul></li>';
                    }
                }
                else if(Object.prototype.toString.call(jsn[node]) === '[object Object]')
                {


                    current_path = path.endsWith('[') ? path + node + ']' : path + '.' +node;
                    /* if(jsonPath(beforeData,current_path)){

                     }
                     b = jsonPath(beforeData,current_path)[0] ;
                     a = jsonPath(afterData,current_path)[0];
                     */
                    if(true){
                        result += '<li class="list-group-item">'+ node +':<ul class="list-group">' + parseJsonAsList(jsn[node],current_path) + '</ul></li>';
                    }else{
                        result += '<li class="list-group-item list-group-item-danger">'+ node +':<ul class="list-group">' + parseJsonAsList(jsn[node],current_path) + '</ul></li>';
                    }
                }
                else{


                    current_path = path.endsWith('[') ? path + node + ']' : path + '.' +node;

                    b = jsonPath(beforeData,current_path) ? jsonPath(beforeData,current_path)[0] : 'undefined' ;

                    a = jsonPath(afterData,current_path) ? jsonPath(afterData,current_path)[0] : 'undefined' ;

//                console.log(a);
//                console.log(b);

                    // alert(jsn[node]);
                    if(a == b && typeof a != 'undefined' && typeof b != 'undefined' )
                    {

                        result += '<li class="list-group-item">' + node + ':'+jsn[node] +'</li>'
                    }else
                    {
                        result += '<li class="list-group-item list-group-item-'+color+'">' + node + ':'+jsn[node] +'</li>'
                    }
                }

            }
            return result;
        }
        var beforeData = JSON.parse([[${verify.beforeObject}]]);
        var afterData =JSON.parse([[${verify.afterObject}]]);
        $(document).ready(function() {

            $("#table").DataTable({
                "searching" : false,
                "processing" : true,
                "ordering" : false,
                dom : 't',
                "columnDefs" : [ {
                    "targets" : 0,
                    "className" : "dt-center",
                    "render" : function(data, type, full, meta) {

                        if (type === 'display') {
                            temp = data;
                            if(!temp || 0 === temp.length){
                                temp = '{}'
                            }
                            before = JSON.parse(temp);

                            return '<ul>'+parseJsonAsList(before,'$', 'danger')+'</ul>';
                        }
                        return data;
                    }
                },{
                    "targets" : 1,
                    "className" : "dt-center",
                    "render" : function(data, type, full, meta) {
                        if (type === 'display') {
                            temp = data;
                            if(!temp || 0 === temp.length ){
                                temp = '{}'
                            }
                            after = JSON.parse(temp);

                            return '<ul>'+parseJsonAsList(after,'$', 'success')+'</ul>';
                        }
                        return data;
                    }
                }  ]
            });

        });
        /*]]>*/
    </script>
</th:block>

</body>
</html>