<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

<body onload="javascript:var bread = [['Home', '/corporate/dashboard'],['service request', '']];currentBar('service request');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width bank-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>
                        <div class="col-xs-12  no-pad-left no-pad-right" >
                            <div class="no-pad-lef no-mt alert no-bd">
                                <div class="">
                                    <div class="col-md-8 col-sm-7">
                                        <h6 class="sub_header pantone-1 text-bold" th:text="${requestConfig.description}"></h6>
                                        <form method="post" th:action="@{/corporate/requests}" th:object="${requestDTO}" id="reqForm">
                                            <input type="hidden" name="serviceReqConfigId" th:value="${requestConfig.id}"/>
                                            <div th:each="field : ${requestConfig.fields}">
                                                <div class="form-group">
                                                    <label th:text="${field.label}"></label>

                                                    <p th:if="${#strings.equals(field.type.name(),'TEXT')}">
                                                        <input class="form-control" type="text"
                                                               th:name="${field.name}" required="required"/>
                                                        <span class='req-inner'></span>
                                                    </p>

                                                    <p th:if="${#strings.equals(field.type.name(),'NUMBER')}">
                                                        <input class="form-control" type="number" min="0"
                                                               th:name="${field.name}" required="required"/><span
                                                            class='req-inner'></span>
                                                    </p>

                                                    <p th:if="${#strings.equals(field.type.name(),'LARGE_TEXT')}"
                                                       required="required">
                                                        <textarea class="form-control" th:name="${field.name}"
                                                                  wrap="physical" required="required"></textarea><span
                                                            class='req-inner'></span>
                                                    </p>

                                                    <p th:if="${#strings.equals(field.type.name(),'DATE')}">
                                                        <input class="form-control datepicker" type="text"
                                                               th:name="${field.name}" required="required"/><span
                                                            class='req-inner'></span>
                                                    </p>

                                                    <p th:if="${#strings.equals(field.type.name(),'CODE')}">
                                                        <select class="form-control" th:name="${field.name}"
                                                                required="required">
                                                            <option th:each="code : ${codes}" th:value="${code.code}"
                                                                    th:text="${code.description}"></option>
                                                        </select><span class='req-inner'></span>
                                                    </p>

                                                    <p th:if="${#strings.equals(field.type.name(),'FI')}">
                                                        <select class="form-control" th:name="${field.name}"
                                                                required="required">
                                                            <option th:each="bank : ${banks}"
                                                                    th:value="${bank.institutionCode}"
                                                                    th:text="${bank.institutionName}"></option>
                                                        </select><span class='req-inner'></span>
                                                    </p>

                                                    <p th:if="${#strings.equals(field.type.name(),'ACCOUNT')}">
                                                        <select class="form-control" th:name="${field.name}"
                                                                required="required">
                                                            <option th:each="acc : ${accounts}"
                                                                    th:value="${acc.accountNumber}"
                                                                    th:text="${acc.accountNumber}"></option>
                                                        </select><span class='req-inner'></span>
                                                    </p>
                                                    <p th:if="${#strings.equals(field.type.name(),'LIST')}">
                                                        <select class="form-control" th:name="${field.name}"
                                                                required="required">
                                                            <option th:each="type : ${fixedList}" th:value="${type}"
                                                                    th:text="${type}"></option>
                                                        </select><span class='req-inner'></span>
                                                    </p>

                                                </div>
                                            </div>

                                            <button style="margin-top:-20px !important" type="submit" class="btn btn-link required-step">Submit</button>
                                        </form>

                                    </div>


                                    <div class="col-md-4 col-sm-5 col-xs-12" style="margin-top:10px">
                                        <div  class=" related-box">
                                            <h3 class="related-bar">Related Information</h3>

                                            <p style="padding-left: 2%" th:each="code: ${codes}">
                                                <strong><span th:text="${code.description}"></span></strong><br/>
                                                <span th:if="${code.extraInfo!=null}" th:text="${code.extraInfo}"></span><br/><br/>
                                            </p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
</div>


<!--<th:block layout:fragment="scripts">-->
<!--    <script>-->
<!--        $('#reqForm').submit(function(event) {-->
<!--            var arrays = [];-->

<!--            var form = $('#reqForm').serializeArray();-->
<!--            var formData =  JSON.stringify(form);-->
<!--            $('#requestName').val(formData);-->
<!--            $('#submitform').submit();-->

<!--        });-->
<!--    </script>-->
<!--</th:block>-->

</body>
</html>