<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="corp_layout :: site-head">

</head>
<body>
<header th:replace="corp_layout :: corp-header">
</header>

<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Service Requests</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content-bg">
                <div class="row form-spacing">
                    <div class="col-md-6 col-sm-6">
                        <h5 class="page_header" th:text="${requestConfig.requestName}"></h5>
                        <form method="post" th:action="@{/corporate/requests}" th:object="${requestDTO}" id="reqForm">
                            <p><input class="form-control" type="hidden" id="requestName" name="requestName" th:value="${requestConfig.requestName}"/></p>
                            <input type="hidden" name="serviceReqConfigId" th:value="${requestConfig.id}"/>
                            <p th:each="field : ${requestConfig.formFields}">
                                <div class="form-group">
                                    <label th:text="${field.fieldLabel}"></label>

                                    <p th:if="${field.fieldType} == 'TEXT'"><input class="form-control" type="text" th:name="${field.fieldName}" required="required"/></p>

                                    <p th:if="${field.fieldType} == 'NUMBER'"><input class="form-control" type="number" th:name="${field.fieldName}" required="required"/></p>

                                    <p th:if="${field.fieldType} == 'TEXTAREA'">
                                        <textarea class="form-control" th:name="${field.fieldName}" required="required">
                                        </textarea>
                                    </p>

                                    <p th:if="${field.fieldType} == 'DATE'"><input class="form-control" id="datepicker" type="text" th:name="${field.fieldName}" required="required"/></p>

                                    <p th:if="${field.fieldType} == 'CODE'">
                                        <select class="form-control" th:name="${field.fieldName}" required="required">
                                            <option th:each="code : ${codes}" th:value="${code.code}" th:text="${code.description}"></option>
                                        </select>
                                    </p>

                                    <p th:if="${field.fieldType} == 'FI'">
                                        <select class="form-control" th:name="${field.fieldName}" required="required">
                                            <option th:each="bank : ${banks}" th:value="${bank.institutionCode}" th:text="${bank.institutionName}"></option>
                                        </select>
                                    </p>

                                    <p th:if="${field.fieldType} == 'ACCT'">
                                        <select class="form-control" th:name="${field.fieldName}" required="required">
                                            <option th:each="acc : ${accts}" th:value="${acc.accountNumber}" th:text="${acc.accountNumber}"></option>
                                        </select>
                                    </p>
                                    <p th:if="${field.fieldType} == 'LIST'">
                                        <select class="form-control" th:name="${field.fieldName}" required="required">
                                            <option th:each="type : ${fixedList}" th:value="${type}" th:text="${type}"></option>
                                        </select>
                                    </p>

                                </div>
                            </p>

                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div th:replace="corp_layout :: corp-sidebar" class="col-md-3">
            </div>
        </div>

        <form id="submitform" action="/corporate/requests" method="post">
            <input type="hidden" id="body" name="requestName"/>
        </form>
    </div>
</section>

<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="corp_layout :: corp-footer">
</footer>
<script>
    $( function() {
        $( "#datepicker" ).datepicker(
            { dateformat : 'dd/mm/yy'}
        );
    } );
</script>
<script>
    $('#reqForm').submit(function(event) {
//        event.preventDefault();
//        var formData = JSON.stringify($("#reqForm").serializeArray());
        var arrays = [];
//        $('.form-group').each(function(index, element){
//            var select = $(element).find('select');
//            arrays.push({"name": select.prop('name'), "value": select.prop("value")});
//        });
//
//        $('.form-group').each(function(index, element){
//            var input = $(element).find('input');
//            arrays.push({"name": input.prop('name'), "value": input.prop("value")});
//        });

//       var formData = $('#reqForm').serialize();
//
////        alert(arrays);
//


//        alert(formData);


        var form = $('#reqForm').serializeArray();
        var formData =  JSON.stringify(form);
        $('#requestName').val(formData);
        $('#submitform').submit();



//        var s = '';
//        var data = {};
//        for(s in form){
//            data[form[s]['name']] = form[s]['value']
//        }


//            var formData = {
//            requestName: $('#requestName').val(),
//            body: data
//        }

    });
</script>
</body>
</html>