<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

<body onload="currentBar('Service Requests')">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 ml-15 " >
        <div class="col-xs-11 no-pad-lef table-responsive no-mt no-bd  alert">
             <h5 class="page_header" th:text="${requestConfig.requestName}"></h5>
                        <form method="post" th:action="@{/corporate/requests}" th:object="${requestDTO}" id="reqForm">
                            <p><input class="form-control" type="hidden" id="requestName" name="requestName" th:value="${requestConfig.requestName}"/></p>
                            <input type="hidden" name="serviceReqConfigId" th:value="${requestConfig.id}"/>
                            <p th:each="field : ${requestConfig.formFields}">
                                <div class="form-group">
                                    <label th:inline="" th:text="${field.fieldLabel}"></label>

                                    <p th:if="${field.fieldType} == 'TEXT'"><input class="form-control" type="text" th:name="${field.fieldName}" required="required"/><span class='req-inner'></span></p>

                                    <p th:if="${field.fieldType} == 'NUMBER'"><input class="form-control" type="number" th:name="${field.fieldName}" required="required"/><span class='req-inner'></span></p>

                                    <p th:if="${field.fieldType} == 'TEXTAREA'">
                                        <textarea class="form-control" th:name="${field.fieldName}" required="required"><span class='req-inner'></span>
                                        </textarea>
                                    </p>

                                    <p th:if="${field.fieldType} == 'DATE'"><input class="form-control" id="datepicker" type="text" th:name="${field.fieldName}" required="required"/><span class='req-inner'></span></p>

                                    <p th:if="${field.fieldType} == 'CODE'">
                                        <select class="form-control" th:name="${field.fieldName}" required="required">
                                            <option th:each="code : ${codes}" th:value="${code.code}" th:text="${code.description}"></option>
                                        </select><span class='req-inner'></span>
                                    </p>

                                    <p th:if="${field.fieldType} == 'FI'">
                                        <select class="form-control" th:name="${field.fieldName}" required="required">
                                            <option th:each="bank : ${banks}" th:value="${bank.institutionCode}" th:text="${bank.institutionName}"></option>
                                        </select><span class='req-inner'></span>
                                    </p>

                                    <p th:if="${field.fieldType} == 'ACCT'">
                                        <select class="form-control" th:name="${field.fieldName}" required="required">
                                            <option th:each="acc : ${accts}" th:value="${acc.accountNumber}" th:text="${acc.accountNumber}"></option>
                                        </select><span class='req-inner'></span>
                                    </p>
                                    <p th:if="${field.fieldType} == 'LIST'">
                                        <select class="form-control" th:name="${field.fieldName}" required="required">
                                            <option th:each="type : ${fixedList}" th:value="${type}" th:text="${type}"></option>
                                        </select><span class='req-inner'></span>
                                    </p>
                                </div>
                            </p>

                            <button type="submit" class="btn btn-link required-step">Submit</button>
                        </form>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">
<script>
    $( function() {
        $( "#datepicker" ).datepicker(
            { dateformat : 'dd/mm/yy'}
        );
    } );
</script>
<script>
    $('#reqForm').submit(function(event) {
//        event.preventDefault();
//        var formData = JSON.stringify($("#reqForm").serializeArray());
        var arrays = [];
//        $('.form-group').each(function(index, element){
//            var select = $(element).find('select');
//            arrays.push({"name": select.prop('name'), "value": select.prop("value")});
//        });
//
//        $('.form-group').each(function(index, element){
//            var input = $(element).find('input');
//            arrays.push({"name": input.prop('name'), "value": input.prop("value")});
//        });

//       var formData = $('#reqForm').serialize();
//
////        alert(arrays);
//


//        alert(formData);


        var form = $('#reqForm').serializeArray();
        var formData =  JSON.stringify(form);
        $('#requestName').val(formData);
        $('#submitform').submit();



//        var s = '';
//        var data = {};
//        for(s in form){
//            data[form[s]['name']] = form[s]['value']
//        }


//            var formData = {
//            requestName: $('#requestName').val(),
//            body: data
//        }

    });
</script>
</th:block>

</body>
</html>