<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="corp_layout :: site-head">

</head>
<body>
<div class="container">
<header th:replace="corp_layout :: corp-header">
</header>

<section class="content-wrapper">
    <div class="">
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md-9 col-sm-9">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <p th:each="req : ${requestList}">
                        <li><a th:href="@{'/corporate/requests/'+ ${req.id}}" th:text="${req.requestName}"></a></li>
                        </p>
                    </div>
                    <div class="col-md-2 col-sm-2">

                    </div>
                </div>
            </div>
            <!--<div class="col-md-3 col-sm-3">-->
                <!--<div class="alert alert-warning">-->

                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</section>

<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="corp_layout :: corp-footer">
</footer>
</div>
</body>
</html>