<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

<body onload="javascript:var bread = [['Home', '/corporate/dashboard'],['service request']];currentBar('seervice request');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 " >
        <div class=" no-pad-lef table-responsive no-mt no-bd  alert" >
           <table class="table" id="track">
                            <thead>
                            <tr>
                                <th>Request Name</th>
                                <th>Request Date</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--<tr th:each="req : ${requests}">-->
                                <!--<td th:text="${req.requestName}"></td>-->
                                <!--<td th:text="${req.dateRequested}"></td>-->
                                <!--<td th:text="${req.requestStatus}"></td></tr>-->
                            </tbody>
            </table>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var url = "/corporate/requests/track/all";
        var table = $('#track').DataTable({
            select: true,
            responsive : false,
            "lengthMenu" : [ [ 5, 10 ], [ 5, 10 ] ],
            "pagingType" : "simple_numbers",
            "searching" : false,
            "paging" : true,
            "serverSide" : true,
            "ajax" : url,
            "dom" : 'T<"clear">flrtp',
            "columns" : [
                { "data": "requestName" },
                { "data": "date" },
                { "data": "requestStatus" }
            ]
        });
    });

    /*]]>*/
</script>
   
</th:block>

</body>
</html>