<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">
<!--    <property name="APP_BASEASE" value="/opt/tomcat/gtl"/>-->
    <property name="LOG_PATH" value="${APP_BASE}/logs/ibanking" />
    <property name="LOG_ARCHIVE" value="${LOG_PATH}/archive" />
    <timestamp key="timestamp" datePattern="yyyy-MM-dd'T'HHmm"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_BASE}/logs/application-${timestamp}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${APP_BASE}/logs/archive/application-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 10MB, keep 90 days worth of history, but at most 2GB -->
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>90</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>



    <logger level="debug" name="longbridge" additivity="false">
        <appender-ref ref="File" />
        <appender-ref ref="Console" />
    </logger>

    <logger level="error" name="org.springframework.batch.core" additivity="false">
        <appender-ref ref="File" />
        <appender-ref ref="Console" />
    </logger>

    <logger level="debug" name="longbridge.services.bulkTransfers.TransferStatusReader" additivity="false">
        <appender-ref ref="File" />
        <appender-ref ref="Console" />
    </logger>


    <root level="info">
        <appender-ref ref="File" />
        <appender-ref ref="Console" />
    </root>
</configuration>