<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<header th:replace="cust_layout :: header">
</header>

<section class="content-wrapper">
    <div class="container conts">
        <div class="wrapper wrapper-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content mailbox-content">
                                <div class="margin-bottoms"></div>
                                <div class="file-manager">
                                    <a class="btn btn-block btn-primary compose-mail" th:href="@{/corporate/mailbox/compose}">Compose Mail</a>
                                    <div class="margin-bottoms"></div>
                                    <ul class="folder-list">
                                        <li><a th:href="@{/corporate/mailbox/inbox}"> <i class="fa fa-inbox "></i> Inbox </a></li>
                                        <li><a th:href="@{/corporate/mailbox/sentmail}"> <i class="fa fa-sign-out"></i> Sent Mail</a></li>
                                        <li><a th:href="@{/corporate/mailbox/draft}"> <i class="fa fa-file-text-o"></i> Drafts </a></li>
                                        <li><a th:href="@{/corporate/mailbox/trash}"> <i class="fa fa-trash-o"></i> Trash</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 animated fadeInRight">
                        <div class="contain">
                            <div class="margin-bottom"></div>
                            <div class="mail-box-header">
                                <h2 class="in-box">
                                    Inbox
                                </h2>
                                <div class="mail-tools tooltip-demo m-t-md faz">
                                    <button class="btn-success btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox"><i class="fa fa-refresh"></i> Refresh</button>
                                    <button class="btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye" th:action="@{/corporate/mailbox/trash}"></i> </button>
                                    <button class="btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash" th:action="@{/corporate/mailbox/inbox}"><i class="fa fa-trash-o"></i> </button>
                                </div>
                            </div>
                            <div class="margin-bottoms"></div>
                            <div class="mail-box">
                                <table class="table table-hover table-mail">
                                    <tbody>
                                    <tr th:each="message: ${receivedMessages}" class="unread">
                                        <td class="mail-ontact" th:text="${message.sender}"></td>
                                        <td class="mail-subject"><a th:href="@{/corporate/mailbox/inbox/{id}/message(id=${message.id})}" th:text="${message.subject}">Placeholder text</a></td>
                                        <td class="text-right mail-date" th:text="${message.createdOn}">6.10 AM</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
</body>
</html>