<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>



<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <div th:replace="layout :: admin-menu"></div>
                <div th:replace="layout :: menu-footer-adm"></div>

            </div>
        </div>
        <div th:replace="layout :: top-nav"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Quickteller Payments</h3>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">


                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2 th:text="${categoryname.categoryName}"></h2>

                                                <div class="clearfix"></div>
                                            </div>

                                            <div class="x_content">



                                                <div class="col-md-6 col-sm-6 col-xs-12">

                                                    <div class="col-lg-4">
                                                            <div class="title-action">
                                                                <button  class="btn btn-sm btn-primary" type="button" onclick="updateBillersInCategory()"><i class="fa fa-plus"></i> Refresh billers</button>
                                                            </div>
                                                    </div>


                                                            <div class="col-lg-4">
                                                                <div class="title-action">
                                                                    <a id="checkBiller"  class="btn btn-primary btn-sm bt-select bt-link-act" href="/admin/billers/index/getpaymentitems" disabled="disabled" ><i class="fa fa-pencil"></i> View biller</a>
                                                                </div>
                                                            </div>

<!--                                                    <fieldset>-->

<!--                                                        <div class="form-group">-->

<!--                                                            <div>-->
<!--                                                                <label>Category</label>-->
<!--                                                                <input class="form-control col-md-7 col-xs-12" name="codeType" th:value="${categoryname.categoryName}" disabled="disabled"/>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </fieldset>-->

                                                </div>









                                                    <ul class="nav navbar-right panel_toolbox col-lg-4 pull-right">

                                                    <li class="pull-right" >
                                                        <div class="input-group col-lg-12">
                                                            <input type="text" class="form-control" id="pattern" placeholder="Search for biller..."/> <span
                                                                class="input-group-btn">
										<button class="btn btn-success" id="search" type="button">Go!</button>
									</span>
                                                        </div>
                                                    </li>

                                                </ul>

                                                <div class="row">


                                                    <div class="x_content">

                                                        <table class="table table-striped table-bordered table-hover" id="myDataTable">
                                                            <thead>
                                                            <tr>

                                                                <th>BILLER</th>
                                                                <th>Short-name</th>
                                                                <th>Support-email</th>
                                                                <th>Product-id (Paydirect)</th>
                                                                <th>Institution-id (Paydirect)</th>
                                                                <th>Surcharge</th>
                                                                <th>Currency</th>
                                                                <th>Enable</th>

                                                            </tr>
                                                            </thead>
                                                            <tbody>

                                                            <!--                                                                            <tr th:each="item : ${paymentitems}">-->
                                                            <!--                                                                                <td th:text="${item.paymentItemName}"></td>-->
                                                            <!--                                                                                <td class="dt-body-center" th:text="${item.amount}"></td>-->
                                                            <!--                                                                                <td> <input type="checkbox" class="js-switch"  id="enabled"></td>-->
                                                            <!--                                                                            </tr>-->


                                                            </tbody>
                                                            <tfoot>
                                                            <tr>

                                                            </tr>
                                                            </tfoot>
                                                        </table>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>



                                    </div>


                                    <div>
                                        <div class="title-action" style="text-align: right;">
                                            <a id=""  class="btn btn-dark" href="/admin/billers" ><i class="fa fa-angle-left"></i> Back</a>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>




        </div>
    </div>



    <!-- footer content -->
    <footer th:replace="layout :: footer">
    </footer>
    <!-- /footer content -->
</div>
</div>


<script th:src="@{~/bank/vendors/datatables.net/js/jquery.dataTables.js}"></script>
<script th:src="@{~/bank/js/dataTables.select.js}"></script>
<script th:src="@{~/bank/js/dataTables.bootstrap.js}"></script>
<script th:src="@{~/bank/js/jquery.spring-friendly.min.js}"></script>



<script>


    function showNotification(message , type){
        $.notify({
            // options
            message: message
        },{
            // settings
            type: type
        });
    }




    function updateBillersInCategory() {
        $.ajax({
            type: "POST",
            url: "/admin/billers/updateBillersInCategory",
            data: { }, // parameters
            success :
                function(response) {
                    console.log(response);
                    showNotification(response, "success");
                    setTimeout(function () {
                        location.reload();
                    },2000)
                },
            error:
                function (response) {
                    console.log(response.responseText);
                    showNotification(response.responseText, "danger");
                }

        })

    }

    $(document).ready(function() {
        var table = $('#myDataTable').DataTable({
            select:true,
            responsive: true,
            "lengthMenu" : [ [ 10, 20, 30,-1],	[ 10, 20, 30,"All" ] ],
            "pagingType" : "simple_numbers",
            "searching": false,
            "paging": true,
            "processing" : true,
            "serverSide" : true,
            "ajax" : {
                url: "/admin/billers/categorybillers",
                "type" : "POST",
                "data" : function(d) {
                    d.csearch = $('#pattern').val();
                }
            },
            "dom": 'T<"clear">frtlp',
            "drawCallback": function( settings ) {
                var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
                elems.forEach(function(html) {
                    var switchery = new Switchery(html, { size: 'small' ,color: '#2A3F54'});
                });
            },
            "columns": [
                {"data":"billerName"},
                {"data":"shortname"},
                {"data":"supportemail"},
                {"data":"paydirectProductId"},
                {"data":"paydirectInstitutionId"},
                {"data":"surcharge"},
                {"data":"currencySymbol"},
                { "data": "enabled" }
            ] ,

            "columnDefs" : [ {
                "targets" : 7,
                "data" : "enabled",
                "render" : function(data, type,full, meta) {
                    if (type === 'display') {
                        if (data == true) {
                            return "<input type='checkbox' data-id='"+full.id+"'  data-pk='"+full.categoryid+"' data-name='"+full.categoryName+"'   data-switchery='true' class='js-switch' checked data-value='"+full.enabled+"'/>";
                        } else if (data == false) {
                            return "<input type='checkbox' data-id='"+full.id+"' data-pk='"+full.categoryid+"' data-name='"+full.categoryName+"'   data-switchery='true' class='js-switch'  data-value='"+full.enabled+"'/>";
                        }
                    }
                    return data;
                }
            }]

        });

        table.on('select', function() {
            if (table.rows({
                selected : true
            }).indexes().length === 0) {
                $('.bt-select').attr("disabled", true);
            } else {
                $('.bt-select').removeAttr("disabled");
            }

        });


        table.on('deselect', function() {
            if (table.rows({
                selected : true
            }).indexes().length === 0) {
                $('.bt-select').attr("disabled", true);
            } else {
                $('.bt-select').removeAttr("disabled");
            }
        });

    });


    $(document).on("change","input[type=checkbox]", function(e) {
        var cb = $(e.currentTarget);
        var op = cb.val();
        var dataId = cb.attr("data-id");
        var id = cb.attr("data-pk");
        var name = cb.attr("data-name");
        var category = cb.attr("data-category");
        var value = cb.attr("data-value");


        $.ajax({
            type: "POST",
            url: "/admin/billers/enableordisablebiller",
            data: {id: dataId, value: value} // parameters

        });


    });

    $("a.bt-link-act").on("click", function(e) {
        e.preventDefault();
        var link = $(e.currentTarget);
        if($(link).attr("disabled")){
            return;
        }
        var dt = $('#myDataTable').DataTable();
        var id = dt.row({selected: true}).data().id;
        // console.log(allDate);
        // var id = $(dt.row({selected: true}).node()).attr("id");
        console.log(id);
        // alert("WE GOT HERE");
        //window.location.href = link.attr("formaction") + '?id=' + id;
        //replace {id} with id
        var ooo = link.attr("href").replace("index",id);
        window.location.assign(ooo);
    });




    $("#search").on("click", function(e) {
        e.preventDefault();
        dt = $('#myDataTable').DataTable();
        dt.ajax.reload(null, true);

    });
</script>



</body>
</html>
