<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>



<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <div th:replace="layout :: admin-menu"></div>
                <div th:replace="layout :: menu-footer-adm"></div>

            </div>
        </div>
        <div th:replace="layout :: top-nav"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Quickteller Payments</h3>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">


                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2 th:text="${biller.billerName}"></h2>

                                                <div class="clearfix"></div>
                                            </div>

                                            <div class="x_content">


<!--                                                        <div class="panel-body">-->

<!--                                                                <div class="form-group">-->


<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                            <form th:object="${biller}">-->
<!--                                                                <div class="form-group col-lg-6">-->
<!--                                                                    <label>Biller-Name</label>-->
<!--                                                                    <input class="form-control" type="text" th:field="*{billerName}"/>-->
<!--                                                                </div>-->


<!--                                                                <div class="form-group col-lg-6">-->
<!--                                                                    <label>Category</label>-->
<!--                                                                    <input class="form-control" type="text" th:field="*{categoryName}"/>-->
<!--                                                                </div>-->

<!--                                                            </form>-->

                                                <ul class="nav navbar-left panel_toolbox">

                                                    <li >
                                                        <div class="col-lg-4">
                                                            <div class="title-action">
                                                                <button  class="btn btn-sm btn-primary" type="button" onclick="updateItems()"><i class="fa fa-plus"></i> Refresh biller</button>
                                                            </div>
                                                        </div>
                                                    </li>


                                                </ul>

                                                <br/>

<!--                                                <fieldset>-->
<!--                                                    <div class="form-group">-->

<!--                                                        <div class="col-md-4 col-sm-6 col-xs-12">-->
<!--                                                            <label>Biller</label>-->
<!--                                                            <input class="form-control col-md-7 col-xs-12" name="codeType" th:value="${biller.billerName}" disabled="disabled"/>-->
<!--                                                        </div>-->
<!--                                                    </div>-->

<!--                                                </fieldset>-->
                                                <br/>
                                                <br/>
                                                <form method="post" class="form-horizontal">

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Category</label>

                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" th:field="*{biller.categoryName}" readonly="readonly"/>
                                                            <!--<p th:if="${#fields.hasErrors('*')}" th:errors="*{lastName}">Last Name Error</p>-->

                                                        </div>

                                                    </div>


                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Support-Email</label>

                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" th:field="*{biller.supportemail}" readonly="readonly"/>
                                                        </div>


                                                    </div>


                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Short-Name</label>

                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" th:field="*{biller.shortname}" readonly="readonly"/>
                                                        </div>

                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Product-Id (PayDirect)</label>

                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" th:field="*{biller.paydirectProductId}" readonly="readonly"/>
                                                        </div>

                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Institution-Id (PayDirect)</label>

                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" th:field="*{biller.paydirectInstitutionId}" readonly="readonly"/>
                                                        </div>

                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Currency-Code</label>

                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" th:field="*{biller.currencyCode}" readonly="readonly"/>
                                                        </div>

                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Narration</label>

                                                        <div class="col-sm-6">
                                                            <textarea type="text" class="form-control" th:field="*{biller.narration}" readonly="readonly"/>
                                                        </div>

                                                    </div>


                                                </form>

                                            <br/>
                                                <br/>
                                                                <div class="row">


                                                                    <div class="x_content">

                                                                        <table class="table table-striped table-bordered table-hover" id="myDataTable">
                                                                            <thead>
                                                                            <tr>

                                                                                <th>Item</th>
                                                                                <th>Amount</th>
                                                                                <th>Payment-code</th>
                                                                                <th>Amount-Fixed</th>
                                                                                <th>Enabled</th>



                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>

<!--                                                                            <tr th:each="item : ${paymentitems}">-->
<!--                                                                                <td th:text="${item.paymentItemName}"></td>-->
<!--                                                                                <td class="dt-body-center" th:text="${item.amount}"></td>-->
<!--                                                                                <td> <input type="checkbox" class="js-switch"  id="enabled"></td>-->
<!--                                                                            </tr>-->


                                                                            </tbody>
                                                                            <tfoot>
                                                                            <tr>

                                                                            </tr>
                                                                            </tfoot>
                                                                        </table>

                                                                    </div>
                                                                </div>

                                            </div>

                                                                    </div>



                                                        </div>

                                    <input type="hidden" th:value="${rowid}"  id="getbillerrowid">
                                    <div>
                                        <div class="title-action" style="text-align: right;">
                                            <a  class="btn btn-dark btn-sm bt-select bt-link-act" href="/admin/billers/index/backtobillers" ><i class="fa fa-angle-left"></i> Back</a>
                                        </div>
                                    </div>


                                                    </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </div>

            </div>
        </div>



        <!-- footer content -->
        <footer th:replace="layout :: footer">
        </footer>
        <!-- /footer content -->
    </div>
</div>


<script th:src="@{~/bank/vendors/datatables.net/js/jquery.dataTables.js}"></script>
<script th:src="@{~/bank/js/dataTables.select.js}"></script>
<script th:src="@{~/bank/js/dataTables.bootstrap.js}"></script>
<script th:src="@{~/bank/js/jquery.spring-friendly.min.js}"></script>



<script>


    function showNotification(message , type){
        $.notify({
            // options
            message: message
        },{
            // settings
            type: type
        });
    }


    $.ajax({
        type: "GET",
        url: "/admin/billers/paymentitems",
        success :
            function(response) {
                $('#myDataTable').DataTable({
                    responsive: true,
                    "data":response,
                    "paging": true,
                    "searching": false,
                    "processing" : true,
                    "dom": 'T<"clear">frtlp',
                    "columns": [
                                 {"data":"paymentItemName"},
                                 { "data": "amount" },
                                 { "data": "paymentCode" },
                                  { "data": "isAmountFixed" },
                                 { "data": "enabled" },

                             ],
                    "columnDefs" : [ {
                        "targets" : 4,
                        "data" : "enabled",
                        "render" : function(data, type,full, meta) {
                            if (type === 'display') {
                                if (data == true) {
                                    return "<input type='checkbox' name='enabledValue' data-id='"+full.id+"'  data-pk='"+full.billerId+"' data-name='"+full.paymentItemName+"' data-category='"+full.paymentItemId+"'  data-switchery='true' class='js-switch' checked data-value='"+full.enabled+"'/>";
                                } else if (data == false) {
                                    return "<input type='checkbox' name='enabledValue' data-id='"+full.id+"' data-pk='"+full.billerId+"' data-name='"+full.paymentItemName+"' data-category='"+full.paymentItemId+"'   data-switchery='true' class='js-switch'  data-value='"+full.enabled+"'/>";
                                }
                            }
                            return data;
                        }
                    },
                        {
                            "targets" : 3,
                            "data" : "isAmountFixed",
                            "render" : function(data, type,full, meta) {
                                if (type === 'display') {
                                    if (data == true) {
                                        return "<div  class='badge' > true</div>";
                                    } else if (data == false) {
                                        return "<div  class='customizebadge' > false</div>";
                                    }
                                }
                                return data;
                            }
                        }
                    ]

                })
                 var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
                elems.forEach(function(html) {
                    var switchery = new Switchery(html, { size: 'small' ,color: '#2A3F54'});
                });
            },
        error:
            function (response) {
                console.log(response.responseText);
                showNotification(response.responseText, "danger");
            }

    })


    $(document).on("change","input[name=readonly]",function (e) {
        var cb = $(e.currentTarget);
        var op = cb.val();
        var dataId = cb.attr("data-id");
        var value = cb.attr("data-value");
        console.log(value);

        $.ajax({
            type: "POST",
            url: "/admin/billers/assignreadonly",
            data: {id: dataId, value: value} // parameters

        });

    });



    $(document).on("change","input[name=enabledValue]", function(e) {
        var cb = $(e.currentTarget);
        var op = cb.val();
        var dataId = cb.attr("data-id");
        var id = cb.attr("data-pk");
        var name = cb.attr("data-name");
        var category = cb.attr("data-category");
        var value = cb.attr("data-value");

            $.ajax({
                type: "POST",
                url: "/admin/billers/enableordisablepaymentitem",
                data: {id: dataId, value: value} // parameters

            });


        });

    
    function updateItems() {


        $.ajax({
            type: "POST",
            url: "/admin/billers/updatepaymentitems",
            data: { }, // parameters
            success :
                function(response) {
                    console.log(response);
                    showNotification(response, "success");
                    setTimeout(function () {
                        location.reload();
                    },2000)
                },
            error:
                function (response) {
                    console.log(response.responseText);
                    showNotification(response.responseText, "danger");
                }

        })
        
    }


    $("a.bt-link-act").on("click", function(e) {
        e.preventDefault();
        var link = $(e.currentTarget);
        if($(link).attr("disabled")){
            return;
        }

        var id = $("#getbillerrowid").val();
        console.log(id);
        var ooo = link.attr("href").replace("index",id);
        window.location.assign(ooo);
    });


</script>



</body>
</html>
