<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="javascript:var bread = [['Home', '/retail/dashboard'],['Recurring Bill Payment']];currentBar('Recurring Payments');breadCrumb(bread)">

<div layout:fragment="content">
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content no-bd-rad tokenBox" id="tokenmodal">
                <form id="myForm" name="myForm" th:action="@{/retail/recurringpayment/authenticate}" method="POST" >
                    <input type="hidden" id="myID" name="id"/>
                    <div class="modal-body no-bd-rad">
                        <h3 class="tokenHeader"><span class='text-danger'>Delete Recurring Payment</span>, <span th:text="*{username}" style="text-transform: capitalize">Tolu</span></h3>
                        <div class="margin-bottom">
                            <p style="margin-bottom:20px">Enter token to confirm standing order delete</p>
                            <div id="username_div">
                                <input style="width: 100%!important;"  type="text" id="token" required name="token" class='form-control tokenInput' placeholder="Token Code" autocomplete="off"/>
                            </div>
                            <!--<div id='errorMess' class=" text-danger "></div>-->
                            <!--<div id='successMess' class=" text-success "></div>-->
                        </div>
                        <div >
                            <p>Click YES to confirm and NO to abort.</p>
                        </div>

                    </div>
                    <div class="modal-footer no-bd-top ">
                        <input type='submit' class="btn btn-link token-btn required-step" value='YES'/>
                        <input type='submit' class="btn btn-link less-required token-btn" id="submitNo" data-dismiss="modal" value='NO'/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 ">
        <a th:href="@{/retail/recurringpayment/add}" class="pull-right extra-link btn btn-default">New Recurring Payment</a>

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 " >
        <div class="no-pad-left no-mt  alert no-bd">

            <div class="col-md-12 col-sm-12 no-pad-left no-pad-right  table-responsive">
                <table class="table table-bordered table-hover" id="mytab">
                    <thead>
                    <tr>
                        <th>Category</th>
                        <th>Biller</th>
                        <th>Payment Item</th>
                        <th>Source Account</th>
                        <th>Amount</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Freq.(days)</th>
                        <th>Payments</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>

                </table>
            </div>

        </div>
    </div>

</div>


<th:block layout:fragment="scripts">
    <script th:src="@{~/bank/vendors/sweetalert/sweetalert.min.js}"></script>
    <script th:src="@{~/bank/js/jquery.spring-friendly.min.js}"></script>
    <script th:src="@{~/customer/js/jquery.dataTables.js}"></script>
    <script th:src="@{~/customer/js/dataTables.input.js}"></script>
    <script th:src="@{~/bank/vendors/bootstrap-dialog/js/bootstrap-dialog.js}"></script>
    <script th:src="@{~/bank/js/momentMin.js}"></script>





    <!-- Page-Level Scripts -->

    <script th:inline="javascript">
        $(document).ready(function() {
            /*<![CDATA[*/
            var table = $('#mytab').DataTable({
                select:true,
                responsive: true,
                paging:true,
                "lengthMenu" : [ [ 5, 10, 20,-1 ],	[ 5, 10, 20, "All" ] ],
                "pagingType": "simple_numbers",
                "searching": false,
                // "paging": true,
                //"processing": true,
                "serverSide": true,
                "ajax": {
                    url: "/retail/recurringpayment/all",
                    "type" : "GET",
                },
                "dom": 'T<"clear">frtlp',
                columns: [
                    {"data": "categoryName"},
                    {"data": "billerName"},
                    {"data": "paymentItemName"},
                    {"data": "customerAccountNumber"},
                    {"data": "amount"},
                    {"data": "startDate"},
                    {"data": "endDate"},
                    {"data": "intervalDays"},
                    {"data": "id"}
                ],
                "columnDefs":[
                    {
                        "targets":5,
                        "data" :"startDate",
                        "render":function(data,type){
                            if(type==="display"){
                                return moment(new Date(data)).format("DD-MM-YYYY");
                            }
                        }
                    },
                    {
                        "targets":6,
                        "data" :"endDate",
                        "render":function(data,type){
                            if(type==="display"){
                                return moment(new Date(data)).format("DD-MM-YYYY");
                            }
                        }
                    },
                    {
                        "targets":8,
                        "data":"id",
                        "render":function(data){
                            return '<a href="/retail/recurringpayment/payments/' + data+'">View payments</a>';
                        }
                    },
                    {
                        "targets":9,
                        "data":"id",
                        "render":function(data){
                            return '<a onclick="validateDel('+data+')"><i class="fa fa-trash"></i></a>';
                        }
                    }
                ],
                "language": {
                    "emptyTable": "No Standing order to view"
                }
            });
            /*]]>*/
        });
    </script>

    <script>
        /*<![CDATA[*/

        function validateDel(id) {
            $("#myModal").modal('show');
            $('#myID').val(id);
            $(document).ready(function() {
                $("#submitNo").click(function() {
                    $('#token','#myForm').val("");
                });
            });
        }



        function warnBeforeRedirect(id) {
            $("#myModal").modal('show');
            $('.del').on('click', function(){
                window.location.assign(ooo);
            });

        }


        /*]]>*/
    </script>

</th:block>




</body>
</html>