
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="javascript:var bread = [['Home', '/retail/dashboard'],['transfer summary']];currentBar('transfer summary');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 ml-15 " >
        <div class="col-xs-12 no-pad-lef alert  no-bd">
           <div class="col-sm-offset-3  col-sm-6">


               
                    <table class="table">
                        <tr class="top-row">

                            <th>Source account</th>
                            <td th:text="${transferRequest.customerAccountNumber}"></td>

                        </tr>
                        <tr>

                            <th>Destination account</th>
                            <td th:text="${transferRequest.beneficiaryAccountNumber}"></td>

                        </tr>
                        <tr>

                            <th>Destination account owner</th>
                            <td th:text="${transferRequest.beneficiaryAccountName}"></td>

                        </tr>
                        <tr>

                            <th>Amount</th>
                            <td th:text="${transferRequest.amount}"></td>

                        </tr>
                        <tr>

                            <th>Remarks</th>
                            <td th:text="${transferRequest.remarks}"></td>

                        </tr>
                    </table>


                    <form method="post" th:action="@{/retail/transfer/process}" th:object="${transferRequest}">

                        <input type="hidden" th:field="*{customerAccountNumber}"/>
                        <input type="hidden" th:field="*{beneficiaryAccountNumber}"/>
                        <input type="hidden" th:field="*{beneficiaryAccountName}"/>
                        <input type="hidden" th:field="*{amount}"/>
                        <input type="hidden" th:field="*{remarks}"/>
                        <div class="form-group">
                            <label>Token *</label>
                            <input type="text" name="token" placeholder="" class="form-control full-width" required="required"/>
                            <br/>
                            <div class="form-group no-pad-left">
                                <button type="submit" class="btn btn-link required-step">Proceed</button>
                                <button type="button" onclick="redirectFunc('/retail/transfer/')" class="btn btn-link less-required">Cancel</button>
                            </div>


                        </div>
                    </form>
                    <!--</div>-->
                      
                 
           
           </div>
        </div>
    </div>

</div>

</div>


<th:block layout:fragment="scripts">
 <script th:src="@{~/customer/js/accountdetails.js}"></script>
    <script>
         function edit(){
             $("#form_edit").submit();
         }
         function cancel(){
           window.location.href="/retail/transfer/local";
         }


         function redirectFunc(arg)
{
    window.location.href = arg;
}

    </script>
</th:block>

</body>
</html>

