<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<div class="container">
    <header th:replace="cust_layout :: header">
    </header>

<section class="content-wrapper">
    <div class="containe">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> New  Beneficiary</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content-bg">
                <div class="row form-spacing">
                    <!--<div class="col-md-6 col-sm-6">-->


                    <table>
                        <tr>

                            <th>Beneficiary Bank</th>
                            <td th:text="${beneficiary.beneficiaryBank}"></td>

                        </tr>
                        <tr>

                            <th>Beneficiary account</th>
                            <td th:text="${beneficiary.accountNumber}"></td>

                        </tr>
                        <tr>

                            <th>Beneficiary name</th>
                            <td th:text="${beneficiary.accountName}"></td>

                        </tr>
                        <tr>

                            <th>Beneficiary Alias</th>
                            <td th:text="${beneficiary.preferredName}"></td>

                        </tr>

                    </table>


                    <div class="form-group">

                        <a th:href="@{/retail/transfer/newbeneficiary}" class="btn btn-link" >Save</a>

                        <a th:href="@{/retail/dashboard}" class="btn btn-link"  >Skip</a>
                    </div>
                    <!--</div>-->
                </div>
            </div>

        </div>
    </div>
</section>


<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
</div>
</body>
</html>