<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<div class="container">
    <header th:replace="cust_layout :: header">
    </header>

<section class="content-wrapper">
    <div class="containe">

        <div class="row">

            <div class="col-md-4 col-sm-4" layout:fragment="transferheader">
                <h5 class="page_header"> Transfer to <span th:text="${beneficiary.preferredName}"></span></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content-bg">
                <div class="row form-spacing">
                    <div class="col-md-6 col-sm-6">
                        <div class="row form-spacing" layout:fragment="transferform">

                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="cust_layout :: sidebar" class="col-md-3 sidebar">
            </div>
        </div>
    </div>
</section>


<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
<script th:src="@{~/customer/js/accountdetails.js}"></script>
</div>
</body>

</html>