<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="javascript:var bread = [['Home', '/retail/dashboard'],['','']];currentBar('Sucessful transfer');breadCrumb(bread)">

<div>
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 ml-15 " >
        <div class="col-xs-12 no-pad-lef alert  no-bd">
           <div class="col-sm-offset-3  col-sm-6 table-responsive">


               
                        <table class="table table-hover center text-center">
                            <tbody class="tab">
                             <tr>

                                <th>Source account</th>
                                <td th:text="${transRequest.customerAccountNumber}"></td>

                            </tr>
                            <tr>

                                <th>Destination account</th>
                                <td th:text="${transRequest.beneficiaryAccountNumber}"></td>

                            </tr>
                            <tr>

                                <th>Amount</th>
                                <td th:text="${transRequest.amount}"></td>

                            </tr>
                            <tr>

                                <th>Remarks</th>
                                <td th:text="${transRequest.remarks}"></td>

                            </tr>
                            </tbody>
                        </table>


                                <div class="form-group col-xs-12 text-center no-pad-left no-pad-right">


                                    <a class="btn btn-link required-step my-buttons" target="_blank" th:href="@{'/retail/transfer/' + ${transRequest.id} +'/receipt'}" >Receipt</a>

                                    <a class="btn btn-link less-required my-buttons" th:href="@{/retail/dashboard}" >Home</a>
                                    <a class="btn btn-link less-required my-buttons" th:href="@{/retail/transfer/}" >Make another transfer</a>
                                </div>
  
                 
           
           </div>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">
 
</th:block>

</body>
</html>