<!DOCTYPE html>
`<html xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

<body onload="javascript:var bread = [['Home', '/corporate/dashboard'],['Recurring Bill Payment']];currentBar('Recurring Bill Payment Summary');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">
        <!--<a th:href="@{/retail/transfer/local/new}" class="pull-right extra-link btn btn-default">New Beneficiary</a>-->

        <!-- <select class="form-control full-width bank-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select> -->
    </div>

    <div class="col-xs-12 ml-15  no-pad-right" >
        <div class="col-xs-12 no-pad-lef alert no-bd">
            <div class="col-sm-offset-3  col-sm-6">
                <!--<div class="row form-spacing">-->
                <div class="">



                    <table class="table table-hover center ">
                        <tr class="top-row">

                            <th>Debit account</th>
                            <td th:text="${recurringPaymentDTO.customerAccountNumber}"></td>

                        </tr>
                        <tr>

                            <th>Category</th>
                            <td th:text="${recurringPaymentDTO.categoryName}"></td>

                        </tr>
                        <tr>

                            <th>Biller</th>
                            <td th:text="${recurringPaymentDTO.billerName}"></td>

                        </tr>
                        <tr>

                            <th>Payment Item</th>
                            <td th:text="${recurringPaymentDTO.paymentItemName}"></td>

                        </tr>
                        <tr>

                            <th>Price</th>
                            <td th:text="${#numbers.formatDecimal(recurringPaymentDTO.amount, 1, 'COMMA', 2, 'POINT')}"></td>

                        </tr>

                            <input th:hidden="${recurringPaymentDTO.paymentCode}"/>

                        <tr>

                            <th>Naration</th>
                            <td th:text="${recurringPaymentDTO.narration}"></td>

                        </tr>
                        <tr>

                            <th>Start Date</th>
                            <td th:text="${recurringPaymentDTO.start}"></td>

                        </tr><tr>


                            <th>End date</th>
                            <td th:text="${recurringPaymentDTO.end}"></td>

                        </tr><tr>
                            <th>Interval</th>
                            <td th:text="${recurringPaymentDTO.intervalDays}"></td>

                        </tr>
                        <tr>

                            <th>Phone Number</th>
                            <td th:text="${recurringPaymentDTO.phoneNumber}"></td>

                        </tr>
                        <tr>

                            <th>Email Address</th>
                            <td th:text="${recurringPaymentDTO.emailAddress}"></td>

                        </tr>

                    </table>

                    <form method="post" th:action="@{/corporate/recurringpayment}" th:object="${recurringPaymentDTO}">
                        <input type="hidden" th:field="*{customerAccountNumber}"/>
                        <input type="hidden" th:field="*{categoryName}"/>
                        <input type="hidden" th:field="*{billerName}"/>
                        <input type="hidden" th:field="*{paymentItemName}"/>
                        <input type="hidden" th:field="*{amount}"/>
                        <input type="hidden" th:field="*{narration}"/>
                        <input type="hidden" th:field="*{start}"/>
                        <input type="hidden" th:field="*{end}"/>
                        <input type="hidden" th:field="*{intervalDays}"/>
                        <input type="hidden" th:field="*{phoneNumber}"/>
                        <input type="hidden" th:field="*{emailAddress}"/>
                        <input type="hidden" th:field="*{paymentCode}"/>
                        <div class="form-group">
                            <div class="form-group">
                                <button type="submit" class="btn btn-link required-step useloader">Proceed</button>
                                <button id="cancel"  class='btn btn-link less-required'>Cancel</button>
                                <!--<button type='button' class='btn btn-link less-required'>Modify</button>-->
                            </div>


                        </div>

                    </form>


                </div>
            </div>


        </div>
    </div>
</div>



<th:block layout:fragment="scripts">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/




        /*]]>*/
    </script>

    <script>
        $("#cancel").on('click',function(e){
            e.preventDefault();
            location.href="/corporate/recurringpayment/add";
        });

        //datepicker
    </script>
</th:block>

</body>
</html>