<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="corp_layout :: site-head">

</head>
<body>
<div class="container">
<header th:replace="corp_layout :: corp-header">
</header>

<section class="content-wrapper">
    <div class="">
        <div class="row">
            <div class="col-md col-sm">
                <div class=" col-sm-4 page_header">
                    <h5 > Beneficiary List</h5>
                    <select class="form-control invisible">
                        <option value="account">Account Overview</option>
                    </select>
                </div>
                <div class='col-sm-5' style='margin-top:80px;'>

                    <a th:href="@{/corporate/beneficiary/new}" class="pull-right">Add New Beneficiary</a>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 content-bg">
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <h4 class="sub_header">Local Beneficiaries</h4>
                        <table class="table">
                            <thead>
                            <td>Name</td>
                            <td>Account Number</td>
                            <td>Bank</td>
                            <td>Delete</td>
                            </thead>
                            <tbody>
                            <tr th:each="loc : ${localBen}">
                                <td th:text="${loc.accountName}"></td>
                                <td th:text="${loc.accountNumber}"></td>
                                <td th:text="${loc.beneficiaryBank}"></td>
                                <td><a th:href="@{'/corporate/beneficiary/' + ${loc.id} + '/loc/delete'}"><i class="fa fa-trash"></i></a></td>
                            </tr>
                            </tbody>
                        </table>

                        <h4 class="sub_header">International Beneficiaries</h4>
                        <table class="table">
                            <thead>
                            <td>Name</td>
                            <td>Account Number</td>
                            <td>Bank</td>
                            <td>Delete</td>
                            </thead>
                            <tbody>
                            <tr th:each="int : ${intBen}">
                                <td th:text="${int.accountName}"></td>
                                <td th:text="${int.accountNumber}"></td>
                                <td th:text="${int.beneficiaryBank}"></td>
                                <td><a th:href="@{'/corporate/beneficiary/' + ${int.id} + '/int/delete'}"><i class="fa fa-trash"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pull-right " >
                <div th:replace="cust_layout :: sidebar" class="" >
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="corp_layout :: corp-footer">
</footer>
</div>
</body>
</html>