<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- BEGIN PAGE LEVEL STYLES -->

    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/jquery-ui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/custom.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/calendar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/select.bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/font-awesome/font-awesome.min.css}"/>

    <title>Password Reset</title>
</head>
<body>

<header class="header">
    <div class="container">
        <div class="top_bar">
            <ul class="list_group">
                <li><a href="#"> CORONATION MERCHANT BANK</a></li>
            </ul>
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">MENU</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" data-toggle="collapse" data-target="#navbar-collapse-1">Menu</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">HOME</a></li>
                        <li><a href="/">CONTACT US</a></li>
                        <li><a href="/">HELP</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <a href="#" class="logo">
            <img th:src="@{~/customer/img/cmb_logo.png}" alt="Coronation Merchant Bank" />
        </a>
    </div>
</header>
<br/>
<br/>
<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <h5 class="page_header col-md-offset-4 col-md-4 col-sm-6">Password Reset</h5>

                    <div class="col-md-offset-4 col-md-4 col-sm-6">
                        <form method="POST" th:action="@{/retail/reset_password}" th:object="${custResetPassword}">

                            <p class="alert alert-danger"><span style="color: red;">Your current password has expired.</span> <br/>Please enter a new password.</p>
                            <div class="form-group">
                                <p id="">
                                    <span th:each="rule : ${passwordRules}" th:text="${rule}">Input is incorrect</span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label>Set New Password</label>
                                <input id="password" type="password" th:field="*{newPassword}"  class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Confirm New Password</label>
                                <input id="password" type="password" th:field="*{confirmPassword}"  class="form-control"/>
                            </div>
                            <button class="btn btn-primary form-control"> Submit</button>
                            <div th:replace="layout :: form-validation"></div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="footer_bar">
            <div class="col-md-6 col-xs-12">
                <ul class="list_group">
                    <li><a href="#" target="_blank">Privacy policy</a></li>
                    <li><a href="#" target="_blank">Disclaimer</a></li>
                    <li><a href="#" target="_blank">Terms &amp; Conditions</a></li>
                </ul>

            </div>
            <div class="col-md-6 col-xs-12"><p> &copy; 2017 - All rights reserved</p></div>

        </div>
    </div>
</footer>
<!-- CORE JQUERY SCRIPTS -->
<script th:src="@{~/customer/js/jquery-ui.js}"></script>
<script th:src="@{~/customer/js/jquery.dataTables.js}"></script>
<script th:src="@{~/customer/js/momentMin.js}"></script>
<script th:src="@{~/customer/js/calendar.js}"></script>
<script th:src="@{~/customer/js/jquery.spring-friendly.min.js}"></script>
<script th:src="@{~/customer/plugins/bootstrap-notify/bootstrap-notify.js}"></script>
<script th:src="@{/customer/js/jquery-1.11.1.js}"></script>
<script th:src="@{~/customer/js/jquery.validate.min.js}"></script>
<script th:src="@{~/customer/plugins/jquery-steps/js/jquery.steps.min.js}" type="text/javascript"></script>
<script th:src="@{~/customer/js/coronation.js}"></script>
<script th:src="@{/customer/js/bootstrap.js}"></script>


<script>
    $('#password').bind("cut copy paste",function(e) {
        e.preventDefault();
    });
</script>

<div th:if="${message}">
    <div hidden="hidden">
        <ul class="actionMessage">
            <li th:each="msg : ${message}" th:text="${msg}">Message</li>
        </ul>
    </div>
</div>

<div th:if="${failure}">
    <div hidden="hidden">
        <ul class="actionError">
            <li th:each="msg : ${failure}" th:text="${msg}">Message</li>
        </ul>
    </div>
</div>
</body>
</html>