<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<header th:replace="cust_layout :: header">
</header>

<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Change Password</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content-bg">
                <div class="row form-spacing">
                    <div class="col-md-6 col-sm-6">
                        <form method="post" th:action="@{/retail/change_password}" th:object="${custChangePassword}">
                            <div class="form-group">
                                <label>Old Password</label>
                                <input id="password" type="password" th:field="*{oldPassword}" class="form-control"/>
                                <p class="errors" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">&times;</p>
                            </div>
                            <div class="form-group">
                                <label>New Password</label>
                                <input id="password" type="password" th:field="*{newPassword}"  class="form-control"/>
                                <p class="errors" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">&times;</p>
                            </div>
                            <div class="form-group">
                                <label>Confirm New Password</label>
                                <input id="password" type="password" th:field="*{confirmPassword}"  class="form-control"/>
                                <p class="errors" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">&times;</p>
                            </div>

                            <button type="submit" class="btn btn-default">Submit</button>

                            <div th:replace="layout :: form-validation">

                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <p class="related">Related Information</p>
                        <hr/>
                        <p th:each="rule : ${passwordRules}" th:text="${rule}"></p>
                    </div>
                </div>
            </div>
            <div th:replace="cust_layout :: sidebar" class="col-md-3 sidebar">
            </div>
        </div>
    </div>
</section>

<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
<script>
    $('#password').bind("cut copy paste",function(e) {
        e.preventDefault();
    });
</script>
</body>
</html>