<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="corp_layout :: site-head">

</head>
<body>
<div class="container">
<header th:replace="corp_layout :: corp-header">
</header>

<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Synchronize Token</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content-bg">
                <div class="row form-spacing">
                    <div class="col-md-6">
                        <form method="post" th:action="@{/corporate/token/sync}" th:object="${tokenSync}">
                            <div class="form-group">
                                <label>Token Serial Number</label>
                                <select name="serialNo" class="form-control">
                                    <option th:each="serial: ${serials}" th:value="${serial}" th:text="${serial}"></option>
                                </select>
                                <p class="errors" th:if="${#fields.hasErrors('serialNo')}" th:errors="*{serialNo}">&times;</p>
                            </div>

                            <div class="form-group">
                                <label>First Token Code </label>

                                <div >
                                    <input type="password" id="serial1" class="form-control" th:field="*{tokenCode1}"/>
                                </div>

                            </div>
                            <div class="form-group">
                                <label>Second Token Code</label>

                                <div >
                                    <input type="password" id="serial2" class="form-control" th:field="*{tokenCode2}"/>
                                </div>

                            </div>

                            <button type="submit" class="btn btn-default">Synchronize</button>
                        </form>
                    </div>
                </div>
            </div>
            <div th:replace="corp_layout :: corp-sidebar" class="col-md-3 sidebar">
            </div>
        </div>
    </div>
</section>

<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="corp_layout ::corp-footer">
</footer>
</div>
</body>
</html>