<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">
<head>
  <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css"/>
    <link rel="stylesheet" type="text/css" href="css/select.bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/dataTables.bootstrap.css"/>
</head>

<body onload="currentBar('sychronize token')">

    <div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 ml-15  no-pad-right" >
        <div class="col-xs-12 no-pad-left   no-mt no-bd  alert">
             <div class="col-md-6 no-pad-left">
                        <form method="post" th:action="@{/corporate/token/sync}" th:object="${tokenSync}">
                            <div class="form-group">
                                <label>Token Serial Number</label>
                                <select name="serialNo" class="form-control">
                                    <option th:each="serial: ${serials}" th:value="${serial}" th:text="${serial}"></option>
                                </select>
                                <p class="errors" th:if="${#fields.hasErrors('serialNo')}" th:errors="*{serialNo}">&times;</p>
                            </div>

                            <div class="form-group">
                                <label>First Token Code </label>

                                <div >
                                    <input type="password" id="serial1" class="form-control" th:field="*{tokenCode1}"/>
                                </div>

                            </div>
                            <div class="form-group">
                                <label>Second Token Code</label>

                                <div >
                                    <input type="password" id="serial2" class="form-control" th:field="*{tokenCode2}"/>
                                </div>

                            </div>

                            <button type="submit" class="btn btn-link required-step">Synchronize</button>
                        </form>
        
        
        </div>
        
    </div>

</div>

 
</div>
</body>
</html>