<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="currentBar('Report lost token')">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width bank-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 ml-15 no-pad-left no-pad-right " >
        <div class="col-xs-11 no-pad-lef no-mt alert no-bd">
           <div class="">
                 <div class="col-md-6">
                        <form method="post" th:action="@{/retail/token/lost}" th:object="${tokenProp}">
                            <div class="form-group">
                                <label>Token Serial Number</label>
                                <select name="serialNo" class="form-control">
                                    <option th:each="serial: ${serials}" th:value="${serial}" th:text="${serial}"></option>
                                </select>
                                <p class="errors" th:if="${#fields.hasErrors('serialNo')}" th:errors="*{serialNo}">&times;</p>
                            </div>

                            <button type="submit" class="btn btn-link required-step">Report</button>
                        </form>
                    </div>
            </div>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">
   
</th:block>

</body>
</html>