<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<div class="container">
    <header th:replace="cust_layout :: header">
    </header>

<section class="content-wrapper">
    <div class="containe">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Synchronize Token</h5>
                 <select class="form-control invisible">
                <option value="account">Account Overview</option>
            </select>
            </div>
            <p class="col-xs-12 invisible">
                Fields marked <span style="color:red">*</span> are compulsory
            </p>
        </div>
        <div class="row">
            <div class="col-md-9 content-bg">

                    <div class="col-md-6">
                        <form method="post" th:action="@{/retail/token/sync}" th:object="${tokenSync}">
                            <div class="form-group">
                                <label>Token Serial Number</label>
                                <select name="serialNo" class="form-control">
                                    <option th:each="serial: ${serials}" th:value="${serial}" th:text="${serial}"></option>
                                </select>
                                <p class="errors" th:if="${#fields.hasErrors('serialNo')}" th:errors="*{serialNo}">&times;</p>
                            </div>

                            <div class="form-group">
                                <label>Enter Token</label>
                                <input type="password" name="tokenCode1" class="form-control"/>

                                <p class="errors" th:if="${#fields.hasErrors('tokenCode1')}" th:errors="*{tokenCode1}">&times;</p>
                            </div>

                            <div class="form-group">
                                <label>Enter Another Token</label>
                                <input type="password" name="tokenCode1" class="form-control"/>
                                <p class="errors" th:if="${#fields.hasErrors('tokenCode1')}" th:errors="*{tokenCode1}">&times;</p>
                            </div>
                            <button type="submit" class="btn btn-link required-step">Synchronize</button>
                        </form>
                    </div>

            </div>
            <div class="col-md-3 pull-right " >
                <div th:replace="cust_layout :: sidebar" class="" >
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
</div>
</body>
</html>