<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <div th:replace="layout :: ops-menu"></div>
                <div th:replace="layout :: menu-footer-ops"></div>

            </div>
        </div>
        <div th:replace="layout :: ops-top-nav"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3 th:text="${corporate.name}"></h3>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Edit Rule</h2>

                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <div class="ibox-content">
                                    <form method="post" class="form-horizontal" th:action="@{/ops/corporates/rules/update}" th:object="${corporateRule}">


                                        <div th:replace="layout::form-validation"></div>

                                        <input th:type="hidden" th:field="*{corporateId}"/>
                                        <input th:type="hidden" th:field="*{id}"/>
                                        <input th:type="hidden" th:field="*{version}"/>


                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Lower Amount <span style="color: red">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="number" class="form-control" th:field="*{lowerLimitAmount}"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Upper Amount <span style="color: red">*</span></label>
                                            <div class="col-sm-6">
                                                <input th:if ="${!corporateRule.unlimited}" id="upperLimit" type="number" class="form-control" th:field="*{upperLimitAmount}"/>
                                                <input th:if ="${corporateRule.unlimited}" id="upperLimit" type="number" class="form-control" th:field="*{upperLimitAmount}" disabled="disabled"/>

                                            </div>
                                            <input id="unlimited" type="checkbox" class="checkbox-inline"
                                                   th:field="*{unlimited}"/>
                                            <label><strong>No Upper Limit</strong></label>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Currency</label>
                                            <div class="col-sm-6">
                                                <select class="form-control" th:field="*{currency}">
                                                    <option th:each="currency: ${currencies}" th:value="${currency.code}" th:text="${currency.description}" th:selected="${currency.code==corporateRule.currency}"></option>

                                                </select>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Authorizer Levels <span style="color: red">*</span></label>
                                            <div class="col-sm-6">
                                                <p th:each="role: ${roleList}">
                                                    <input type="checkbox" name="roles" th:value="${role.id}" th:checked="${role.ruleMember}"/>
                                                    <span th:if="${role.rank!=null}" th:text="${role.name}+' '+${role.rank}"></span>
                                                    <span th:if="${role.rank==null}" th:text="${role.name}"></span>                                                </p>
                                            </div>
                                        </div>

                                        <hr/>

                                        <div class="form-group">
                                            <div>
                                                <div class="radio">
                                                    <label class="col-sm-2 control-label"></label>

                                                    <label><input type="radio" name="anyCanAuthorize" value="N" th:checked="*{!anyCanAuthorize}"/>All the
                                                        authorizers selected above must authorize transaction</label>
                                                </div>
                                                <div class="radio">
                                                    <label class="col-sm-2 control-label"></label>

                                                    <label><input type="radio" name="anyCanAuthorize" value="Y" th:checked="*{anyCanAuthorize}"/>Any of
                                                        the authorizers selected above can authorize transaction</label>
                                                </div>
                                            </div>
                                        </div>
                                        <br/>

                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-2">
                                                <button class="btn btn-white" type="reset" id="cancel">Cancel</button>
                                                <button class="btn btn-primary" type="submit">Save</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="layout :: footer">
        </footer>
        <!-- /footer content -->
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function () {
        if ($("#unlimited").is(":checked")) {
            $("#upperLimit").val("");
            $("#upperLimit").prop("disabled", true);
        }

        $("#unlimited").change(function () {
            if ($(this).is(":checked")) {
                $("#upperLimit").val("");
                $("#upperLimit").prop("disabled", true);
            }
            else {
                $("#upperLimit").prop("disabled", false);

            }
        });

        $("#anyAuthorizer").change(function () {
            if ($(this).is(":checked")) {
                if (!$("input[name='roles']").is(":checked")) {
                    $("input[name='roles']").prop("checked", true);
                }
            }



        });
    })

    var corpId = [[${corporateRule.corporateId}]];
    if(corpId!=null) {
        document.getElementById("cancel").onclick = function () {
            location.href = "/ops/corporates/" + corpId + "/view";
        }
    }else{
        document.getElementById("cancel").onclick = function () {
            location.href = "/ops/corporates/";
        }
    }


    /*]]>*/
</script>

</body>
</html>