<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <!--<a href="index.html"><img th:src="@{~/images/cmb_logo.png}"/></a>-->
                </div>

                <div class="clearfix"></div>
                <div class="clearfix"></div>

                <div th:replace="layout :: ops-menu"></div>
                <div th:replace="layout :: menu-footer-ops"></div>

            </div>
        </div>
        <div th:replace="layout :: top-nav"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3 th:text="${corporate.name}"></h3>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Edit role</h2>

                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <form method="post" th:action="@{/ops/corporates/roles/update}" class="form-horizontal"
                                      th:object="${role}" id="form-save">
                                    <div class="panel panel-default">

                                        <input th:type="hidden" name="corporateId" th:value="${corporate.Id}"/>
                                        <input type="hidden" th:field="*{id}"/>
                                        <input type="hidden" th:field="*{version}"/>



                                        <div class="panel-body">
                                            <fieldset>
                                                <div class="form-group col-lg-6">
                                                    <label>Name</label> <input class="form-control" type="text"
                                                                               th:field="*{name}"/>
                                                </div>

                                                <div class="form-group col-lg-6">
                                                    <label>Rank</label> <input class="form-control" type="number"
                                                                               th:field="*{rank}"/>
                                                </div>

                                                <!--<div class="form-group col-lg-6">-->
                                                <!--<label>Type</label>-->
                                                <!--<select id="userType" class="form-control" th:field="*{type}">-->
                                                <!--<option value="">&#45;&#45;Select&#45;&#45;</option>-->
                                                <!--<option value="INITIATOR">Initiator</option>-->
                                                <!--<option value="AUTHORIZER">Authorizer</option>-->
                                                <!--<option value="ADMIN">Administrator</option>-->
                                                <!--</select>-->
                                                <!--</div>-->

                                            </fieldset>


                                            <fieldset>
                                                <legend>Users</legend>
                                                <div class="row">

                                                    <div class="form-group text-left col-lg-5">
                                                        <select multiple="multiple" class="form-control left-selector">
                                                            <option th:each="user: ${users}"
                                                                    th:value="${user.id}"
                                                                    th:text="${user.firstName}+' '+${user.lastName}"></option>
                                                        </select>
                                                    </div>

                                                    <div class="btn-group-vertical col-xs-2 ">
                                                        <button type="button"
                                                                class="btn btn-default text- btn-circle btn-default right-btn">
                                                            <i class="fa fa-long-arrow-right"></i>
                                                        </button>
                                                        <button type="button"
                                                                class="btn btn-default text-center btn-circle left-btn">
                                                            <i class="fa fa-long-arrow-left"></i>
                                                        </button>

                                                    </div>
                                                    <div class="form-group text-right col-lg-5">
                                                        <select multiple="multiple" class="form-control right-selector"
                                                                name="usersList">
                                                            <option th:each="user: ${role.users}" th:value="${user.id}"
                                                                    th:text="${user.firstName}+' '+${user.lastName}"></option>

                                                        </select>
                                                    </div>

                                                </div>
                                            </fieldset>
                                            <div class="form-group">
                                                <p/>
                                                <div class="col-sm-4">
                                                    <button class="btn btn-white" type="reset" id="cancel">Cancel
                                                    </button>
                                                    <button class="btn btn-primary" id="btn-save" type="submit">Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:replace="layout::form-validation"></div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="layout :: footer">
        </footer>
        <!-- /footer content -->
    </div>
</div>

<script th:inline="javascript">

    $().ready(function () {

        $('.left-btn').click(
            function () {
                return !$('.right-selector option:selected').remove()
                    .appendTo('.left-selector');
            });
        $('.right-btn').click(
            function () {
                return !$('.left-selector option:selected').remove()
                    .appendTo('.right-selector');
            });
    });
    $("#btn-save").on("click", function (e) {
        $('.right-selector option').prop("selected", true);
        $("#form-save").submit();
    });

    var corpId = [[${corporate.id}]];
    if(corpId!=null) {
        document.getElementById("cancel").onclick = function () {
            location.href = "/ops/corporates/" + corpId + "/view";
        }
    }else{
        document.getElementById("cancel").onclick = function () {
            location.href = "/ops/corporates/";
        }
    }

</script>

</body>
</html>