<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="layout :: site-head">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <div th:replace="layout :: ops-menu"></div>
                <div th:replace="layout :: menu-footer-ops"></div>

            </div>
        </div>
        <div th:replace="layout :: ops-top-nav"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3 th:text="${corporate.name}">Corporate Management</h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Users</a>
                                    </li>
                                    <li role="presentation" class=""><a href="#tab_content2" role="tab" id="account-tab" data-toggle="tab" aria-expanded="false">Accounts</a>
                                    </li>
                                    <li th:if="${corporate.corporateType=='MULTI'}" role="presentation" class=""><a href="#tab_content4" role="tab" id="role-tab" data-toggle="tab" aria-expanded="false">Authorizer Levels</a>
                                    </li>
                                    <li th:if="${corporate.corporateType=='MULTI'}" role="presentation" class=""><a href="#tab_content3" role="tab" id="mandate-tab" data-toggle="tab" aria-expanded="false">Transaction Rules</a>
                                    </li>
                                    <li role="presentation" class=""><a href="#tab_content5" role="tab" id="coverage-tab" data-toggle="tab" aria-expanded="false">Account Coverage</a>
                                    </li>


                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                                        <div class="x_title">
                                            <ul class="nav navbar-left panel_toolbox">
                                                <li >
                                                    <div class="col-lg-4">
                                                        <div class="title-action">
                                                            <a  class="btn btn-primary btn-sm bt-select bt-link-act" href="/ops/corporates/users/index/edit" disabled="disabled" ><i class="fa fa-pencil"></i> Edit</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li >
                                                    <div class="col-lg-4">
                                                        <div class="title-action">
                                                            <a  class="btn btn-primary btn-sm bt-select bt-link-act" href="/ops/corporates/users/index/password/reset" disabled="disabled" ><i class="fa fa-lock"></i> Reset Password</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col-lg-4">
                                                        <div class="title-action">
                                                            <a  class="btn btn-primary btn-sm bt-select bt-link-act" href="/ops/corporates/users/index/securityquestion/reset" disabled="disabled" ><i class="fa fa-question"></i> Reset Security Question</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col-lg-4">
                                                        <div class="title-action">
                                                            <a  class="btn btn-primary btn-sm bt-select bt-link-act" href="/ops/corporates/users/index/unlock" disabled="disabled" ><i class="fa fa-key"></i>Unlock</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li >
                                                    <div class="col-lg-4">
                                                        <div class="title-action">
                                                            <a  class="btn btn-danger btn-sm bt-select bt-link-act" href="/ops/corporates/users/index/activation" disabled="disabled" ><i class="fa fa-user"></i> Activate/Deactivate</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col-lg-4">
                                                        <div class="title-action">
                                                            <a  class="btn btn-primary btn-sm bt-select bt-link-act" href="/ops/corporates/users/index/accountpermission" disabled="disabled" ><i class="fa fa-money"></i> Account Permissions</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!--<li >-->
                                                <!--<div class="col-lg-4">-->
                                                <!--<div class="title-action">-->
                                                <!--<a id="user-delete-btn" class="btn btn-danger btn-sm bt-select" href="/ops/corporates/users/index/delete" disabled="disabled" ><i class="fa fa-trash"></i> Delete</a>-->
                                                <!--</div>-->
                                                <!--</div>-->
                                                <!--</li>-->
                                            </ul>
                                            <ul th:if="${corporate.corporateType=='MULTI'}" class="nav navbar-right panel_toolbox">
                                                <li >
                                                    <div class="col-lg-4">
                                                        <div class="title-action">
                                                            <a class="btn btn-primary btn-sm" th:href="@{'/ops/corporates/users/' + ${corporate.id}+ '/new'}"><i class="fa fa-user-plus"></i> Add User</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <div class="wrapper wrapper-content animated fadeInRight">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="ibox float-e-margins">

                                                            <table class="table table-striped table-bordered table-hover"  width="100%" id="users">
                                                                <thead>
                                                                <tr>
                                                                    <th>Username</th>
                                                                    <th>First Name</th>
                                                                    <th>Last Name</th>
                                                                    <th>Role</th>
                                                                    <th>Designation</th>
                                                                    <th>Status</th>
                                                                    <th>Last Login</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                </tbody>
                                                                <tfoot>
                                                                <tr>
                                                                    <th>Username</th>
                                                                    <th>First Name</th>
                                                                    <th>Last Name</th>
                                                                    <th>Role</th>
                                                                    <th>Designation</th>
                                                                    <th>Status</th>
                                                                    <th>Last Login</th>
                                                                </tr>
                                                                </tfoot>
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="account-tab">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                                            <div class="x_title">
                                                <ul class="nav navbar-left panel_toolbox">
                                                    <li>
                                                        <div class="col-lg-4">
                                                            <div class="title-action">
                                                                <a id="delAccount" class="btn btn-danger btn-sm btn-select btn-link-act" th:href="@{'/ops/corporates/' + ${corporate.id}+'/account/index'}" disabled="disabled" ><i class="fa fa-trash"></i> Delete</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="nav navbar-left panel_toolbox">

                                                    <li>
                                                        <div class="col-lg-4">
                                                            <div class="title-action">
                                                                <button sec:authorize="hasAuthority('VIEW_TRANSACTIONS')" class="btn btn-primary btn-sm btn-select bt-link-act viewTrans"  disabled="disabled" ><i class="fa fa-eye"></i> View Transactions</button>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>

                                                <ul class="nav navbar-right panel_toolbox">
                                                    <li >
                                                        <div class="col-lg-4">
                                                            <div class="title-action">
                                                                <a class="btn btn-primary btn-sm" th:href="@{'/ops/corporates/account/new/' + ${corporate.id}}"><i class="fa fa-plus"></i> Add Account</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <div class="wrapper wrapper-content animated fadeInRight">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div id="accountDetails" class="ibox float-e-margins">

                                                                <table class="table table-striped table-bordered table-hover"  width="100%" id="account">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>Account Name</th>
                                                                        <th>Account Number</th>
                                                                        <th>CIFID</th>
                                                                        <th>Product Type</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    </tbody>
                                                                    <tfoot>
                                                                    <tr>
                                                                        <th>Account Name</th>
                                                                        <th>Account Number</th>
                                                                        <th>CIFID</th>
                                                                        <th>Product Type</th>
                                                                    </tr>
                                                                    </tfoot>
                                                                </table>
                                                            </div>


                                                            <div id="transactions" class="collapse">

                                                                <form method="post" class="form-horizontal" th:action="@{/admin/feedback/enquire}">
                                                                    <div class="form-group  ">
                                                                        <label class="col-sm-2 control-label" >Account Name</label>
                                                                        <div class="col-sm-4">
                                                                            <input type="text" id="acctName" class="form-control" name="acctName" disabled="disabled"/>
                                                                        </div>
                                                                        <label class="col-sm-2 control-label">Account Number</label>
                                                                        <div class="col-sm-4">
                                                                            <select id="acctNumber"  class="form-control">

                                                                            </select>
                                                                        </div>

                                                                    </div>
                                                                    <div class="form-group">

                                                                        <label class="col-sm-2 control-label" >Start date</label>
                                                                        <div class="col-sm-4">
                                                                            <input type="date" id="startDate" class="form-control" name="start"/>
                                                                        </div>
                                                                        <label class="col-sm-2 control-label" >End date</label>
                                                                        <div class="col-sm-4">
                                                                            <input type="date" id="endDate" class="form-control" name="end"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-2 control-label">Transaction Type</label>
                                                                        <div class="col-sm-4">
                                                                            <select id="transactionType" name="transactionType" class="form-control" required="required">

                                                                            </select>
                                                                        </div>

                                                                        <label class="col-sm-2 control-label" ></label>
                                                                        <div class="col-sm-4">
                                                                            <button id="submit" class="btn btn-primary" type="submit" >View</button>
                                                                        </div>
                                                                    </div>

                                                                </form>
                                                                <div id="" class="ibox float-e-margins">

                                                                    <table class="table table-striped table-bordered table-hover"
                                                                           width="100%" id="review">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>Transaction Date</th>
                                                                            <th>Beneficiary Acct Name</th>
                                                                            <th>Beneficiary Acct no.</th>
                                                                            <th>Amount</th>
                                                                            <th>Status</th>
                                                                            <th>Ref no.</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        </tbody>

                                                                    </table>

                                                                </div>








                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${corporate.corporateType=='MULTI'}" role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="role-tab">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="account-tab">

                                            <div class="x_title">
                                                <ul class="nav navbar-left panel_toolbox">
                                                    <li >
                                                        <div class="col-lg-4">
                                                            <div class="title-action">
                                                                <a  class="btn btn-primary btn-sm bt-role-select bt-role-act" href="/ops/corporates/roles/index/edit" disabled="disabled" ><i class="fa fa-pencil"></i> Edit</a>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li >
                                                        <div class="col-lg-4">
                                                            <div class="title-action">
                                                                <a id="role-delete-btn" class="btn btn-danger btn-sm bt-role-select" href="/ops/corporates/roles/index/delete" disabled="disabled" ><i class="fa fa-trash"></i> Delete</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="nav navbar-right panel_toolbox">
                                                    <li >
                                                        <div class="col-lg-4">
                                                            <div class="title-action">
                                                                <a class="btn btn-primary btn-sm" th:href="@{'/ops/corporates/' + ${corporate.id}+ '/roles/new'}"><i class="fa fa-user-plus"></i> Add</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <div class="wrapper wrapper-content animated fadeInRight">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="ibox float-e-margins">

                                                                <table class="table table-striped table-bordered table-hover"  width="100%" id="authLevels">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>Name</th>
                                                                        <th>Level</th>

                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    </tbody>
                                                                    <tfoot>
                                                                    <tr>
                                                                        <th>Name</th>
                                                                        <th>Level</th>
                                                                    </tr>
                                                                    </tfoot>
                                                                </table>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div th:if="${corporate.corporateType=='MULTI'}" role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="mandate-tab">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content2" aria-labelledby="role-tab">

                                            <div class="x_title">
                                                <ul class="nav navbar-left panel_toolbox">
                                                    <li>
                                                        <div class="col-lg-4">
                                                            <div class="title-action">
                                                                <a class="btn btn-primary btn-sm btr-select btr-link-act" href="/ops/corporates/rules/index/edit" disabled="disabled" ><i class="fa fa-pencil"></i> Edit</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="col-lg-4">
                                                            <div class="title-action">
                                                                <a id="delete-btn" class="btn btn-danger btn-sm btr-select" href="/ops/corporates/rules/index/delete" disabled="disabled" ><i class="fa fa-trash"></i> Delete</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="nav navbar-right panel_toolbox">
                                                    <li >
                                                        <div class="col-lg-4">
                                                            <div class="title-action">
                                                                <a class="btn btn-primary btn-sm" th:href="@{'/ops/corporates/' + ${corporate.id}+ '/rules/new'}"><i class="fa fa-plus"></i> Add Rule</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <div class="wrapper wrapper-content animated fadeInRight">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="ibox float-e-margins">

                                                                <table class="table table-striped table-bordered table-hover"  width="100%" id="rules">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>Lower Amount</th>
                                                                        <th>Upper Amount</th>
                                                                        <th>Currency</th>
                                                                        <th>Authorizers</th>
                                                                        <th>Required Authorizers</th>
                                                                        <!--<th>Follow Rank</th>-->

                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    </tbody>
                                                                    <tfoot>
                                                                    <tr>
                                                                        <th>Lower Amount</th>
                                                                        <th>Upper Amount</th>
                                                                        <th>Currency</th>
                                                                        <th>Authorizers</th>
                                                                        <th>Required Authorizers</th>
                                                                        <!--<th>Follow Rank</th>-->

                                                                    </tr>
                                                                    </tfoot>
                                                                </table>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div role="tabpanel" class="tab-pane fade" id="tab_content5" aria-labelledby="coverage-tab">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                                            <div class="clearfix"></div>

                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="x_panel">
                                                        <div class="x_title">

                                                        <div class="clearfix"></div>
                                                        </div>
                                                        <div class="x_content">
                                                            <div class="wrapper wrapper-content animated fadeInRight">
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <div class="ibox float-e-margins">

                                                                 <table class="table table-striped table-bordered table-hover" width="100%" id="coverage">
                                                                <thead>
                                                                <tr>
                                                                    <th>Coverage</th>
                                                                    <th>Description</th>
                                                                    <th>Enabled</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>


                                                                </tbody>
                                                                <tfoot>
                                                                <tr>
                                                                    <th>Coverage</th>
                                                                    <th>Description</th>
                                                                    <th>Enabled</th>
                                                                </tr>
                                                                </tfoot>
                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="layout :: footer">
        </footer>
        <!-- /footer content -->
    </div>
</div>
<script th:src="@{~/bank/vendors/datatables.net/js/jquery.dataTables.js}"></script>
<script th:src="@{~/bank/js/dataTables.bootstrap.js}"></script>
<script th:src="@{~/bank/js/dataTables.select.js}"></script>
<script th:src="@{~/bank/js/jquery.spring-friendly.min.js}"></script>
<script th:src="@{~/bank/js/momentMin.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<!-- User Management Page-Level Scripts -->
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {

        var url = /*[['/ops/corporates/'+${corporate.id}+'/users']]*/"/ops/corporates/${corporate.id}/users";
        var table = $('#users').DataTable({
            select: true,
            responsive : false,
            "lengthMenu" : [ [ 5, 10 ,-1], [ 5, 10 ,"All"] ],
            "pagingType" : "simple_numbers",
            "searching" : false,
            "paging" : true,
            "serverSide" : true,
            "ajax" :url,
            "dom" : 'T<"clear">frtlp',
            "columns" : [
                { "data" : "userName" },
                { "data" : "firstName" },
                { "data" : "lastName" },
                { "data" : "role" },
                { "data" : "designation" },
                { "data" : "status" },
                { "data" : "lastLoginDate" }
            ],
            "columnDefs" : [ {
                "targets" : 5,
                "data" : "status",
                "render" : function(data, type,full, meta) {
                    if (type === 'display') {
                        if (data == "A") {
                            return "<i class='fa fa-check dt-body-center' style='color:green;display:block; text-align:center; margin:0 auto;'></i>";
                        } else if (data == "I") {
                            return "<i class='fa fa-ban  dt-body-center' style='color:red;display:block; text-align:center; margin:0 auto;'></i>";
                        }
                        else if (data == "L") {
                            return "<i class='fa fa-lock  dt-body-center' style='color:red;display:block; text-align:center; margin:0 auto;'></i>";
                        }else {
                            return "<i class='fa fa-question  dt-body-center' style='color:red;display:block; text-align:center; margin:0 auto;'></i>";
                        }
                    }
                    return data;
                }

            } ]

        });

        table.on('select', function() {

            if (table.rows({
                selected : true
            }).indexes().length === 0) {
                $('.bt-select').attr("disabled", true);
            } else {
                $('.bt-select').removeAttr("disabled");

            }

        });

        table.on('deselect', function() {
            if (table.rows({
                selected : true
            }).indexes().length === 0) {
                $('.bt-select').attr("disabled", true);
            } else {
                $('.bt-select').removeAttr("disabled");
            }
        });





    });

    $("a.bt-link-act").on("click", function(e) {
        e.preventDefault();
        var link = $(e.currentTarget);
        if($(link).attr("disabled")){
            return;
        }
        var dt = $('#users').DataTable();
        var id = $(dt.row({
            selected: true
        }).node()).attr("id");
        //replace {id} with id
        var ooo = link.attr("href").replace("index",id);
        window.location.assign(ooo);
    });

    $("a.bt-link-none").on("click", function(e) {
        e.preventDefault();
        var link = $(e.currentTarget);
        if($(link).attr("disabled")){
            return;
        }

    });


    /*]]>*/
</script>

<!-- Account Management Page-Level Scripts -->
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var acctNames=[];
        var acctNos=[];
        var selectedAcctNos="";
        var acurl = /*[['/ops/corporates/'+${corporate.id}+'/accounts']]*/"/ops/corporates/${corporate.id}/accounts";
        var table = $('#account').DataTable({
            select: true,
            responsive : false,
            "lengthMenu" : [ [ 5, 10, 15, 20, -1 ], [ 5, 10, 15, 20, "All" ] ],

            "pagingType" : "simple_numbers",
            "searching" : false,
            "paging" : true,
            "serverSide" : true,
            "ajax" : acurl,
            "dom" : 'T<"clear">frtlp',
            rowId:"id",
            "columns" : [
                { "data" : "preferredName" },
                { "data" : "accountNumber" },
                { "data" : "customerId" },
                { "data" : "schemeType" }
            ]

        });

        table.on('select', function() {
            $("#acctName").val(table.row({selected: true}).data().preferredName);
            selectedAcctNos=table.row({selected: true}).data().accountNumber;
            if (table.rows({
                selected : true
            }).indexes().length === 0) {
                $('.btn-select').attr("disabled", true);
            } else {
                $('.btn-select').removeAttr("disabled");
                acctNos=table.column(1).data().toArray();
                acctNames=table.column(0).data().toArray();
            }

        });

        table.on('deselect', function() {
            if (table.rows({
                selected : true
            }).indexes().length === 0) {
                $('.btn-select').attr("disabled", true);
            } else {
                $('.btn-select').removeAttr("disabled");
            }
        });

        $("#myTab li").on('click',function () {
            $("#accountDetails").show();
            $("#transactions").hide();
        })

        $(".viewTrans").on('click',function(e){
            e.preventDefault();
            $("#accountDetails").hide();
            $.ajax({
                dataType: 'json',
                url:  "/ops/transactions",
                type: "GET",
                success: function (result) {
                    createOptionsForTransferType(result);
                    createOptionsForAccounts(acctNos);
                },
                error: function () {
                    console.log("error");
                }
            });
            $("#transactions").show();
        })
        function createOptionsForAccounts(e){
            var options="";
            for(var i=0;i<e.length;i++){

                if(e[i]===selectedAcctNos) options += "<option selected value=" + i + ">" + e[i] + "</option>"

                else options+="<option value=" +i+ ">"+e[i]+"</option>"
            }
            $("#acctNumber").html(options);
        }

        function createOptionsForTransferType(e){
            var options="<option value=\"\">ALL</option>";
            for(var i=0;i<e.length;i++){
                options+="<option value=" +e[i]+ ">"+e[i]+"</option>"
            }
            $("#transactionType").html(options);
        }

        $("#acctNumber").on("change",function(){
            var index=$(this).val();
            $("#acctName").val(acctNames[index]);
        })

        $("#submit").on("click",function (e) {
            e.preventDefault();
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            if(startDate===""||endDate===""){
                bootbox.alert('"Start date" and "End date" are required');
                return;
            }
            if(endDate<startDate){
                bootbox.alert('"End Date" should be greater than "Start date"');
            }
            var transactionType = $("#transactionType").val();
            var accountNumber = $("#acctNumber option:selected").text();

            var transactionReviewDTO = {
                "startDate": startDate, "endDate": endDate, "transactionType": transactionType,
                "CustomerAccountNumber": accountNumber
            };

            var table2 = $('#review').DataTable({
                "destroy":true,
                select: true,
                "responsive": false,
                "dataType": 'json',
                "ajax": {
                    "url":"/ops/transactions/review" ,
                    "data":transactionReviewDTO,
                },
                "type":"GET",
                "lengthMenu" : [ [ 5, 10, 20, -1],	[ 5, 10, 20, "All" ] ],
                "pagingType": "simple_numbers",
                "searching": false,
                "paging": true,
                "serverSide": true,

                "dom": 'T<"clear">frtlp',
                "columns": [
                    {"data": "tranDate"},
                    {"data": "beneficiaryAccountName"},
                    {"data": "beneficiaryAccountNumber"},
                    {"data": "amount"},
                    {"data": "statusDescription"},
                    {"data": "referenceNumber"}
                ],
                "columnDefs" : [
                    {
                        "targets" : 0,
                        "data" : "tranDate",
                        "render" : function(data, type,full, meta) {
                            if (type === 'display') {
                                var dtStart = new Date(data);
                                var dtStartWrapper = moment(dtStart);
                                return dtStartWrapper.format('DD-MMM-YYYY HH:mm:ss');

                            }
                            return data;
                        }
                    },

                ]
            });
        });



    });

    $("#delAccount").on("click", function(e) {
        e.preventDefault();
        var link = $(e.currentTarget);
        if($(link).attr("disabled")){
            return;
        }
        var dt = $('#account').DataTable();
        var id = $(dt.row({
            selected: true
        }).node()).attr("id");
        //replace {id} with id
        var ooo = link.attr("href").replace("index",id);
        warnBeforeRedirectToAccount(ooo);
    });



    function warnBeforeRedirectToAccount(ooo) {
        swal({
            title: "Are you sure?",
            text: "Are you sure that you want to delete this account?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        }, function() {
            window.location.assign(ooo);
        });
    }

    $("a.btn-link-none").on("click", function(e) {
        e.preventDefault();
        var link = $(e.currentTarget);
        if($(link).attr("disabled")){
            return;
        }

    });
    /*]]>*/
</script>

<!-- Role Management Page-Level Scripts -->
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var acurl = /*[['/ops/corporates/'+${corporate.id}+'/roles']]*/"/ops/corporates/${corporate.id}/roles";
        var table = $('#authLevels').DataTable({
            select: true,
            responsive : false,
            "lengthMenu" : [ [ 5, 10,-1 ], [ 5, 10, "All" ] ],
            "pagingType" : "simple_numbers",
            "searching" : false,
            "paging" : true,
            "serverSide" : true,
            "ajax" : acurl,
            "dom" : 'T<"clear">frtlp',
            "columns" : [
                { "data" : "name" },
                { "data" : "rank" }
            ]

        });

        table.on('select', function() {
            if (table.rows({
                selected : true
            }).indexes().length === 0) {
                $('.bt-role-select').attr("disabled", true);
            } else {
                $('.bt-role-select').removeAttr("disabled");
            }

        });

        table.on('deselect', function() {
            if (table.rows({
                selected : true
            }).indexes().length === 0) {
                $('.bt-role-select').attr("disabled", true);
            } else {
                $('.bt-role-select').removeAttr("disabled");
            }
        });
    });

    $("a.bt-role-act").on("click", function(e) {
        e.preventDefault();
        var link = $(e.currentTarget);
        if($(link).attr("disabled")){
            return;
        }
        var dt = $('#authLevels').DataTable();
        var id = $(dt.row({
            selected: true
        }).node()).attr("id");
        //replace {id} with id
        var ooo = link.attr("href").replace("index",id);
        window.location.assign(ooo);
    });

    $("a.bt-role-act").on("click", function(e) {
        e.preventDefault();
        var link = $(e.currentTarget);
        if($(link).attr("disabled")){
            return;
        }
    });


    $("#role-delete-btn").on("click", function(e) {
        e.preventDefault();
        var link = $(e.currentTarget);
        if($(link).attr("disabled")){
            return;
        }
        var dt = $('#authLevels').DataTable();
        var id = $(dt.row({
            selected: true
        }).node()).attr("id");
        //window.location.href = link.attr("formaction") + '?id=' + id;
        //replace {id} with id
        var ooo = link.attr("href").replace("index",id);

        //goto url
        warnBeforeRedirectToRole(ooo);
    });

    function warnBeforeRedirectToRole(ooo) {
        swal({
            title: "Are you sure?",
            text: "Are you sure that you want to delete this level?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        }, function() {
            // Redirect the user
            window.location.assign(ooo);
        });
    }

    /*]]>*/
</script>


<!-- Rule ManagementPage-Level Scripts -->
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var url = /*[['/ops/corporates/'+${corporate.id}+'/rules']]*/"/ops/corporates/${corporate.id}/rules";
        var table = $('#rules').DataTable({
            select: true,
            responsive : false,
            "lengthMenu" : [ [ 5,10,15,-1], [ 5,10,15,"All"] ],
            "pagingType" : "simple_numbers",
            "searching" : false,
            "paging" : true,
            "serverSide" : true,
            "ajax" : url,
            "dom" : 'T<"clear">frtlp',
            "columns" : [
                { "data" : "lowerLimitAmount" },
                { "data" : "upperLimitAmount" },
                { "data" : "currency" },
                { "data" : "roleNames" },
                { "data" : "anyCanAuthorize" }
//                { "data" : "rank" }

            ],
            "columnDefs" : [ {
                "targets" : 4,
                "data" : "anyCanAuthorize",
                "render" : function(data, type,full, meta) {
                    if (type === 'display') {
                        if (data == true) {
                            return "ANY";
                        } else{
                            return "ALL";
                        }
                    }
                    return data;
                }

            }
            ]

        });

        table.on('select', function() {
            if (table.rows({
                selected : true
            }).indexes().length === 0) {
                $('.btr-select').attr("disabled", true);
            } else {
                $('.btr-select').removeAttr("disabled");
            }

        });

        table.on('deselect', function() {
            if (table.rows({
                selected : true
            }).indexes().length === 0) {
                $('.btr-select').attr("disabled", true);
            } else {
                $('.btr-select').removeAttr("disabled");
            }
        });


    });

    $("a.btr-link-act").on("click", function(e) {
        e.preventDefault();
        var link = $(e.currentTarget);
        if($(link).attr("disabled")){
            return;
        }
        var dt = $('#rules').DataTable();
        var id = $(dt.row({
            selected: true
        }).node()).attr("id");
        //replace {id} with id
        var ooo = link.attr("href").replace("index",id);
        window.location.assign(ooo);
    });

    $("a.btr-link-none").on("click", function(e) {
        e.preventDefault();
        var link = $(e.currentTarget);
        if($(link).attr("disabled")){
            return;
        }

    });

    $("#delete-btn").on("click", function(e) {
        e.preventDefault();
        var link = $(e.currentTarget);
        if($(link).attr("disabled")){
            return;
        }
        var dt = $('#rules').DataTable();
        var id = $(dt.row({
            selected: true
        }).node()).attr("id");
        //window.location.href = link.attr("formaction") + '?id=' + id;
        //replace {id} with id
        var ooo = link.attr("href").replace("index",id);

        //goto url
        warnBeforeRedirectToRule(ooo);
    });

    function warnBeforeRedirectToRule(ooo) {
        swal({
            title: "Are you sure?",
            text: "Are you sure that you want to delete this rule?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        }, function() {
            // Redirect the user
            window.location.assign(ooo);
        });
    }

    $("#user-delete-btn").on("click", function(e) {
        e.preventDefault();
        var link = $(e.currentTarget);
        if($(link).attr("disabled")){
            return;
        }
        var dt = $('#users').DataTable();
        var id = $(dt.row({
            selected: true
        }).node()).attr("id");
        //window.location.href = link.attr("formaction") + '?id=' + id;
        //replace {id} with id
        var ooo = link.attr("href").replace("index",id);

        //goto url
        warnBeforeRedirectToUser(ooo);
    });

    function warnBeforeRedirectToUser(ooo) {
        swal({
            title: "Are you sure?",
            text: "Are you sure that you want to delete this user?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete user!",
            closeOnConfirm: false
        }, function() {
            // Redirect the user
            window.location.assign(ooo);
        });
    }

    /*]]>*/
</script>

<!---Account Coverage Management Page-Level Scripts-->
<script th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function() {

        var corpId = [[${corporate.getId()}]];
        var table = $('#coverage').DataTable({
            select:true,
            responsive: true,
            "lengthMenu" : [ [ 10, 20, 30,-1],	[ 10, 20, 30,"All" ] ],
            "pagingType" : "simple_numbers",
            "searching": false,
            "paging": true,
            "processing" : true,
            "serverSide" : true,
            "ajax" : {
                url : "/ops/accountcoverage/corporate/"+corpId+"/all",
                "type" : "GET",
                "data" : function(d) {
                    d.csearch = $('#pattern').val();
                },

            },
            "dom": 'T<"clear">frtlp',
            "drawCallback": function( settings ) {
                var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
                elems.forEach(function(html) {
                    var switchery = new Switchery(html, { size: 'small' ,color: '#1ABB9C'});
                });
            },
            "columns": [
                { "data": "code" },
                { "data": "description" },
                { "data": "enabled" }

            ] ,
            "columnDefs" : [ {
                "targets" : 2,
                "data" : "enabled",
                "render" : function(data, type,full, meta) {
                    console.log(full)

                    if (type === 'display') {
                        if (data == true) {
                            return "<input type='checkbox' data-pk='"+full.id+"' data-version='"+full.version+"' data-code='"+full.code+"' data-description='"+full.description+"' data-type='"+full.type+"' data-switchery='true' class='js-switch' checked value='"+full.code+"' />";
                        } else if (data == false) {
                            return "<input type='checkbox' data-pk='"+full.id+"' data-version='"+full.version+"' data-code='"+full.code+"' data-description='"+full.description+"' data-type='"+full.type+"' data-switchery='true' class='js-switch' value='"+full.code+"' />";
                        }
                    }
                    return data;
                }
            }]
        });

            });
    $(document).on("change","input[type=checkbox]", function(e) {
        var corpId = [[${corporate.getId()}]];
        var userType = [[${userType}]]
        var updateUrl = "/ops/accountcoverage/corporate/update";
        var cb = $(e.currentTarget);
        var code = cb.val();
        var enabled;
        if(cb.is(':checked')){
            enabled = true;
        }else{
            enabled = false;
        }

        var objectData =
            {
               id:{eid:corpId,type:userType},
               code : code,
               enabled : enabled
            };
        var objectDataString = JSON.stringify(objectData);
        console.log(objectDataString)
        $.ajax({
            type : "POST",
            contentType : "application/json",
            url : updateUrl,
            data: objectDataString,
            dataType : 'json',
            timeout : 100000,
            success : function(data) {
                console.log("SUCCESS: ", data);
                var tab = $('#coverage').DataTable();
                /* tab.ajax.reload(); */
                tab.draw(false);
            },
            error : function(e) {
                console.log("ERROR: ", e);
            },
            done : function(e) {
                console.log("DONE");
            }
        });

        //goto url
    });





    /*]]>*/
</script>

</body>
</html>