<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>



<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <!--<a href="index.html"><img th:src="@{~/images/cmb_logo.png}"/></a>-->
                </div>

                <div class="clearfix"></div>
                <div class="clearfix"></div>

                <div th:replace="layout :: ops-menu"></div>
                <div th:replace="layout :: menu-footer-ops"></div>

            </div>
        </div>
        <div th:replace="layout :: ops-top-nav"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Account Restriction</h3>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <ul class="nav navbar-left panel_toolbox">
                                    <h2>Edit Restriction</h2>
                                </ul>
                                <ul class="nav navbar-right panel_toolbox">

                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>

                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">

                                <form method="post" class="form-horizontal" th:action="@{/ops/accounts/restriction/account/update}" th:object="${accountRestriction}">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Restriction Type</label>

                                        <div class="col-sm-6">
                                            <select class="form-control" th:field="*{restrictionType}">
                                                <option value="">--Select--</option>
                                                <option th:each="type: ${restrictionTypes}" th:value="${type.code}" th:text="${type.description}" th:selected="${type.code==accountRestriction.restrictionType}"></option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Restriction Value</label>

                                        <div class="col-sm-6">
                                            <input class="form-control" th:field="*{restrictionValue}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Restricted For</label>

                                        <div class="col-sm-6">
                                            <select class="form-control" th:field="*{restrictedFor}">
                                                <option th:each="type: ${restrictedFor}" th:value="${type.code}" th:text="${type.description}" th:selected="${type.code==accountRestriction.restrictionType}"></option>

                                            </select>
                                        </div>

                                    </div>

                                    <input type="hidden" name="id" th:value="*{id}" />
                                    <input type="hidden" name="version" th:value="*{version}" />



                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <button class="btn btn-white" type="reset" id="cancel">Cancel</button>
                                            <button class="btn btn-primary" type="submit">Save</button>
                                        </div>
                                    </div>

                                    <div th:replace="layout::form-validation"></div>


                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- footer content -->
        <footer th:replace="layout :: footer">
        </footer>
        <!-- /footer content -->
    </div>
</div>



<!-- Page-Level Scripts -->

<script>



    document.getElementById("cancel").onclick = function () {
        location.href = "/ops/accounts/restriction/account";
    }
</script>

</body>
</html>
