<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

<body onload="javascript:var bread = [['Home', '/corporate/dashboard'],['DraftRequest']];currentBar('Draft Request');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width bank-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>
    <div class="col-xs-12 ml-15 no-pad-left no-pad-right">
        <!--<div class="col-xs-11 no-pad-lef no-mt alert no-bd">-->
        <div class="col-xs-10 col-sm-10 wel no-pad-left no-pad-right ">
            <h3 class="related-bar">

                <span class="related-info pantone-1"  th:text="${draftMessage + charge}"></span>
<!--                <span class="related-info pantone-1" th:text="${charge}"></span>-->
            </h3>
        </div>
        <form method="post" th:action="@{/corporate/requests}"  th:object="${requestDTO}" id="reqForm">
            <div class="col-md-5 col-sm-5 no-pad-left">
                <input class="form-control" type="hidden" id="requestName" name="requestName"
                       th:value="${requestConfig.requestName}"/>
                <input type="hidden" name="serviceReqConfigId" th:value="${requestConfig.id}"/>
                <input type="hidden" name="Charge" th:value="${charge}" id="chrg">

                <!--<input type="hidden" name="urlPart" value="cheque/chequebook"/>-->
                <div class="form-group">
                    <label>Amount</label>
                    <span class="req"></span>
                    <input type="number" min="0" max="9999999999"  th:name="Amount" id="amount" th:value="${amount}" required
                           class="form-control" onchange="checkBalance();"/>
                </div>

                <div class="form-group">
                    <label>Amount in words</label>
                    <span class="req"></span>
                    <input type="text"  th:name="AmountInWords" id="amountInWords" th:value="${amountInWords}" readonly
                           class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Beneficiary</label>
                    <span class="req"></span>
                    <input type="text"  th:name="Beneficiary"  th:value="${beneficiary}"
                           class="form-control" required/>
                </div>

                <div class="form-group">
                    <label>Date</label>
                    <span class="req"></span>
                    <input type="text" data-date-format="dd-mm-yyyy" class="form-control datepicker" id="datepicker" name="Date" placeholder="Date" required />
                </div>



            </div>



            <div class="col-md-5 col-sm-5 no-pad-left">
                <div class="form-group">
                    <label>Account to be debited</label>
                    <span class="req"></span>
                    <select id="acctNumber" th:name="AccountNumber"
                            class="form-control full-width"
                            required="required" onchange="checkBalance();">
                        <option value="">Select Account to be debited</option>

                        <option th:each="s: ${accounts}" th:value="${s.accountNumber}"
                                th:text="${s.accountNumber}"></option>
                    </select>
                </div>
                <span id="balanceError" style="color:red"></span>


                <div class="form-group">
                    <label>Pick up Branch</label>
                    <span class="req"></span>
                    <select id="branch" th:name="Pick-Up-Branch"
                            class="form-control full-width"
                            required="required"  >
                        <option value="">Select pick up branch</option>
                        <option th:each="branch: ${branches}" th:value="${branch.description}"
                                th:text="${branch.description}"></option>
                    </select>
                </div>




                <!--<div class="col-xs- col-sm-5 wel no-pad-left no-pad-right ">-->

                <div style="min-height: 130px;background: #ebecef;">
                    <h3 class="related-bar">Related Information</h3>

                    <p class="related-info pantone-1" id="charge"><b></b></p>

                    <!--<input type="availBal" name="availBal"/>-->
                    <p class="related-info pantone-1" id="location"><b></b></p>

                </div>

                <!--</div>-->

                <div class="form-group">
                    <button class="btn btn-link required-step pull-left" id="submit" type="submit">Submit
                    </button>

                    <a th:href="@{/corporate/cheque/draft}" class="btn btn-link pull-left"
                       style="margin-top: 2%">Cancel</a>
                </div>

                <!--th:onfocus="'javascript:getBranch('+${branch.extraInfo}+');'"-->

            </div>
        </form>

    </div>
</div>


<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        $('#reqForm').submit(function (event) {
            var arrays = [];


            var form = $('#reqForm').serializeArray();
            var formData = JSON.stringify(form);
            $('#requestName').val(formData);
            $('#submitform').submit();

        });
        $('#amount').keyup(function () {
            console.log("test");
            convertToWords();
        });


        function convertToWords() {
            var amount = $('#amount').val();
            console.log("the amount " + amount);
            if (amount != '') {
                convertAmountToWords(amount);

            }

        }

        function convertAmountToWords(amount) {
            $.ajax({
                "url": "/util/convertAmountToWords",
                "type": "POST",
                "data": {
                    amount: amount
                },
                success: function (result) {
                    console.log("the result " + result);
                    $('#amountInWords').val(result);

                },
                error: function (err) {
                    console.log("can't fetch because " + err)
                }

            })
        }

        var branches = [[${branches}]];

        $("#branch").on('change', function() {
            var selectedBranch = $("#branch").val();
            $.each(branches, function (key, value) {
                if (selectedBranch === value.description) {
                    $("#location").text(value.extraInfo);
                }
            })
        })

        var today = new Date();

        $('#datepicker').datepicker({
            format: 'mm-dd-yyyy',
            autoclose:true,
            startDate: today,
            minDate:today

        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });


        $('#datepicker').keyup(function () {
            if (this.value.match(/[^0-9]/g)) {
                this.value = this.value.replace(/[^0-9^-]/g, '');
            }
        });



        function checkBalance() {
            var accountNumber = $("#acctNumber").val();
            var balanceMessage = "";
            var amount=$("#amount").val();

            if (amount !== "" && accountNumber !== "" && amount<1000000000) {
                $.ajax({
                    "url": "/corporate/cheque/balance/check",
                    "type": "POST",
                    "data": {
                        charge: amount,
                        accountNumber: accountNumber,
                    }, success: function (result) {
                        balanceMessage = result;
                        $("#balanceError").text(balanceMessage);
                        if (balanceMessage !== "") {
                            $("#submit").prop("disabled", true);
                        } else $("#submit").prop("disabled", false);

                    },
                });
            }
        }
    </script>
</th:block>

</body>
</html>