<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<header th:replace="cust_layout :: header">
</header>

<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header">New Direct Debit</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content-bg">
                <div class="row form-spacing">
                    <div class="col-md-6 col-sm-6">
                        <form id="local" method="post" th:action="@{/retail/directdebit}" th:object="${directDebit}">
                            <input type="hidden" th:value="local" class="form-control"/>
                            <div class="form-group">
                                <label>Beneficiary</label>
                                <select name="beneficiary" class="form-control">
                                    <option th:each="beneficiary : ${beneficiaries}" th:value="${beneficiary.id}" th:text="${beneficiary.preferredName}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Debit Account</label>
                                <select name="debitAccount" class="form-control" >
                                    <option th:each="account : ${accounts}" th:value="${account.accountNumber}" th:text="${bank.institutionName}"></option>
                                </select>
                            </div>
                            <div class="form-group">
	                            <label>Amount</label>
	                            <input name="amount" class="form-control" placeholder="Amount"/>
	                        </div>
	                        <div class="form-group">
                                <label>Interval (Number of Days)</label>
                                <input name="interval" class="form-control" placeholder="Interval"/>
                            </div>
                            <div class="form-group">
                                <label>Narration</label>
                                <input name="narration" class="form-control" placeholder="Narration"/>
                            </div>
                            <button class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
            <div th:replace="cust_layout :: sidebar" class="col-md-3 sidebar">
            </div>
        </div>
    </div>
</section>


<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>

<script>
    $('#benType').on('change',function(){
        if( $(this).val()==="foreign"){
            $("#foreign").show()
            $("#local").hide()
        }
        else if( $(this).val()==="local"){
            $("#local").show()
            $("#foreign").hide()
        }
    });
</script>
</body>
</html>