<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<div class="container">
    <header th:replace="cust_layout :: header">
    </header>

<section class="content-wrapper">
    <div class="containe">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h5 class="page_header"> Direct Debit</h5>
                <a th:href="@{/retail/directdebit/new}" class="pull-right">Add New Direct Debit</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content-bg">

                    <div class="col-md-10">
                        <table class="table table-responsive">
                            <thead>
                                <td>Beneficiary</td>
                                <td>Debit Account</td>
                                <td>Amount</td>
                                <td>Next Debit Date</td>
                            </thead>
                            <tbody>
                                <tr th:each="dd : ${directDebits}">

                                    <td th:text="${dd.debitAccount}"></td>
                                    <td th:text="${dd.amount}"></td>
                                    <td th:text="${dd.nextDebitDate}"></td>
                                    <td><a th:href="@{'/retail/beneficiary/' + ${dd.id} + '/int/delete'}"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

            </div>
            <div class="col-md-3 pull-right " >
                <div th:replace="cust_layout :: sidebar" class="" >
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
</div>
</body>
</html>