<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>



<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <div th:replace="layout :: admin-menu"></div>
                <div th:replace="layout :: menu-footer-adm"></div>

            </div>
        </div>
        <div th:replace="layout :: top-nav"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Audit Revision for <label th:text="${entityName}"></label></h3>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <div class="form-group">
                                    <div class="col-lg-2">
                                        <label for="entityName">Entity Name</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <select id="entityName" class="form-control" onchange="getEntityDetails(this.value)" >
                                            <option>--entity name--</option>
                                            <option th:each="entity: ${entities}" th:value="${entity.entityName}" th:text="${entity.entityName}"></option>
                                        </select>
                                    </div>
                                </div>
                                <ul class="nav navbar-left panel_toolbox">
                                    <div class="col-lg-4">

                                    </div>
                                    <li>
                                        <div class="col-lg-4">
                                            <div class="title-action">
                                                <!--<a  class="btn btn-primary btn-sm bt-select bt-link-act" href="/admin/audit/id/classname/view" disabled="disabled" ><i class="fa fa-pencil"></i>  View</a>-->

                                            </div>
                                        </div>
                                        <div>

                                        </div>
                                    </li>

                                </ul>

                                <ul class="nav navbar-right panel_toolbox col-lg-4 pull-right">

                                    <!--<li class="pull-right" >-->
                                    <!--<div class="input-group col-lg-12">-->
                                    <!--<input type="text" class="form-control" id="pattern" placeholder="Search for..."/> <span-->
                                    <!--class="input-group-btn">-->
                                    <!--<button class="btn btn-success" id="search" type="button">Go!</button>-->
                                    <!--</span>-->
                                    <!--</div>-->
                                    <!--</li>-->

                                </ul>

                                <div class="clearfix"></div>
                            </div>
                            <div class="input-group col-lg-6">
                                <!--<select id="entityName">-->
                                <!--<option th:each="entity: ${entities}" th:value="${entity}" th:text="${entity}"></option>-->
                                <!--</select>-->
                                <input type="text" class="form-control" id="pattern" placeholder="Search for..."/> <span
                                    class="input-group-btn">
										<button class="btn btn-success" id="search" type="button">Go!</button>
									</span>
                            </div>
                            <div class="x_content">

                                <table class="table table-striped table-bordered table-hover" id="auditview">

                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Modifed By</th>
                                        <th>Date</th>
                                        <th>IP Address</th>
                                        <th>ID</th>
                                        <th th:each="header : ${headers}" th:text="${header}"></th>
                                    </tr>
                                    </thead>

                                    <tbody>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- footer content -->
        <footer th:replace="layout :: footer">
        </footer>
        <!-- /footer content -->
    </div>
</div>


<script th:src="@{~/bank/vendors/datatables.net/js/jquery.dataTables.js}"></script>
<script th:src="@{~/bank/js/dataTables.select.js}"></script>
<script th:src="@{~/bank/js/dataTables.bootstrap.js}"></script>
<script th:src="@{~/bank/js/jquery.spring-friendly.min.js}"></script>
<script th:src="@{~/bank/vendors/bootstrap-dialog/js/bootstrap-dialog.js}"></script>
<script th:src="@{~/bank/js/momentMin.js}"></script>


<!-- Page-Level Scripts -->
<script th:inline="javascript">

    $("#pattern").keyup(function(event){
        if(event.keyCode == 13){
            $("#search").click();
        }
    });
    /*<![CDATA[*/
    $(document).ready(function() {
        var entityClass = [[${entityName}]];
        var entityFields = [[${fields}]];
        entityFields = String(entityFields);
        console.log("the entityname "+entityClass);
        console.log("the entityname "+entityFields);

        var dataTable= [
            { "data": "entityClassName",
                "visible" : false
            },
            { "data": "modifiedEntities.revision.lastChangedBy" },
            { "data": "modifiedEntities.revision.revisionDate" },
            { "data": "modifiedEntities.revision.ipAddress" },
            { "data": "entityDetails.id" }
        ];
        if(entityFields != null || entityFields != "null") {
            var splitFields = entityFields.split(",");
            console.log("the splited value " + splitFields);

            for (var i = 0; i < splitFields.length; i++) {
                dataTable.push({"data": splitFields[i]});
            }
        }
//        console.log("the data to display is "+String(dataTable));

        var table = $('#auditview').DataTable({
            select:true,
            responsive: true,
            "pagingType" : "simple_numbers",
            "lengthMenu" : [ [5, 10, 20, 30, 40, -1],	[ 5,10, 20, 30, 40, "All" ] ],
            "searching": false,
            rowId: 'entityDetails.id',
            "scrollX": true,
            "paging": true,
            "serverSide" : true,
//            url : "/admin/audit/entity/name/details",
            "ajax" : {
                url : "/admin/audit/entity/name/details",
                "type" : "GET",
                "data" : function(d) {
                    d.className = entityClass;
                    d.csearch = $('#pattern').val();
                }
            },
            "dom": 'T<"clear">frtlp',
            "columns":dataTable,"columnDefs" : [ {
                "targets" : 2,
                "data" : "modifiedEntities.revision.ipAddress",
                "render" : function(data, type,full, meta) {
                    if (type === 'display') {
                        if(data == null)
                            console.log("the entityclassName "+data);
                        var dtStart = new Date(data);
                        var dtStartWrapper = dtStart.toGMTString();
                        return dtStartWrapper;
                    }
                    return data;
                }
            }] });

//        table.on('select', function()
//        {
//            if (table.rows({
//                        selected : true
//                    }).indexes().length === 0) {
//                $('.bt-select').attr("disabled", true);
//            } else {
//                $('.bt-select').removeAttr("disabled");
//            }
//        });

        $("#search").on("click", function(e)
        {
            e.preventDefault();
            dt = $('#auditview').DataTable();
            dt.ajax.reload(null, true);
        });
    });


    var id;
    var className;







    function warnBeforeRedirect(ooo) {
        swal({
            title: "Are you sure?",
            text: "Are you sure that you want to delete this code?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete code!",
            closeOnConfirm: false
        }, function() {

            window.location.assign(ooo);
        });
    }
    function getEntityDetails(name) {
        if(name != '') {
            window.location.href = '/admin/audit/revised/' + name;
        }
    }

    /*]]>*/
</script>



</body>
</html>
