<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">

                    <!--<a href="index.html"><img th:src="@{~/images/cmb_logo.png}"/></a>-->
                </div>

                <div class="clearfix"></div>
                <div class="clearfix"></div>

                <div th:replace="layout :: admin-menu"></div>
                <div th:replace="layout :: menu-footer-adm"></div>

            </div>
        </div>
        <div th:replace="layout :: top-nav"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Edit Admin User</h3>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">


                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <div class="ibox-content">
                                    <form method="post" class="form-horizontal" th:action="@{/admin/users/update}"
                                          th:object="${adminUser}">

                                        <input type="hidden" class="form-control" th:field="*{id}"/>

                                        <input type="hidden" class="form-control" th:field="*{version}"/>


                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Username</label>

                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" th:field="*{userName}"/>
                                            </div>


                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">First Name</label>

                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" th:field="*{firstName}"/>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Last Name</label>

                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" th:field="*{lastName}"/>
                                                <!--<p th:if="${#fields.hasErrors('*')}" th:errors="*{lastName}">Last Name Error</p>-->

                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Email</label>

                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" th:field="*{email}"/>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Phone</label>

                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" th:field="*{phoneNumber}"/>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Role</label>
                                            <div class="col-sm-6">

                                                <select class="form-control" th:field="*{roleId}">
                                                    <option value="">Select..</option>
                                                    <option th:each="role : ${roles.?[#strings.equalsIgnoreCase(userType, 'admin')]}"
                                                            th:value="${role.id}" th:text="${role.name}"
                                                            th:selected="${role.id==adminUser.roleId}"></option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-2">
                                                <button class="btn btn-white" type="reset" id="cancel">Cancel</button>
                                                <button class="btn btn-primary" type="submit">Save</button>
                                            </div>
                                        </div>
                                        <div th:replace="layout::form-validation"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="layout :: footer">
        </footer>
        <!-- /footer content -->
    </div>
</div>
<script> document.getElementById("cancel").onclick = function () {
    location.href = "/admin/users";
}</script>
</body>
</html>