<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <div th:replace="layout :: admin-menu"></div>
                <div th:replace="layout :: menu-footer-adm"></div>

            </div>
        </div>
        <div th:replace="layout :: top-nav"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <!--<div class="page-title">-->
                    <!--<div class="title_left">-->
                        <!--<h3>Create Admin User</h3>-->
                    <!--</div>-->

                <!--</div>-->

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Change Password</h2>

                                <div class="clearfix"></div>
                            </div>



                            <div class="x_content">
                                <div class="ibox-content">
                                    <form method="post" class="form-horizontal" th:action="@{/admin/users/password}" th:object="${changePassword}">

                                        <div class="form-group">
                                            <ul id="">
                                                <li th:each="rule : ${passwordRules}" th:text="${rule}">Input is incorrect</li>
                                            </ul>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Old Password</label>
                                            <div class="col-sm-4">
                                            <input id="password" type="password" name="oldPassword" class="form-control" th:field="*{oldPassword}"/>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">New Password</label>
                                            <div class="col-sm-4">
                                            <input id="newpassword" type="password" class="form-control" th:field="*{newPassword}"/>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Confirm New Password</label>
                                            <div class="col-sm-4">
                                            <input id="conpassword" type="password" class="form-control" th:field="*{confirmPassword}"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-2">
                                                <button class="btn btn-white" type="reset" id="cancel">Cancel</button>
                                                <button class="btn btn-primary" type="submit">Submit</button>
                                            </div>
                                        </div>

                                        <div th:replace="layout :: form-validation">

                                        </div>



                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="layout :: footer">
        </footer>
        <!-- /footer content -->
    </div>
</div>
<script>
    document.getElementById("cancel").onclick = function () {
    location.href = "/admin/dashboard";}
</script>

<script>
    $('#password').bind("cut copy paste",function(e) {
        e.preventDefault();
    });

    $('#newpassword').bind("cut copy paste",function(e) {
        e.preventDefault();
    });

    $('#conpassword').bind("cut copy paste",function(e) {
        e.preventDefault();
    });
</script>
</body>
</html>