<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <div th:replace="layout :: ops-menu"></div>
                <div th:replace="layout :: menu-footer-ops"></div>

            </div>
        </div>
        <div th:replace="layout :: ops-top-nav"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3 th:text="${corporate.customerName}"></h3>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Corporate Identification</h2>

                                <div class="clearfix"></div>

                                            <!--<div class="x_title">-->
                                                <!--<ul class="nav navbar-right panel_toolbox col-lg-4 pull-right">-->

                                                    <!--<li>-->
                                                        <!--<div class="col-lg-4">-->
                                                            <!--<div class="title-action">-->
                                                                <!--<a href="/admin/users/new" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Add</a>-->
                                                            <!--</div>-->
                                                        <!--</div>-->
                                                    <!--</li>-->

                                                <!--</ul>-->
                                        <!--</div>-->
                            </div>
                            <div class="x_content">
                                <div class="ibox-content">
                                    <form method="post" class="form-horizontal"
                                          th:action="@{/ops/corporates/accounts/authorization}"
                                          th:object="${corporate}">


                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Corporate ID</label>

                                            <div class="col-sm-6">
                                                <input type="text" id="corpUniqueId" class="form-control" required
                                                       th:field="*{corporateId}"
                                                       placeholder="Unique ID for the corporate"/>
                                                <div id="custError" style="display: none;">

                                                    <p style="color:red;">Corporate ID already existing</p>
                                                </div>
                                                <div id="custiDError" style="display: none;">

                                                    <p style="color:red;">Corporate ID is mandatory</p>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Corporate Name</label>

                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="corporateName"
                                                       onkeyup="emptyCorpName()" required th:field="*{corporateName}"
                                                       placeholder="Name for the corporate"/>
                                                <div id="custNameError" style="display: none;">

                                                    <p style="color:red;">Corporate name is mandatory</p>
                                                </div>
                                            </div>
                                        </div>


                                        <input type="hidden" class="form-control" th:field="*{customerId}"/>
                                        <input type="hidden" id="selectedAccounts" value=""/>


                                        <hr/>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Accounts <span
                                                    style="color: red"></span></label>
                                            <div class="col-sm-6">
                                                <a style="float: right" href="#"  data-toggle="modal" data-target="#myModal">Add More Accounts</a>

                                            </div>

                                            <div class="col-sm-6" id="accountsDiv" style="max-height: 250px; overflow-y: scroll;">

                                                <p th:if="${not #lists.isEmpty(accounts)}"><input type="checkbox"
                                                                                                  id="checkAll"/> Select
                                                    All</p>
                                                <p th:if="${#lists.isEmpty(accounts)}" style="color: red">No
                                                    Transactional/Active accounts available.</p>
                                                    <hr/>

                                                <p th:each="account,index: ${accounts}">
                                                    <input type="hidden" id="accountSize" th:value="${index.size}"/>
                                                    <label class="checkbox-inline">
                                                        <span th:if="${selectedAccounts} =='null'">
                                                        <input type="checkbox" class="accountAttached"
                                                               onclick="noCorpAccountSelected(this)"
                                                               th:class="account+${index.index}"
                                                               th:id="acct+${account.accountNumber}" name="accounts"
                                                               th:value="${account.accountNumber}"/>
                                                            <input type="hidden" name="cifids" th:value="${account.customerId}"/>
                                                        <span th:text="${account.accountNumber}+' - '+${account.accountName}"></span>
                                                            <span th:text="' - '+${account.schemeType}"
                                                                  name="acctType"></span>
                                                             <span th:text="' - '+${account.customerId}"
                                                                   th:name="acctCustomerId"></span>
                                                        </span>
                                                        <span th:if="${selectedAccounts} != 'null'">
                                                        <span th:if="${#lists.contains(selectedAccounts,account.accountNumber)} == true">
                                                        <input type="checkbox" checked class="accountAttached"
                                                               onclick="noCorpAccountSelected(this)"
                                                               th:class="account+${index.index}"
                                                               th:id="acct+${account.accountNumber}" name="accounts"
                                                               th:value="${account.accountNumber}"/>
                                                            <input type="hidden" name="cifids" th:value="${account.customerId}"/>

                                                        <span th:text="${account.accountNumber}+' - '+${account.accountName}"></span>
                                                            <span th:text="' - '+${account.schemeType}"
                                                                  th:name="acctType"></span>
                                                            <span th:text="' - '+${account.customerId}"
                                                                  th:name="acctCustomerId"></span>
                                                        </span>
                                                        <span th:if="${#lists.contains(selectedAccounts,account.accountNumber)} == false">
                                                        <input type="checkbox" class="accountAttached"
                                                               onclick="noCorpAccountSelected(this)"
                                                               th:class="account+${index.index}"
                                                               th:id="acct+${account.accountNumber}" name="accounts"
                                                               th:value="${account.accountNumber}"/>
                                                            <input type="hidden" name="cifids" th:value="${account.customerId}"/>

                                                        <span th:text="${account.accountNumber}+' - '+${account.accountName}"></span>
                                                            <span th:text="' - '+${account.schemeType}"
                                                                  th:name="acctType"></span>
                                                             <span th:text="' - '+${account.customerId}"
                                                                   th:name="acctCustomerId"></span>
                                                        </span>
                                                            </span>
                                                    </label>
                                                </p>
                                            </div>
                                            <div id="custAccountError" style="display: none;">

                                                <p style="color:red;">&nbsp;&nbsp;At least one account is required</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-2">
                                                <a class="btn btn-primary" th:href="@{/ops/corporates/back/new}"
                                                   id="back">Previous</a>
                                                <button onclick="isCheckboxCheck()" class="btn btn-primary"
                                                        type="button">Next
                                                </button>
                                                <button id="submit" style="display: none" class="btn btn-primary"
                                                        type="submit">Next
                                                </button>
                                            </div>
                                        </div>
                                        <div th:replace="layout::form-validation"></div>
                                    </form>
                                </div>
                                `
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- Modal -->
        <form method="post" class="form-horizontal" id="aform">
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <!--<button type="button" id="closeModal" class="close" data-dismiss="modal">&times;</button>-->
                            <button type="button" id="closeModal" class="close">&times;</button>
                            <h4 class="modal-title">Add Corporate Accounts</h4>
                        </div>
                        <div class="modal-body">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">CIFID</label>

                                            <div class="col-sm-9">

                                                <div class="input-group col-lg-12">
                                                    <input type="text" class="form-control" name="cifid" id="cifid" placeholder="Enter CIFID"/> <span
                                                        class="input-group-btn">

										<button  class="btn btn-primary"  id="find">Fetch</button>
									</span>

                                                </div>
                                                <p id="cifid-error" style="color: red;display:none"></p>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-12">





                                    </div>
                                </div>


                            </div>

                        </div>
                        <!--<div class="modal-footer">-->
                            <!--<button id="add_authorizer" type="submit" class="btn btn-primary">Add</button>-->
                            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
                        <!--</div>-->
                    </div>


                </div>
            </div>
        </form>
        <!-- Modal -->


        <!-- footer content -->
        <footer th:replace="layout :: footer">
        </footer>
        <!-- /footer content -->
    </div>
</div>
<script type="text/javascript" class="init" th:inline="javascript">


    $(document).ready(function () {


        $("#corpUniqueId").keyup(function () {
            validateCorpId();
        });

        $("#corpUniqueId").blur(function () {
            validateCorpId();
        });


        var corpName = [[${corporate.customerName}]];

        $("#corporateName").val(corpName);

//        var selectedAcct =  $('#selectedAccounts').val();
        $("#checkAll").change(function () {
            if ($(this).is(":checked")) {

                $("input[name='accounts']").prop("checked", true);
                $("#custAccountError").hide();

            } else {
                $("input[name='accounts']").prop("checked", false);
            }
        });

        $("input[name='accounts']").change(function () {

            if (!$(this).is(":checked")) {

                $("#checkAll").prop("checked", false);
            }


        });

    });
    $("#search").click(function (e) {
        e.preventDefault();

        var custId = $("#customerId").val();
        console.log("customer Id: " + custId);

        $.ajax({
            url: "/ops/corporates/" + custId + "/name",
            success: function (result) {
                if (result != "false") {
                    $("#customerName").val(result);
                    $("#custName").show();
                    $("#custError").hide();

                }
                else {
                    $("#custName").hide();
                    $("#custError").show();
                }
            },
            error: function (xhr, status, err) {
                console.log("error");
                var msg = "<p style='color:red;'>Error occurred validating Customer ID. Try again later.</p>";
                $("#custError").html(msg);

            }
        });
    });




    $("#closeModal").click(function (e) {
        e.preventDefault();
        $("input[name='cifid']").val("");
        $("#cifid-error").text("");
        $("#myModal").modal('toggle');

    });

    $("#find").click(function (e) {
        e.preventDefault();

        $("#cifid-error").text("");

        cifid = $("input[name='cifid']").val();

        if (cifid == "") {
            $("#cifid-error").text("CIFID is required")
            $("#cifid-error").show();
            $("#cifid").focus();
            return;
        }
        else {
            $("#cifid-error").modal('hide');
            $("#cifid-error").text("");
            $("#cifid").focus();


            var accountsAdded = false;

            $("#accountsDiv").each(function(){
                if($(this).html().indexOf(cifid) > -1){
                  accountsAdded = true;
                  return;
                }
            });

            if(accountsAdded){
                $("#cifid-error").text("Accounts already added for the CIFID");
                $("#cifid-error").show();
                return;
            }

            $("#find").text("Fetching Accounts...")
            $("#find").attr("disabled","disabled")

            $.ajax({
                url: "/ops/corporates/new/" + cifid+"/accounts",
                success: function (account) {
                    console.log("cifid is " + cifid);

                    if(account.length==0){
                        $("#cifid-error").text("No available accounts for CIFID");
                        $("#cifid-error").show()
                        $("#find").text("Fetch")
                        $("#find").removeAttr("disabled")
                        return;
                    }

                    var fetchError = false;
                   for(var i=0;i<account.length;i++){
                       console.log("data is "+account[i].accountNumber)


                       if(account[i].accountNumber === undefined){
                           $("#cifid-error").text("Error occurred while fetching account");
                           fetchError = true;
                           break;
                       }
                       var newAccount =  "<p><label class='checkbox-inline'><input type='checkbox' checked='checked' onclick='noCorpAccountSelected(this)' id='acct"+account[i].accountNumber+"'  name='accounts' value='"+account[i].accountNumber+"'/> <span>"+account[i].accountNumber+" - "+account[i].accountName+" - "+account[i].schemeType+" - "+account[i].customerId+"</span><input type='hidden' name='cifids' value='"+account[i].customerId+"'/> </p>"
                        $('#accountsDiv').append(newAccount)
                   }


                    if(fetchError){
                        $("#cifid-error").show()
                        $("#find").text("Fetch")
                        $("#find").removeAttr("disabled")
                            return;
                    }
                    else {
                        $("#cifid-error").hide()

                    }

                    $("#find").text("Fetch")
                    $("#find").removeAttr("disabled")
                    $("#myModal").modal('toggle');
                    $("input[name='cifid']").val("");
                    $("#cifid-error").hide()

                },
                error: function (xhr, status, err) {
                    console.log("error");
                    $("#find").text("Fetch")
                    $("#find").removeAttr("disabled")
                    $("#cifid-error").text("Error occurred fetching accounts");
                    $("#cifid-error").show();
                    return;

                }
            });


        }
    });





    var corpIdExists = false;

    function validateCorpId() {
        var custId = $("#corpUniqueId").val();

        if (custId == "") {
            return;
        }

        $.ajax({
            url: "/ops/corporates/validate/" + custId,
            success: function (result) {
                if (result != "false") {
                    $("#custError").hide();
                    $('#custiDError').hide();
                    corpIdExists = false

                }
                else {
                    $('#custiDError').hide();

                    $("#custError").show();
                    corpIdExists = true

                }
            },
            error: function (xhr, status, err) {
                console.log("error");
                var msg = "<p style='color:red;'>Error occurred validating Corporate ID. Try again later.</p>";
                $("#custError").html(msg);
                //$("#custError").show();


            }
        });
    }
    function emptyCorpName() {
        if ($('#corporateName').val() == '') {
            $('#custNameError').show()
        } else {
            $('#custNameError').hide()
        }
    }

    function noCorpAccountSelected(checkbox) {
        var selectedItem = 0;
        var noOfAccounts = $('#accountSize').val();
        var anyAccountSelected = $('input[name="accounts"]:checked').length > 0;
        if (anyAccountSelected) {
            selectedItem += 1;
        }
        if (selectedItem == 0) {
            $('#custAccountError').show()
        } else {
            $('#custAccountError').hide()
        }

        if (!checkbox.checked) {
            $("#checkAll").prop("checked", false);
        }

    }
    function isCheckboxCheck() {
        var selectedItem = 0;
        var noOfAccounts = $('#accountSize').val();
//        console.log("the accounts size " + $('#corpUniqueId').val());
        var anyAccountSelected = $('input[name="accounts"]:checked').length > 0;
//    console.log("no checked "+$('input[name="accounts"]:checked').length);
        if (anyAccountSelected) {
            selectedItem += 1;
        }
        if ($('#corpUniqueId').val() == '') {
            $('#custiDError').show()
        } else {
            $('#custiDError').hide()
        }
        if ($('#corporateName').val() == '') {
            $('#custNameError').show()
        } else {
            $('#custNameError').hide()
        }
//    if($('#corpUniqueId').val().isEmpty()){
//        $('#custError').show()
//    }else{
//        $('#custError').hide()
//    }
        console.log("the no of accounts selected " + selectedItem);
        if (selectedItem > 0) {
            $('#custAccountError').hide();
            validateCorpId();
            if (corpIdExists == true) {
                return;
            }
            else {
                $('#submit').trigger('click');
            }
        } else {
            $('#custAccountError').show();
            return false;
        }
    }

</script>
</body>
</html>