<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <!--<a href="index.html"><img th:src="@{~/images/cmb_logo.png}"/></a>-->
                </div>

                <div class="clearfix"></div>
                <div class="clearfix"></div>

                <div th:replace="layout :: ops-menu"></div>
                <div th:replace="layout :: menu-footer-ops"></div>

            </div>
        </div>
        <div th:replace="layout :: ops-top-nav"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3 th:text="${corporate.customerName}"></h3>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Corporate Identification</h2>

                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="ibox-content">
                                    <form method="post" class="form-horizontal" th:action="@{/ops/corporates/accounts}"
                                          th:object="${corporate}">


                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Corporate ID</label>

                                            <div class="col-sm-6">
                                                <input type="text" id="corpUniqueId" class="form-control"
                                                       onkeyup="validateCorpId()" onblur="validateCorpId()" on required
                                                       th:field="*{corporateId}"
                                                       placeholder="Unique ID for the corporate"/>
                                                <div id="custError" style="display: none;">

                                                    <p style="color:red;">Corporate ID already existing</p>
                                                </div>
                                                <div id="custiDError" style="display: none;">

                                                    <p style="color:red;">Corporate ID is mandatory</p>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Corporate Name</label>

                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="corporateName"
                                                       onkeyup="emptyCorpName()" required th:field="*{corporateName}"
                                                       placeholder="Name for the corporate"/>
                                                <div id="custNameError" style="display: none;">

                                                    <p style="color:red;">Corporate name is mandatory</p>
                                                </div>
                                            </div>
                                        </div>


                                        <input type="hidden" class="form-control" th:field="*{customerId}"/>
                                        <input type="hidden" id="selectedAccounts" value=""/>


                                        <hr/>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Accounts <span
                                                    style="color: red"></span></label>
                                            <div class="col-sm-6" style="max-height: 250px; overflow-y: scroll;">


                                                <p th:each="account,index: ${accounts}">
                                                    <input type="hidden" id="accountSize" th:value="${index.size}"/>
                                                    <label class="checkbox-inline">
                                                        <span th:if="${selectedAccounts} =='null'">
                                                        <input type="checkbox" class="accountAttached"
                                                               onclick="noCorpAccountSelected()"
                                                               th:class="account+${index.index}"
                                                               th:id="acct+${account.accountNumber}" th:name="accounts"
                                                               th:value="${account.accountNumber}"/>
                                                        <span th:text="${account.accountNumber}+' - '+${account.accountName}"></span>
                                                        </span>
                                                        <span th:if="${selectedAccounts} != 'null'">
                                                        <span th:if="${#lists.contains(selectedAccounts,account.accountNumber)}">
                                                        <input type="checkbox" checked class="accountAttached"
                                                               onclick="noCorpAccountSelected()"
                                                               th:class="account+${index.index}"
                                                               th:id="acct+${account.accountNumber}" th:name="accounts"
                                                               th:value="${account.accountNumber}"/>
                                                        <span th:text="${account.accountNumber}+' - '+${account.accountName}"></span>
                                                        </span>
                                                        <span th:if="${#lists.contains(selectedAccounts,account.accountNumber)} == false">
                                                        <input type="checkbox" class="accountAttached"
                                                               onclick="noCorpAccountSelected()"
                                                               th:class="account+${index.index}"
                                                               th:id="acct+${account.accountNumber}" th:name="accounts"
                                                               th:value="${account.accountNumber}"/>
                                                        <span th:text="${account.accountNumber}+' - '+${account.accountName}"></span>
                                                        </span>
                                                            </span>
                                                    </label>
                                                </p>
                                            </div>
                                            <div id="custAccountError" style="display: none;">

                                                <p style="color:red;">You must select at least one account</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-2">
                                                <a class="btn btn-primary" th:href="@{/ops/corporates/back/new}"
                                                   id="back">Previous</a>
                                                <button onclick="isCheckboxCheck()" class="btn btn-primary"
                                                        type="button">Next
                                                </button>
                                                <button id="submit" style="display: none" class="btn btn-primary"
                                                        type="submit">Next
                                                </button>
                                            </div>
                                        </div>
                                        <div th:replace="layout::form-validation"></div>
                                    </form>
                                </div>
                                `
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="layout :: footer">
        </footer>
        <!-- /footer content -->
    </div>
</div>
<script>
    $(document).ready(function () {
//        var selectedAcct =  $('#selectedAccounts').val();
//
//        if(selectedAcct != ''){
//            selectedAcct =  selectedAcct.replace('[','');
//            selectedAcct =  selectedAcct.replace(']','');
//            console.log("selectedAcct "+selectedAcct);
//            var selectedAccts = selectedAcct.split(",");
//            console.log("selectedAccts "+selectedAccts.length);
//
////            $('acct'+selectedAccts[1]).prop('checked', true);
//            for(var i=0; i<selectedAccts.length;i++){
//                console.log("selectedAccts "+selectedAccts[i]);
//                $('#acct'+selectedAccts[i]).prop('checked', true);
//            }
//        }
    });
    $("#search").click(function (e) {
        e.preventDefault();

        var custId = $("#customerId").val();
        console.log("customer Id: " + custId);

        $.ajax({
            url: "/ops/corporates/" + custId + "/name",
            success: function (result) {
                if (result != "false") {
                    $("#customerName").val(result);
                    $("#custName").show();
                    $("#custError").hide();

                }
                else {
                    $("#custName").hide();
                    $("#custError").show();
                }
            }
        });
    });

    var corpIdExists = false;

    function validateCorpId() {
        var custId = $("#corpUniqueId").val();
        $.ajax({
            url: "/ops/corporates/validate/" + custId,
            success: function (result) {
                if (result != "false") {
                    $("#custError").hide();
                    $('#custiDError').hide();
                    corpIdExists = false

                }
                else {
                    $('#custiDError').hide();

                    $("#custError").show();
                    corpIdExists = true

                }
            }
        });
    }
    function emptyCorpName() {
        if ($('#corporateName').val() == '') {
            $('#custNameError').show()
        } else {
            $('#custNameError').hide()
        }
    }
    function noCorpAccountSelected() {
        var selectedItem = 0;
        var noOfAccounts = $('#accountSize').val();
//        console.log("the accounts size "+$('#corpUniqueId').val());
        var anyAccountSelected = $('input[name="accounts"]:checked').length > 0;
//        console.log("no checked "+$('input[name="accounts"]:checked').length);
        if (anyAccountSelected) {
            selectedItem += 1;
        }
        if (selectedItem == 0) {
            $('#custAccountError').show()
        } else {
            $('#custAccountError').hide()
        }
    }
    function isCheckboxCheck() {
        var selectedItem = 0;
        var noOfAccounts = $('#accountSize').val();
        console.log("the accounts size " + $('#corpUniqueId').val());
        var anyAccountSelected = $('input[name="accounts"]:checked').length > 0;
//    console.log("no checked "+$('input[name="accounts"]:checked').length);
        if (anyAccountSelected) {
            selectedItem += 1;
        }
        if ($('#corpUniqueId').val() == '') {
            $('#custiDError').show()
        } else {
            $('#custiDError').hide()
        }
        if ($('#corporateName').val() == '') {
            $('#custNameError').show()
        } else {
            $('#custNameError').hide()
        }
//    if($('#corpUniqueId').val().isEmpty()){
//        $('#custError').show()
//    }else{
//        $('#custError').hide()
//    }
        console.log("the no of accounts selected " + selectedItem);
        if (selectedItem > 0) {
            $('#custAccountError').hide();
            validateCorpId();
            if (corpIdExists == true) {
                return;
            }
            else {
                $('#submit').trigger('click');
            }
        } else {
            $('#custAccountError').show();
            return false;
        }
    }

</script>
</body>
</html>