<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="javascript:var bread = [['Home', '/corporate/dashboard'],['CMB transfer']];currentBar('CMB transfer');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-12 col-sm-12 ">
                 <a th:href="@{/retail/transfer/local/new}" class="pull-right extra-link">New Beneficiary</a>

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 ml-15 no-pad-left" >
        <div class="col-xs-12 no-pad-left alert no-bd">
           <div class="">


                    <div class="col-md-12 col-sm-12  table-responsive">
                        <h6 class="sub_header">Beneficiaries</h6>
                        <form method="post" >
                            <table class="table">
                                <thead>
                                <tr>
                                <th>Beneficiary name</th>
                                <th>Account Number</th>

                                <th></th>

                                </tr>
                                </thead>
                                <tbody>


                                <tr th:each="loc : ${localBen}">
                                    <td th:text="${loc.preferredName}"></td>
                                     <td th:text="${loc.accountNumber}"></td>
                                    <td>
                                        <!--<li class="dropdown" style="list-style: none">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" style="font-size:20px;" aria-haspopup="true"><i class=" fa fa-angle-right"></i></a>
                                        <ul class="dropdown-menu">-->


                                            <a class="btn btn-link required-step" th:href="@{'/retail/transfer/local/' + ${loc.id} }">make a transfer</a>


                                            
                                            <!--<li><a href="#">view details</a>
                                            </li>
                                            <li><a href="#">edit</a>
                                            </li>-->
                                        <!--</ul>
                                        </li>-->
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            <br/>
                            

                           <!-- <button type="submit" class="btn btn-default" style="float: right">Add beneficiary</button>
                       --> </form>
                    </div>
                    <!-- <a th:href="@{/retail/transfer/local/new}" class="btn btn-link less-required">New Beneficiary</a> -->
                               
           </div>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">
  <script>
    //datepicker
    $( function() {
        $( "#datepicker" ).datepicker(
                { dateformat : 'dd/mm/yy'}
        );
    } );
</script>
</th:block>

</body>
</html>