<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="javascript:var bread = [['Home', '/retail/dashboard'],['CMB transfer','/retail/transfer/local'],['transfer summary']];currentBar('Transfer');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 " >
        <div class="no-pad-lef alert no-bd no-mt">
          <div class="col-sm-offset-3  col-sm-6 form-spacin">
                        <!--<div class="col-md-6 col-sm-6">-->



                        <table class="table table-hover center">
                           
                            <tr>

                                <th>Source account</th>
                                <td th:text="${transferRequest.customerAccountNumber}"></td>

                            </tr>
                            <tr>

                                <th>Destination account</th>
                                <td th:text="${transferRequest.beneficiaryAccountNumber}"></td>

                            </tr>
                            <tr>

                                <th>Destination account owner</th>
                                <td th:text="${transferRequest.beneficiaryAccountName}"></td>

                            </tr>
                            <tr>

                                <th>Amount</th>
                                <td th:text="${transferRequest.amount}"></td>

                            </tr>
                            <tr>

                                <th>Remarks</th>
                                <td th:text="${transferRequest.remarks}"></td>

                            </tr>
                            
                        </table>


                        <form method="post" th:action="@{/retail/transfer/process}" th:object="${transferRequest}">
                            <input type="hidden" th:field="*{customerAccountNumber}"/>
                            <input type="hidden" th:field="*{beneficiaryAccountNumber}"/>
                            <input type="hidden" th:field="*{beneficiaryAccountName}"/>
                            <input type="hidden" th:field="*{amount}"/>
                            <input type="hidden" th:field="*{remarks}"/>


                            <input type="hidden" th:field="*{id}"/>

                            <div class="checkbo" th:if="${newBen}!=null">
                                <input  type="checkbox" id="add" name="add" />
                                <label for='add' style="font-weight: bold; color: black;display:inline !important">Add Beneficiary</label>
                                    
                            </div>
                            <!--<div class="form-group">-->
                                <!--&lt;!&ndash;<a style="cursor: pointer;" onclick="goBack()" >Modify</a>&ndash;&gt;-->
                                <!--<button type="submit" class="btn btn-outline-primary">Proceed</button>-->
                                <!--<a th:href="@{/retail/transfer/local}">Cancel</a>-->



                            <!--<span class="form-group checkbox col-xs-5" th:if="${newBen}!=null">-->
                                <!--<label style="font-weight: bold; color: black;margin-left:10px !important">-->
                                    <!--<input  type="checkbox" id="add" name="add"/>Add Beneficiary-->
                                <!--</label>-->
                            <!--</span>-->
                            <div class="form-group col-xs-12   no-pad-left ">
                                <!--<a style="cursor: pointer;" onclick="goBack()" >Modify</a>-->
                                <button type="submit" class="btn btn-link required-step my-buttons">Proceed</button>

                                <button type="button" onclick="cancel();" class='btn btn-link less-required my-buttons'>Cancel</button>

                                <button type='button' class='btn btn-link less-required my-buttons' onclick="edit();">Modify</button>

                                </div>
                            <!--</div>-->

                        </form>

                        <form method="post" id="form_edit" th:action="@{/retail/transfer/local/edit}" th:object="${transferRequest}">
                            <input type="hidden" th:field="*{customerAccountNumber}"/>
                            <input type="hidden" th:field="*{beneficiaryAccountNumber}"/>
                            <input type="hidden" th:field="*{beneficiaryAccountName}"/>
                            <input type="hidden" th:field="*{amount}"/>
                            <input type="hidden" th:field="*{remarks}"/>
                        </form>
                        <!--</div>-->
                    </div>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">
 <script th:src="@{~/customer/js/accountdetails.js}"></script>
    <script>
         function edit(){
             $("#form_edit").submit();
         }
         function cancel(){
           window.location.href="/retail/transfer/local";
         }

    </script>
</th:block>

</body>
</html>