<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

<body onload="javascript:var bread = [['Home', '/retail/dashboard'],['','']];currentBar('Sucessful transfer');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12" >
        <div class="text-center col-sm-offset-3 col-sm-6 no-pad-lef  no-mt no-bd alert">
            
                        <table class="table table-hover ">
                            <tr>

                                <th>Source account</th>
                                <td th:text="${corpTransferRequest.customerAccountNumber}"></td>

                            </tr>
                            <tr>

                                <th>Destination account</th>
                                <td th:text="${corpTransferRequest.beneficiaryAccountNumber}"></td>

                            </tr>
                            <tr>

                                <th>Amount</th>
                                <td th:text="${#numbers.formatDecimal(corpTransferRequest.amount, 1, 'COMMA', 2, 'POINT')}"></td>

                            </tr>
                            <tr>

                                <th>Remarks</th>
                                <td th:text="${corpTransferRequest.remarks}"></td>

                            </tr>
                        </table>


                                <div class="form-group">


                                    <a style="font-size: 13px !important;"  class="btn btn-link required-step trans-but my-buttons" target="_blank" th:href="@{'/corporate/transfer/' + ${corpTransferRequest.id} +'/receipt'}" >Receipt</a>

                                    <a style="font-size: 13px !important;" class="btn btn-link less-required trans-but my-buttons" th:href="@{/corporate/dashboard}" >Home</a>
                                    <a style="font-size: 13px !important;" class="btn btn-link less-required trans-but my-buttons" th:href="@{/corporate/transfer/}" >Make another transfer</a>
                                </div>

        </div>
    </div>

</div>


<th:block layout:fragment="scripts">



   
</th:block>

</body>
</html>