<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="javascript:var bread = [['Home', '/retail/dashboard'],['CMB transfer','/retail/transfer/local'],['transfer']];currentBar('CMB transfer');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 invisible">

        <span class='my-label extra-link' th:if="${beneficiary.preferredName} !=''" th:text="${beneficiary.preferredName}"> Transfer to</span>
                 <span class='my-label extra-link' style="margin-top:10px;" th:if="${beneficiary.preferredName} ==''" th:text="${beneficiary.accountName}"> Transfer to</span>

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12  " >
        <div class=" no-pad-lef alert no-bd no-mt">
           <div class="">
                   <div class="col-md-7 col-sm-7 col-xs-12 no-pad-left no-pad-right">
                    <div class="r form-spacin">
                        <div th:if="${message != null}" class="alert alert-info" th:text="${message}">message</div>
                        <div th:if="${error != null}" class="alert alert-info" th:text="${error}">message</div>

                        <form method="post" th:action="@{/retail/transfer/local/summary}"
                              th:object="${transferRequest}">


                              <div class="form-group">
                                <label class='my-label'>Beneficiary</label>
                                <span class="alert no-bd-rad my-border bg-white invisible">NGN</span>
                                <input type="text" class="form-control ben-bg coronation-blue"  th:if="${beneficiary.preferredName} !=''" th:field="${beneficiary.preferredName}" disabled />
                                <input type="text" class="form-control ben-bg coronation-blue" th:if="${beneficiary.preferredName} ==''" th:field="${beneficiary.accountName}" disabled />
                                <a href='/retail/transfer/local/' class="btn btn-link required-step" style='font-size:11px;text-decoration:underline'>Change <span class='hidden-xs'>Beneficiary</span></a>
                                <p class="errors" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">&times;</p>
                        </div>


                            <div class="form-group">
                                <label class="my-label">Source account</label>


                                <span id="scurency"></span>
                                <span class="alert no-bd-rad my-border bg-white" id="sourceCurrency">CCY</span>
                                <select name="source" class="form-control" id="source"
                                        th:field="*{customerAccountNumber}" required="required" onchange="getBalance();getDestCurrency();">

                                    <option th:each="s: ${accountList}" th:value="${s.accountNumber}" th:text="${s.accountNumber}" th:selected="${s.primaryFlag=='Y'}"></option>
                                </select>
                                <p class="errors" th:if="${#fields.hasErrors('customerAccountNumber')}" th:errors="*{customerAccountNumber}">&times;</p>
                            </div>

                            <input type="hidden" th:field="*{financialInstitution}" />
                            <input type="hidden" th:field="*{beneficiaryAccountNumber}" />
                            <input type="hidden" th:field="*{beneficiaryAccountName}" />
                            <input type="hidden" th:field="*{transferType}" />

                            <div class="form-group">
                                <label class='my-label'>Amount</label>
                                <span class="alert no-bd-rad my-border bg-white hide-content-only">NGN</span>
                                <input type="number" name="amount" min="0" step="0.01" placeholder="Enter an amount"
                                       th:field="*{amount}" class="form-control" required="required"/><span class='req-inner'></span>
                                <p class="errors" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">&times;</p>
                            </div>
                            <div class="form-group">
                                <label class='my-label'>Remark</label>
                                <span class="alert no-bd-rad my-border bg-white invisible">NGN</span>
                                <input type="text" name="textname" placeholder="" th:field="*{remarks}"
                                       class="form-control"/>
                            </div>


                            <div class="col-md-6 col-sm-6 no-pad-left negative-margin">
                        <!--<p class="related" style="padding-top: 5%">Related Information</p>-->
                            <span class="alert no-bd-rad my-border bg-white invisible">NGN</span><button class="btn btn-link required-step" type="submit">Submit</button>


                            
                                <button type='button' class="btn btn-link less-required" onclick="cancel();">Cancel</button>
                         
                            </div>
                        </form>
                        <!--</div>-->
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <!--<p class="related" style="padding-top: 5%">Related Information</p>-->


                      <div  class="related-box">
                                            <h3 class="related-bar">Related Information</h3>

                                            <!--<input type="availBal" name="availBal"/>-->
                                            <p class="related-info coronation-blue" id="availBal"><b></b></p>
                                            <p class="related-info coronation-blue" th:if="${fee}!=null">Charge:&nbsp;&nbsp; <b th:text="${fee}"></b></p>

                                        </div>
                   
                </div> 
                               
           </div>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">
  <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function(){
            getBalance();
            getDestCurrency();

        })



        function getBalance() {
            var accountNumber = $('#source').val();
            $.ajax({
                url: "/retail/transfer/balance/" + accountNumber,
                type: 'GET',
                async: false,
                success: function (jd) {
                    var message = jd.message;
                    var success =  jd.success;
                    console.log(message);
                    console.log(success);
                    if (success==false){
                        document.getElementById("myspan").textContent = "Could not get balance from server, please try again.";
                        $("#myspan").show();
                    } else {
//                    $('input[name=availBal]').val(bal);

                        var  bal=numberWithCommas(message);
                        $('#availBal').html("Available Balance: "+bal);

                    }
                }
            })
        }
        function getDestCurrency(){
            var accountNumber = $('#source').val();
            $.ajax({
                url: "/retail/transfer/"+accountNumber+"/currency",
                type: 'GET',
                async: false,
                success:function(currency){
                    cur = ''+String(currency);
                    if(cur == "" ){
                        document.getElementById("sourceCurrency").textContent="NAN";
                        // $("#myspan").show();
                    }else{
//                    $('input[name=availBal]').val(bal);

                        $('#sourceCurrency').text(cur);

                    }
                }
            })
        }
        /*]]>*/


        function cancel(){
            window.location.href="/retail/transfer/local";
        }


    </script>
</th:block>

</body>
</html>