<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<header th:replace="cust_layout :: header">
</header>

<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> New Beneficiary</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content-bg">
                <div class="row form-spacing">
                    <div class="col-md-6 col-sm-6">
                        <form id="local" method="post" th:action="@{/retail/transfer/local/new}"
                              th:object="${localBeneficiaryDTO}">
                            <div class="form-group">
                                <label>Beneficiary Bank</label>
                                <select name="beneficiaryBank" class="form-control" th:field="*{beneficiaryBank}">
                                    <option value="Coronation">Coronation Merchant Bank</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Account Number</label>
                                <input type="text" class="form-control" name="accountNumber" th:field="*{accountNumber}"
                                       id="acct_num" placeholder="Account Number"/>
                            </div>

                            <div class="form-group">
                                <label>Account Name</label>
                                <input type="text" class="form-control" name="accountNumber" th:field="*{accountName}"
                                       id="acct_name" readonly="readonly" required="required"/>
                                <label
                                        th:if="${#fields.hasErrors('accountName')}" th:errors="*{accountName}"
                                        class="validation-message"></label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="preferredName"
                                       placeholder="Beneficiary Alias" th:field="*{preferredName}"/>
                            </div>
                            <button class="btn btn-link" id="sub">Next</button>
                        </form>

                    </div>
                </div>
            </div>
            <div th:replace="cust_layout :: sidebar" class="col-md-3 sidebar">
            </div>
        </div>
    </div>
</section>


<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>

<script>
    $(document).ready(function () {
        $('#acct_num').change(function () {
            getAccountName();
        });

    })


    function getAccountName() {
        //make sure alert message is not empty
        var acct = $('#acct_num').val();
        console.log(acct);

        var options = {
            type: 'GET',
            url: '/retail/transfer/local/' + acct + '/nameEnquiry',
//					dataType: 'jsonp',
            error: function (xhr, textStatus, errorThrown) {
                alert('invalid account number ');
                $('#sub').disabled();
            },
            success: function (data, textStatus) {
                console.log(data);
                console.log(textStatus);
                var result = data;
                //var result = (new Function("return " + result))();
               // $('#acct_name').val(result.message);
                $('#acct_name').val(result);
            }
        };
        $.ajax(options);
    }
</script>
</body>
</html>