<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="currentBar('CMB transaction successful')">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width bank-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12" >
        <div class="no-mt no-pad-lef alert no-bd">
           <div class="col-sm-offset-3  col-sm-6 table-responsive">
                    
                 <table class="table">
                        <tr>

                            <th>Source account</th>
                            <td th:text="${transRequest.customerAccountNumber}"></td>

                        </tr>
                        <tr>

                            <th>Destination account</th>
                            <td th:text="${transRequest.beneficiaryAccountNumber}"></td>

                        </tr>
                        <tr>

                            <th>Destination account owner</th>
                            <td th:text="${transRequest.beneficiaryAccountName}"></td>

                        </tr>
                        <tr>

                            <th>Amount</th>
                            <td th:text="${#numbers.formatDecimal(transRequest.amount, 1, 'COMMA', 2, 'POINT')}"></td>

                        </tr>
                        <tr>

                            <th>Remarks</th>
                            <td th:text="${transRequest.remarks}"></td>

                        </tr>
                    </table>


                    <form method="post" th:action="@{/retail/transfer/local}" th:object="${transRequest}">

                        <input type="hidden" th:field="*{customerAccountNumber}"/>
                        <input type="hidden" th:field="*{beneficiaryAccountNumber}"/>
                        <input type="hidden" th:field="*{beneficiaryAccountName}"/>
                        <input type="hidden" th:field="*{amount}"/>
                        <input type="hidden" th:field="*{remarks}"/>
                        <div class="form-group">
                            <label>Token *</label>
                            <input type="text" name="token" placeholder="" class="form-control"/>
                            <br/>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default useloader">Proceed</button>
                                <a th:href="@{/retail/transfer/local}" >Cancel</a>
                            </div>


                        </div>
                    </form>               
           </div>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">
 
</th:block>

</body>
</html>