<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<header th:replace="cust_layout :: header">
</header>

<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Transfer to <span th:text="${beneficiary.preferredName}"></span></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content-bg">
                <div class="row form-spacing">
                    <div class="col-md-6 col-sm-6">

                        <div th:if="${message != null}" class="alert alert-info" th:text="${message}">message</div>
                        <form method="post" th:action="@{/retail/transfer/local/summary}" th:object="${transferRequest}">


                            <div class="form-group">
                                <label>Source account</label>


                                <span id="scurency"></span>
                                <select name="source" class="form-control" id="source" th:field="*{customerAccountNumber}">
                                    <option value=""> select an account</option>
                                    <option th:each="s: ${accounts}" th:value="${s}" th:text="${s}" ></option>
                                </select>
                                <input type="hidden" name="textname" placeholder=""  class="form-control" th:field="*{beneficiaryAccountNumber}"/>
                                <input type="hidden" name="textname" placeholder=""  class="form-control" th:field="*{beneficiaryAccountName}"/>
                            </div>

                            <div class="form-group">
                                <label>Amount</label>
                                <input type="number" name="textname" step="any" placeholder="Enter an amount" th:field="*{amount}" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Remark</label>
                                <input type="text" name="textname" placeholder=""  class="form-control" th:field="*{remarks}"/>
                            </div>



                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 sidebar">
                <div class="sidebar-bg">hfdhgk</div>
                <div class="sidebar-bg">jgjgjk</div>
            </div>
        </div>
    </div>
</section>


<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
<script>

    $('#source').on('change',function(){
        var acct = $('#source').val();
        getDestAccounts(acct)
        getSourceCurrency(acct);
    });
    $('#destination').on('change',function(){
        var acct = $('#destination').val();
        getDestCurrency(acct)
    });


    function getDestAccounts(acct) {

        $.get("/dest/"+acct+"/accounts", function( data ) {
            $("#destination").empty();
            data.forEach(function(item, i) {
                $("#destination").get(0).options[0] = new Option("Select Account", "-1");
                var option = "<option  value = " + item + " >" + item +  "</option>";
                $("#destination").append(option);
            });
        });

    }


    function getSourceCurrency(acct) {

        $.get("/" + acct + "/currency", function (data) {
            document.getElementById("scurency").innerHTML = data;

        });
    }
    function getDestCurrency(acct) {

        $.get("/" + acct + "/currency", function (data) {
            document.getElementById("dcurency").innerHTML = data;

        });
    }





</script>
</body>
</html>