<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<div class="container">
    <header th:replace="cust_layout :: header">
    </header>

<section class="content-wrapper">
    <div class="containe">

        <div class="row">

            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Own Account Transaction</h5>
                
            </div>

            <p class="col-xs-12">
                    Fields marked <span style="color:red">*</span> are compulsory
                </p>
        </div>
        <div class="row">
            <div class="col-md-9 content-bg">
                    <div class="col-md-6 col-sm-offset-2 col-sm-6 form-spacin">

                        <div th:if="${message != null}" class="alert alert-info" th:text="${message}">message</div>
                        <div th:if="${error != null}" class="alert alert-info" th:text="${error}">message</div>
                        <div>
                             <form class=' col-xs-12' method="post" th:action="@{/retail/transfer/ownaccount/summary}" th:object="${transferRequest}">
                                    <input type="hidden" th:field="*{financialInstitution}"/>

                                    <div class="form-group">
                                        <label class="my-label">Source account</label>


                                        <span id="scurency"></span>
                                        <div>
                                        <span class="alert no-bd-rad my-border bg-white">NGN</span>
                                            <select name="source" class="form-contrl my-select" id="source"
                                                    th:field="*{customerAccountNumber}" onchange="getBalance()" style="width:70%;margin:0px auto;">
                                                <!--<option value=""> select an account</option>-->
                                                <option th:each="s: ${accounts}" th:value="${s}" th:text="${s}" ></option>
                                            </select><span class='req-inner'></span>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="my-label">Destination account</label>

                                        <span id="dcurency"></span>
                                        <div>
                                         <span class="alert no-bd-rad my-border bg-white">NGN</span>
                                        <select name="destination" class="form-contrl my-select" id="destination"
                                                th:field="*{beneficiaryAccountNumber}" required="required">
                                            <option th:each="s: ${accounts}" th:value="${s}" th:text="${s}"></option>


                                        </select><span class='req-inner'></span>
                                        </div>
                                        <label	th:if="${#fields.hasErrors('beneficiaryAccountNumber')}" th:errors="*{beneficiaryAccountNumber}"
                                                class="validation-message"></label>
                                    </div>

                                    <div class="form-group">
                                        <label class="my-label">Amount</label>
                                        <span class="alert no-bd-rad my-border bg-white hide-content-only">NGN</span>

                                        <input type="number" name="textname" min="0" step=".10" placeholder="Enter an amount"
                                            th:field="*{amount}"
                                            class="form-contro my-input"/><span class='req-inner'></span>
                                        <label	th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"
                                                class="validation-message"></label>
                                    </div>
                                    <input type="hidden" th:field="*{financialInstitution}" />
                                    <div class="form-group">
                                        <label  class="my-label">Remark</label>
                                         <span class="alert no-bd-rad my-border bg-white hide-content-only">NGN</span>

                                        <input type="text" name="textname" placeholder="" th:field="*{remarks}"
                                            class="form-contro my-input"/>
                                    </div>
                                    
                                    <div class='pull-right' style="margin-right:50px;">
                                         <button class="btn btn-link" type="submit">Submit</button>
                                         <button class="btn btn-link" type="button">Cancel</button>
                                   
                                    </div>
                                   
                                   
                            </form>

                        </div>
                       

                </div>
                <div class="col-md-4 col-sm-4 well">
                    <!--<p class="related" style="padding-top: 5%">Related Information</p>-->
                   
                    <!--<input type="availBal" name="availBal"/>-->
                    <p id="availBal"><b></b></p>
                </div>
            </div>

            <div class="col-md-3 pull-right " >
                <div th:replace="cust_layout :: sidebar" class="" >
                </div>
            </div>
        </div>

    </div>

</section>



<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>

<script th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function(){
        document.getElementById("source").selectedIndex = -1;
        document.getElementById("destination").selectedIndex = -1;

        sortSelect('#source', 'text', 'asc');

        $("#source").prop("selectedIndex", -1);
        $("#destination").prop("selectedIndex", -1);

    })



    var sortSelect = function (select, attr, order) {
        if(attr === 'text'){
            if(order === 'asc'){
                $(select).html($(select).children('option').sort(function (x, y) {
                    return $(x).text().toUpperCase() < $(y).text().toUpperCase() ? -1 : 1;
                }));
                $(select).get(0).selectedIndex = 0;
                //e.preventDefault();
            }// end asc
            if(order === 'desc'){
                $(select).html($(select).children('option').sort(function (y, x) {
                    return $(x).text().toUpperCase() < $(y).text().toUpperCase() ? -1 : 1;
                }));
                $(select).get(0).selectedIndex = 0;
                // e.preventDefault();
            }// end desc
        }

    };


    function getBalance(){
        var accountNumber = $('#source').val();
        $.ajax({
            url: "/retail/transfer/ownaccount/balance/"+accountNumber,
            type: 'GET',
            async: false,
            success:function(availBal){
                bal = ''+String(availBal);
                if(bal == "" ){
                    document.getElementById("myspan").textContent="Could not get balance from server, please try again.";
                    $("#myspan").show();
                }else{
//                    $('input[name=availBal]').val(bal);

                    $('#availBal').text("Available Balance: "+bal);

                }
            }
        })
    }

    /*]]>*/


</script>
</div>

</body>

</html>