<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<div class="container">
    <header th:replace="cust_layout :: header">
    </header>

<section class="content-wrapper">
    <div class="containe">

        <div class="row">

            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Own Account Transaction</h5>
                 <select class="form-control invisible">
                        <option value="account">Account Overview</option>
                </select>
            </div>
            <p class="col-xs-12 invisible">
                    Fields marked <span style="color:red">*</span> are compulsory
            </p>
        </div>
        <div class="row">
            <div class="col-md-9 content-bg">
                <!--<div class="row form-spacing">-->
                    <div class="">



                            <table>
                                <tr class="top-row">

                                    <th>Source account</th>
                                    <td th:text="${transRequest.customerAccountNumber}"></td>

                                </tr>
                                <tr>

                                    <th>Destination account</th>
                                    <td th:text="${transRequest.beneficiaryAccountNumber}"></td>

                                </tr>
                                <tr>

                                    <th>Amount</th>
                                    <td th:text="${#numbers.formatDecimal(transRequest.amount, 1, 'COMMA', 2, 'POINT')}"></td>

                                </tr>
                                <tr>

                                    <th>Remarks</th>
                                    <td th:text="${transRequest.remarks}"></td>

                                </tr>
                            </table>

                            <form method="post" th:action="@{/retail/transfer/ownaccount}"
                                  th:object="${transRequest}">
                                <input type="hidden" th:field="*{customerAccountNumber}"/>
                                <input type="hidden" th:field="*{beneficiaryAccountNumber}"/>
                                <input type="hidden" th:field="*{beneficiaryAccountName}"/>
                                <input type="hidden" th:field="*{amount}"/>
                                <input type="hidden" th:field="*{remarks}"/>
                                <div class="form-group">
                                    <label>Token *</label>
                                    <input type="text" name="token" placeholder="" class="form-control"/>
                                    <br/>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-link required-step useloader">Proceed</button>
                                        <button onclick="cancel();" class='btn btn-link less-required'>Cancel</button>
                                         <button type='button' class='btn btn-link less-required'>Modify</button>
                                    </div>


                                </div>

                            </form>
                        <form method="post" id="form_edit" th:action="@{/retail/transfer/ownaccount/edit}"
                              th:object="${transRequest}">
                            <input type="hidden" th:field="*{customerAccountNumber}"/>
                            <input type="hidden" th:field="*{beneficiaryAccountNumber}"/>
                            <input type="hidden" th:field="*{beneficiaryAccountName}"/>
                            <input type="hidden" th:field="*{amount}"/>
                            <input type="hidden" th:field="*{remarks}"/>
                        </form>


                    </div>
                </div>
            <div class="col-md-3 pull-right " >
                <div th:replace="corp_layout :: corp-sidebar" class="" >
                </div>
            </div>
        </div>
    </div>

</section>


<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
</div>
<script>
    function edit(){
        $("#form_edit").submit();
    }

    function cancel(){
        window.location.href="/retail/transfer/ownaccount";
    }

</script>
</body>

</html>