<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="javascript:var bread = [['Home', '/retail/dashboard'],['Own Account Transfer','/retail/transfer/ownaccount']];currentBar('Own Account Transfer');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 ml-15 no-pad-left no-pad-right" >
        <div class="col-xs-12 no-pad-lef alert no-bd">
           <div class="">

                                <div th:if="${message != null}" class="alert alert-info" th:text="${message}">message</div>
                                <div th:if="${error != null}" class="alert alert-info" th:text="${error}">message</div>

                                <div class=" col-xs-12 col-sm-ofset-1 col-sm-11">
                                    <div class=" col-xs-12 col-sm-7 no-pad-left no-pad-right">
                                        <form class='' method="post" th:action="@{/retail/transfer/ownaccount/summary}" th:object="${transferRequest}">
                                                <input type="hidden" th:field="*{financialInstitution}"/>

                                                <div class="form-group">
                                                    <label class="my-label">Source account</label>

                                                        <span id="scurency"></span>
                                                    <div>

                                                        <span class="alert no-bd-rad my-border bg-white hide-content-only" id="sourceCurrency">CCY</span>
                                                        <select name="source" class="form-control" id="source"
                                                                th:field="*{customerAccountNumber}" onchange="getBalance();getSourceCurrency()" >

                                                            <!--<option value=""> select an account</option>-->
                                                            <option th:each="s: ${accounts}" th:value="${s.accountNumber}" th:text="${s.accountNumber}" th:selected="${s.primaryFlag=='Y'}"></option>
                                                        </select><span class='req-inner'></span>
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label class="my-label">Destination account</label>

                                                    <span id="dcurency"></span>
                                                    <div>
                                                    <span class="alert no-bd-rad my-border bg-white hide-content-only" id="destCurrency">NGN</span>
                                                    <select name="destination" class="form-control" id="destination"
                                                            th:field="*{beneficiaryAccountNumber}"  onchange="getDestCurrency();"  required="required">

                                                        <option th:each="s: ${destAccounts}" th:value="${s}" th:text="${s}"></option>


                                                    </select><span class='req-inner'></span>
                                                    </div>
                                                    <label	th:if="${#fields.hasErrors('beneficiaryAccountNumber')}" th:errors="*{beneficiaryAccountNumber}"
                                                            class="validation-message"></label>
                                                </div>

                                                <div class="form-group">
                                                    <label class="my-label">Amount</label>
                                                    <div>
                                                        <span class="alert no-bd-rad my-border bg-white hide-content-only">NGN</span>

                                                        <input type="number" name="textname" min="0"  placeholder="Enter an amount"
                                                        th:field="*{amount}"
                                                        class="form-control"/><span class='req-inner'></span>
                                                    </div>
                                                    <label	th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"
                                                            class="validation-message"></label>
                                                </div>

                                                <input type="hidden" th:field="*{financialInstitution}" />
                                                <div class="form-group">
                                                    <label  class="my-label">Remark</label>

                                                    <div>
                                                    <span class="alert no-bd-rad my-border bg-white hide-content-only">NGN</span>

                                                    <input type="text" name="textname" placeholder="" th:field="*{remarks}"
                                                        class="form-control"/>
                                                    </div>
                                                </div>

                                                <div class='pull-right' style="margin-right:50px;">
                                                    <span class="alert no-bd-rad my-border bg-white hide-content-only">NGN</span>
                                                    <button class="btn btn-link required-step" type="submit">Submit</button>
                                                    <button class="btn btn-link less-required" type="button ">Cancel</button>

                                                </div>


                                        </form>
                                    </div>
                                    <div class="col-xs-12 col-sm-5 wel ">
                                         <!--<p class="related" style="padding-top: 5%">Related Information</p>-->
                                        <div  class="related-box">
                                            <h3 class="related-bar">Related Information</h3>

                                            <!--<input type="availBal" name="availBal"/>-->
                                            <p class="related-info coronation-blue" id="availBal"><b></b></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">
    <script th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function(){
        

//       document.getElementById("source").selectedIndex = -1;
    document.getElementById("destination").selectedIndex = -1;

//        sortSelect('#source', 'text', 'asc');

//  $("#source").prop("selectedIndex", -1);
  $("#destination").prop("selectedIndex", -1);
        getBalance();
        getSourceCurrency();

    })



    var sortSelect = function (select, attr, order) {
        if(attr === 'text'){
            if(order === 'asc'){
                $(select).html($(select).children('option').sort(function (x, y) {
                    return $(x).text().toUpperCase() < $(y).text().toUpperCase() ? -1 : 1;
                }));
                $(select).get(0).selectedIndex = 0;
                //e.preventDefault();
            }// end asc
            if(order === 'desc'){
                $(select).html($(select).children('option').sort(function (y, x) {
                    return $(x).text().toUpperCase() < $(y).text().toUpperCase() ? -1 : 1;
                }));
                $(select).get(0).selectedIndex = 0;
                // e.preventDefault();
            }// end desc
        }

    };


    function getBalance(){
        var accountNumber = $('#source').val();
        $.ajax({
            url: "/retail/transfer/balance/"+accountNumber,
            type: 'GET',
            async: false,
            success:function(jd){
                var message = jd.message;
                var success =  jd.success;
                console.log(message);
                console.log(success);
                if (success==false){
                    document.getElementById("myspan").textContent="Could not get balance from server, please try again.";
                    $("#myspan").show();
                }else{
                     var  bal=message;
                    $('#availBal').text("Available Balance: "+bal);

                }
            }
        })
    }

    //

    function getSourceCurrency(){
        var accountNumber = $('#source').val();
        $.ajax({
            url: "/retail/transfer/"+accountNumber+"/currency",
            type: 'GET',
            async: false,
            success:function(currency){
                cur = ''+String(currency);
                if(cur == "" ){
                    document.getElementById("sourceCurrency").textContent=" NAN";
                   // $("#myspan").show();
                }else{
//                    $('input[name=availBal]').val(bal);

                    $('#sourceCurrency').text(cur);
                   document.getElementById('sourceCurrency').style.visibility = 'visible';
                    

                }
            }
        })
    }

///
    function getDestCurrency(){
        var accountNumber = $('#destination').val();
        $.ajax({
            url: "/retail/transfer/"+accountNumber+"/currency",
            type: 'GET',
            async: false,
            success:function(currency){
                cur = ''+String(currency);
                if(cur == "" ){
                    document.getElementById("destCurrency").textContent="NAN";
                    // $("#myspan").show();
                }else{
//                    $('input[name=availBal]').val(bal);
                    
                    $('#destCurrency').text(cur);
                     document.getElementById('destCurrency').style.visibility = 'visible';

                }
            }
        })
    }


    /*]]>*/


</script>
   
</th:block>

</body>
</html>