<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<div class="container">
    <header th:replace="cust_layout :: header">
    </header>

<section class="content-wrapper">
    <div class="containe">

        <div class="row">

            <div class="col-md-4 col-sm-4" >
                <h5 class="page_header"> Own Account Transaction</h5>
                <select class="form-control invisible">
                        <option value="account">Account Overview</option>
                </select>
            </div>
            <p class="col-xs-12 invisible">
                    Fields marked <span style="color:red">*</span> are compulsory
            </p>
        </div>
        <div class="row">
            <div class="col-md-9 content-bg">
                <!--<div class="row spacing">-->

                    <div class="spacin" >


                        <table class="">
                            <tr>

                                <th colspan="2">Transaction Summary</th>


                            </tr>
                            <tr>

                                <th>Source account</th>
                                <td th:text="${transferRequest.customerAccountNumber}"></td>

                            </tr>
                            <tr>

                                <th>Destination account</th>
                                <td th:text="${transferRequest.beneficiaryAccountNumber}"></td>

                            </tr>
                            <tr>

                                <th>Amount</th>
                                <td th:text="${transferRequest.amount}"></td>

                            </tr>
                            <tr>

                                <th>Remarks</th>
                                <td th:text="${transferRequest.remarks}"></td>

                            </tr>
                        </table>

                        <form method="post" th:action="@{/retail/transfer/process}" th:object="${transferRequest}">
                            <input type="hidden" th:field="*{customerAccountNumber}"/>
                            <input type="hidden" th:field="*{beneficiaryAccountNumber}"/>
                            <input type="hidden" th:field="*{beneficiaryAccountName}"/>
                            <input type="hidden" th:field="*{amount}"/>
                            <input type="hidden" th:field="*{remarks}"/>
                            <input type="hidden" th:field="*{id}"/>

                            <div class="form-group">
                                <!--<a style="cursor: pointer;" onclick="goBack()" >Modify</a>-->
                                <button type="submit" class="btn btn-link">Proceed</button>
                                <a th:href="@{/retail/transfer/ownaccount}">Cancel</a>
                                <!--<a th:href="@{'/retail/transfer/ownaccount/' + ${transferRequest.id} + '/receipt'}">Print</a>-->

                            </div>
                        </form>

                    </div>

            </div>
            <div class="col-md-3 pull-right " >
                <div th:replace="cust_layout :: sidebar" class="" >
                </div>
                <div class="col-md-6 col-sm-6">
                    <p class="related">Related Information</p>
                    <hr/>
                    <!--<p th:each="rule : ${passwordRules}" th:text="${rule}"></p>-->
                </div>
            </div>
        </div>

    </div>

</section>


<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
</div>

</body>

</html>