<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<header th:replace="cust_layout :: header">
</header>

<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Transaction Summary</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content-bg">
                <div class="row form-spacing">
                    <!--<div class="col-md-6 col-sm-6">-->


                    <table>
                        <tr>

                            <th>Source account</th>
                            <td th:text="${transferRequest.customerAccountNumber}"></td>

                        </tr>
                        <tr>

                            <th>Destination account</th>
                            <td th:text="${transferRequest.beneficiaryAccountNumber}"></td>

                        </tr>
                        <tr>

                            <th>Amount</th>
                            <td th:text="${transferRequest.amount}"></td>

                        </tr>
                        <tr>

                            <th>Remarks</th>
                            <td th:text="${transferRequest.remarks}"></td>

                        </tr>
                    </table>
                    <div class="col-md-8 content-bg">
                        <form method="post" th:action="@{/retail/transfer/ownaccount}" th:object="${transferRequest}">
                            <input type="hidden" th:field="*{customerAccountNumber}"/>
                            <input type="hidden" th:field="*{beneficiaryAccountNumber}"/>
                            <input type="hidden" th:field="*{beneficiaryAccountName}"/>
                            <input type="hidden" th:field="*{amount}"/>
                            <input type="hidden" th:field="*{remarks}"/>
                            <div class="form-group">
                                <label>Token *</label>
                                <input type="text" name="textname" placeholder="" class="form-control"/>
                                <br/>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Proceed</button>
                                    <a th:href="@{/retail/transfer/ownaccount}" class="btn btn-default">Cancel</a>
                                </div>
                            </div>


                        </form>
                    </div>
                    <!--</div>-->
                </div>
            </div>

            <div th:replace="cust_layout :: sidebar" class="col-md-3 sidebar">

            </div>
        </div>
    </div>
</section>


<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
</body>
</html>