<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/cust/transfer/transferlayout}">




<th:block layout:fragment="transferform">


    <table>
        <tr>

            <th>Source account</th>
            <td th:text="${transferRequest.customerAccountNumber}"></td>

        </tr>
        <tr>

            <th>Destination account</th>
            <td th:text="${transferRequest.beneficiaryAccountNumber}"></td>

        </tr>
        <tr>

            <th>Amount</th>
            <td th:text="${transferRequest.amount}"></td>

        </tr>
        <tr>

            <th>Remarks</th>
            <td th:text="${transferRequest.remarks}"></td>

        </tr>
    </table>

    <form method="post" th:action="@{/retail/transfer/ownaccount/auth}" th:object="${transferRequest}">
        <input type="hidden" th:field="*{customerAccountNumber}"/>
        <input type="hidden" th:field="*{beneficiaryAccountNumber}"/>
        <input type="hidden" th:field="*{beneficiaryAccountName}"/>
        <input type="hidden" th:field="*{amount}"/>
        <input type="hidden" th:field="*{remarks}"/>






        <div class="form-group">
            <button onclick="goBack()" class="btn btn-default">Modify</button>
            <button type="submit" class="btn btn-default">Proceed</button>
            <a th:href="@{/retail/transfer/ownaccount}" class="btn btn-default">Cancel</a>

        </div>
    </form>


</th:block>


</body>
</html>