<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<div class="container">
    <header th:replace="cust_layout :: header">
    </header>


<section class="content-wrapper">
    <div class="containe">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Transaction History</h5>

                 <select class="form-control invisible">
                        <option value="account">Account Overview</option>
                </select>
            </div>

              <p class="col-xs-12 invisible">
                    Fields marked <span style="color:red">*</span> are compulsory
                </p>
        </div>
        <div class="row">
            <div class="col-md-9 content-bg">

                    <div  class="col-md- col-sm-">
                        <form method="post">
                            <h2 class="page_header">Last 10 transaction</h2>

                            <table class="table" id="users">
                                <thead>
                                <tr>
                                    <th>Transaction Narration</th>
                                    <th>Post Date</th>
                                    <th>Value Date</th>
                                    <th>Transaction Type</th>
                                    <th>Account Balance</th>



                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="list : ${transRequestList}">
                                    <td  th:text="${list.narration}"></td>
                                    <td th:text="${#dates.format(list.postedDate, 'dd-MMM-yyyy')}"></td>
                                    <td th:text="${#dates.format(list.valueDate, 'dd-MMM-yyyy')}"></td>
                                    <td th:text="${list.tranType}"></td>
                                    <td th:text="${#numbers.formatDecimal(list.balance, 0, 'COMMA', 2, 'POINT')}"></td>

                                    <td><a target="_blank"  th:href="@{'/retail/account/' + ${list.tranId} + '/downloadhistory'}">Print</a></td>

                                </tr>
                                </tbody>

                            </table>

                        </form>

                    </div>
            </div>
           
             <div class="col-md-3 pull-right">
                            <div th:replace="cust_layout :: sidebar" class="" >
                            </div>
            </div>
        </div>
    </div>
</section>

<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
<script>


</script>
</div>
</body>
</html>