<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="currentBar('New Beneficiary')">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 no-pad-left">

        <select class="form-control full-width coronation-form-control "  name="beneficiaryType" id="benType" >
            <option th:value="local">Local</option>
            <option th:value="foreign">Foreign</option>
        </select>
    </div>

    <div class="col-xs-12" >
        <div class="no-pad-left  alert no-bd">
            <div class="col-md-6 col-xs-12">
                           <form id="local" method="post" th:action="@{/retail/beneficiary/local}" th:object="${localBeneficiaryDTO}">
                            <input type="hidden" th:value="local" class="form-control"/>
                            <div class="form-group">
                                <label>Bank Details</label>
                                <select name="beneficiaryBank" class="form-control" >
                                    <option th:each="bank : ${localBanks}" th:value="${bank.institutionCode}" th:text="${bank.institutionName}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" th:field="*{accountNumber}" placeholder="Account Number"/>
                                <p class="errors close" data-dismiss="alert" aria-label="close" th:if="${#fields.hasErrors('accountNumber')}" th:errors="*{accountNumber}">&times;</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" th:field="*{preferredName}" placeholder="Beneficiary Name"/>
                                <p class="errors close" data-dismiss="alert" aria-label="close" th:if="${#fields.hasErrors('preferredName')}" th:errors="*{preferredName}">&times;</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="preferredName" placeholder="Preferred Name"/>
                            </div>
                            <button class="btn btn-link required-step">Save</button>
                        </form>

                        <form id="foreign" method="post" th:action="@{/retail/beneficiary/foreign}" th:object="${internationalBeneficiaryDTO}" style="display: none">
                            <input type="hidden" th:value="foreign" class="form-control"/>
                            <div class="form-group">
                                <label>Bank Details</label>
                                <select name="beneficiaryBank" class="form-control" >
                                    <option th:each="bank : ${foreignBanks}" th:value="${bank.institutionCode}" th:text="${bank.institutionName}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="swiftCode" placeholder="Bank SWIFT Code"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="sortCode" placeholder="Bank Sort Code"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="preferredName" placeholder="Beneficiary Name"/>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="accountNumber" placeholder="Beneficiary Account Number"/>
                            </div>
                            <div class="form-group">
                                <label>Beneficiary Address</label>
                                <textarea name="beneficiaryAddress" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="intermediaryBankName" placeholder="Intermediary Bank Name"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="intermediaryBankAcctNo" placeholder="Intermediary Bank Account Number"/>
                            </div>
                            <button class="btn btn-link required-step">Save</button>
                        </form>
            </div>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">

        <script>
        $('#benType').on('change',function(){
            if( $(this).val()==="foreign"){
                $("#foreign").show()
                $("#local").hide()
            }
            else if( $(this).val()==="local"){
                $("#local").show()
                $("#foreign").hide()
            }
        });
    </script>
            
</th:block>

</body>
</html>