<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<header th:replace="cust_layout :: header">
</header>

<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> New Beneficiary</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content-bg">
                <div class="row form-spacing">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Beneficiary Type</label>
                            <select name="beneficiaryType" id="benType" class="form-control">
                                <option th:value="local">Local</option>
                                <option th:value="foreign">Foreign</option>
                            </select>
                        </div>

                        <form id="local" method="post" th:action="@{/retail/beneficiary/local}" th:object="${localBeneficiaryDTO}">
                            <input type="hidden" th:value="local" class="form-control"/>
                            <div class="form-group">
                                <label>Bank Details</label>
                                <select name="beneficiaryBank" class="form-control" >
                                    <option th:each="bank : ${localBanks}" th:value="${bank.institutionCode}" th:text="${bank.institutionName}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" th:field="*{accountNumber}" placeholder="Account Number"/>
                                <p class="errors close" data-dismiss="alert" aria-label="close" th:if="${#fields.hasErrors('accountNumber')}" th:errors="*{accountNumber}">&times;</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" th:field="*{accountName}" placeholder="Beneficiary Name"/>
                                <p class="errors close" data-dismiss="alert" aria-label="close" th:if="${#fields.hasErrors('accountName')}" th:errors="*{accountName}">&times;</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="preferredName" placeholder="Preferred Name"/>
                            </div>
                            <button class="btn btn-primary">Save</button>
                        </form>

                        <form id="foreign" method="post" th:action="@{/retail/beneficiary/foreign}" th:object="${internationalBeneficiaryDTO}" style="display: none">
                            <input type="hidden" th:value="foreign" class="form-control"/>
                            <div class="form-group">
                                <label>Bank Details</label>
                                <select name="beneficiaryBank" class="form-control" >
                                    <option th:each="bank : ${foreignBanks}" th:value="${bank.institutionCode}" th:text="${bank.institutionName}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="swiftCode" placeholder="Bank SWIFT Code"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="sortCode" placeholder="Bank Sort Code"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="accountName" placeholder="Beneficiary Name"/>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="accountNumber" placeholder="Beneficiary Account Number"/>
                            </div>
                            <div class="form-group">
                                <label>Beneficiary Address</label>
                                <textarea name="beneficiaryAddress" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="intermediaryBankName" placeholder="Intermediary Bank Name"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="intermediaryBankAccountNumber" placeholder="Intermediary Bank Account Number"/>
                            </div>
                            <button class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
            <div th:replace="cust_layout :: sidebar" class="col-md-3 sidebar">
            </div>
        </div>
    </div>
</section>


<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>

<script>
    $('#benType').on('change',function(){
        if( $(this).val()==="foreign"){
            $("#foreign").show()
            $("#local").hide()
        }
        else if( $(this).val()==="local"){
            $("#local").show()
            $("#foreign").hide()
        }
    });
</script>
</body>
</html>