<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="javascript:var bread = [['Home', '/retail/dashboard'],['Accounts','/retail/account/customize'],['Customize', '#']];currentBar('Customize');breadCrumb(bread);">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 no-pad-left">

        <select class="form-control full-width bank-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12" >
        <div class=" no-pad-left  alert no-bd">
            <div class="col-md-6 col-xs-12 no-pad-left">
                            <form method="post" th:action="@{/retail/account/customize}" th:object="${customizeAccount}">
                                <div class="form-group">
                                    <label>Preferred Name</label>
                                    <input class="form-control"  placeholder="Preferred name" name="preferredName" th:value="${account}" /><span class='req-inner'></span>
                                    <p class="errors" th:if="${#fields.hasErrors('preferredName')}" th:errors="*{preferredName}">&times;</p>
                                </div>

                                <button style="" type="submit" class=" negative-margin btn btn-link required-step">Save</button>
                            </form>
            </div>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">

   <script>
    
    
         $(document).ready(function(){
        // $('[data-toggle="tooltip"]').tooltip();
        

       


        
     });




    


    </script>
</th:block>

</body>
</html>