<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="javascript:var bread = [['Home', '/retail/dashboard'],['Accounts','account/customize']];currentBar('Customize account');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 no-pad-left">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12  " >
        <div class=" no-pad-lef table-responsive bg-white alert">
             <table class="table table-responsive no-bd">
                            <thead>
                            <tr>
                                <th>ALIAS</th>
                                <th>Account Number</th>
                                <th>Currency</th>
                                <th>Account Type</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="acct : ${accounts}">
                                <td th:text="${acct.preferredName}"></td>
                                <td th:text="${acct.accountNumber}"></td>
                                <td th:text="${acct.currencyCode}"></td>
                                <td th:text="${acct.schemeType}"></td>
                                <td><a th:href="@{'/retail/account/' + ${acct.id} + '/customize'}">Customise</a></td>
                            </tr>
                            </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>