<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="javascript:var bread = [['Home', '/retail/dashboard'],['Link BVN','account/customize']];currentBar('Link BVN');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 no-pad-left">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 " >
        <div class=" no-pad-lef table-responsive no-mt no-bd  alert">
            <div class="form-spacig col-sm-8">

                <form method="post" th:action="@{/retail/bvn}" >

                    <div class="form-group">
                        <label>Account Number</label>
                        <span class="req"></span>
                        <select name="acctNumber" id="acctNumber" class="form-control"
                                required="required">
                            <option th:each="s: ${accounts}" th:value="${s.accountNumber}" th:text="${s.accountNumber}"></option></select>
                    </div>

                    <div class="form-group">
                        <label>Select Bank</label>
                        <span class="req"></span>
                        <select name="beneficiaryBank" id="beneficiaryBank" class="form-control"
                                required="required">
                            <option th:each="bank : ${localBanks}" th:value="${bank.institutionCode}"
                                    th:text="${bank.institutionName}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>BVN</label>
                        <span class="req"></span>
                        <input type="number" placeholder="Enter BVN" style="width:80% !important" class="form-control" min="0" step="1" id="bvn" name="bvn" required="required" onblur="checkLength()" maxlength="11"/>
                    </div>

                    <button type="submit" class="btn btn-link required-step">Submit</button>
                </form>
            </div>

        </div>
    </div>

</div>


<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        /*<![CDATA[*/

        function checkLength()
        {
            var fieldLength = $('#bvn').val();

            //Suppose the bvn is greater than 11 digits
            if(fieldLength.length!=11){
                var message = "Invalid number of digits";
            $('#myModalError').modal('show');
            var err = document.getElementById('errorMess');
            err.textContent = message;
            }

        }
        /*]]>*/
    </script>


</th:block>

</body>
</html>