<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="currentBar('Account officer')">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 no-pad-left">

        <select class="form-control full-width bank-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12" >
        <div class="no-pad-lef  alert no-bd">
            
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">

   
</th:block>

</body>
</html>