<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<div class="container">
    <header th:replace="cust_layout :: header">
    </header>

<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Account Statement</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 content-bg">
                <form method="post" th:action="@{/retail/account/viewstatement/display}">

                <div class="col-md">
                        <br/>
                    <div class="form-group col-md-12 col-sm-12">
                        <div class="form-group col-md-6 col-sm-6">
                            <label>Date Range</label>
                            <div class="input-daterange input-group" id="date-range">
                                <input type="text" class="form-control" id="start" name="start" placeholder="Start date" required="required" />
                                <span class="input-group-addon no-border text-white">to</span>
                                <input type="text" class="form-control" name="end" id="end" placeholder="End date" required="required" />
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label>Transaction Type</label>
                            <select id="transType"  class="form-control">
                                <option></option>
                            </select>
                        </div>
</div>
                    <div class="form-group col-md-12 col-sm-12">
                        <div class="form-group col-md-6 col-sm-6">
                            <label>Account Number</label>
                            <span class="req"></span>
                            <select name="acctNumber" id="acctNumber" class="form-control"
                                    required="required">
                                <option th:each="s: ${accounts}" th:value="${s}" th:text="${s}"></option></select>
                        </div>

                    </div>

<div class="row-spacing col-md-12">
                        <button type="submit" class="btn pull-right"><i class="fa fa-search" style="color: white" ></i>&nbsp; find</button>
</div>

<!--<p>
                        <a th:href="@{/retail/account/print/statement}" class="btn bt-select bt-link-act"> &lt;!&ndash;disabled="disabled"&ndash;&gt;<i class="fa fa-print" style="color: white" ></i>&nbsp; print</a>
                        <a th:href="@{'#'}" class="btn "> &lt;!&ndash;disabled="disabled"&ndash;&gt;<i class="fa fa-envelope" style="color: white" ></i>&nbsp; send mail</a>
</p>-->

                        <h2>TRANSACTION DETAILS</h2>
                    <table class="table" id="users">
                        <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Currency Code</th>
                            <th>Post Date</th>
                            <th>Transaction Particulars</th>
                            <th>Transaction Type</th>
                            <th>Value Date</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="list : ${transactionLists}">
                            <td  th:text="${list.transactionBalance.amountValue}"></td>
                            <td  th:text="${list.transactionBalance.currencyCode}"></td>
                            <td th:text="${list.postedDate}"></td>
                            <td  th:text="${list.transactionSummary.transactionDescription}"></td>
                            <td  th:text="${list.transactionSummary.transactionType}"></td>
                            <td th:text="${list.valueDate}"></td>
                        </tr>
                        </tbody>
                    </table>


                </div>
    </form>

            </div>
            <div class="col-md-3 pull-right " >
                <div th:replace="cust_layout :: sidebar" class="" >
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {

        var table = $('#users').DataTable({
            select: true,
            responsive: true,
            "lengthMenu": [[5, 10,20], [5, 10,20]],
            "pagingType": "simple_numbers",
            "searching": false,
            "paging": true,
            "dom": 'T<"clear">frtlp'});

        });




    /*]]>*/
</script>
</body>
</html>