<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

<body onload="currentBar('Own Account transfer')">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 ml-15 no-pad-left no-pad-right " >
        <div class="col-xs-12 no-pad-lef table-responsive no-mt no-bd alert">
            <div class="col-sm-offset-3 col-sm-6 ">
                    <div class="table-responsive no-bd">

                        <table class="''table table-responsive">
                            <tr>

                                <th>Source account</th>
                                <td th:text="${transRequest.customerAccountNumber}"></td>

                            </tr>
                            <tr>

                                <th>Destination account</th>
                                <td th:text="${transRequest.beneficiaryAccountNumber}"></td>

                            </tr>
                            <tr>

                                <th>Amount</th>
                                <td th:text="${transRequest.amount}"></td>

                            </tr>
                            <tr>

                                <th>Remarks</th>
                                <td th:text="${transRequest.remarks}"></td>

                            </tr>
                        </table>

                        <form method="post" th:action="@{/retail/transfer/ownaccount}"
                              th:object="${transRequest}">
                            <input type="hidden" th:field="*{customerAccountNumber}"/>
                            <input type="hidden" th:field="*{beneficiaryAccountNumber}"/>
                            <input type="hidden" th:field="*{beneficiaryAccountName}"/>
                            <input type="hidden" th:field="*{amount}"/>
                            <input type="hidden" th:field="*{remarks}"/>
                            <div class="form-group">
                                <label>Token *</label>
                                <input type="text" name="token" placeholder="" class="form-control"/>
                                <br/>
                                <div class="form-group text-center">

                                    <a class="btn btn-link required-step" th:href="@{/retail/transfer/ownaccount}" >Receipt</a>
                                    <a class="btn btn-link less-required" th:href="@{/retail/dashboard}" >Home</a>
                                    <a class="btn btn-link less-required" th:href="@{/retail/transfer/ownaccount}" >Make another transfer</a>
                                </div>


                            </div>

                        </form>


                    </div>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">
 
   
</th:block>

</body>
</html>