<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <div th:replace="layout :: admin-menu"></div>
                <div th:replace="layout :: menu-footer-adm"></div>

            </div>
        </div>
        <div th:replace="layout :: top-nav"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                    <h3>Adjust Transfer Fees</h3>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <div class="ibox-content">
                                    <div class="x_title">
                                        <ul class="nav navbar-right panel_toolbox">

                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <form class="form-horizontal">

                                        <div id="textInputForFeeAdjustment">

                                            <div  id="bothSelection">

                                                <!--------------------------------------------------  ADJUST TRANSFER FEES  ---------------------------------------------------------- ---------------------------------------           -->


                                                <div class="form-group"  id="selectTransferPlatform">

                                                    <label class="col-sm-2 control-label">Select Transfer Method</label>

                                                    <div class="col-sm-4">
                                                    <select class="form-control" id="transferDropdown"  >
                                                        <option value="">-- Select --</option>
                                                        <option value="Nibss Instant Payment">Nibss Instant Payment</option>
                                                        <option value="Real Time Gross Settlement">Real Time Gross Settlement</option>
                                                        <option value="Nibss Automated Payment Services">Nibss Automated Payment Services</option>
                                                        <option value="International">International</option>
                                                        <option value="Transfer Via Remittance">Transfer Via Remittance</option>
                                                        <option value="Bill Payments">Bill Payments</option>
                                                    </select>
                                                    </div>
                                                </div>


                                                <div class="form-group" >

                                                    <label class="col-sm-2 control-label">Fee Range</label>

                                                    <div class="col-sm-4">
                                                    <input class="form-control" id="bothSelection1" name="feeRng"
                                                           required type="text"  >
                                                    </div>
                                                </div>

                                                <div class="form-group" >
                                                    <label class="col-sm-2 control-label">Fixed Amount</label>
                                                    <div class="col-sm-4">
                                                    <input class="form-control" id="bothSelection2" name="fixedAmt"
                                                           required type="text"  >
                                                    </div>
                                                </div>

                                                <div class="form-group" >
                                                    <label class="col-sm-2 control-label">Fee Description</label>
                                                    <div class="col-sm-4">
                                                    <textarea class="form-control" id="feeDescriptionIdBoth" name="feeDescrip"
                                                              required type="text" ></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group" >
                                                    <label class="col-sm-2 control-label">Fixed Amount Value</label>
                                                    <div class="col-sm-4">
                                                    <input class="form-control" id="fixedAmountValueIdBoth" name="fixedAmtVal"
                                                           required type="number"  >
                                                    </div>
                                                </div>

                                                <div class="form-group" >
                                                    <label class="col-sm-2 control-label">Rate</label>
                                                    <div class="col-sm-4">
                                                    <input class="form-control" id="rateIdBoth" name="rt" required
                                                           type="text" >
                                                    </div>
                                                </div>

                                                <div class="form-group" >
                                                    <label class="col-sm-2 control-label">Rate Value</label>
                                                    <div class="col-sm-4">
                                                    <input class="form-control" id="rateValueIdBoth" name="rtVal"
                                                           required type="number"  >
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-sm-4 col-sm-offset-2">
                                                        <button class="btn btn-primary adjustTransferFee" type="submit">Submit</button>
                                                    </div>
                                                </div>
                                                <!--<div th:replace="layout :: form-validation"></div>-->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="layout :: footer">
        </footer>
        <!-- /footer content -->
    </div>
</div>

<script>
    function showNotification(message, type) {
        $.notify({
            // options
            message: message
        }, {
            // settings
            type: type
        });
    }


    function validateAllFields(feeRange, feeDescription, fixedAmountValue, rate, rateValue, fixedAmount, transferMethod) {
        var error = false;
        if(transferMethod === ""){
            showNotification("Please choose a transfer method", "danger")
            error = true;
        } else if (feeRange == "") {
            showNotification("Please supply fee-range value", "danger")
            error = true;
        } else if (feeDescription == "") {
            showNotification("Please supply description", "danger")
            error = true;
        } else if (fixedAmountValue == "") {
            showNotification("Please supply fixed-amount value", "danger")
            error = true;
        } else if (rate == "") {
            showNotification("Rate is required", "danger")
            error = true;
        } else if (rateValue == "") {
            showNotification("Rate value is required", "danger")
            error = true;
        } else if (fixedAmount == "") {
            showNotification("Please supply a fixed-amount", "danger")
            error = true;
        }

        return error;
    }

    $(".adjustTransferFee").on("click", function () {
        var transferMethod = $("#transferDropdown option:selected").val();
        var feeRange = $("#bothSelection1").val();
        var fixedAmount = $("#bothSelection2").val();
        var feeDescription = $("#feeDescriptionIdBoth").val();
        var fixedAmountValue = $("#fixedAmountValueIdBoth").val();
        var rate = $("#rateIdBoth").val();
        var rateValue = $("#rateValueIdBoth").val();
        if (validateAllFields(feeRange, feeDescription, fixedAmountValue, rate, rateValue, fixedAmount, transferMethod) == false) {
            console.log("DEBUGGING!!!")
            $.ajax({
                type: "POST",
                url: "/admin/transfersettings/submitTransferAdjustments",
                data: {
                    transactionChannel: transferMethod,
                    fixedAmount: fixedAmount,
                    feeRange: feeRange,
                    feeDescription: feeDescription,
                    fixedAmountValue: fixedAmountValue,
                    rate: rate,
                    rateValue: rateValue
                }, // parameters
                success:
                    function (response) {
                        showNotification(response, "success");
                        setTimeout(function () {
                            location.reload();
                        }, 5000)
                    }
                ,
                error: function(error){
                    showNotification(error, "danger");
                    setTimeout(function () {
                        location.reload();
                    }, 5000)
                }
            });
        }


        // }

    })


</script>
</body>
</html>