<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="site-head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/jquery-ui.css}"/>
    <!--<link rel="stylesheet" type="text/css" th:href="@{~/customer/css/date/css/bootstrap-datepicker.css}"/>-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{~/customer/css/date/css/bootstrap-datepicker.standalone.css}"/>-->


    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/custom.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/calendar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/select.bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/font-awesome/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{~/customer/plugins/bootstrap-daterangepicker/daterangepicker.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/plugins/datatables/css/jquery.dataTables.min.css}"/>
    <!--<link rel="stylesheet" type="text/css" th:href="@{~/customer/plugins/datatables/css/dataTables.bootstrap.css}"/>-->

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/css/bootstrap-datepicker.min.css"/>
    <title>Coronation Merchant Bank</title>

</head>

<body>
<div th:fragment="corp-header">
    <header class="header">
        <div class="containe">
            <div class="top_bar">
                <ul class="list_group">
                    <li><a href="/corporate/contact"> Contact Us&nbsp;</a></li>
                    <li><a href="https://www.coronationmb.com/" target="_blank"> Coronation merchant bank&nbsp;</a></li>
                </ul>
            </div>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header navbar-left">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">MENU</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#" data-toggle="collapse" data-target="#navbar-collapse-1">Menu</a>
                    </div>
                    <div class=" ">
                        <div class="col-md-3 col-sm-4 header_info bvn"><p>Your RC Number</p>
                            <h5 th:text="'RC N0: ' + ${RcNo}"></h5></div>
                        <div class="col-md-5 col-sm-4 header_info"><h5><span th:text="*{greeting}"></span><br class="break"/><b th:text="*{name}"></b> &nbsp; <a th:href="@{/corporate/mailbox/inbox}"><i class="fa fa-envelope" style="color:#003056"></i>
                            <span th:if="${numOfUnreadMessages}" class="badge bg-green" th:text="${numOfUnreadMessages}">count</span>

                        </a></h5>

                            <div class="hide-faq">
                                <h6>
                                    <a target="_blank" th:href="@{/faqs}">FAQS &nbsp; &nbsp;<i class="fa fa-question-circle"></i></a><span class="date2 lorem">&nbsp; &nbsp;Login History:&nbsp;</span>&nbsp;
                                <span class="lorem" th:text="*{lastLogin}"></span>
                            </h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="collapse navbar-collapse links" id="navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/corporate/dashboard}">Dashboard</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="#{menu.account}"> My Accounts</a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/corporate/account/customize}" th:text="#{menu.account.customize}">Customise Accounts</a></li>
                                <li><a th:href="@{/corporate/account/settings}" th:text="#{menu.account.settings}">Account Settings</a></li>
                                <li><a th:href="@{/corporate/account/officer}" th:text="#{menu.account.officer}">Account Officer</a></li>
                                <li><a th:href="@{/corporate/account/viewstatement}">Account Statement</a></li>
                                <!--<li><a th:href="@{'#'}" th:text="#{menu.account.create}">Create New Acoount</a></li>-->
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="#{menu.transfer}"> Transfers</a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/corporate/transfer/ownaccount}" th:text="#{menu.transfer.own}">Own account transfers </a></li>
                                <li><a th:href="@{/corporate/transfer/local}" th:text="#{menu.transfer.cmb}">Transfer to Coronation account </a></li>
                                <li><a th:href="@{/corporate/transfer/interbank}" th:text="#{menu.transfer.other}">Transfer to other banks</a></li>
                                <!--<li><a th:href="@{/corporate/transfer}" th:text="#{menu.transfer.int}">International transfer</a></li>-->
                                <!--<li><a th:href="@{/corporate/transfer/bulk}" th:text="#{menu.transfer.bulk}">Bulk transfer</a></li>-->

                                <!--<li><a th:href="@{/corporate/transfer/settransferlimit}" th:text="#{menu.transfer.limit}">Set transfer limit</a></li>-->
                                <!--<li><a th:href="@{/corporate/transfer/standingorder}" th:text="#{menu.transfer.order}">Standing order</a></li>-->
                                <li><a th:href="@{/corporate/transfer/pending}">Pending Transfer</a></li>

                            </ul>
                        </li>
                        <!--<li><a href="#" th:text="#{menu.bill}">Bill Payments</a></li>-->
                        <!--<li><a href="#" th:text="#{menu.investment}">Investment</a></li>-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="#{menu.servreq}"> Service Requests </a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/corporate/requests/track}" th:text="#{menu.servreq.track}">Track Requests</a></li>
                                <p th:each="requests : ${serviceRequests}">
                                <li><a th:href="@{/corporate/requests/} + ${requests.id}" th:text="${requests.requestName}"></a></li>
                                </p>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="#{menu.settings}"> Settings </a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/corporate/alert_preference}" th:text="#{menu.settings.alert}">Alert Preference</a></li>
                                <li><a th:href="@{/corporate/change_password}" th:text="#{menu.settings.password}">Change Password</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> More </a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/corporate/token/sync}" th:text="#{menu.token.sync}">Synchronize Token</a></li>
                                <li><a th:href="@{/corporate/token/lost}" th:text="#{menu.token.report}">Report Lost Token</a></li>
                                <li><a th:href="@{/corporate/beneficiary}">Beneficiaries</a></li>
                                <li><a th:href="@{/corporate/mailbox/inbox}" th:text="#{menu.mail}"> Mailbox</a></li>
                                <li sec:authorize="hasAuthority('ADD_CORPORATE_USER')"><a th:href="@{/corporate/users}" th:text="#{menu.usermanagement}">User Management</a></li>
                            </ul>
                        </li>


                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a th:href="@{/corporate/logout}"> Log out <span class="fa-stack fa-lg">
                                  <i class="fa fa-square fa-stack-1x fa-lg"></i>
                                  <i class="fa fa-power-off fa-stack-1x fa-inverse"></i>
                                </span></a></li>
                    </ul>
                    </div>
                    </div>
                </div>
            </nav>
        </div>
        <a href="/corporate/dashboard" class="logo navbar-right">
            <img th:src="@{~/customer/img/cmb_logo.png}" alt="Coronation Merchant Bank" />
        </a>
    </header>
    <div class=' alert alert-info text-white  no-bd-rad' style="margin:1px !important;background-color:#003056;color:white;"><marquee>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</marquee></div>
</div>

    <div th:fragment="corp-sidebar" >

        <div class="sidebar-b calende cal  hidden-xs">
            <div class="alert  time" style=" margin-top: 6px !important;">


                <i class="fa fa-calendar " id='datepickerImage' onclick="show()" style="font-size:25px"></i>


                <!--<div id="time_" class="pull-right text-bold " style="font-weight:bold;color:#003056">

                      <script>
                          setInterval(
                              function()
                              {

                                  var time_function = moment().format('Do MMMM YYYY, h:mm:ss a');
                                  var holder = document.getElementById('time_');
                                  holder.innerHTML = time_function;
                              },
                              1000) ;
                      </script>
                  </div>-->

            </div>
            <!--<div  id="calendar" style="display: block; margin: 0px auto;" class=" calendar hidden-xs hidden-sm "></div>-->
        </div>
        <div class="sidebar-bg hidden-xs hidden-sm" style="max-height:200px;">
            <img style="display: block; margin: 0px auto;" class="center img-responsive" th:src="@{~/customer/img/advert.jpg}"
                 alt="Coronation Merchant Bank"/>
        </div>
    </div>

<!-- footer content -->
<footer th:fragment="corp-footer">
    <div class="containe">
        <div class="footer_bar">
            <div class="col-md-6 col-xs-12">
                <ul class="list_group">
                    <li><a href="#" target="_blank">Privacy policy</a></li>
                    <li><a href="#" target="_blank">Disclaimer</a></li>
                    <li><a href="#" target="_blank">Terms &amp; Conditions</a></li>
                </ul>

            </div>
            <div class="col-md-6 col-xs-12"><p> &copy; 2017 Coronation Merchant Bank. All rights reserved</p></div>

        </div>
    </div>

    <div th:if="${message}">
        <div hidden="hidden">
            <ul class="actionMessage">
                <li th:each="msg : ${message}" th:text="${msg}" >Message</li>
            </ul>
        </div>
    </div>

    <div th:if="${failure}">
        <div hidden="hidden">
            <ul class="actionError">
                <li th:each="msg : ${failure}" th:text="${msg}" id="error">Message</li>
            </ul>
        </div>
    </div>


    <div id="myModalError" class="modal fade " role="dialog">
        <div class="modal-dialog" >

            <!-- Modal content-->

            <div class="modal-content no-bd-rad content ">

                <div class="modal-body">


                    <p id='errorMess' class='mess text-danger'>Put something here iff need be.</p>



                </div>


                <div class="modal-footer no-bd-top" >
                    <button type="button" class="btn btn-link" data-dismiss="modal">OK</button>
                </div>

            </div>

        </div>
    </div>


    <div id="myModalSuccess" class="modal fade " role="dialog">
        <div class="modal-dialog" >

            <!-- Modal content-->

            <div class="modal-content no-bd-rad content ">

                <div class="modal-body">


                    <p id='successMess' class='mess text-primary'>Put something here iff need be.</p>



                </div>


                <div class="modal-footer no-bd-top" >
                    <button type="button" class="btn btn-link" data-dismiss="modal">OK</button>
                </div>

            </div>

        </div>
    </div>

    <!-- CORE JQUERY SCRIPTS -->
    <script th:src="@{~/customer/js/jquery-1.11.1.js}"></script>
    <script th:src="@{~/customer/js/jquery-ui.js}"></script>
    <script th:src="@{~/customer/js/jquery.dataTables.js}"></script>
    <!--<script th:src="@{~/customer/js/date/js/bootstrap-datepicker.js}"></script>-->
    <script th:src="@{~/customer/js/momentMin.js}"></script>
    <!--<script th:src="@{~/customer/js/calendar.js}"></script>-->
    <script th:src="@{~/customer/js/jquery.spring-friendly.min.js}"></script>
    <script th:src="@{~/customer/plugins/bootstrap-notify/bootstrap-notify.js}"></script>
    <script th:src="@{~/customer/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
    <script th:src="@{~/customer/js/coronation.js}"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>-->

    <!-- BOOTSTRAP SCRIPTS  -->
    <script th:src="@{~/customer/js/bootstrap.js}"></script>
    <script th:src="@{~/customer/js/bootstrap-session-timeout.js}"></script>

    <script th:inline='javascript'>
        /*<![CDATA[*/
        $(document).ready(function()
        {
            $('[data-toggle="tooltip"]').tooltip();

            $("#dp").datepicker({
                // buttonImage: '@{~/customer/img/cmb_logo.png}',
                buttonText: "<i class='fa fa-calendar'></i>",
                buttonImageOnly: true,
                changeMonth: true,
                showAnim: "slide" ,
                changeYear: true,
                showOn: 'both'
            });

        })
        /*]]>*/
    </script>

    <script th:inline="javascript">
        $.sessionTimeout({
            keepAliveUrl: '',
            logoutUrl: '/retail/logout',
            redirUrl: '/retail/logout',
            warnAfter: [[${timeOut}]],
            redirAfter: 10000,
            countdownBar: true
        });
    </script>
</footer>
    <!-- /footer content -->
</body>
</html>