<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/customer/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/customer/css/custom.css}"/>
    <title>Log in | Coronation Merchant Bank
    </title>
</head>
<body>
<div class="container">
    <div class="top_bar">
        <ul class="list_group">
            <li><a href="#"> CORONATION MERCHANT BANK</a></li>
        </ul>
    </div>
    <br/>
    <br/>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">MENU</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" data-toggle="collapse" data-target="#navbar-collapse-1">Menu</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">HOME</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> LOG IN </a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/login/retail}"> INDIVIDUAL </a></li>
                            <li><a th:href="@{/login/corporate}"> CORPORATE</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/register}">REGISTER</a></li>
                    <li><a href="/#contact_us">CONTACT US</a></li>
                    <li><a href="/">HELP</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <a href="/" class="logo">
        <img th:src="@{/customer/img/cmb_logo.png}" alt="Coronation Merchant Bank" />
    </a>
</div>

<section class="content-wrapper">
    <div class="container">
        <div class="bg">
            <form  th:action="@{/corporate/login}" method="POST" class="form-signin" autocomplete="off">
                <h5 class="form-signin-heading">Enter Login Details</h5>
                <br/>
                <div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>

                <div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>

                <div class="form-group">
                    <input type="text" name="username" th:value="*{username}" class="form-control" readonly="readonly" autocomplete="off"/>
                </div>

                <div class="form-group">
                    <input type="text" name="corporateId" th:value="*{corpKey}" class="form-control" readonly="readonly" autocomplete="off"/>
                </div>

                <div class="form-group">
                    <input id="password" type="password" name="password" class="form-control"  placeholder="Password" autocomplete="off"/>
                </div>

                <div class="form-group">
                    <!--<input name="submit" type="submit" value="submit" />-->
                    <button class="btn btn-primary form-control">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="footer_bar">
            <div class="col-md-6 col-xs-12">
                <ul class="list_group">
                    <li><a href="#" target="_blank">Privacy policy</a></li>
                    <li><a href="#" target="_blank">Disclaimer</a></li>
                    <li><a href="#" target="_blank">Terms &amp; Conditions</a></li>
                </ul>

            </div>
            <div class="col-md-6 col-xs-12"><p> &copy; 2017 - All rights reserved</p></div>

        </div>
    </div>

    <div th:if="${message}">
        <div hidden="hidden">
            <ul class="actionMessage">
                <li th:each="msg : ${message}" th:text="${msg}">Message</li>
            </ul>
        </div>
    </div>

    <div th:if="${failure}">
        <div hidden="hidden">
            <ul class="actionError">
                <li th:each="msg : ${failure}" th:text="${msg}">Message</li>
            </ul>
        </div>
    </div>
</footer>
<!-- CORE JQUERY SCRIPTS -->
<script th:src="@{/customer/js/jquery-1.11.1.js}"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script th:src="@{/customer/js/bootstrap.js}"></script>
<script th:src="@{~/customer/plugins/bootstrap-notify/bootstrap-notify.js}"></script>

<!--<script>-->
    <!--$(document).ready(function(){-->
        <!--$(".dropdown").hover(-->
            <!--function() {-->
                <!--$('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideDown(800);-->
                <!--$(this).toggleClass('open');-->
            <!--},-->
            <!--function() {-->
                <!--$('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideUp(800);-->
                <!--$(this).toggleClass('open');-->
            <!--}-->
        <!--);-->
    <!--});-->
<!--</script>-->
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    $('#password').bind("cut copy paste",function(e) {
        e.preventDefault();
    });
</script>
</body>
</html>