<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index-layout}">
<div layout:fragment="content">
    <section class="content-wrapper">
        <div class="containe">
            <div class="bg">
                <form th:action="@{/login/u/corporate}" method="POST" class="form-signin" autocomplete="off">
                    <h5 class="form-signin-heading text-white">Enter Login Details</h5>
                    <br/>
                    <div th:if="${param.message != null}" class="alert alert-info erro" th:text="${param.message[0]}"></div>

                    <div th:if="${param.error != null}" class="alert alert-danger erro" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}"></div>
                    <div th:if="${param.expired != null}" class="alert erro alert-danger" th:text="#{session.expired}"></div>
                    <div class="form-group">
                        <input type="text" name="username" class="my-select" placeholder="Username" autocomplete="off" />
                        <p><a class="text-white" href="/forgot/corporate/username">Forgot Username?</a></p>
                        
                    </div>
                    <div class="form-group">
                        <input type="text" name="corporateId" class="my-select" placeholder="Corporate ID" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary my-select">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

</div>




<th:block layout:fragment="scripts">

    <script>
        $(document).ready(function() {

            errorLogin();
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</th:block>

</html>