<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index-layout}">
<div layout:fragment="content">
    <section class="content-wrapper">
        <div class="containe">
            <div th:if="${message}">
                <div hidden="hidden">
                    <ul class="actionMessage">
                        <li th:each="msg : ${message}" th:text="${msg}">Message</li>
                    </ul>
                </div>
            </div>

            <div th:if="${failure}">
                <div hidden="hidden">
                    <ul class="actionError">
                        <li th:each="msg : ${failure}" th:text="${msg}">Message</li>
                    </ul>
                </div>
            </div>
            <div class="bg">
                <form th:action="@{/corporate/login}" method="POST" class="form-signin" autocomplete="off">
                    <h5 class="form-signin-heading text-white">Enter Login Details</h5>
                    <br/>
                    <div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>

                    <div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>

                    <div class="form-group">
                        <input type="text" name="username" id="username" th:value="*{username}" class="my-select" readonly="readonly" autocomplete="off" />
                        <p><a class="text-white" href="/corporate/forgot/username">Forgot Username?</a></p>
                    </div>

                    <div class="form-group">
                        <input type="text" id="corporateId" name="corporateId" th:value="*{corporateId}" class="my-select" readonly="readonly" autocomplete="off" />
                    </div>

                    <div class="form-group">
                        <input id="password" type="password" name="password" class="my-select" required="required" placeholder="Password" autocomplete="off" />

                        <p><a class="text-white" th:href="@{/forgot/password/corporate}">Forgot Password?</a></p>

                    </div>
                    <div class="form-group">
                        <!--<input name="submit" type="submit" value="submit" />-->
                        <button class="btn btn-primary  my-select">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

</div>




<th:block layout:fragment="scripts">

    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
        $('#password').bind("cut copy paste", function(e) {
            e.preventDefault();
        });
        //    $("a.get-details").on("click", function(e) {
        //        e.preventDefault();
        //        var link = $(e.currentTarget);
        //        var username = $('#username').val();
        //        var corporateId = $('#corporateId').val();
        //        console.log('username '+username+' corporate '+corporateId);
        //        var userCorp = username+'/'+corporateId;
        //        var ooo = link.attr("href").replace("username/corpKey",userCorp);
        //        window.location.assign(ooo);
        //
        //    } );
        function loadPasswordPage() {
            console.log("username " + $('#username').val());
            var username = $('#username').val();
            var corporateId = $('#corporateId').val();
            console.log("corporateId " + $('#corporateId').val());
            $.ajax({
                type: 'GET',
                url: '/forgot/password/corporate',
                asyn: false,
                //					dataType: 'String',
                data: {
                    username: username,
                    corporateId: corporateId
                },
                success: function(reponse) {
                    console.log(reponse);
                    //             if (reponse === 'success') {
                    // //                    $("#tokenmodal").hide();
                    // //                    $("#otpmodal").show();
                    // //                    $('#loading-icon').hide();
                    //                 $('#successMess').show();
                    //                 document.getElementById("successMess").textContent = "Successfully sent";
                    //
                    //             }else{
                    // //                    $("#tokenModalCorp").show();
                    // //                    $("#otpmodalCorp").hide();
                    //                 if(reponse==="empty"){
                    //                     $('#loading-icon').hide();
                    //                     $('#errorMess').show();
                    //                     document.getElementById("errorMess").textContent = "Invalid username";
                    //                 }else{
                    //                     $('#loading-icon').hide();
                    //                     $('#errorMess').show();
                    //                     document.getElementById("errorMess").textContent = reponse;
                    //                 }
                    //             }
                },
                error: function(data) {
                    // $('#loading-icon').hide();
                    // alert("failure");
                    //                $('#sub').disabled();
                    console.log("error")
                }
            });
        }
    </script>
</th:block>

</html>