<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="site-head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/jquery-ui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/custom.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/font-awesome/font-awesome.min.css}"/>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>-->
    <title>Coronation Merchant Bank</title>

</head>

<body>

    <header class="header" th:fragment="header">
        <div class="container">
            <div class="top_bar">
                <ul class="list_group">
                    <li><a href="#"> Contact Us&nbsp;</a></li>
                    <li><a href="#"> Coronation merchnat bank&nbsp;</a></li>
                    <li><a href="#"> Help&nbsp;</a></li>
                </ul>
            </div>
            <nav class="navbar navbar-default links">
                <div class="container-fluid">
                    <div class="navbar-header navbar-left">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">MENU</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#" data-toggle="collapse" data-target="#navbar-collapse-1">Menu</a>
                    </div>
                    <div class="row ">
                        <div class="col-md-3 col-sm-4 header_info bvn"><p>Your Bank verification number</p>
                            <h5 th:text="'BVN: ' + ${bvn}"></h5></div>
                        <div class="col-md-5 col-sm-4 header_info"><h5><span th:text="*{greeting}"></span><br class="break"/><b th:text="*{name}"></b> &nbsp; <i class="fa fa-envelope"></i></h5>

                            <div class="hide-faq"><h6>FAQS &nbsp; &nbsp;<i class="fa fa-question-circle"></i><span class="date2 lorem">&nbsp; &nbsp;Login History:&nbsp;</span>&nbsp;
                                <span class="lorem">21st March 2017 10:30am</span></h6></div></div>
                    </div>
                <div class="collapse navbar-collapse links" id="navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> My Accounts</a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/retail/account/customize}">Customise Accounts</a></li>
                                <li><a th:href="@{/retail/account/settings}">Account Settings</a></li>
                                <li><a th:href="@{'#'}">Create New Acoount</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Transfers</a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/retail/transfer/ownaccount}">Own account transfers </a></li>
                                <li><a th:href="@{/retail/transfer/coronationbanktransfer}">Transfer to Coronation account </a></li>
                                <li><a th:href="@{/retail/transfer/interbanktransfer}">Transfer to other banks</a></li>
                                <li><a th:href="@{/retail/transfer}">International transfer</a></li>

                                <li><a th:href="@{/retail/transfer/settransferlimit}">Set transfer limit</a></li>
                                <li><a th:href="@{'#'}">Standing order</a></li>

                                  </ul>
                        </li>
                        <li><a href="/">Bill Payments</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Cheques <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/retail/cheque/confirm}">Confirm Cheque</a></li>
                                <li><a th:href="@{/retail/cheque/stop}">Stop Cheque</a></li>
                            </ul></li>
                        <li><a th:href="@{/retail/beneficiary}">Beneficiaries</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Service Requests <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/retail/service_requests}">Track Requests</a></li>
                                <li><a th:href="@{/retail/bvn}">Link BVN</a></li>
                            </ul></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Settings <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/retail/bvn}">Link BVN</a></li>
                                <li><a th:href="@{/retail/alert_preference}">Alert Preference</a></li>
                                <li><a th:href="@{/retail/change_password}">Change Password</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a th:href="@{/retail/logout}"> Log out <span class="fa-stack fa-lg">
                                  <i class="fa fa-square fa-stack-1x fa-lg"></i>
                                  <i class="fa fa-power-off fa-stack-1x fa-inverse"></i>
                                </span></a></li>
                    </ul>
                </div>
                </div>
            </nav>
        </div>
        <a href="#" class="logo">
            <img th:src="@{~/customer/img/cmb_logo.png}" alt="Coronation Merchant Bank" />
        </a>
    </header>



<!-- footer content -->
<footer th:fragment="footer">
    <div class="container">
        <div class="footer_bar">
            <div class="col-md-6 col-xs-12">
                <ul class="list_group">
                    <li><a href="#" target="_blank">Privacy policy</a></li>
                    <li><a href="#" target="_blank">Disclaimer</a></li>
                    <li><a href="#" target="_blank">Terms &amp; Conditions</a></li>
                </ul>

            </div>
            <div class="col-md-6 col-xs-12"><p> &copy; 2017 - All rights reserved</p></div>

        </div>
    </div>

    <!-- CORE JQUERY SCRIPTS -->
    <script th:src="@{~/customer/js/jquery-1.11.1.js}"></script>
    <script th:src="@{~/customer/js/jquery-ui.js}"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script th:src="@{~/customer/js/bootstrap.js}"></script>
</footer>
<!-- /footer content -->

</body>
</html>