<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="site-head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/jquery-ui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/bootstrap.css}"/>
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/mega-menu.css"/> -->
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/custom.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title>Coronation Merchant Bank</title>

</head>

<body>

    <div class="container" th:fragment="header">
        <div class="top_bar">
            <ul class="list_group">
                <li><a href="#"> CORONATION MERCHANT BANK</a></li>
            </ul>
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">MENU</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" data-toggle="collapse" data-target="#navbar-collapse-1">Menu</a>
                </div>
                <div class="row ">
                    <div class="col-md-3 col-sm-4 header_info bvn"><p>Your Bank verifiction number</p>
                        <h5>BVN: 12345678911&nbsp;</h5></div>
                    <div class="col-md-4 col-sm-4 header_info"><h5><span> Welcome, &nbsp;</span> &nbsp; <i class="fa fa-envelope"></i></h5>
                        <h6>FAQS</h6></div>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/retail/dashboard}">Dashboard</a></li>
                        <li><a href="/">Transfers</a></li>
                        <li><a href="/">Bill Payments</a></li>
                        <li><a href="/">Transaction Support</a></li>
                        <li><a th:href="@{/retail/beneficiary}">Beneficiaries</a></li>
                        <li><a href="/">Services</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Settings <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/retail/alert_preference}">Notification Alerts</a></li>
                                <li><a href="#">Acoount Preference</a></li>
                                <li><a th:href="@{/retail/change_password}">Change Password</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-right">
                        <li><a th:href="@{/retail/logout}"> Log out <i class="fa fa-power-off"></i></a></li>

                    </ul>
                </div>
            </div>
        </nav>
        <a href="#" class="logo">
            <img th:src="@{~/customer/img/cmb_logo.png}" alt="Coronation Merchant Bank" />
        </a>
    </div>



<!-- footer content -->
<footer th:fragment="footer">
    <div class="container">
        <div class="footer_bar">
            <div class="col-md-6 col-xs-12">
                <ul class="list_group">
                    <li><a href="#" target="_blank">Privacy policy</a></li>
                    <li><a href="#" target="_blank">Disclaimer</a></li>
                    <li><a href="#" target="_blank">Terms &amp; Conditions</a></li>
                </ul>

            </div>
            <div class="col-md-6 col-xs-12"><p> &copy; 2017 - All rights reserved</p></div>

        </div>
    </div>

    <!-- CORE JQUERY SCRIPTS -->
    <script th:src="@{~/customer/js/jquery-1.11.1.js}"></script>
    <script th:src="@{~/customer/js/jquery-ui.js}"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script th:src="@{~/customer/js/bootstrap.js}"></script>
</footer>
<!-- /footer content -->

</body>
</html>