<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
</head>

<body>
<div id="wrapper">

    <nav th:replace="layout ::menu" role="navigation"></nav>


    <!--<nav th:if="${'currentUser' == 'TRADE'}" th:replace="layout :: main-sidebar" role="navigation"></nav>-->

    <div id="page-wrapper" class="gray-bg">
        <div th:replace="layout :: header">

        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2>Welcome</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Recent activities </h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-5 m-b-xs"><select class="input-sm form-control input-s-sm inline">
                                <option value="0">Forms</option>
                                <option value="1">LC</option>
                                <option value="2">PAAR</option>
                                <option value="3">BILLS</option>
                            </select>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Form Detail</th>
                                    <th>Category</th>
                                    <th>Status</th>
                                    <th>Date of Initial Issue</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><a>AA006U</a></td>
                                    <td>LC</td>
                                    <td><small>Issued</small></td>
                                    <td>Jul 14, 2013</td>
                                </tr>
                                <tr>
                                    <td><a>AA006U</a></td>
                                    <td>BILLs</td>
                                    <td><small>Issued</small></td>
                                    <td>Jul 14, 2013</td>
                                </tr>
                                <tr>
                                    <td><a>AA006U</a></td>
                                    <td>LC</td>
                                    <td><small>Issued</small></td>
                                    <td>Jul 14, 2013</td>
                                </tr>
                                <tr>
                                    <td><a>AA006U</a></td>
                                    <td>FORM</td>
                                    <td><small>Issued</small></td>
                                    <td>Jul 14, 2013</td>
                                </tr>
                                <tr>
                                    <td><a>AA006U</a></td>
                                    <td>LC</td>
                                    <td><small>Issued</small></td>
                                    <td>Jul 14, 2013</td>
                                </tr>
                                <tr>
                                    <td><a>AA006U</a></td>
                                    <td>PAAR</td>
                                    <td><small>Issued</small></td>
                                    <td>Jul 14, 2013</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div th:replace="layout :: main-footer">

        </div>

    </div>
</div>

</body>
</html>