<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/custom.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/font-awesome/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/plugins/datatables/css/jquery.dataTables.min.css}"/>
    <title>Test</title>
</head>
<body>

<!-- <header class="header"> -->
<div class="container">


        <div class="row">
                <div class="top-bar col-xs-12">
                        <ul class="top-link">
                            
                            <li class="no-bd"><a href="https://www.coronationmb.com/" target="_blank"> Coronation merchant bank</a>&nbsp;</li>
                            
                        </ul>
                </div>
            </div>

            <div  class="row  margin-bottom">

                <div class="col-sm-10">

                    <nav class="navbar navbar-default bg-success" >
                        <div class="">
                            <div class="navbar-header navbar-left ">
                                <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">MENU</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#" data-toggle="collapse" data-target="#navbar-collapse-1">Menu</a>
                            </div>
                            <div class="collapse navbar-collapse no-pad-left" id="navbar-collapse-1">
                                <ul class="nav navbar-nav ">
                                    <li><a href="/"> HOME</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> LOGIN</a>
                                        <ul class="dropdown-menu">
                                            <li><a th:href="@{/login/retail}"> INDIVIDUAL </a></li>
                                            <li><a th:href="@{/login/corporate}"> CORPORATE </a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/register"> REGISTER</a></li>
                                    <li><a href="/#contact_us"> CONTACT US</a></li>
                                    <li><a href="/faqs"> FAQ</a></li>
                                </ul>

                            </div>
                        </div>
                    </nav>

                </div>

                <div class="col-sm-2">
                     <div class="center" style="margin:0px auto;">
                        <a href="/" class="log" data-toggle="tooltip" data-placement="bottom" title="Coronation Merchant Bank">
                            <img class="img-responsive" style="display:block;margin:0px auto;" th:src="@{~/customer/img/cmb_logo.png}" alt="Coronation Merchant Bank" />
                        </a>
                    </div>
                </div>
               
               

            </div>

<!--<div class="margin-bottom"></div>-->
<!-- </header> -->

<section class="content-wrapper">
    <div class="containe">
        <div class="row">
           
            <div class="col-md-12 col-sm-12 ">
                <div class="col-md-9 col-sm-9 ">
                    <div class="">

                        <h5 class="page_header">Frequently Asked Questions</h5>

                        <table id="faqs">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody>
                                <tr th:each="faq : ${faqList}">
                                    <div class="bg-coronation alert" style="margin-bottom:0px !important;">
                                        <span th:text="${faq.question}">Can i use the platform to transfer money abroad?</span>
                                        <i data-toggle="collapse" th:attr="data-target='#'+${faq.id}" class='pull-right fa fa-plus faq-icon' style="font-sizepx"></i>
                                    </div>
                                    <div th:id="${faq.id}" class="collapse alert bg-danger" style="margin-top:5px !important;" th:text="${faq.answer}">
                                        Lorem ipsum dolor text....
                                    </div>
                                </tr>
                            </tbody>
                        </table>
                  
                    </div>
                </div>
                <div class="alert no-bd col-md-3 col-sm-3 ">


                      <div class="sidebar-bg hidden-xs hidden-sm" style="max-height:200px;">
        <img style="display: block; margin: 0px auto;" class="center img-responsive" th:src="@{~/customer/img/advert.jpg}"
             alt="Coronation Merchant Bank"/>
    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>

<footer>
    <div class="containe">
        <div class="footer_bar">
            <div class="col-md-6">
                <ul class="list_group">
                    <li><a href="#" target="_blank">Privacy policy</a></li>
                    <li><a href="#" target="_blank">Disclaimer</a></li>
                    <li><a href="#" target="_blank">Terms &amp; Conditions</a></li>
                </ul>
            </div>



            <div class="col-md-6"><p> &copy; 2017 - All rights reserved</p></div>
        </div>
    </div>
</footer>



</div>
<!-- CORE JQUERY SCRIPTS -->
<script th:src="@{~/customer/js/jquery-1.11.1.js}"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script th:src="@{~/customer/js/bootstrap.js}"></script>
<script th:src="@{~/customer/plugins/datatables/js/jquery.dataTables.js}"></script>
<script th:src="@{~/customer/js/jquery.spring-friendly.min.js}"></script>

<!-- Page-Level Scripts -->
<script>
    /*<![CDATA[*/
    $( document ).ready( function() {

        $('#faqs').DataTable( {
            "lengthMenu": [5, 10, 20]
        });

    });

    /*]]>*/
</script>
</body>
</html>