<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index-layout}">

<div layout:fragment="content">
    <section class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <h5 class="page_header">Report Lost Token</h5>

                        <form id="reg-form" action="/reporttoken" method="post">

                            <div>
                                <h3>Username</h3>
                                <section>
                                    <div class="row">

                                        <div class="col-md-offset-4 col-md-4">
                                            <br/>
                                            <div class='alert alert-danger' id="myspan" style="margin:0px;">
                                            </div>

                                            <div class="form-group">
                                                <label>Username</label>
                                                <span class='req'></span><input style="width:100% !important" type="text" name="username" class="form-control required" placeholder="Enter Username"/>

                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <h3>Security Information</h3>
                                <section>
                                    <div class="row">
                                        <div class="col-md-offset-4 col-md-4">
                                            <br/>
                                            <div class='alert alert-danger' id="myspan2">
                                            </div>
                                            <br/>
                                            <br/>
                                            <div class="form-group">
                                                <label>Security Question</label>
                                                <input name="securityQuestion" readonly="readonly" class="form-control"/>
                                            </div>
                                            <div class="form-group">
                                                <label>Security Answer</label>
                                                <span class="required"></span><input type="text" name="securityAnswer" class="form-control required" placeholder="Security Answer"/>
                                            </div>
                                            <input name="customerId" type="hidden"/>
                                            <input id="returnValue" type="hidden"/>
                                        </div>
                                    </div>
                                </section>
                                <h3>Token Select</h3>
                                <section>
                                    <div class="row">

                                        <div class="col-md-offset-4 col-md-4">
                                            <br/>
                                            <div class='alert alert-danger' id="myspan" style="margin:0px;">
                                            </div>

                                            <div class="form-group">
                                                <label>Select missing token device </label>
                                                <span class='req'></span><select id="userTokens" name="token" class="form-control"></select>

                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <h3>Summary</h3>
                                <section>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <br/>
                                            <h4 style="font-size: 16px;">Operation successful</h4>
                                            <br/>
                                            Your report of a lost token was successful and has been blocked.
                                            <br/>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>






    <div id="myLoader" class="modal fade " role="dialog">
        <div class="modal-dialog">



            <div class=" no-bd-rad no-bd content text-center " style=" background: transparent !important;">
                <div class="bg-white center" style="width:40%">
                    <img class="img-responsive block center  loader-img" style='padding:7px;' th:src="@{~/customer/{name}/img/loader.png(name=#{menu.custom})}" th:alt="#{menu.bank.name}" />
                    <div id='loading-icon' class=' bg-white text-center'><i class='fa fa-spinner block center fa-spin' style="font-size:18px;color:#003056"></i> Loading. Please Wait
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>






<th:block layout:fragment="scripts">

    <script th:src="@{~/customer/plugins/datatables/js/jquery.dataTables.js}"></script>
    <script th:src="@{~/customer/js/jquery.spring-friendly.min.js}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script th:src="@{~/customer/js/moment.min.js}"></script>


    <!-- Page-Level Scripts -->
    <script>
        /*<![CDATA[*/
        $(document).ready(function() {

            $('#faqs').DataTable({
                "lengthMenu": [5, 10, 20]
            });



        });

        function serviceToggle(id) {
            $('.collapse').collapse('hide'); // collaspe every open collapsible div
            $('.switch').not('#' + id).find('i').removeClass('fa-minus-square').addClass('fa-plus-square');
            //remove fa-minus icon and add fa-plus-icon.. do not do this for the clicked item
            $('#' + id).find('i').toggleClass('fa-plus-square fa-minus-square');
            //toggle the class icon on the clicked item

        }

        /*]]>*/
    </script>











</th:block>

</html>