<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index-layout}">

<div layout:fragment="content">


    <section class="content-wrapper">
        <div class="containe">
            <div class="bg">

                <form id="loginform" th:action="@{/retail/login}" method="POST" class="" autocomplete="off">
                    <div class='col-md-4 col-md-offset-4 form-signi' style="padding:100px 15px 30px">
                        <h5 class="form-signin-heading text-white">Enter Login Details</h5>


                        <div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>
                        <div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>
                        <div th:if="${param.expired != null}" class="alert alert-danger" th:text="#{session.expired}">error</div>
                        <br/>
                        <div id="username_div" class="form-group">
                            <input type="text" name="username" th:value="*{username}" class="my-select" placeholder="Username" readonly="readonly" autocomplete="off" />
                            <p><a class="text-white" href="/forgot/username">Forgot Username?</a></p>
                        </div>


                        <div id="password_div" class="form-group">
                            <input id="password" type="password" name="password" class="my-select" placeholder="Password" required="required" autocomplete="off" />
                            <p><a class="text-white" href="/forgot/password">Forgot Password?</a></p>
                        </div>




                        <div class="form-group">
                            <button class="btn btn-primary my-select"> Continue </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </section>
</div>




<th:block layout:fragment="scripts">
    <!--<script>-->
    <!--$(document).ready(function(){-->
    <!--$(".dropdown").hover(-->
    <!--function() {-->
    <!--$('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideDown(800);-->
    <!--$(this).toggleClass('open');-->
    <!--},-->
    <!--function() {-->
    <!--$('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideUp(800);-->
    <!--$(this).toggleClass('open');-->
    <!--}-->
    <!--);-->
    <!--});-->
    <!--</script>-->

    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();

            $('#password').bind("cut copy paste", function(e) {
                e.preventDefault();
            });
        });
    </script>
</th:block>

</html>