<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/customer/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/customer/css/custom.css}"/>
    <title>Log in | Coronation Merchant Bank
    </title>
</head>
<body>
    <div class="container">
        <div class="top_bar">
            <ul class="list_group">
                <li><a href="#"> Coronation merchnat bank</a></li>
            </ul>
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">MENU</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" data-toggle="collapse" data-target="#navbar-collapse-1">Menu</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a th:href="@{/login/retail}">Log in</a></li>
                        <li><a th:href="@{/register}">Register</a></li>
                        <li><a href="/">Contact us</a></li>
                        <li><a href="/">Help</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <a href="#" class="logo">
            <img th:src="@{/customer/img/cmb_logo.png}" alt="Coronation Merchant Bank" />
        </a>
    </div>

<section class="content-wrapper">
    <div class="bg">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-6">
                <div class="login-form">
                    <form  th:action="@{/retail/login}" method="POST">
                        <h5>Enter Login Details</h5>
                        <br/>
                        <div class="form-group">
                            <input type="text" name="username" class="form-control"  placeholder="Username" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control"  placeholder="Password"/>
                        </div>
                        <p>forgot password?</p>
                        <div class="form-group">
                            <!--<input name="submit" type="submit" value="submit" />-->
                            <button class="btn form-control">Submit</button>
                        </div>

                        <div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>


                        <div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="footer_bar">
            <div class="col-md-6 col-xs-12">
                <ul class="list_group">
                    <li><a href="#" target="_blank">Privacy policy</a></li>
                    <li><a href="#" target="_blank">Disclaimer</a></li>
                    <li><a href="#" target="_blank">Terms &amp; Conditions</a></li>
                </ul>

            </div>
            <div class="col-md-6 col-xs-12"><p> &copy; 2017 - All rights reserved</p></div>

        </div>
    </div>
</footer>
<!-- CORE JQUERY SCRIPTS -->
<script th:src="@{/customer/js/jquery-1.11.1.js}"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script th:src="@{/customer/js/bootstrap.js}"></script>
</body>
</html>