<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index-layout}">

<div layout:fragment="content">


    <section class="content-wrapper">
        <div class="containe">
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <br/>
                        <br/>
                        <h2 class="header-title" style="font-size: 18px;"> Login Failure</h2>

                        <p>1. &nbsp; Make sure you have entered the correct Username and Password.</p>
                        <br/>
                        <p>2. &nbsp; If the problem persists please call Customer Care at 01-2712005-7 012802500 or send us an email at enquiries @coronationmb.com</p>
                        <br/>
                        <a href="/login/retail" class="btn btn-primary btn-xs">Back to Login</a>
                    </div>
                </div>
            </div>
            <!-- End row-->
        </div>
    </section>
</div>




<th:block layout:fragment="scripts">

    <!-- CORE JQUERY SCRIPTS -->
    <script th:src="@{/customer/js/jquery-1.11.1.js}"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script th:src="@{/customer/js/bootstrap.js}"></script>

    <script th:src="@{~/customer/js/jquery.validate.min.js}"></script>
    <script th:src="@{~/customer/js/jquery-ui.js}"></script>
    <script th:src="@{~/customer/plugins/jquery-steps/js/jquery.steps.min.js}" type="text/javascript"></script>
    <script th:src="@{~/customer/js/jasny-bootstrap.min.js}"></script>
    <script th:src="@{~/customer/plugins/bootstrap-notify/bootstrap-notify.js}"></script>
</th:block>

</html>