<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/custom.css}"/>
    <title>Log in | Coronation Merchant Bank
    </title>
</head>
<body>
<div class="container">
    <div class="top_bar">
        <ul class="list_group">
            <li><a href="#"> CORONATION MERCHANT BANK</a></li>
        </ul>
    </div>
    <br/>
    <br/>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">MENU</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" data-toggle="collapse" data-target="#navbar-collapse-1">Menu</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">HOME</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> LOG IN </a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/login/retail}"> INDIVIDUAL </a></li>
                            <li><a th:href="@{/login/corporate}"> CORPORATE</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/register}">REGISTER</a></li>
                    <li><a href="/#contact_us">CONTACT US</a></li>
                    <li><a href="/">HELP</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <a href="/" class="logo">
        <img th:src="@{/customer/img/cmb_logo.png}" alt="Coronation Merchant Bank" />
    </a>
</div>

<section class="content-wrapper">
    <div class="container">
        <div class="bg">
            <div class="col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10 margin-xs">
                <form th:action="@{/login/p/retail}" method="POST" class="login-for" autocomplete="off">


                <!--<div class="col-xs-12 visible-xs" style="margin-top:1px;border:none;padding: 20px" >-->
                    <!--<div style="max-height:150px">-->
                        <!--<img th:if="${secImage}"  class='bg-danger' style='display:block;margin:0px auto;margin-top:0px;width:150px;padding:20px;' th:src="@{'data:image/jpeg;base64,' + ${secImage}}" />-->
                        <!--<img th:unless="${secImage}"  class='bg-danger' style='display:block;margin:0px auto;margin-top:0px;width:150px;padding:20px;'  th:src="@{/customer/img/cmb_logo.png}" />-->
                        <!--<input type="checkbox" style='display:block;margin:0px auto;' name="phishing"/>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-md-7 col-sm-7 col-xs-12 ">

                    <h5 class="form-signin-heading text-white mtop">Check the box to Confirm Security Image</h5>

                    <div class="col-xs-12 visible-xs" style="margin:5px;border:none;" >
                        <div class="bg-danger col-xs-offset-4 col-xs-4" style="max-height:auto; padding: 5px">
                            <img th:if="${secImage}" class='bg-danger img-responsive center'  style="height:100px;display: block;margin: 0px auto; margin-bottom: 5px;" th:src="@{'data:image/jpeg;base64,' + ${secImage}}" />
                            <img th:unless="${secImage}" class='bg-danger img-responsive center' style="height:100px;display: block;margin: 0px auto; margin-bottom: 5px;" th:src="@{/customer/img/cmb_logo.png}" />
                            <input type="checkbox" style='display:block;margin:0px auto;' name="phishing"/>
                        </div>
                    </div>
                        <br/>
                    <h5 class="text-white" th:if="${imageException}" th:text="${imageException}"></h5>
                        <div class="row ">
                            <div class="form-group ">
                                <input type="text" name="username" th:value="*{username}" class="form-control" readonly="readonly" autocomplete="off"/>
                            </div>
                            <div class="">
                                <button class="btn btn-primary form-control"> Continue </button>
                            </div>
                        </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12 hidden-xs" style="border:none;paddng: 20px;">
                    <div class="bg-danger"  style="padding: 10px;">
                        <div style="max-height:auto">
                            <img th:if="${secImage}" class='bg-danger img-responsive center'  style="height:100px;display: block;margin: 0px auto; margin-bottom: 5px;" th:src="@{'data:image/jpeg;base64,' + ${secImage}}" />
                            <img th:unless="${secImage}" class='bg-danger img-responsive center' style="height:100px;display: block;margin: 0px auto; margin-bottom: 5px;" th:src="@{/customer/img/cmb_logo.png}" />
                            <input type="checkbox" style='display:block;margin:0px auto;' name="phishing"/>
                        </div>
                    </div>
                </div>

                </form>


            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="footer_bar">
            <div class="col-md-6 col-xs-12">
                <ul class="list_group">
                    <li><a href="#" target="_blank">Privacy policy</a></li>
                    <li><a href="#" target="_blank">Disclaimer</a></li>
                    <li><a href="#" target="_blank">Terms &amp; Conditions</a></li>
                </ul>

            </div>
            <div class="col-md-6 col-xs-12"><p> &copy; 2017 - All rights reserved</p></div>

        </div>
    </div>

    <div th:if="${message}">
        <div hidden="hidden">
            <ul class="actionMessage">
                <li th:each="msg : ${message}" th:text="${msg}">Message</li>
            </ul>
        </div>
    </div>

    <div th:if="${failure}">
        <div hidden="hidden">
            <ul class="actionError">
                <li th:each="msg : ${failure}" th:text="${msg}">Message</li>
            </ul>
        </div>
    </div>
</footer>
<!-- CORE JQUERY SCRIPTS -->
<script th:src="@{~/customer/js/jquery-1.11.1.js}"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script th:src="@{~/customer/js/bootstrap.js}"></script>
<script th:src="@{~/customer/plugins/bootstrap-notify/bootstrap-notify.js}"></script>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>