<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <div th:replace="layout :: admin-menu"></div>
                <div th:replace="layout :: menu-footer-adm"></div>

            </div>
        </div>
        <div th:replace="layout :: top-nav"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                    <h3>Set Transfer Limit</h3>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <div class="ibox-content">
                                    <div class="x_title">
                                        <ul class="nav navbar-right panel_toolbox">

                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>

                                    <!-- ------------------------------------------------------- SET TRANSFER LIMIT --------------------------------------------------------------------------------------- -->
                                    <form class="form-horizontal" >
                                        <div id="withinOtherBanks">
                                            <div class="form-group" id="selectLimitForBankUser">

                                                <label class="col-sm-2 control-label">Select User</label>
                                                <div class="col-sm-4">
                                                <select class="form-control" id="selectBankUser" >
                                                    <option value="">-- Select --</option>
                                                    <option value="R">Retail </option>
                                                    <option value="C">Corporate </option>
                                                </select>
                                                </div>
                                            </div>


                                            <div class="form-group" id="userChooseOtherBanks">
                                                <label class="col-sm-2 control-label">Select Platform</label>
                                                <div class="col-sm-4">
                                                <select class="form-control" id="selectPlatform" >
                                                    <option value="">-- Select --</option>
                                                    <option th:each="message : ${transferchannels}" th:value="${message.description }"th:text="${message.description }"></option>
                                                </select>
                                                </div>
                                            </div>



                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Description</label>
                                                <div class="col-sm-4">
                                                <textarea name="accountnumber"  type="text" class="form-control"  id="obankaccountnumberid"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Set Lower Limit</label>
                                                <div class="col-sm-4">
                                                <input class="form-control"  id="obankaccountnumberclass" type="number"  required>
                                                </div>


                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Set Upper Limit</label>
                                                <div class="col-sm-4">
                                                <input name="limit"  type="number" class="form-control" id="obanksetlimit" required>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-4 col-sm-offset-2">
                                                <button class="btn btn-primary transferLimitBtn">Save</button>
                                                </div>
                                            </div>
                                            <!--<div th:replace="layout :: form-validation"></div>-->
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="layout :: footer">
        </footer>
        <!-- /footer content -->
    </div>
</div>

<script>


    $(".transferLimitBtn").on("click", function (){
        var bankUserType = $("#selectBankUser option:selected").val();
        var transferPlatform = $("#selectPlatform option:selected").val();
        var obankAcctNum = $("#obankaccountnumberid").val();
        var obankAcctclass = $("#obankaccountnumberclass").val();
        var obankSetAcctLimit = $("#obanksetlimit").val();
        // var obankFrequency = $("#obanksetfrequency").val();

        if (validateFields(obankAcctclass,obankSetAcctLimit, obankAcctNum, bankUserType, transferPlatform) == false){

            $.ajax({
                type: "POST",
                url: "/admin/transfersettings/submitTransferLimitForAllTransactionChannels",
                data: { customerType:bankUserType, channel:transferPlatform,  description: obankAcctNum, lowerLimit: obankAcctclass, upperLimit: obankSetAcctLimit }, // parameters
                success :
                    function(response) {
                        console.log(response);
                        showNotification(response, "success");
                        setTimeout(function () {
                            location.reload();
                        },2000)
                    },
                error:
                    function (response) {
                        console.log(response.responseText);
                        showNotification(response.responseText, "danger");
                    }

            })
        }
        // }

    })

    function showNotification(message , type){
        $.notify({
            // options
            message: message
        },{
            // settings
            type: type
        });
    }



    function validateFields(obankAcctclass,obankSetAcctLimit, obankAcctNum, bankUserType, transferPlatform){
        var error = false;
        if (obankAcctclass == ""){
            showNotification("Please supply Lower Limit","danger")
            error = true;
        }else
        if (obankSetAcctLimit == ""){
            showNotification("Please supply Upper Limit","danger")
            error = true;
        }else
        if (obankAcctNum == ""){
            showNotification("Please provide a description","danger")
            error = true;
        }else if(bankUserType == ""){
            showNotification("Please select a user-type","danger")
            error = true;
        }else if(transferPlatform == ""){
            showNotification("Please select a platform","danger")
            error = true;
        }

        return error;
    }

</script>
</body>
</html>