<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="javascript:var bread = [['Home', '/retail/dashboard'],['inter bank transfer','/retail/transfer/interbank'],['transfer']];currentBar('inter bank transfer');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ml-15 hide-content-onl">
         <!--Transfer to-->
                    <!--<span class="extra-link" style="font-size:16px" th:if="${benName}==''"  th:text="${transferRequest.beneficiaryAccountName}"></span>-->
                    <!--<span class="extra-link" style="font-size:16px" th:if="${benName}!=''" th:text="${benName}"></span>-->

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 no-pad-left " >
        <div class="no-mt no-pad-lef alert no-bd">
           <div class="">
                 <div class="form-spacin col-md-7 col-sm-7 no-pad-right">

                        <div th:if="${message != null}" class="alert alert-info" th:text="${message}">message</div>
                        <div th:if="${error != null}" class="alert alert-info" th:text="${error}">message</div>

                        <form method="post" th:action="@{/retail/transfer/interbank/summary}"
                              th:object="${transferRequest}">


                              <div class="form-group">
                                <label class='my-label'>Beneficiary</label>
                                <span class="alert no-bd-rad my-border bg-white invisible">NGN</span>
                                <input type="text" class="form-control ben-bg coronation-blue"  th:if="${benName}==''"  th:name= "${transferRequest.beneficiaryAccountName}"  th:value= "${transferRequest.beneficiaryAccountName}" disabled />
                                <input type="text" class="form-control ben-bg coronation-blue" th:if="${benName}!=''"  th:name= "${benName}" th:value= "${benName}" disabled />
                                <a href='/retail/transfer/interbank' class="btn btn-link required-step" style='font-size:11px;text-decoration:underline'>Change <span class='hidden-xs'>Beneficiary</span></a>
                                <p class="errors" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">&times;</p>
                        </div>

                            <div class="form-group">
                                <label class="my-label">Source account</label>


                                <span id="scurency"></span>
                                <span class="alert no-bd-rad my-border bg-white" id="sourceCurrency">CCY</span>

                                <select name="source" class="form-control" id="source"
                                        th:field="*{customerAccountNumber}" onchange="getBalance();getDestCurrency();">
                                    <option th:each="s: ${accountList}" th:value="${s.accountNumber}" th:text="${s.accountNumber}" th:selected="${s.primaryFlag=='Y'}"></option>


                                </select>
                                <p th:if="${#fields.hasErrors('customerAccountNumber')}" th:errors="*{customerAccountNumber}"
                                   class="errors"></p>
                            </div>

                            <input type="hidden" th:field="*{financialInstitution}" />
                            <input type="hidden" th:field="*{beneficiaryAccountNumber}" />
                            <input type="hidden" th:field="*{beneficiaryAccountName}" />
                            <input type="hidden" th:field="*{transferType}" />
                            <!--<input type="hidden" name="tranLocation" id="tranLocation"/>-->
                            <input type="hidden" name="channel" value="web"/>

                            <div class="form-group">
                                <label class="my-label">Amount</label>
                                <span class="alert no-bd-rad my-border bg-white hide-content-only">NGN</span>

                                <input type="number" name="amount" step="any" placeholder="Enter an amount"
                                       th:field="*{amount}" class="form-control amount"/><span class='req-inner' id="amount"></span>
                                <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"
                                   class="errors"></p>
                            </div>
                            <div class="form-group">
                                <label class="my-label">Remark</label>
                                <span class="alert no-bd-rad my-border bg-white hide-content-only">NGN</span>

                                <input type="text" name="remarks" placeholder="" th:field="*{remarks}"
                                       class="form-control"/>
                            </div>


                            <span class="alert no-bd-rad my-border bg-white hide-content-only">NGN</span>
                            <button class="btn btn-link required-step useloader" type="submit">Submit</button>
                        </form>
                        <!--</div>-->

                </div>

                 <div class="col-xs-12 col-sm-5  wel ">
                                         <!--<p class="related" style="padding-top: 5%">Related Information</p>-->
                                        <div  class="related-box">
                                            <h3 class="related-bar">Related Information</h3>

                                            <!--<input type="availBal" name="availBal"/>-->
                                            <p class="related-info coronation-blue" id="availBal"><b></b></p>
                                            <p  class="related-info coronation-blue" id="limit"><b></b></p>
                                            <p  class="related-info coronation-blue" id="fee"><b></b></p>

                                        </div>
                                    </div>
                
                               
            </div>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">
  <script th:src="@{~/customer/js/jquery-1.11.1.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        $(document).ready(function(){
            getBalance();
            getDestCurrency();
            // ipLookUp();


        })

        function getBalance(){

            var accountNumber = $('#source').val();
            $.ajax({
                url: "/retail/transfer/balance/"+accountNumber,
                type: 'GET',
                async: false,
                success:function(jd){
                    var message = jd.message;
                    var success =  jd.success;
                    console.log(message);
                    console.log(success);
                    if (success==false){
                        document.getElementById("myspan").textContent="Could not get balance from server, please try again.";
                        $("#myspan").show();
                    }else{
//                    $('input[name=availBal]').val(bal);

                        var  bal=numberWithCommas(message);
                        $('#availBal').html("Available Balance: "+bal);
                        getLimit();

                    }
                }
            })
        }



        function getLimit(){

            var accountNumber = $('#source').val();
            $.ajax({
                url: "/retail/transfer/limit/"+accountNumber+"/NIP",
                type: 'GET',
                async: false,
                success:function(jd){
                    var message = jd.message;
                    var success =  jd.success;
                    console.log(message);
                    console.log(success);
                    if (success==false){
                        document.getElementById("mylimit").textContent="Could not get limit from server, please try again.";
                        $("#mylimit").show();
                    }else{
                        var  bal= numberWithCommas(message);
                        $('#limit').html("Limit: "+bal);

                    }
                }
            })
        }



        function getDestCurrency(){
            var accountNumber = $('#source').val();
            $.ajax({
                url: "/retail/transfer/"+accountNumber+"/currency",
                type: 'GET',
                async: false,
                success:function(currency){
                    cur = ''+String(currency);
                    if(cur == "" ){
                        document.getElementById("sourceCurrency").textContent="NAN";
                        // $("#myspan").show();
                    }else{
//                    $('input[name=availBal]').val(bal);

                        $('#sourceCurrency').text(cur);

                    }
                }
            })
        }

        $("#amount").on('blur',function(){
            getFee();
        })

       function getFee(){
            let amount=$("#amount").val();

           $.ajax({
               url: "/retail/transfer/interbank/"+amount+"/fee",
               type: 'GET',
               async: false,
               success:function(result){
                   if(result.includes('<')){
                       result='';
                       $("#fee").html("");
                   }else {
                       let fee = numberWithCommas(result);
                       $('#fee').html("Fee applicable: " + '₦' + fee);
                   }

               }
           })


       }

        /*var url=[[${url}]];
        var key=[[${key}]];

        function ipLookUp() {
            $.ajax({
                url: url+key,
                dataType: 'jsonp',
                success: function (response) {
                    $('#tranLocation').val(response.city+":"+response.country_code+"goat");
                    console.log($('#tranLocation').val());
                },
            });
        }*/

        /*]]>*/


    </script>
</th:block>

</body>
</html>