<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<header th:replace="cust_layout :: header">
</header>

<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Coronation account transfer</h5>
                <select class="form-control" name="coronationbeneficiaries">
                    <option value="Overveiw">coronation beneficiaries</option>
                </select>
            </div>
        </div>

        <div class="row">

            <div class="col-md-8 content-bg">

                <div class="row spacing">
                    <div class="col-md-12 col-sm-12">
                        <h6 class="page_header">Interbank Transfer</h6>
                        <form method="post" th:action="@{/retail/transfer/interbank/index}">
                            <div class="form-group">
                                <label>Transfer Type</label>

                                <span id="tran"></span>
                                <select name="tranType" class="form-control" id="tranType">
                                    <option value="nip">NIP</option>
                                    <option value="rtgs">RTGS</option>
                                </select></div>
                            <button class="btn btn-link" type="submit">NEXT</button>

                            <!-- <button type="submit" class="btn btn-default" style="float: right">Add beneficiary</button>
                        --> </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 sidebar">
                <div class="sidebar-bg">
                    <p class="related" style="text-align: center; padding-top: 2%">Related Information</p>
                    <!--<hr class="hrhr"/>-->
                    <!--<p th:text="${nip.feeValue}" id="nip"></p>-->
                    <p id="nip" style="padding: 5%">Fee applicable: <span th:text="'N'+${nip.feeValue}"></span></p>
                    <p id="rtgs" style="display: none; padding: 5%">Fee applicable: <span th:text="'N'+${rtgs.feeValue}"></span></p>
                </div>
            </div>
            <div th:replace="cust_layout :: sidebar" class="col-md-3 sidebar">
            </div>
        </div>
    </div>
</section>


<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
<script>
    //datepicker
    $(function () {
        $("#datepicker").datepicker(
            {dateformat: 'dd/mm/yy'}
        );
    });


    $('#tranType').on('change', function () {
        if ($(this).val() === "nip") {
            $("#nip").show();
            $("#rtgs").hide();

        }
        else if ($(this).val() === "rtgs") {
            $("#rtgs").show();
            $("#nip").hide();
        }
    });
</script>
</body>
</html>