<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<div class="container">
    <header th:replace="cust_layout :: header">
    </header>

<section class="content-wrapper">
    <div class="containe">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Transfers to other banks through NIP</h5>
                <select class="form-control" name="beneficiaries">
                    <option value="Overveiw">Beneficiaries</option>
                </select>
            </div>
        </div>

        <div class="row">

            <div class="col-md-9 content-bg">


                    <div class="">
                        <h6 class="page_header">Beneficiaries</h6>
                        <form method="post" >
                            <table class="table">
                                <thead>
                                <tr>
                                <th>Beneficiary name</th>
                                    <th>Preferred name</th>
                                <th>Bank</th>
                                    <th>Account number</th>

                                </tr>
                                </thead>
                                <tbody>


                                <tr th:each="loc : ${localBen}">
                                    <td   th:text="${loc.accountName}"></td>
                                    <td th:text="${loc.preferredName}"></td>
                                    <td th:text="${loc.beneficiaryBank}"></td>
                                     <td th:text="${loc.accountNumber}"></td>

                                    <td>
                                        <li class="dropdown" style="list-style: none">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" style="font-size:20px;" aria-haspopup="true"><i class=" fa fa-angle-right"></i></a>
                                        <ul class="dropdown-menu">


                                            <li><a th:href="@{'/retail/transfer/interbank/' + ${loc.id} }">make a transfer</a>
                                            </li>
                                        </ul>
                                        </li>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            <br/>
                            <input  type="hidden" th:value="${transferRequest}"/>
                            <a th:href="@{/retail/transfer/interbank/new}" class="btn">Add Beneficiary</a>

                           <!-- <button type="submit" class="btn btn-default" style="float: right">Add beneficiary</button>
                       --> </form>
                    </div>

            </div>
            <div class="col-md-3 pull-right " >
                <div th:replace="cust_layout :: sidebar" class="" >
                </div>
            </div>
        </div>
    </div>
</section>


<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
<script>
    //datepicker
    $( function() {
        $( "#datepicker" ).datepicker(
                { dateformat : 'dd/mm/yy'}
        );
    } );
</script>
</div>
</body>
</html>