<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<header th:replace="cust_layout :: header">
</header>

<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> New Beneficiary</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content-bg">
                <div class="row form-spacing">
                    <div class="col-md-6 col-sm-6">
                        <form id="local" method="post" th:action="@{/retail/transfer/interbank/new}"
                              th:object="${localBeneficiaryDTO}">
                            <div class="form-group">
                                <label>Beneficiary Bank</label>
                                <select name="beneficiaryBank" class="form-control" th:field="*{beneficiaryBank}" id="bank_code" required="required">
                                    <option th:each="bank : ${localBanks}" th:value="${bank.institutionCode}" th:text="${bank.institutionName}"></option>
                                </select>
                                <p th:if="${#fields.hasErrors('beneficiaryBank')}" th:errors="*{beneficiaryBank}"
                                   class="errors"></p>
                            </div>
                            <div class="form-group">
                                <label>Account Number</label>
                                <input type="text" class="form-control" name="accountNumber" th:field="*{accountNumber}"
                                       id="acct_num" placeholder="Account Number" required="required"/>
                                <p class="errors" th:if="${#fields.hasErrors('accountNumber')}" th:errors="*{accountNumber}">&times;</p>
                                <p class="acctError" style="display:none;">invalid account number or Bank details</p>
                            </div>

                            <div class="form-group">
                                <label>Account Name</label>
                                <input type="text" class="form-control" name="accountName" th:field="*{accountName}"
                                       id="acct_name" readonly="readonly" required="required"/>
                                <p class="errors" th:if="${#fields.hasErrors('accountName')}" th:errors="*{accountName}">&times;</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="preferredName"
                                       placeholder="Beneficiary Alias" th:field="*{preferredName}"/>
                            </div>
                            <button id="localsave" style="display: none;" class="btn btn-link" >Next</button>
                            <button id="neq" type="button" class="btn btn-link" onclick="getAccountName();">Name Enquiry</button>
                        </form>

                    </div>
                </div>
            </div>
            <div th:replace="cust_layout :: sidebar" class="col-md-3 sidebar">
            </div>
        </div>
    </div>
</section>


<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $('#bank_code').change(function () {
            $('#acct_name').val("");
            $('.acctError').hide();
        });

        $('#acct_num').change(function () {
            $('#acct_name').val("");
            $('.acctError').hide();
        });
//        sortSelect('#bank_code', 'text', 'asc');

        $("#bank_code").prop("selectedIndex", -1);

    });


    function getAccountName() {
        //make sure alert message is not empty
        var acct = $('#acct_num').val();
        var bank = $('#bank_code').val();

        if(( acct==null || acct=='' ) || ( bank==null || bank=='' )) {


            $('.acctError').show().css("color", "red");
            return false;
        }


        var options = {
            type: 'GET',
            url: '/retail/transfer/' + acct + '/'+bank+'/nameEnquiry',
//					dataType: 'jsonp',
            error: function (xhr, textStatus, errorThrown) {
                $('.acctError').show().css("color", "red");

            },
            success: function (data, textStatus) {

                var result = data;
                $('#acct_name').val(result);

                if( result!=null && result!='' ) {

                    $('#localsave').show();
                    $('#neq').hide();
                }else{

                    $('.acctError').show().css("color", "red");
                }
            }
        };
        $.ajax(options);
    };





    /*]]>*/
</script>
</body>
</html>