<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<div class="container">
    <header th:replace="cust_layout :: header">
    </header>

<section class="content-wrapper">
    <div class="containe">

        <div class="row">

            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Transfer to <span th:text="${benName}"></span></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 content-bg">

                <div class="">

                        <div th:if="${message != null}" class="alert alert-info" th:text="${message}">message</div>
                        <div th:if="${error != null}" class="alert alert-info" th:text="${error}">message</div>

                        <form method="post" th:action="@{/retail/transfer/interbank/summary}"
                              th:object="${transferRequest}">


                            <div class="form-group">
                                <label>Source account</label>


                                <span id="scurency"></span>
                                <select name="source" class="form-control" id="source"
                                        th:field="*{customerAccountNumber}">
                                    <option value=""> select an account</option>
                                    <option th:each="s: ${accounts}" th:value="${s}" th:text="${s}"></option>


                                </select>
                                <p th:if="${#fields.hasErrors('customerAccountNumber')}" th:errors="*{customerAccountNumber}"
                                   class="errors"></p>
                            </div>

                            <input type="hidden" th:field="*{financialInstitution}" />
                            <input type="hidden" th:field="*{beneficiaryAccountNumber}" />
                            <input type="hidden" th:field="*{beneficiaryAccountName}" />
                            <input type="hidden" th:field="*{transferType}" />

                            <div class="form-group">
                                <label>Amount</label>
                                <input type="number" name="amount" step="any" placeholder="Enter an amount"
                                       th:field="*{amount}" class="form-control"/>
                                <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"
                                   class="errors"></p>
                            </div>
                            <div class="form-group">
                                <label>Remark</label>
                                <input type="text" name="remarks" placeholder="" th:field="*{remarks}"
                                       class="form-control"/>
                            </div>


                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
                        <!--</div>-->

                </div>
            </div>
            <div class="col-md-3 pull-right " >
                <div th:replace="cust_layout :: sidebar" class="" >
                </div>
            </div>
        </div>
    </div>
</section>


<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
<!--<script th:src="@{~/customer/js/accountdetails.js}"></script>-->
</div>
</body>

</html>