<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<div class="container">
    <header th:replace="cust_layout :: header">
    </header>

<section class="content-wrapper">
    <div class="containe">

        <div class="row">

            <div class="col-md-4 col-sm-4">

                <h5 class="page_header"> Transfer to
                    <span  th:if="${benName}== null"  th:text="${transferRequest.beneficiaryAccountName}"></span>
                    <span th:if="${benName}!= null" th:text="${benName}"></span>
                    <select class="form-control invisible">
                        <option value="account">Account Overview</option>
                    </select>
                </h5>

            </div>
             <p class="col-xs-12">
                    Fields marked <span style="color:red">*</span> are compulsory
            </p>
        </div>
        <div class="row">
            <div class="col-md-9 content-bg">

                <div class="form-spacin col-md-7 col-sm-7">

                        <div th:if="${message != null}" class="alert alert-info" th:text="${message}">message</div>
                        <div th:if="${error != null}" class="alert alert-info" th:text="${error}">message</div>

                        <form method="post" th:action="@{/retail/transfer/interbank/summary}"
                              th:object="${transferRequest}">


                            <div class="form-group">
                                <label class="my-label">Source account</label>


                                <span id="scurency"></span>
                                <span class="alert no-bd-rad my-border bg-white" id="sourceCurrency">CCY</span>

                                <select name="source" class="form-control" id="source"
                                        th:field="*{customerAccountNumber}" onchange="getBalance();getDestCurrency();">
                                    <option th:each="s: ${accountList}" th:value="${s.accountNumber}" th:text="${s.accountNumber}" th:selected="${s.primaryFlag=='Y'}"></option>


                                </select>
                                <p th:if="${#fields.hasErrors('customerAccountNumber')}" th:errors="*{customerAccountNumber}"
                                   class="errors"></p>
                            </div>

                            <input type="hidden" th:field="*{financialInstitution}" />
                            <input type="hidden" th:field="*{beneficiaryAccountNumber}" />
                            <input type="hidden" th:field="*{beneficiaryAccountName}" />
                            <input type="hidden" th:field="*{transferType}" />

                            <div class="form-group">
                                <label class="my-label">Amount</label>
                                <span class="alert no-bd-rad my-border bg-white">NGN</span>

                                <input type="number" name="amount" step="any" placeholder="Enter an amount"
                                       th:field="*{amount}" class="form-control"/><span class='req-inner'></span>
                                <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"
                                   class="errors"></p>
                            </div>
                            <div class="form-group">
                                <label class="my-label">Remark</label>
                                <span class="alert no-bd-rad my-border bg-white hide-content-only">NGN</span>

                                <input type="text" name="remarks" placeholder="" th:field="*{remarks}"
                                       class="form-control"/>
                            </div>


                            <span class="alert no-bd-rad my-border bg-white hide-content-only">NGN</span>
                            <button class="btn btn-link required-step" type="submit">Submit</button>
                        </form>
                        <!--</div>-->

                </div>
                <div class="col-md-4 col-sm-4 well">
                    <!--<p class="related" style="padding-top: 5%">Related Information</p>-->
                    Related Information
                    <hr class="related-info"/>
                    <!--<input type="availBal" name="availBal"/>-->
                    <p id="availBal"><b></b></p>
                    <p id="limit"><b></b></p>

                </div>
            </div>
            <div class="col-md-3 pull-right " >
                <div th:replace="cust_layout :: sidebar" class="" >
                </div>
            </div>
        </div>
    </div>
</section>


<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
    <script th:src="@{~/customer/js/jquery-1.11.1.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/


        $(document).ready(function(){
            getBalance();
            getDestCurrency();

        })

        function getBalance(){

            var accountNumber = $('#source').val();
            $.ajax({
                url: "/retail/transfer/balance/"+accountNumber,
                type: 'GET',
                async: false,
                success:function(jd){
                    var message = jd.message;
                    var success =  jd.success;
                    console.log(message);
                    console.log(success);
                    if (success==false){
                        document.getElementById("myspan").textContent="Could not get balance from server, please try again.";
                        $("#myspan").show();
                    }else{
//                    $('input[name=availBal]').val(bal);

                        var  bal=message;
                        $('#availBal').text("Available Balance: "+bal);
                        getLimit();

                    }
                }
            })
        }



        function getLimit(){

            var accountNumber = $('#source').val();
            $.ajax({
                url: "/retail/transfer/limit/"+accountNumber,
                type: 'GET',
                async: false,
                success:function(jd){
                    var message = jd.message;
                    var success =  jd.success;
                    console.log(message);
                    console.log(success);
                    if (success==false){
                        document.getElementById("mylimit").textContent="Could not get limit from server, please try again.";
                        $("#mylimit").show();
                    }else{
//                    $('input[name=availBal]').val(bal);
                        var  bal=message;
                        $('#limit').text("Limit: "+bal);

                    }
                }
            })
        }



        function getDestCurrency(){
            var accountNumber = $('#source').val();
            $.ajax({
                url: "/retail/transfer/"+accountNumber+"/currency",
                type: 'GET',
                async: false,
                success:function(currency){
                    cur = ''+String(currency);
                    if(cur == "" ){
                        document.getElementById("sourceCurrency").textContent="NAN";
                        // $("#myspan").show();
                    }else{
//                    $('input[name=availBal]').val(bal);

                        $('#sourceCurrency').text(cur);

                    }
                }
            })
        }

        /*]]>*/


    </script>
</div>
</body>

</html>