<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<div class="container">
    <header th:replace="cust_layout :: header">
    </header>

<section class="content-wrapper">
    <div class="containe">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Coronation account transfer</h5>
                <select class="form-control" name="coronationbeneficiaries">
                    <option value="Overveiw">coronation beneficiaries</option>
                </select>
            </div>
        </div>

        <div class="row">

            <div class="col-md-8 content-bg">

                <div class="row spacing">
                    <div class="col-md-12 col-sm-12">
                        <h6 class="page_header">Interbank Transfer</h6>
                        <form method="post" th:action="@{/retail/transfer/interbank/index}">
                            <div class="form-group">
                                <label>Transfer Type</label>

                                <span id="tran"></span>
                                <select name="tranType" class="form-control" id="tranType">
                                    <option value="NIP">NIP</option>
                                    <option value="RTGS">RTGS</option>
                                </select></div>
                            <button class="btn btn-link" type="submit">NEXT</button>

                            <!-- <button type="submit" class="btn btn-default" style="float: right">Add beneficiary</button>
                        --> </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 sidebar">
                <div class="sidebar-bg">
                    <p class="related" style="text-align: center; padding-top: 2%">Related Information</p>
                    <hr class="hrhr"/>
                    <!--<p th:each="rule : ${passwordRules}" th:text="${rule}"></p>-->
                    <p>Hello, This part should contain charge details</p>
                </div>
            </div>
            <div th:replace="cust_layout :: sidebar" class="col-md-3 sidebar">
            </div>
        </div>
    </div>
</section>


<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
<script>
    //datepicker
    $( function() {
        $( "#datepicker" ).datepicker(
            { dateformat : 'dd/mm/yy'}
        );
    } );
</script>
</div>
</body>
</html>