<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="corp_layout :: site-head">

</head>
<body>
<div class="container">
    <header th:replace="corp_layout :: corp-header">
    </header>

    <section class="content-wrapper">
        <div class="containe">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <h5 class="page_header"> Transfers to other banks through RTGS</h5>
                    <select class="form-control" name="beneficiaries">
                        <option value="Overveiw">Beneficiaries</option>
                    </select>
                </div>
                <p class="col-xs-12 invisible">
                    Fields marked <span style="color:red">*</span> are compulsory
            </p>
            </div>

            <div class="row">

                <div class="col-md-9 content-bg">

                    <div class="ro spacin">
                        <div class="col-md-12 col-sm-12 table-responsive">
                            <h6 class="page_header">Beneficiaries</h6>
                            <form method="post" >
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Beneficiary name</th>
                                        <th>Preferred name</th>
                                        <th>Bank</th>
                                        <th>Account number</th>

                                    </tr>
                                    </thead>
                                    <tbody>


                                    <tr th:each="loc : ${localBen}">
                                        <td   th:text="${loc.accountName}"></td>
                                        <td th:text="${loc.preferredName}"></td>
                                        <td th:text="${loc.beneficiaryBank}"></td>
                                        <td th:text="${loc.accountNumber}"></td>

                                        <td>
                                            <li class="dropdown" style="list-style: none">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" style="font-size:20px;" aria-haspopup="true"><i class=" fa fa-angle-right"></i></a>
                                                <ul class="dropdown-menu">


                                                    <li><a th:href="@{'/corporate/transfer/interbank/' + ${loc.id} }">make a transfer</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                                <br/>
                                <input  type="hidden" th:value="${transferRequest}"/>
                                <a th:href="@{/corporate/transfer/interbank/new}" class="btn">Add Beneficiary</a>

                                <!-- <button type="submit" class="btn btn-default" style="float: right">Add beneficiary</button>
                            --> </form>
                        </div>
                    </div>
                </div>
                <div class='col-md-3'>
                <div th:replace="corp_layout :: corp-sidebar" class="col-md-3 sidebar">
                </div>

                </div>
            </div>
        </div>
    </section>


    <!-- CONTENT-WRAPPER SECTION END-->
    <footer th:replace="corp_layout ::corp-footer">
    </footer>
    <script>
        //datepicker
        $( function() {
            $( "#datepicker" ).datepicker(
                { dateformat : 'dd/mm/yy'}
            );
        } );
    </script>
</div>
</body>
</html>