<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

<body onload="currentBar('Transfers to other banks through NIP')">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">
         
        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>

        
    </div>

    <div class="col-xs-12 ml-15 " >
        <div class="col-xs-11 no-pad-lef table-responsive no-mt no-bd  alert">
            <h6 class="sub_header">Beneficiaries</h6>
           <div class="table-responsive">
                        
                        <form method="post" >
                            <table class="table">
                                <thead>
                                <tr>
                                <th>Beneficiary name</th>
                                    <th>Preferred name</th>
                                <th>Bank</th>
                                    <th>Account number</th>

                                </tr>
                                </thead>
                                <tbody>


                                <tr th:each="loc : ${localBen}">
                                    <td   th:text="${loc.accountName}"></td>
                                    <td th:text="${loc.preferredName}"></td>
                                    <td th:text="${loc.beneficiaryBank}"></td>
                                     <td th:text="${loc.accountNumber}"></td>

                                    <td>
                                        <!--<li class="dropdown" style="list-style: none">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" style="font-size:20px;" aria-haspopup="true"><i class=" fa fa-angle-right"></i></a>
                                        <ul class="dropdown-menu">-->


                                            <a class="btn btn-link required-step" th:href="@{'/corporate/transfer/interbank/' + ${loc.id} }">make a transfer</a>
                                            
                                        <!--</ul>
                                        </li>-->
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                             </div>
                            <br/>
                            <input  type="hidden" th:value="${transferRequest}"/>
                            <a th:href="@{/corporate/transfer/interbank/new}" class="btn">New Beneficiary</a>

                           <!-- <button type="submit" class="btn btn-default" style="float: right">Add beneficiary</button>
                       --> </form>
                   
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">
<script>
    //datepicker
    $( function() {
        $( "#datepicker" ).datepicker(
                { dateformat : 'dd/mm/yy'}
        );
    } );
</script>
   
</th:block>

</body>
</html>