<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mail/template}">
<head>
    <meta name="viewport" content="width=device-width"  initial-scale="1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Alerts</title>


</head>

<body itemscope="itemscope" itemtype="http://schema.org/EmailMessage" style="font-family: 'FedraSansStdBook',sans-serif; box-sizing: border-box; font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em; background-color: #ffffff; margin: 0;" bgcolor="#ffffff">

<div layout:fragment="content">

    <tr>
        <td class="alert alert-warning" style="font-family: 'FedraSansStdBook',Arial,sans-serif; font-size: 16px; vertical-align: top; color: #003056; font-weight: 500; border-radius: 3px 3px 0 0; background-color: #ffffff; margin: 0; padding: 0 20px 20px 20px;" bgcolor="#fffff" valign="top">
            <strong style="display: inline-block; text-align: left; ">Notification - Liquidate</strong>
        </td>
    </tr>
    <tr style="font-family: FedraSansStdLight,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
        <td class="content-wrap" style="font-family: FedraSansStdBook,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 20px;" valign="top">
            <table width="100%" cellpadding="0" cellspacing="0" style="font-family: FedraSansStdBook,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">

                <tr style="font-family: 'FedraSansStdBook',Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                    <td class="content-block" style="font-family: 'FedraSansStdBook',Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #003056; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                        Dear <span th:text="${fullName}"></span>,
                        <p>
                            You have successfully liquidated fixed deposit account on the Internet
                            banking platform.
                        </p>
                        <p>
                            Please see details below:
                        </p>
                        <p>
                            Done by: <span th:text="${username}"></span>
                        </p>
                        <p>
                            Account Number: <span th:text="${accountNumber}"></span>
                        </p>
                        <p>
                            Amount: <span th:text="${amount}"></span>
                        </p>
                        <p>
                            If you did not initiate this action, please immediately contact [[#{menu.bank.name}]] Customer Care on
                            08188314939 or email [[#{menu.bank.email}]]

                        </p>
                    </td>
                </tr>

                <tr style="font-family: FedraSansStdLight,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><td class="content-block" style="font-family: FedraSansStdLight,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; color: #003056; margin: 0; padding: 0 0 20px;" valign="top">
                    Regards,
                    <p style="font-family: FedraSansStdBook,Arial,sans-serif;"th:text="#{menu.bank.name}" ></p>

                </td>

                </tr>
            </table>
        </td>
    </tr>
</div>
</body>
</html>
