<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <div th:replace="layout :: ops-menu"></div>
                <div th:replace="layout :: menu-footer-ops"></div>

            </div>
        </div>
        <div th:replace="layout :: ops-top-nav"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Create Retail User</h3>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Add user</h2>

                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="ibox-content">
                                    <form method="post" class="form-horizontal" th:action="@{/ops/retail/users}" th:object="${retailUser}">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">CifId:</label>

                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" th:field="*{customerId}" />
                                                <label id="response" class="hidden control-label"></label>
                                            </div>

                                            <a class="btn btn-primary col-sm-2 fa" type="button" id="bt-find"><i
                                                    id="spinner" class="fa fa-search"></i> Find</a>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Username</label>

                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" th:field="*{userName}"/>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">FirstName</label>

                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" th:field="*{firstName}" />
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">LastName</label>

                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" th:field="*{lastName}" />
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Email</label>

                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" th:field="*{email}" />
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Phone Number</label>

                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" th:field="*{phoneNumber}"/>
                                            </div>

                                        </div>

                                        <div class="form-group">



                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Role</label>
                                            <div class="col-sm-6">
                                                <select class="form-control" th:field="*{roleId}">
                                                    <option value="">Select..</option>
                                                    <option th:each="role : ${roles}"
                                                            th:value="${role.id}" th:text="${role.name}"
                                                            th:selected="${role.id==retailUser.roleId}"
                                                            required="required"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-2">
                                                <button class="btn btn-white" type="reset" id="cancel">Cancel</button>
                                                <button class="btn btn-primary disabled" id="submit" type="submit" disabled>Save</button>
                                            </div>
                                        </div>
                                        <div th:replace="layout :: form-validation"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="layout :: footer">
        </footer>
        <!-- /footer content -->
    </div>
</div>
<script th:inline="javascript">
    $("#bt-find").on("click", function (e) {
        e.preventDefault();
        spinner = $("#spinner");
        spinner.addClass("fa-spinner fa-spin");
        spinner.removeClass("fa-search");
        $("#submit").attr("disabled","disabled");
        $("#submit").addClass("disabled");
        $("#customerId").closest(".form-group").removeClass("has-error");
        $.get("/ops/retail/users/" + $("#customerId").val() + "/name").done(function (data) {
            $("#response").text("").addClass("hidden");
            $("#lastName").val(data["firstName"]);
            $("#lastName").val(data["lastName"]);
            $("#email").val(data["email"]);
            $("#phoneNumber").val(data["phone"]);
            $("#submit").removeAttr("disabled");
            $("#submit").removeClass("disabled");
        }).fail(function (resp) {
            $("#customerId").closest(".form-group").addClass("has-error");
            $("#response").text(resp.responseText).removeClass("hidden");
        }).always(function () {
            spinner.removeClass("fa-spinner fa-spin");
            spinner.addClass("fa-search");
        });
    });

</script>
</body>
</html>