<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <!--<a href="index.html"><img th:src="@{~/images/cmb_logo.png}"/></a>-->
                </div>

                <div class="clearfix"></div>
                <div class="clearfix"></div>

                <div th:replace="layout :: ops-menu"></div>
                <div th:replace="layout :: menu-footer-ops"></div>

            </div>
        </div>
        <div th:replace="layout :: ops-top-nav"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Create Retail User</h3>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Add user</h2>

                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="ibox-content">
                                    <form method="post" class="form-horizontal" th:action="@{/ops/retail/users}" th:object="${retailUser}">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">CifId:</label>

                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" th:field="*{user}" />
                                            </div>

                                            <button class="btn btn-primary col-sm-2" type="submit">Browse</button>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">FirstName</label>

                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" th:field="*{firstName}" />
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">LastName</label>

                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" th:field="*{lastName}" />
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Email</label>

                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" th:field="*{email}" />
                                            </div>

                                        </div>


                                        <div class="form-group">



                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Role</label>
                                            <div class="col-sm-6">
                                                <select class="form-control m-b " name="account">
                                                    <option>--Select role--</option>
                                                    <option>Initializer</option>
                                                    <option>Verifier</option>
                                                    <option>Audit</option>
                                                    <option>Admin</option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-2">
                                                <button class="btn btn-white" type="submit">Cancel</button>
                                                <button class="btn btn-primary" type="submit">Save</button>
                                            </div>
                                        </div>



                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="layout :: footer">
        </footer>
        <!-- /footer content -->
    </div>
</div>

</body>
</html>