<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: site-head">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <div th:replace="layout :: ops-menu"></div>
                <div th:replace="layout :: menu-footer-ops"></div>

            </div>
        </div>
        <div th:replace="layout :: ops-top-nav"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Retail Management</h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab_content1" id="home-tab"
                                                                              role="tab" data-toggle="tab"
                                                                              aria-expanded="true">User</a>
                                    </li>
                                    <li role="presentation" class=""><a href="#tab_content2" role="tab" id="account-tab"
                                                                        data-toggle="tab"
                                                                        aria-expanded="false">Accounts</a>
                                    </li>
                                    <li role="presentation" class=""><a href="#tab_content3" role="tab" id="coverage-tab"
                                                                        data-toggle="tab"
                                                                        aria-expanded="false">Account Coverage</a>
                                    </li>

                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                                         aria-labelledby="home-tab">

                                        <div class="x_title">
                                            <ul class="nav navbar-left panel_toolbox">

                                            </ul>

                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <div class="wrapper wrapper-content animated fadeInRigpht">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="ibox float-e-margins">

                                                            <form method="post" class="form-horizontal"
                                                                  th:object="${retailUser}">


                                                                <div class="form-group">
                                                                    <label class="col-sm-2 control-label">Customer ID</label>

                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control"
                                                                               th:field="*{customerId}"
                                                                               readonly="readonly"/>
                                                                    </div>

                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-2 control-label">Username</label>

                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control"
                                                                               th:field="*{userName}"
                                                                               readonly="readonly"/>
                                                                    </div>

                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-2 control-label">First
                                                                        Name</label>

                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control"
                                                                               th:field="*{firstName}"
                                                                               readonly="readonly"/>
                                                                    </div>

                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-2 control-label">Last
                                                                        Name</label>

                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control"
                                                                               th:field="*{lastName}"
                                                                               readonly="readonly"/>
                                                                    </div>

                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-2 control-label">Email Address</label>

                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control"
                                                                               th:field="*{email}" readonly="readonly"/>
                                                                    </div>

                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-2 control-label">Phone
                                                                        Number</label>

                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control"
                                                                               th:field="*{phoneNumber}"
                                                                               readonly="readonly"/>
                                                                    </div>

                                                                </div>

                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_content2"
                                         aria-labelledby="account-tab">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                                             aria-labelledby="home-tab">

                                            <div class="x_title">
                                                <ul class="nav navbar-left panel_toolbox">
                                                    <li>
                                                        <div class="col-lg-4">
                                                            <div class="title-action">
<!--                                                                <a id="delAccount" class="btn btn-danger btn-sm btn-select btn-link-act" th:href="@{'/ops/corporates/' + ${corporate.id}+'/account/index'}" disabled="disabled" ><i class="fa fa-trash"></i> Delete</a>-->
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="nav navbar-left panel_toolbox">

                                                    <li>
                                                        <div class="col-lg-4">
                                                            <div class="title-action">
                                                                <button sec:authorize="hasAuthority('VIEW_TRANSACTIONS')" class="btn btn-primary btn-sm btn-select bt-link-act viewTrans"  disabled="disabled" ><i class="fa fa-eye"></i> View Transactions</button>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>

                                                <ul class="nav navbar-right panel_toolbox">
                                                    <li >
                                                        <div class="col-lg-4">
                                                            <div class="title-action">
<!--                                                                <a class="btn btn-primary btn-sm" th:href="@{'/ops/corporates/account/new/' + ${corporate.id}}"><i class="fa fa-plus"></i> Add Account</a>-->
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>

                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <div class="wrapper wrapper-content animated fadeInRight">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div id="accountDetails" class="ibox float-e-margins">

                                                                <table class="table table-striped table-bordered table-hover"
                                                                       width="100%" id="account">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>Account Name</th>
                                                                        <th>Account Number</th>
                                                                        <th>Product Type</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    </tbody>
                                                                    <tfoot>
                                                                    <tr>
                                                                        <th>Account Name</th>
                                                                        <th>Account Number</th>
                                                                        <th>Product Type</th>
                                                                    </tr>
                                                                    </tfoot>
                                                                </table>

                                                            </div>
                                                            <div id="transactions" class="collapse">

                                                                <form method="post" class="form-horizontal" th:action="@{/admin/feedback/enquire}">
                                                                    <div class="form-group  ">
                                                                        <label class="col-sm-2 control-label" >Account Name</label>
                                                                        <div class="col-sm-4">
                                                                            <input type="text" id="acctName" class="form-control" name="acctName" disabled="disabled"/>
                                                                        </div>
                                                                        <label class="col-sm-2 control-label">Account Number</label>
                                                                        <div class="col-sm-4">
                                                                            <select id="acctNumber"  class="form-control">

                                                                            </select>
                                                                        </div>

                                                                    </div>
                                                                    <div class="form-group">

                                                                        <label class="col-sm-2 control-label" >Start date</label>
                                                                        <div class="col-sm-4">
                                                                            <input type="date" id="startDate" class="form-control" name="start"/>
                                                                        </div>
                                                                        <label class="col-sm-2 control-label" >End date</label>
                                                                        <div class="col-sm-4">
                                                                            <input type="date" id="endDate" class="form-control" name="end"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-2 control-label">Transaction Type</label>
                                                                        <div class="col-sm-4">
                                                                            <select id="transactionType" name="transactionType" class="form-control" required="required">

                                                                            </select>
                                                                        </div>

                                                                        <label class="col-sm-2 control-label" ></label>
                                                                        <div class="col-sm-4">
                                                                            <button id="submit" class="btn btn-primary" type="submit" >View</button>
                                                                        </div>
                                                                    </div>

                                                                </form>
                                                                <div id="" class="ibox float-e-margins">

                                                                    <table class="table table-striped table-bordered table-hover"
                                                                           width="100%" id="review">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>Transaction Date</th>
                                                                            <th>Beneficiary Acct Name</th>
                                                                            <th>Beneficiary Acct no.</th>
                                                                            <th>Amount</th>
                                                                            <th>Status</th>
                                                                            <th>Ref no.</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane fade" id="tab_content3"
                                         aria-labelledby="coverage-tab">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                                             aria-labelledby="home-tab">
                                            <div class="x_title">


                                                <div class="clearfix"></div>
                                            </div>

                                            <div class="x_content">
                                                <div class="wrapper wrapper-content animated fadeInRigpht">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="ibox float-e-margins">


                                                                    <form method="post" class="form-horizontal" id="coverage-form">
                                                                        <input type="hidden" name="entityId" th:value="${retailUser.id}">
                                                                        <div class=" form-group">
                                                                            <div class="col-md-6 col-sm-6 ">
                                                                                <div id="coverage" class="btn-group"
                                                                                     th:each="crv : ${coverageTypes}">
                                                                                    <label class="btn btn-secondary"
                                                                                           data-toggle-class="btn-primary"
                                                                                           data-toggle-passive-class="btn-default">
                                                                                        <input type="checkbox"
                                                                                               th:id="${crv.code}"
                                                                                               name="coverages"
                                                                                               th:checked="${#lists.contains(retailUser.coverageCodes,crv.code)}"
                                                                                               class="form-control"
                                                                                               data-switchery="true"
                                                                                               th:class="js-switch"
                                                                                               th:value="${crv.code}"
                                                                                        />[[${" "+crv.code}]]

                                                                                    </label>

                                                                                </div>
                                                                            </div>
                                                                        </div>
<br/><br/>
                                                                    <div class="form-group">
                                                                        <div class="col-sm-4 col-sm-offset-2">
                                                                            <button class="btn btn-white" type="reset" id="cancel">Cancel</button>
                                                                            <button class="btn btn-primary" type="submit"
                                                                                    id="save-coverage">Save</button>
                                                                        </div>
                                                                    </div>

                                                                </form>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
























                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="layout :: footer">
        </footer>
        <!-- /footer content -->
    </div>
</div>
<script th:src="@{~/bank/vendors/datatables.net/js/jquery.dataTables.js}"></script>
<script th:src="@{~/bank/js/dataTables.bootstrap.js}"></script>
<script th:src="@{~/bank/js/dataTables.select.js}"></script>
<script th:src="@{~/bank/js/jquery.spring-friendly.min.js}"></script>



<!-- Account Management Page-Level Scripts -->
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        var acctNames=[];
        var acctNos=[];
        var selectedAcctNos="";
        var acurl = /*[['/ops/retail/users/'+${retailUser.id}+'/accounts']]*/"/ops/retail/users/${retailUser.id}/accounts";
        var table = $('#account').DataTable({
            select: true,
            responsive: false,
            "lengthMenu" : [ [ 5, 10, 15, 20, -1 ], [ 5, 10, 15, 20, "All" ] ],
            "pagingType": "simple_numbers",
            "searching": false,
            "paging": true,
            "serverSide": true,
            "ajax": acurl,
            "dom": 'T<"clear">frtlp',
            "columns": [
                {"data": "preferredName"},
                {"data": "accountNumber"},
                {"data": "schemeType"}
            ]

        });



        table.on('select', function() {
            $("#acctName").val(table.row({selected: true}).data().preferredName);
            selectedAcctNos=table.row({selected: true}).data().accountNumber;
            if (table.rows({
                selected : true
            }).indexes().length === 0) {
                $('.btn-select').attr("disabled", true);
            } else {
                $('.btn-select').removeAttr("disabled");
                acctNos=table.column(1).data().toArray();
                acctNames=table.column(0).data().toArray();
            }

        });

        table.on('deselect', function() {
            if (table.rows({
                selected : true
            }).indexes().length === 0) {
                $('.btn-select').attr("disabled", true);
            } else {
                $('.btn-select').removeAttr("disabled");
            }
        });

        $("#myTab li").on('click',function () {
            $("#accountDetails").show();
            $("#transactions").hide();
        })

        $(".viewTrans").on('click',function(e){
            e.preventDefault();
            $("#accountDetails").hide();
            $.ajax({
                dataType: 'json',
                url:  "/ops/transactions",
                type: "GET",
                success: function (result) {
                    createOptionsForTransferType(result);
                    createOptionsForAccounts(acctNos);
                },
                error: function () {
                    console.log("error");
                }
            });
            $("#transactions").show();
        })
        function createOptionsForAccounts(e){
            var options="";
            for(var i=0;i<e.length;i++){

                if(e[i]===selectedAcctNos) options += "<option selected value=" + i + ">" + e[i] + "</option>"

                else options+="<option value=" +i+ ">"+e[i]+"</option>"
            }
            $("#acctNumber").html(options);
        }

        function createOptionsForTransferType(e){
            var options="<option value=\"\">ALL</option>";
            for(var i=0;i<e.length;i++){
                options+="<option value=" +e[i]+ ">"+e[i]+"</option>"
            }
            $("#transactionType").html(options);
        }

        $("#acctNumber").on("change",function(){
            var index=$(this).val();
            $("#acctName").val(acctNames[index]);
        })

        $("#submit").on("click",function (e) {
            e.preventDefault();
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            if(startDate===""||endDate===""){
                bootbox.alert('"Start date" and "End date" are required');
                return;
            }
            if(endDate<startDate){
                bootbox.alert('"End Date" should be greater than "Start date"');
            }
            var transactionType = $("#transactionType").val();
            var accountNumber = $("#acctNumber option:selected").text();

            var transactionReviewDTO = {
                "startDate": startDate, "endDate": endDate, "transactionType": transactionType,
                "CustomerAccountNumber": accountNumber
            };

            var table2 = $('#review').DataTable({
                "destroy":true,
                select: true,
                "responsive": false,
                "dataType": 'json',
                "ajax": {
                    "url":"/ops/transactions/review" ,
                    "data":transactionReviewDTO,
                },
                "type":"GET",
                "lengthMenu" : [ [ 5, 10, 20, -1],	[ 5, 10, 20, "All" ] ],
                "pagingType": "simple_numbers",
                "searching": false,
                "paging": true,
                "serverSide": true,

                "dom": 'T<"clear">frtlp',
                "columns": [
                    {"data": "tranDate"},
                    {"data": "beneficiaryAccountName"},
                    {"data": "beneficiaryAccountNumber"},
                    {"data": "amount"},
                    {"data": "statusDescription"},
                    {"data": "referenceNumber"}
                ],
                "columnDefs" : [
                    {
                        "targets" : 0,
                        "data" : "tranDate",
                        "render" : function(data, type,full, meta) {
                            if (type === 'display') {
                                var dtStart = new Date(data);
                                var dtStartWrapper = moment(dtStart);
                                return dtStartWrapper.format('DD-MMM-YYYY HH:mm:ss');

                            }
                            return data;
                        }
                    },

                ]
            });
        });



    });

    $("#delAccount").on("click", function(e) {
        e.preventDefault();
        var link = $(e.currentTarget);
        if($(link).attr("disabled")){
            return;
        }
        var dt = $('#account').DataTable();
        var id = $(dt.row({
            selected: true
        }).node()).attr("id");
        //replace {id} with id
        var ooo = link.attr("href").replace("index",id);
        warnBeforeRedirectToAccount(ooo);
    });



    function warnBeforeRedirectToAccount(ooo) {
        swal({
            title: "Are you sure?",
            text: "Are you sure that you want to delete this account?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        }, function() {
            window.location.assign(ooo);
        });
    }

    $("#save-coverage").on("click", function (e) {
        e.preventDefault();
        var crv_form = $("#coverage-form").serializeArray();
        $.ajax({
            dataType: 'text',
            url: "/ops/retail/users/coverage",
            type: "POST",
            data : crv_form,
            success: function (result) {
                console.log("result in success "+JSON.stringify(result));
                $.notify({

                     message: "Coverage Saved!"


                }, {


                     type: "success"
                });
            }
            ,
            error: function (error) {
                console.log("error "+JSON.stringify(error));
                $.notify({

                     message: "Coverage was not Saved !"

                }, {

                     type: "danger"

                });
                var err = JSON.parse(xhr.responseText);
                console.log("error : " + err);
            }
        });
    });

    document.getElementById("cancel").onclick = function () {
        location.href = "/ops/retail/users";
    }


    $("a.btn-link-none").on("click", function(e) {
        e.preventDefault();
        var link = $(e.currentTarget);
        if($(link).attr("disabled")){
            return;
        }

    });

    /*]]>*/
</script>

<!---Account Coverage Management Page-Level Scripts-->


</body>
</html>