<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<div class="container">
    <header th:replace="cust_layout :: header">
    </header>

<section class="content-wrapper">
    <div class="containe">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> New Beneficiary</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 content-bg">
                <div class="form-spacing">
                    <div class="col-md-6 col-sm-6">
                        <form id="local" method="post" th:action="@{/retail/transfer/international/new}"
                              th:object="${internationalBeneficiaryDTO}">
                            <div class="form-group">
                                <label>Beneficiary Bank</label>
                                <span class="req"></span><input type="text" class="form-control"
                                                                placeholder="Beneficiary Bank" th:field="*{beneficiaryBank}"/>
                            </div>
                            <div class="form-group">

                                <label>Swift Code</label>
                                <span class="req"></span><input type="text" class="form-control" name="swiftCode" placeholder="Bank SWIFT Code"
                                                                th:field="*{swiftCode}" required="required"/>
                            </div>
                            <div class="form-group">
                                <label>Sort Code</label>
                                <span class="req"></span><input type="text" class="form-control" name="sortCode" placeholder="Bank Sort Code"
                                                                th:field="*{sortCode}" required="required"/>
                            </div>
                            <div class="form-group">
                                <label>Beneficiary Name</label>
                                <span class="req"></span><input type="text" class="form-control" name="accountName"
                                                                placeholder="Beneficiary Name" th:field="*{accountName}" required="required"/>
                            </div>

                            <div class="form-group">
                                <label>Beneficiary Account Number</label>
                                <span class="req"></span>
                                <input min="0" type="number" class="form-control" name="accountNumber"
                                       placeholder="Beneficiary Account Number" th:field="*{accountNumber}"
                                       required="required"/>

                            </div>
                            <div class="form-group">
                                <label>Currency Code</label>
                                <span class="req"></span>
                                <select name="currencyCode" id="currencyCode" class="form-control" required="required">

                                    <option th:each="ccyCode : ${foreignCurrencyCodes}" th:value="${ccyCode.code}"
                                            th:text="${ccyCode.code}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Beneficiary Address</label>
                                <span class="req"></span><textarea name="beneficiaryAddress" class="form-control"
                                                                   th:field="*{beneficiaryAddress}"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Intermediary Bank Name</label>
                                <span class="req"></span><input type="text" class="form-control" name="intermediaryBankName"
                                                                placeholder="Intermediary Bank Name" th:field="*{intermediaryBankName}"/>
                            </div>
                            <div class="form-group">
                                <label>Intermediary Account Number</label>
                                <span class="req"></span><input min="0" type="number" class="form-control" name="intermediaryBankAcctNo"
                                                                placeholder="Intermediary Bank Account Number"
                                                                th:field="*{intermediaryBankAcctNo}"/>

                            </div>
                            <button class="btn btn-primary">Save</button>
                            <a  th:href="@{/retail/benficiary}"  class="btn btn-link"  >Cancel</a>
                        </form>


                    </div>
                </div>
            </div>
            <div class="col-md-3 pull-right " >
                <div th:replace="cust_layout :: sidebar" class="" >
                </div>
            </div>
        </div>
    </div>
</section>


<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
//        $('#acct_num').keypress(function () {
//            $('#neq').hide();
//
//        });

    })


    function getAccountName() {
        //make sure alert message is not empty
        var acct = $('#acct_num').val();
        if(( acct==null || acct=='' ) ) {


            $('.acctError').show().css("color", "red");
            return false;
        }




        var options = {
            type: 'GET',
            url: '/retail/transfer/local/' + acct + '/nameEnquiry',
//					dataType: 'jsonp',
            error: function (xhr, textStatus, errorThrown) {
                $('.acctError').show().css("color", "red");
            },
            success: function (data, textStatus) {
                console.log(data);
                console.log(textStatus);
                var result = data;
                //var result = (new Function("return " + result))();
                // $('#acct_name').val(result.message);
                $('#acct_name').val(result);
                $('.acctError').hide();

                if( result!=null && result!='' ) {

                    $('#localsave').show();
                    $('#neq').hide();
                }else{

                    $('.acctError').show().css("color", "red");
                }

            }
        };
        $.ajax(options);
    }



    function clearFields() {
        $('#localsave').hide();
        $('.acctError').hide();
        $('#neq').show();
        $('#acct_name').val();
    }
    /*]]>*/
</script>
</div>
</body>
</html>