<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="javascript:var bread = [['Home', '/retail/dashboard'],['Bill Payment']];currentBar('Bill Payment');breadCrumb(bread)">


<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ml-15 hide-content-onl">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 no-pad-left " >
        <div class="no-mt no-pad-lef alert no-bd">
            <div class="">
                <div class="form-spacin col-md-7 col-sm-7 no-pad-right">

                    <form id="local" method="post" th:action="@{/retail/payment/summary}"
                          th:object="${billPaymentDTO}">



                        <div class="form-group">
                            <label>Debit Account</label>

                            <!--<span class="alert no-bd-rad my-border bg-white" id="sourceCurrency">CCY</span>-->

                            <select name="source" class="form-control" id="source"
                                    th:field="*{customerAccountNumber}" onchange="getBalance();">
                                <option th:each="s: ${accountList}" th:value="${s.accountNumber}" th:text="${s.accountNumber}" th:selected="${s.primaryFlag=='Y'}"></option>


                            </select>
                            <!--<p th:if="${#fields.hasErrors('customerAccountNumber')}" th:errors="*{customerAccountNumber}"-->
                            <!--class="errors"></p>-->
                        </div>


                        <div class="form-group">
                            <label>Category</label>
                                                        <select class="form-control" th:field="*{categoryName}" id="categories" name="categories" onchange="fetchBillers()" required="required">
                                                            <option value=""> Select Category </option>
                                                            <option th:each="category : ${billerCategories}" th:value="${category.categoryName}" th:text="${category.categoryName}"></option>
                                                        </select><span class='req-inner'></span>
                        </div>

<!--                        <div class="form-group">-->
<!--                            <label>Category</label>-->
<!--                            <select class="form-control" th:field="*{categoryName}"  id="categories" name="categories" onchange="fetchBillers()" required="required">-->
<!--                            <option th:each="s: ${payment}" th:value="${s.categoryName}" th:text="${s.categoryName}" th:selected="${s.primaryFlag=='Y'}"></option>-->
<!--                            </select>-->
<!--                        </div>-->

                        <div class="form-group">
                            <input type="hidden" class="form-control" th:field="*{paymentCode}"
                                   required="required" readonly/>
                        </div>

                        <div class="form-group">
                            <label>Biller</label>
                            <select  class="form-control" th:field="*{billerId}" id="billerId" name="billerId" onchange="fetchPaymentItems()" required="required" >
                            </select><span class='req-inner'></span>
                        </div>

<!--                        <div class="form-group">-->
<!--                            <label>Biller</label>-->
<!--                            <input type="text" class="form-control" th:field="*{billerName}"-->
<!--                                   required="required" readonly/>-->
<!--                            -->
<!--                        </div>-->


                        <div class="form-group">
                            <label>Payment Item</label>
                            <select class="form-control" th:field="*{paymentItemId}" id="paymentItemId" name="paymentItemId" onchange="fetchPaymentItemDetails()" required="required">
                            </select><span class='req-inner'></span>
                        </div>

<!--                        <div class="form-group">-->
<!--                            <label>Payment Item</label>-->
<!--                            <input type="text" class="form-control" th:field="*{paymentItemName}"-->
<!--                                   required="required" readonly/>-->

<!--                        </div>-->


                        <div class="form-group">
                            <label >Price</label>
<!--                            <input type="text" class="form-control" th:field="*{amount}"-->
<!--                                   required="required"/>-->
                            <input id="amount" th:field="*{amount}" required="required" type="number" min=1 class="form-control"  placeholder="Amount" readonly/>
                            <p class="errors close" data-dismiss="alert" aria-label="close" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">&times;</p>
                            <span class='req-inner'></span>
                        </div>


                        <div class="form-group">
                            <label >Phone Number</label>
                            <input type="text" class="form-control" th:field="*{phoneNumber}"
                                   required="required" readonly/>
                        </div>
                        <div class="form-group">
                            <label >Email Address</label>
                            <input type="text" class="form-control" th:field="*{emailAddress}"
                                   required="required" readonly/>
                        </div>

                        <button id="localsave" class="btn btn-link required-step" >Next</button>
                        <button type="button" class="btn btn-link less-required my-buttons" onclick="cancel();">Make New Payment</button>
                    </form>

                </div>

                <div class="col-xs-12 col-sm-5  wel ">
                    <div  class="related-box">
                        <h3 class="related-bar">Related Information</h3>
                        <p class="related-info coronation-blue" id="availBal"><b></b></p>

                    </div>
                </div>



            </div>
        </div>
    </div>

</div>




<th:block layout:fragment="scripts">
    <script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        getBalance();
        fetchBillers();
        fetchPaymentItems();
    });

    function cancel(){
        window.location.href="/retail/payment/new";
    }


    function getBalance(){

        var accountNumber = $('#source').val();
        $.ajax({
            url: "/retail/transfer/balance/"+accountNumber,
            type: 'GET',
            async: false,
            success:function(jd){
                var message = jd.message;
                var success =  jd.success;
                console.log(message);
                console.log(success);
                if (success==false){
                    document.getElementById("myspan").textContent="Could not get balance from server, please try again.";
                    $("#myspan").show();
                }else{
//                    $('input[name=availBal]').val(bal);

                    var  bal=numberWithCommas(message);
                    $('#availBal').html("Available Balance: "+bal);

                }
            }
        })
    }

    function fetchBillers(){

        var category = $("#categories").val();
        console.log("Category", category)

        $.ajax ({
            type: 'POST',
            url: "/retail/payment/biller",
            data: {categoryName: category},
            success: function (biller , status, xhr) {
                console.log(JSON.stringify(biller));
                console.log(biller.length);
                if(biller.length==0){

                }
                $('#billerId').empty();
                $('#billerId').append("<option value=''>-Select-</option>");
                $('#paymentItemId').empty();
                console.log("Biller ---------->>>" +biller)
                biller.forEach(b => $('#billerId').append("<option value='"+b.billerId+"'>"+b.billerName+"</option>"));

            }
        })

    }

    function fetchPaymentItems(){

        var biller = $("#billerId").val();
        console.log("Biller selected is ---->>>>>", biller)
        $.ajax({
            type: 'POST',
            url: "/retail/payment/paymentItem",
            data: {billerId: biller},
            success: function (items , status, xhr) {
                console.log(JSON.stringify(items));
                console.log(items.length);
                if(items.length==0){

                }
                $('#paymentItemId').empty();
                $('#paymentItemId').append("<option value=''>-Select-</option>");
                console.log("Biller ---------->>>" +items)
                items.forEach(b => $('#paymentItemId').append("<option value='"+b.paymentItemId+"'>"+b.paymentItemName+"</option>"));
            }
        })
    }


    function fetchPaymentItemDetails(){

        var paymentItemId = $("#paymentItemId").val();
        console.log("paymentItem detail is ---->>>>>", paymentItemId)
        $.ajax({
            url: "/retail/payment/paymentItem/" + paymentItemId+"",
            success: function (paymentItem, status, xhr) {
                console.log("PaymentItem name is "+paymentItem.paymentItemName);
                console.log("PaymentItem price is "+paymentItem.amount);
                console.log("PaymentItem read-only status is "+paymentItem.readonly);

                $('#amount').val(paymentItem.amount);

                if(paymentItem.readonly==false){
                    $('#amount').removeAttr("readonly")
                }
                else {
                    $('#amount').attr("readonly","readonly")

                }

            }
        });

    }


    /*]]>*/
</script>
</th:block>

</body>
</html>


