@font-face {
    font-family: FedraSansStdLight;
    src: url(../fonts/FedraSans/FedraSansStd-LightLF.otf);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, article, aside, embed, figure, figcaption, footer, header, hgroup, menu, nav {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: baseline;
}


.wizard > .content > .body {
    float: none !important;
    position: absolute;
}

/****************YAMM STYLE **************/
.mega-dropdown {
    position: static !important;
    /*width: 100%;*/
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 65%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-size: 12px;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
    padding: 3px 10px;
    color: #032A4F;
    font-size: 16px;
}
/*********** END OF YAMN STYLE ******/

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #6a6d71;
    font-family: 'FedraSansStdLight';
    font-weight: normal;
    font-size: 12px;
    height: 100%;
    line-height: 16px;
}

.links{
    border-bottom: 1px solid
}

.container {
    padding: 0 60px;
    position: relative;
}

.header .container .container{
    padding: 0px;
    /*border: 1px solid red;*/
}
.header .container .container .navbar-right{
    padding-right: 10%;
    margin-right: 0px;
}

.logo {
    display: block;
    line-height: 1px;
    position: absolute;
    right: 80px;
    top: 30px;
    width: 200px;
}

.header-title {
    color: #032A4F;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.top_bar {
    display: block;
    left: 0;
    padding: 20px 0 0 60px;
    position: absolute;
    top: 0;

}

.footer_bar .list_group li {
    background: none;
    border-right: 1px solid #77777a;
    float: left;
    font-size: 10px;
    line-height: 14px;
    list-style: none;
    margin: 0 6px 0 0;
    padding: 0 6px 0 0;
}

.footer_bar .list_group a {
    color: #77777a;
    font-size: 10px;
}
.header_info{
    display: block;
    z-index: 9;
    padding: 10px 20px 10px 20px;
    /*border: 1px solid red;*/
}

.header_info p{
    color: #7F8383;
    font-size: 12px;
}

.header_info h5{
    color: #02223A;
    font-size: 18px;
    font-weight: 100;
    padding-bottom: 5px;
}

.header_info h5>span{
    color: #9F614B;
}

.header_info h5>b{
    color: #02223A;
    font-size: 18px;
    font-weight: 100;
}

.break{
    display: none;
}
.header_info h5>i{
    color: #02223A;

}
.lorem
{
    font-size: 14px;
}

.page_header{
    color: #02223A;
    font-size: 16px;
    font-weight: 100;
    margin-top: 40px;
    margin-bottom: 5px;
    text-align: left;
}

.sub_header{
    color: #02223A;
    font-size: 14px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
}

.bvn{
    background-color: #F2F2F1;
}
.stb{
    margin-top: 10px;
    list-style: none;
}

.top_bar .list_group {
    float: left;
    margin: 0;
    padding: 7px 0 0 0;
    white-space: nowrap;
}

.top_bar .list_group li {
    background: none;
    border-right: 1px solid #77777a;
    float: left;
    font-size: 10px;
    line-height: 12px;
    list-style: none;
    margin: 0 8px 0 0;
    padding: 0 8px 0 0;
    text-transform: uppercase;
}

.top_bar .list_group li:last-child {
    border-right: none;
}

.top_bar .list_group a {
    color: #77777a;
}

.navbar {
    background: none;
    border: 0;
    margin: 60px 0 0 0;
    min-height: 1px;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.navbar-nav>li:first-child>a {
    padding-left: 0;
}

.navbar-nav li a{
    margin-top: 5px;
    padding-top: 8px;
    padding-bottom: 0px;
}

/*.navbar-nav li.dropdown:hover > ul.dropdown-menu {*/
    /*display: block;*/
/*}*/

.lft li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.body-texts{
    text-align: center;
    margin: 0 auto;
    width: 70%
}

.body-texts h4{
    font-size: 18px;
    color: #9F614B;
    margin: 20px 0 10px 0;
}

.body-texts h5{
    font-size: 18px;
    color: #868B8F;
    margin: 20px 0 10px 0;
}

.body-texts h6{
    font-size: 18px;
    color: #032A4F;
    margin: 20px 0 10px 0;
}

.body-texts p{
    line-height: 16px;
    font-size: 12px;
    color: #868B8F;
}

.icon{
    margin-top: 20px;
}

.icon a{
    background-color: #868B8F;
    font-size: 30px;
    padding: 5px 10px;
    margin: 20px 15px 10px 15px;
}

.icon a i{
    /*font-size: 36px;*/
    color: #FFF;

}

.lft{
    display: inline-block;
    margin: 0 auto;
    margin-top: 10px;
}

.lft li {
    list-style: none;
    float: left;
    font-size: 12px;
    padding-bottom: 3px;
    margin: 0 15px 0 0;
}

.btn{
    border-radius: 0;
}

.margin-bottom{
    margin-bottom: 50px;
}

.contact-form{
    margin: 0 auto;
    max-width: 500px;
}
.slider{
    height: 350px;
    margin: 0 15px 0 15px;
    overflow: hidden;
}
.sliding{
    max-height: 350px;
    width: 100%;
}
.carousel-caption{
    height: 350px;
    width: 330px;
    background-color: #9F614B;
    margin: 0 0 -20px 455px;
    opacity: 0.8;
    font-size: 24px;
    padding: 30px 85px 30px 75px;
}

.biglist{
    margin: 0 auto;
    padding: 20px 0;
    min-height: 80px;
    max-width: 500px;

}
.lists{
    float: left;
    margin: 0 20px 0 20px;
    font-size: 14px;
    text-align: left;
}

.lists li{
    list-style: none;
}
.fa{
    color: #9F614B;
}

.conts{
    padding-left: 0px;
}
.contain{
    background-color: #F2F2F1;
    padding: 2px 15px 15px 15px;
}
.margin-bottoms{
    margin-bottom: 25px;
}
.btn-primary{
    font-size: 18px;
}
.btn-default{
    color: #fff;
    background-color: #032A4F;
}
.in-box{
    font-size: 19px;
}
.folder-list li a{
    list-style: none;
    font-size: 13px;
    font-weight: 100;
    color: #032A4F;
}
.folder-list li{
    list-style: none;
    padding-bottom: 5px;
}
.folder-list .fa{
    color: #032A4F;
}
.fas .fa{
    color: #fff;
}
.faz .fa{
    color: #032A4F;
}
.txtarea{
    padding: 0 15px 0 15px;
}
.errors{
    padding: 5px 0 5px 0;
    color: #9F614B;
    font-size: 12px;
}
.calender{
    overflow: hidden;
    position: inherit;
}
.calender .container{
    padding: 0px;
    margin: 0px;
}
.calender .col-md-3{
    padding: 0px;
    margin: 0px;
}
.showdate{
    font-weight: 100;
    font-size: 14px;
    width: 100%
}
.showdate .fa{
    color: #C1C1C1;
    cursor: hand;
}
.dateMonth{
    color: #032A4F;
}
.dateDay{
    color: #9F614B;
}
.dateWeek{
    margin: 0 65px 0 0;
    color: #032A4F;
}
.week{
    font-size: 16px;
}
.hrhr{
    color: #C1C1C1;
    margin-right: 65px;
    border: 1px solid;
    padding-top: 0px;
    margin-top: 0px;
}

.underline{
    margin: 5px 0px;
    color: black;
}

.related{
    font-size: 14px;
}

nav li a {
    /*text-transform: uppercase;*/
    font-size: 14px;
}

.navbar .container-fluid {
    padding-left: 0;
}

.navbar-brand {
    padding-left: 0;
    display: none;
}

.navbar-toggle {
    border: none;
    float: left;
    margin-right: 0;
}

.navbar-right{
    margin-top: -10px;
}

.footer_bar {
    display: block;
    padding: 37px 0 0 0;

}

.footer_bar p {
    color: #77777a;
    font-size: 10px;
    line-height: 14px;
    text-align: right;
    margin: 0 6px 6px 0;
    padding: 0 6px 0 0;
}

.footer_bar .list_group li {
    background: none;
    border-right: 1px solid #77777a;
    float: left;
    font-size: 14px;
    line-height: 14px;
    list-style: none;
    margin: 0 6px 0 0;
    padding: 0 6px 0 0;
}

.footer_bar .list_group a {
    color: #77777a;
}


button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

.content-wrapper {
    /*margin: 0 60px;*/
    min-height: 450px;
    background: #FFF;
}

.content-bg{
    margin: 20px 10px 10px 0;
    background-color: #F2F2F1;
    min-height: 350px;
}

.sidebar-bg{
    margin: 15px 0 10px 10px;
    padding: 10px;
    background-color: #F2F2F1;
}

.bg{
    margin: 30px 0 0;
    width: 100%;
    min-height: 500px;
    background-image: url('../img/bg.png');
    background-size: 100% 100%;
    /*overflow: hidden;*/
}

.spacing{
    padding: 10px 50px 10px 50px;
}

.form-spacing{
    padding: 20px 50px 10px 100px;
}

.form-control {
    border-radius: 0;
    color: #78787A;
}

.form-control:focus {
    /*border-color: */
    outline: 0;
    border: 2px solid #868B8F;
}

.form-signin{
    max-width: 330px;
    padding: 100px 15px 30px;
    margin: 0 auto;
    text-align: center;
}

.bod{
    margin-top: 50px;
    min-height: 400px;
    border: 2px solid red;
}
.form-reg{
    max-width: 450px;
    margin: 0 auto;
}

.btn-primary{
    color: #fff;
    background-color: #032A4F;
    border: none;
}

.btn:hover{
    color: #fff;
    background-color: #9A6B57;
    border: none;
}


.wizard > .content {
    background: #ffffff;
    min-height: 240px;
}

.wizard > .content > .body {
    padding: 0px;
    position: relative;
}

.alert {
    margin-top: 20px;
    border-color: #F2F2F1;
    color: inherit;
}
.hder{
    margin: 0;
    padding: 0;
    width: 100%;
    color: inherit;
}
.bluehead{
    color: #ffffff;
    background-color: #032A4F;
    font-size: 20px;
    margin: 5px 0 5px 0;
    padding: 3px;
}
.bluehd{
    font-size: 18px;
    margin: 80px 0 5px 17px;
    border-bottom: 2px solid;
}

.hder2{
    font-size: 22px;
    color: #032A4F;
    margin: 50px 0 5px 17px;
}

.calender{
    width: 250px;
    height: 100px;
}
.calender2{
    width: 250px;
    height: 200px;
}

/*table{*/
    /*border-collapse:separate;*/
    /*border-spacing:0 5px;*/
/*}*/
.table tbody tr{
    background-color: #fff;
    border-top: 2px solid #032A4F;
}
.table th, td{
    padding: 15px;
    width: inherit;
}

.date1{
    font-size: 16px;
    color: #032A4F;
}
.date4{
    color: #ffffff;
    background-color: #9F614B;
    height: 26px;
    width: 27px;
}
.date2{
    color: #9F614B;
}
.date3{
    font-size: 25px;
    margin: 19px 0 0 0;
    padding-bottom: 4px;
}

/*****************************************************************
                    RESPONSIVE DESIGN
*******************************************************************/
@media screen and (min-width: 993px){
    .logo {
        right: 120px;
    }
}


@media screen and (max-width: 992px) and (min-width: 760px){
    .logo {
        right: 45px;
    }

    .container {
        padding: 0 45px;
    }

    .top_bar {
        padding-left: 45px;
    }

    .slider{
        height: 250px;
        margin: 0 15px 0 15px;
        overflow: hidden;
    }

    .login-form{
        padding: 20px;
        margin: 100px 200px 0 200px;
        text-align: center;
        max-width: 400px;
    }

    .phishing-img{
        margin: 0 0 10px 10px;
        padding: 10px;
        width: 400px;
        max-height: 400px;
    }

    .sidebar{
        display: none;
    }

    .hide-faq{
        display: none;
    }

    .header_info p{
        color: #7F8383;
        font-size: 12px;
    }

    .header_info h5{
        color: #02223A;
        font-size: 16px;
        font-weight: 100;
        padding-bottom: 5px;
    }

    .header_info h5>b{
        color: #02223A;
        font-size: 16px;
        font-weight: 100;
    }

    .break{
        display: block;
    }

    .biglist{
        margin: 10px auto;
        padding-bottom: 50px;
        height: 110px;
        max-width: 700px;

    }
}

@media screen and (max-width: 759px) and (min-width: 0){
    .header {
        min-height: 1px;
        padding-bottom: 10px;
    }

    .container {
        padding: 0 19px;
    }

    .header .container {
        padding: 0;
    }

    .content-wrapper {
        /*margin: 0 60px;*/
        min-height: 4px;
        background: #FFF;
    }

    .logo {
        clear: both;
        display: block;
        margin: 0 auto;
        position: relative;
        right: 45px;
        top: -20px;
        width: 100px;
    }

    .logo img{
        height: 75px;
    }

    .top_bar {
        clear: both;
        display: block;
        left: auto;
        overflow: hidden;
        padding: 9px 9px 0 9px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .top_bar .list_group, .search_bar, .search_bar .icon {
        display: none;
    }

    .header_info{
        display: none;
        border: 1px solid blue;
    }

    .navbar {
        margin-top: 0;
        z-index: 10;
    }

    .navbar .container-fluid {
        padding-left: 12px;
    }

    .navbar-default .navbar-toggle {
        border-color: transparent;
    }

    .navbar-brand {
        display: block;
    }

    .footer_bar p {
        text-align: center;
    }

    .navbar-nav>li:first-child>a {
        padding-left: 15px;
    }

    .slider{
        height: 230px;
        margin: 0 15px 0 15px;
        overflow: hidden;
    }

    .sidebar{
        display: none;
    }
    .spacing{
        padding: 10px 0px;
    }
    .form-spacing{
        padding: 10px 0px;
    }
    .hide-faq{
        display: none;
    }

    .bg{
        min-height: 300px;
    }

    .links{
        border-bottom: 0px;
    }

    .biglist{
        margin: 10px auto;
        padding-bottom: 50px;
        height: 110px;
        max-width: 700px;
    }

    .fom-signin{
        max-width: 330px;
        margin: 0 auto;
        text-align: center;
    }
}