<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

<body onload="currentBar('Beneficiaries')">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 ml-15 " >
        <div class="col-xs-11 no-pad-lef table-responsive no-mt no-bd  alert">
            <div class="col-md-6 col-sm-6">
                        <p class="alert alert-danger"><span style="color: red;">Your current password has expired.</span> <br/>Please enter a new password.</p>

                            <form method="POST" th:action="@{/corporate/reset_password}" th:object="${custResetPassword}">
                                <div class="form-group">
                                    <label>Set New Password</label>
                                    <input id="password" type="password" th:field="*{newPassword}"  class="form-control"/>
                                    <p class="errors" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">&times;</p>
                                </div>
                                <div class="form-group">
                                    <label>Confirm New Password</label>
                                    <input id="confirm" type="password" th:field="*{confirmPassword}"  class="form-control"/>
                                    <p class="errors" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">&times;</p>
                                </div>
                                <button class="btn btn-link required-step"> Submit</button>
                            </form>

                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <p th:each="rule : ${passwordRules}" th:text="${rule}">
                                </p>
                            </div>
                        </div>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">
     <script>
        $(document).ready(function() {
            $('#password').bind("cut copy paste", function (e) {
                e.preventDefault();
            });

            $('#confirm').bind("cut copy paste", function (e) {
                e.preventDefault();
            });
        });
    </script>
   
</th:block>

</body>
</html>