<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="corp_layout :: site-head">

</head>
<body>
<header th:replace="corp_layout :: corp-header">
</header>

<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Change Password</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content-bg">
                <div class="row form-spacing">
                    <div class="col-md-6 col-sm-6">
                        <form method="post" th:action="@{/corporate/change_password}" th:object="${changePassword}">
                            <div class="form-group">
                                <label>Old Password</label>
                                <input type="password" th:field="*{oldPassword}" class="form-control"/>
                                <p class="errors" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">&times;</p>
                            </div>
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" th:field="*{newPassword}"  class="form-control"/>
                                <p class="errors" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">&times;</p>
                            </div>
                            <div class="form-group">
                                <label>Confirm New Password</label>
                                <input type="password" th:field="*{confirmPassword}"  class="form-control"/>
                                <p class="errors" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">&times;</p>
                            </div>

                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div th:replace="corp_layout :: corp-sidebar" class="col-md-3 sidebar">
            </div>
        </div>
    </div>
</section>

<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="corp_layout ::corp-footer">
</footer>
</body>
</html>