<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>



<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <!--<a href="index.html"><img th:src="@{~/images/cmb_logo.png}"/></a>-->
                </div>

                <div class="clearfix"></div>
                <div class="clearfix"></div>

                <div th:replace="layout :: ops-menu"></div>
                <div th:replace="layout :: menu-footer"></div>

            </div>
        </div>
        <div th:replace="layout :: ops-top-nav"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">

                <div class="page-title">
                    <div class="title_left">
                        <h3>
                            Sent Messages
                            <small>

                            </small>
                        </h3>
                    </div>


                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>

                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-sm-3 mail_list_column">
                                        <button id="compose" class="btn btn-sm btn-success btn-block" type="button">COMPOSE</button>
                                        <a th:each="message: ${sentMessages}" th:href="@{/ops/mailbox/sent/{id}/details(id=${message.id})}">
                                            <div class="mail_list">
                                                <div class="left">
                                                    <i class="fa fa-circle"></i> <i class="fa fa-edit"></i>
                                                </div>
                                                <div class="right">
                                                    <h3 th:text="${message.sender}">Dennis Mugo <small th:text="${message.dateCreated}"> 3.00 PM</small></h3>
                                                    <p th:text="${message.subject}">Subject</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <!-- /MAIL LIST -->

                                    <!-- CONTENT MAIL -->
                                    <div class="col-sm-9 mail_view">
                                        <div class="inbox-body">
                                            <div class="mail_heading row">
                                                <div class="col-md-8">
                                                    <div class="btn-group">
                                                        <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-reply"></i> Reply</button>
                                                        <button class="btn btn-sm btn-default" type="button"  data-placement="top" data-toggle="tooltip" data-original-title="Forward"><i class="fa fa-share"></i></button>
                                                        <button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Trash"><i class="fa fa-trash-o"></i></button>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 text-right">
                                                    <p class="date" th:text="${message.dateCreated}"></p>
                                                </div>
                                                <div class="col-md-12">
                                                    <h4 th:text="${message.subject}"> </h4>
                                                </div>
                                            </div>
                                            <div class="sender-info">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <strong th:text="${message.sender}"></strong>
                                                        <span>(jon.doe@gmail.com)</span> to
                                                        <strong th:text="${message.recipient}"></strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="view-mail">
                                                <p th:text="${message.body}"></p>
                                            </div>


                                        </div>

                                    </div>
                                    <!-- /CONTENT MAIL -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="layout :: footer">
        </footer>
        <!-- /footer content -->
    </div>
</div>


<script th:src="@{~/bank/js/jquery.min.js}"></script>
<script th:src="@{~/bank/js/bootstrap.min.js}"></script>
<script th:src="@{~/bank/vendors/fastclick/lib/fastclick.js}"></script>
<script th:src="@{~/bank/vendors/nprogress/nprogress.js}"></script>
<script th:src="@{~/bank/js/bootstrap-wysiwyg.min.js}"></script>
<script th:src="@{~/bank/js/jquery.hotkeys.js}"></script>
<script th:src="@{~/bank/js/prettify.js}"></script>
<script th:src="@{~/bank/js/custom.js}"></script>


<script>
    $('#compose').click(function(){
        location.href = "/ops/mailbox/new";
    });
</script>>
<!-- /compose -->


</body>
</html>