<head th:replace="layout :: site-head">
</head>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<!--<h2>Add new role</h2>-->

				<div class="clearfix"></div>
			</div>

			<div class="x_content">
				<form method="post" th:action="@{/admin/roles}" class="form-horizontal"
					th:object="${role}" id="form-save">
					<div class="panel panel-default">
						<div class="panel-body">
							<fieldset disabled="disabled">
								<div class="form-group col-lg-6">
									<label>Name</label> <input class="form-control" type="text" th:field="*{name}" />
								</div>
								<div class="form-group col-lg-6">
									<label>Type</label> <select class="form-control" th:field="*{userType}">
										<option value="">--Select--</option>
										<option value="ADMIN">Administrator</option>
										<option value="OPERATIONS">Operator</option>
									    <option value="CORPORATE">Corporate Customer</option>
									    <option value="RETAIL">Retail Customer</option>
									</select>
								</div>
								<div class="form-group col-lg-6">
									<label>Email</label> <input class="form-control" type="text" th:field="*{email}" />
								</div>

								<div class="form-group col-lg-6">
									<label>Description</label>
									<textarea class="form-control" rows="2" th:field="*{description}"></textarea>
								</div>



							</fieldset>

							<fieldset>
								<legend>Users</legend>
								<div class="form-group">
									<div class="col-md-12 col-sm-6 col-xs-12">
										<table class="table table-striped table-bordered table-hover"  width="100%" id="users">
											<thead>
												<tr>
													<th>User Name</th>
													<th>First Name</th>
													<th>Last Name</th>


												</tr>
											</thead>
											<tbody>


											</tbody>
											<tfoot>
												<tr>
													<th>User Name</th>
													<th>First Name</th>
													<th>Last Name</th>


												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</fieldset>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
	/*<![CDATA[*/
	$(document)
			.ready(
					function() {
						var url = /*[['/admin/roles/'+${role.id}+'/users']]*/"/admin/roles/${role.id}/users";
						var table = $('#users').DataTable({
							responsive : false,
							"lengthMenu" : [ [ 5, 10 ], [ 5, 10 ] ],
							"pagingType" : "simple_numbers",
							"searching" : false,
							"paging" : true,
							"serverSide" : true,
							"ajax" : url,
							"dom" : 'T<"clear">frtlp',
							"columns" : [ {
								"data" : "userName"
							}, {
								"data" : "firstName"
							}, {
								"data" : "lastName"
							}

							]
						});

					});

	/*]]>*/
</script>
