<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <div th:replace="layout :: admin-menu"></div>
                <div th:replace="layout :: menu-footer-adm"></div>

            </div>
        </div>
        <div th:replace="layout :: top-nav"></div>
<style>
    .dual-list .list-group {
        margin-top: 8px;
    }

    .list-left li, .list-right li {
        cursor: pointer;
    }

    .list-arrows {
        padding-top: 100px;
    }

    .list-arrows button {
        margin-bottom: 20px;
    }
</style>
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Role Management</h3>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Edit role</h2>

                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">

                                <form id="form" method="post" th:action="@{/admin/roles/update}"
                                      class="form-horizontal" th:object="${role}">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <fieldset>
                                                <div class="form-group">


                                                    <div class="col-sm-4">
                                                        <input type="hidden" class="form-control"
                                                               th:field="*{id}"/> <input type="hidden"
                                                                                         class="form-control"
                                                                                         th:field="*{version}"/>

                                                    </div>
                                                </div>

                                                <div class="form-group col-lg-6">
                                                    <label>Name</label> <input class="form-control"
                                                                               type="text" th:field="*{name}"/>
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <label>Type</label>
                                                    <select class="form-control" th:field="*{userType}" disabled="disabled">
                                                        <option value="ADMIN">Administrator</option>
                                                        <option value="OPERATIONS">Operator</option>
                                                        <option value="RETAIL">Retail Customer</option>
                                                        <option value="CORPORATE">Corporate Customer</option>
                                                    </select>
                                                    <input type="hidden" th:field="*{userType}"/>
                                                </div>

                                                <div class="form-group col-lg-6">
                                                    <label>Email</label> <input class="form-control"
                                                                                type="text" th:field="*{email}"/>
                                                </div>

                                                <div class="form-group col-lg-6">
                                                    <label>Description</label>
                                                    <textarea class="form-control" rows="2"
                                                              th:field="*{description}"></textarea>
                                                </div>


                                            </fieldset>
                                            <fieldset>
                                                <legend>Permissions</legend>


                                            <div class="container">
                                                <br/>
                                                <div class="row">

                                                    <div class="dual-list list-left col-md-5">
                                                        <div class="well text-right">
                                                            <div class="row">
                                                                <div class="col-md-10">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon glyphicon glyphicon-search"></span>
                                                                        <input type="text"
                                                                               class="form-control SearchDualList"
                                                                               placeholder="search"/>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="btn-group">
                                                                        <a class="btn btn-default selector"
                                                                           title="select all"><i
                                                                                class="glyphicon glyphicon-unchecked"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                  <div style="height: 250px;position:relative;">
                                                      <div style="max-height:100%;overflow:auto;border:none;">
                                                          <ul class="list-group">

                                                              <li class="list-group-item"
                                                                  th:classappend="${permission.userType}"
                                                                  th:each="permission: ${permissions}"
                                                                  th:data-id="${permission.id}"
                                                                  th:text="${permission.name}"></li>

                                                          </ul>
                                                      </div>
                                                  </div>

                                                        </div>
                                                    </div>

                                                    <div class="list-arrows col-md-1 text-center">
                                                        <button type="button" class="btn btn-default btn-sm move-left">
                                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                                        </button>

                                                        <button type="button" class="btn btn-default btn-sm move-right">
                                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                                        </button>
                                                    </div>

                                                    <div class="dual-list list-right col-md-5">
                                                        <div class="well">
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <div class="btn-group">
                                                                        <a class="btn btn-default selector"
                                                                           title="select all"><i
                                                                                class="glyphicon glyphicon-unchecked"></i></a>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-10">
                                                                    <div class="input-group">
                                                                        <input type="text"
                                                                               class="form-control SearchDualList"
                                                                               placeholder="search"/>
                                                                        <span class="input-group-addon glyphicon glyphicon-search"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div style="height: 250px;position:relative;">
                                                                <div style="max-height:100%;overflow:auto;border:none">
                                                            <ul class="list-group" id="target_permissions">
                                                                <li class="list-group-item"
                                                                    th:each="permission: ${role.permissions}"
                                                                    th:data-id="${permission.id}"
                                                                    th:text="${permission.name}">pern</li>

                                                            </ul>
                                                                </div></div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            </fieldset>
                                        </div>
                                        <div th:replace="layout::form-validation"></div>

                                        <div class="form-group">
                                            <p/>
                                            <div class="col-sm-4">
                                                <button class="btn btn-white" type="reset" id="cancel">Cancel</button>
                                                <button class="btn btn-primary" id="btn-save" type="submit">Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="layout :: footer"></footer>
        <!-- /footer content -->
    </div>
</div>
<script type="text/javascript">
    $().ready(
        function () {

            if( $('#userType').val()==="RETAIL"){
                $(".RETAIL").show()
                $(".ADMIN").hide()
                $(".OPERATIONS").hide()
                $(".CORPORATE").hide()
            }
            else if( $('#userType').val()==="ADMIN"){
                $(".ADMIN").show()
                $(".RETAIL").hide()
                $(".OPERATIONS").hide()
                $(".CORPORATE").hide()
            }
            else if( $('#userType').val()==="OPERATIONS"){
                $(".OPERATIONS").show()
                $(".RETAIL").hide()
                $(".ADMIN").hide()
                $(".CORPORATE").hide()
            }
            else if( $('#userType').val()==="CORPORATE"){
                $(".CORPORATE").show()
                $(".RETAIL").hide()
                $(".OPERATIONS").hide()
                $(".ADMIN").hide()
            }
            else if( $('#userType').val()===""){
                $(".CORPORATE").hide()
                $(".RETAIL").hide()
                $(".OPERATIONS").hide()
                $(".ADMIN").hide()
            }

            $('.left-btn').click(
                function () {
                    return !$('.right-selector option:selected')
                        .remove().appendTo('.left-selector');
                });
            $('.right-btn').click(
                function () {
                    return !$('.left-selector option:selected')
                        .remove().appendTo('.right-selector');
                });
        });

    $("#btn-save").on("click", function (e) {
        $("#target_permissions li").each(function (i, el) {
            $('#form').append('<input name="permissionsList" type="hidden" value="' + $(el).data("id") + '" />');

        })
        $("#form").submit();
    });

    $('#userType').on('change',function(){
        if( $(this).val()==="RETAIL"){
            $(".RETAIL").show()
            $(".ADMIN").hide()
            $(".OPERATIONS").hide()
            $(".CORPORATE").hide()
            $('#inputID').find('option').remove().end()
        }
        else if( $(this).val()==="ADMIN"){
            $(".ADMIN").show()
            $(".RETAIL").hide()
            $(".OPERATIONS").hide()
            $(".CORPORATE").hide()
            $('#inputID').find('option').remove().end()
        }
        else if( $(this).val()==="OPERATIONS"){
            $(".OPERATIONS").show()
            $(".RETAIL").hide()
            $(".ADMIN").hide()
            $(".CORPORATE").hide()
            $('#inputID').find('option').remove().end()
        }
        else if( $(this).val()==="CORPORATE"){
            $(".CORPORATE").show()
            $(".RETAIL").hide()
            $(".OPERATIONS").hide()
            $(".ADMIN").hide()
            $('#inputID').find('option').remove().end()
        }
        else if( $(this).val()===""){
            $(".CORPORATE").hide()
            $(".RETAIL").hide()
            $(".OPERATIONS").hide()
            $(".ADMIN").hide()
            $('#inputID').find('option').remove().end()
        }

    });

    document.getElementById("cancel").onclick = function () {
        location.href = "/admin/roles";
    }

    $(function () {

        $('body').on('click', '.list-group .list-group-item', function () {
            $(this).toggleClass('active');
        });
        $('.list-arrows button').click(function () {
            var $button = $(this), actives = '';
            if ($button.hasClass('move-left')) {
                actives = $('.list-right ul li.active');
                actives.clone().appendTo('.list-left ul');
                actives.remove();
            } else if ($button.hasClass('move-right')) {
                actives = $('.list-left ul li.active');
                actives.clone().appendTo('.list-right ul');
                actives.remove();
            }
        });
        $('.dual-list .selector').click(function () {
            var $checkBox = $(this);
            if (!$checkBox.hasClass('selected')) {
                $checkBox.addClass('selected').closest('.well').find('ul li:not(.active)').addClass('active');
                $checkBox.children('i').removeClass('glyphicon-unchecked').addClass('glyphicon-check');
            } else {
                $checkBox.removeClass('selected').closest('.well').find('ul li.active').removeClass('active');
                $checkBox.children('i').removeClass('glyphicon-check').addClass('glyphicon-unchecked');
            }
        });
        $('.SearchDualList').keyup(function (e) {
            var code = e.keyCode || e.which;
            if (code == '9') return;
            if (code == '27') $(this).val(null);
            var $rows = $(this).closest('.dual-list').find('.list-group li');
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });

    });

</script>
</body>
</html>