<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <!--<a href="index.html"><img th:src="@{~/images/cmb_logo.png}"/></a>-->
                </div>

                <div class="clearfix"></div>
                <div class="clearfix"></div>

                <div th:replace="layout :: admin-menu"></div>
                <div th:replace="layout :: menu-footer-adm"></div>

            </div>
        </div>
        <div th:replace="layout :: top-nav"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Role Management</h3>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Edit role</h2>

                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">

                                <form method="post" th:action="@{/admin/roles/update}"
                                      class="form-horizontal" th:object="${role}">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <fieldset>
                                                <div class="form-group">


                                                    <div class="col-sm-4">
                                                        <input type="hidden" class="form-control"
                                                               th:field="*{id}"/> <input type="hidden"
                                                                                         class="form-control"
                                                                                         th:field="*{version}"/>

                                                    </div>
                                                </div>

                                                <div class="form-group col-lg-6">
                                                    <label>Name</label> <input class="form-control"
                                                                               type="text" th:field="*{name}"/>
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <label>Type</label>
                                                    <select class="form-control" th:field="*{userType}">
                                                        <option value="ADMIN">Administrator</option>
                                                        <option value="OPERATIONS">Operator</option>
                                                        <option value="RETAIL">Retail Customer</option>
                                                        <option value="CORPORATE">Corporate Customer</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <label>Email</label> <input class="form-control"
                                                                                type="text" th:field="*{email}"/>
                                                </div>

                                                <div class="form-group col-lg-6">
                                                    <label>Description</label>
                                                    <textarea class="form-control" rows="2"
                                                              th:field="*{description}"></textarea>
                                                </div>


                                            </fieldset>
                                            <fieldset>
                                                <legend>Permissions</legend>
                                                <div class="row">

                                                    <div class="form-group text-left col-lg-5">
                                                        <select multiple="multiple"
                                                                class="form-control left-selector">
                                                            <option th:each="permission: ${permissions}"
                                                                    th:class="${permission.userType}"
                                                                    th:value="${permission.id}"
                                                                    th:text="${permission.name}"></option>

                                                        </select>
                                                    </div>

                                                    <div class="btn-group-vertical col-xs-2 ">
                                                        <button type="button"
                                                                class="btn btn-default text- btn-circle btn-default right-btn">
                                                            <i class="fa fa-long-arrow-right"></i>
                                                        </button>
                                                        <button type="button"
                                                                class="btn btn-default text-center btn-circle left-btn">
                                                            <i class="fa fa-long-arrow-left"></i>
                                                        </button>

                                                    </div>
                                                    <div class="form-group text-right col-lg-5">
                                                        <select id="inputID" multiple="multiple"
                                                                class="form-control right-selector"
                                                                name="permissionsList">
                                                            <option th:each="p: ${role.permissions}"
                                                                    th:value="${p.id}" th:text="${p.name}"></option>

                                                        </select>
                                                    </div>

                                                </div>
                                            </fieldset>
                                        </div>
                                        <div th:replace="layout::form-validation"></div>

                                        <div class="form-group">
                                            <p/>
                                            <div class="col-sm-4">
                                                <button class="btn btn-white" type="reset" id="cancel">Cancel</button>
                                                <button class="btn btn-primary" id="btn-save" type="submit">Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="layout :: footer"></footer>
        <!-- /footer content -->
    </div>
</div>
<script type="text/javascript">
    $().ready(
        function () {
            if( $('#userType').val()==="RETAIL"){
                $(".RETAIL").show()
                $(".ADMIN").hide()
                $(".OPERATIONS").hide()
                $(".CORPORATE").hide()
            }
            else if( $('#userType').val()==="ADMIN"){
                $(".ADMIN").show()
                $(".RETAIL").hide()
                $(".OPERATIONS").hide()
                $(".CORPORATE").hide()
            }
            else if( $('#userType').val()==="OPERATIONS"){
                $(".OPERATIONS").show()
                $(".RETAIL").hide()
                $(".ADMIN").hide()
                $(".CORPORATE").hide()
            }
            else if( $('#userType').val()==="CORPORATE"){
                $(".CORPORATE").show()
                $(".RETAIL").hide()
                $(".OPERATIONS").hide()
                $(".ADMIN").hide()
            }
            else if( $('#userType').val()===""){
                $(".CORPORATE").hide()
                $(".RETAIL").hide()
                $(".OPERATIONS").hide()
                $(".ADMIN").hide()
            }

            $('.left-btn').click(
                function () {
                    return !$('.right-selector option:selected')
                        .remove().appendTo('.left-selector');
                });
            $('.right-btn').click(
                function () {
                    return !$('.left-selector option:selected')
                        .remove().appendTo('.right-selector');
                });
        });

    $("#btn-save").on("click", function (e) {
        $('.right-selector option').prop("selected", true);
        $("#form-save").submit();
    });

    $('#userType').on('change',function(){
        if( $(this).val()==="RETAIL"){
            $(".RETAIL").show()
            $(".ADMIN").hide()
            $(".OPERATIONS").hide()
            $(".CORPORATE").hide()
            $('#inputID').find('option').remove().end()
        }
        else if( $(this).val()==="ADMIN"){
            $(".ADMIN").show()
            $(".RETAIL").hide()
            $(".OPERATIONS").hide()
            $(".CORPORATE").hide()
            $('#inputID').find('option').remove().end()
        }
        else if( $(this).val()==="OPERATIONS"){
            $(".OPERATIONS").show()
            $(".RETAIL").hide()
            $(".ADMIN").hide()
            $(".CORPORATE").hide()
            $('#inputID').find('option').remove().end()
        }
        else if( $(this).val()==="CORPORATE"){
            $(".CORPORATE").show()
            $(".RETAIL").hide()
            $(".OPERATIONS").hide()
            $(".ADMIN").hide()
            $('#inputID').find('option').remove().end()
        }
        else if( $(this).val()===""){
            $(".CORPORATE").hide()
            $(".RETAIL").hide()
            $(".OPERATIONS").hide()
            $(".ADMIN").hide()
            $('#inputID').find('option').remove().end()
        }

    });

    document.getElementById("cancel").onclick = function () {
        location.href = "/admin/roles";
    }

</script>
</body>
</html>