<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<header th:replace="cust_layout :: header">
</header>

<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Confirm Cheque</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content-bg">
                <div class="row form-spacing">
                    <div class="col-md-6 col-sm-6">
                        <form id="local" method="post" th:action="@{/retail/beneficiary/local}" th:object="${localBeneficiaryDTO}">
                            <input type="hidden" th:value="local" class="form-control"/>
                            <div class="form-group">
                                <input type="text" class="form-control" name="accountNumber" placeholder="Amount"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="accountName" placeholder="Amount in Words"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="preferredName" placeholder="Cheque Number"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="preferredName" placeholder="Beneficiary"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="preferredName" placeholder="Date on Issued Cheque" id="datepicker"/>
                            </div>


                            <button class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 sidebar">
                <div class="sidebar-bg">hfdhgk</div>
                <div class="sidebar-bg">jgjgjk</div>
            </div>
        </div>
    </div>
</section>


<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
<script>
    //datepicker
    $( function() {
        $( "#datepicker" ).datepicker(
            { dateformat : 'dd/mm/yy'}
        );
    } );
</script>
</body>
</html>