<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<head th:fragment="site-head">
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/{name}/css/jquery-ui.css(name=#{menu.custom})}"/>
</head>

<body onload="javascript:var bread = [['Home', '/retail/dashboard'],['StopCheque']];currentBar('Stop Cheque Request');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>
    <div class="col-xs-12 ml-15 no-pad-left no-pad-right">
        <!--<div class="col-xs-11 no-pad-lef no-mt alert no-bd">-->
        <div class="col-xs-10 col-sm-10 wel no-pad-left no-pad-right ">
                <h3 class="related-bar">

                <span class="related-info coronation-blue"  th:text="${chargeMessage + charge} "></span>
<!--                <span class="related-info coronation-blue" th:text="${charge}"></span>-->
                </h3>
        </div>
        <form method="post" th:action="@{/retail/requests}"  th:object="${requestDTO}" id="reqForm">
        <div class="col-md-5 col-sm-5 no-pad-left">
                <input class="form-control" type="hidden" id="requestName" name="requestName"
                       th:value="${requestConfig.requestName}"/>
                <input type="hidden" name="serviceReqConfigId" th:value="${requestConfig.id}"/>
                <input type="hidden" name="Charge" th:value="${charge}" id="chrg">

                <!--<input type="hidden" name="urlPart" value="cheque/chequebook"/>-->
                <div class="form-group">
                    <label>Amount</label>
                    <span class="req"></span>
                    <input type="number" min="0" th:name="Amount" id="amount" th:value="${amount}" required
                           class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Amount in words</label>
                    <span class="req"></span>
                    <input type="text"  th:name="AmountInWords" id="amountInWords" th:value="${amountInWords}" readonly
                           class="form-control"/>
                </div>


                <div class="form-group">
                    <label>Cheque Number</label>
                    <span class="req"></span>
                    <input type="text"  th:name="ChequeNumber" id="chequeNumber" th:value="${chequeNumber}" required
                           class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Reason For Request</label>
                    <span class="req"></span>
                    <textarea th:name="Reason"
                              class="form-control"  required></textarea>
                </div>

        </div>



            <div class="col-md-5 col-sm-5 no-pad-left">

                <div class="form-group">
                    <label>Beneficiary</label>
                    <span class="req"></span>
                    <input type="text"  th:name="Beneficiary"  th:value="${beneficiary}"
                           class="form-control" required/>
                </div>

            <div class="form-group">
                    <label>Date on Cheque</label>
                    <span class="req"></span>
                <input type="text" data-date-format="dd-mm-yyyy"  class="form-control"  name="ChequeDate"  id="datepicker"  placeholder="Date on cheque" required />
                </div>



                <div class="form-group">
                    <label>Account to be charged</label>
                    <span class="req"></span>
                    <select id="acctNumber" th:name="AccountNumber"
                            class="form-control full-width"
                            required="required" onchange="checkBalance();">
                        <option value="">Select Account for charge</option>

                        <option th:each="s: ${accounts}" th:value="${s.accountNumber}"
                                th:text="${s.accountNumber}"></option>
                    </select>
                </div>
                <span id="balanceError" style="color:red"></span>
                <div class="form-group">
                    <button class="btn btn-link required-step pull-left" id="submit" type="submit">Submit
                    </button>

                    <a th:href="@{/retail/cheque/stop}" class="btn btn-link pull-left"
                       style="margin-top: 2%">Cancel</a>
                </div>

                <!--th:onfocus="'javascript:getBranch('+${branch.extraInfo}+');'"-->

        </div>
        </form>

    </div>
</div>


<th:block layout:fragment="scripts">
    <script th:src="@{~/customer/js/jquery-1.11.1.js}"></script>
    <script th:src="@{~/customer/js/jquery-ui.js}"></script>
    <script th:inline="javascript">
        $('#reqForm').submit(function (event) {
            var arrays = [];


            var form = $('#reqForm').serializeArray();
            var formData = JSON.stringify(form);
            $('#requestName').val(formData);
            $('#submitform').submit();

        });
        $('#amount').keyup(function () {
              console.log("test");
            convertToWords();
        });


        function convertToWords() {
            var amount = $('#amount').val();
            console.log("the amount " + amount);
            if (amount != '') {
                convertAmountToWords(amount);

            }

        }

        function convertAmountToWords(amount) {
            $.ajax({
                "url": "/util/convertAmountToWords",
                "type": "POST",
                "data": {
                    amount: amount
                },
                success: function (result) {
                    console.log("the result " + result);
                    $('#amountInWords').val(result);

                },
                error: function (err) {
                    console.log("can't fetch because " + err)
                }

            })
        }

        $(document).ready(function () {
            $("#datepicker").datepicker({
                minDate: -180
            });
        })


        function checkBalance() {
            var accountNumber = $("#acctNumber").val();
            var balanceMessage = "";
            var charge=$("#chrg").val();

            console.log(accountNumber + charge);
            if (charge !== "" && accountNumber !== "") {
                console.log(accountNumber + charge);
                $.ajax({
                    "url": "/retail/cheque/balance/check",
                    "type": "POST",
                    "data": {
                        charge: charge,
                        accountNumber: accountNumber,
                    }, success: function (result) {
                        balanceMessage = result;
                        $("#balanceError").text(balanceMessage);
                        if (balanceMessage !== "") {
                            $("#submit").prop("disabled", true);
                        } else $("#submit").prop("disabled", false);

                    },
                });
            }
        }
    </script>
</th:block>

</body>
</html>