<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">
</head>



<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <header th:replace="cust_layout :: header">
        </header>


        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>International transfer</h3>
                    </div>

                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Beneficiaries</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li class="dropdown" id="listview">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">make transfer</a>
                                        </li>
                                        <li><a href="#">view details</a>
                                        </li>
                                        <li><a href="#">edit</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                        <div class="x_content">
                            <table class="table table-hover" id="openOptions">
                                <thead>
                                <tr>

                                    <th>Beneficiary name</th>
                                    <th>Bank</th>
                                    <th>Currency</th>
                                    <th>Account balance</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>

                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>Mark</td>

                                </tr>
                                <tr>

                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>Mark</td>

                                </tr>
                                <tr>

                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                    <td>@twitter</td>
                                </tr>
                                </tbody>
                            </table>
                            <a href="#" class="button" style="float: right;">Add beneficiary</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- footer content -->
        <footer th:replace="layout :: footer">
        </footer>
        <!-- /footer content -->
    </div>
</div>


<script th:src="@{~/bank/vendors/datatables.net/js/jquery.dataTables.js}"></script>
<script th:src="@{~/bank/js/dataTables.bootstrap.js}"></script>
<script th:src="@{~/bank/js/dataTables.select.js}"></script>
<script th:src="@{~/bank/js/jquery.spring-friendly.min.js}"></script>

<!-- Page-Level Scripts -->
<script>
    /*<![CDATA[*/
    $(document).ready(function() {


    } );
    /*]]>*/
</script>


</body>
</html>
