<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

    <body onload="javascript:var bread = [['Home', '/corporate/custom']];currentBar('custom duty');breadCrumb(bread)">

        <div layout:fragment="content">
            <div class="col-md-5 col-sm-5">
                <select class="form-control full-width coronation-form-contro invisible" id="view">
                    <option value="account">Overview</option>
                </select>
            </div>

            <div class="col-xs-12 " >
                <div class=" no-pad-lef  no-mt no-bd  alert">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                            <a type="button" class="btn bt-select btn-default bt-link-act"
                               th:href="@{/corporate/custom/index/authorizations}" disabled="disabled"> View</a>
                            <a type="button" th:href="@{/corporate/custom/payment}" class="btn btn-default pull-right">New</a>
                        </div>
                    </div>
                    <br/>
                    <div class="table-responsive">
                        <table class="table bg-white" id="requests">

                            <thead>
                            <td>Transfer type</td>
                            <td>Beneficiary</td>
                            <td>Bank</td>
                            <td>Amount</td>
                            <td>Date</td>
                            <td>Status</td>
                            </thead>
                            <tbody>


                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>


        <th:block layout:fragment="scripts">
            <!-- <script th:src="@{~/customer/js/dataTables.bootstrap.js}"></script>-->
            <script th:src="@{~/customer/js/dataTables.select.js}"></script>
            <script th:src="@{~/bank/vendors/sweetalert/sweetalert.min.js}"></script>
            <script th:src="@{~/bank/vendors/bootstrap-dialog/js/bootstrap-dialog.js}"></script>
            <script th:src="@{~/bank/js/jquery.spring-friendly.min.js}"></script>

            <script th:inline="javascript">
                /*<![CDATA[*/
                $(document).ready(function () {
                    var table = $('#requests').DataTable({
                        select: true,
                        responsive: true,
                        "lengthMenu": [ [5, 10, 20], [5, 10, 20] ],
                        "pagingType": "input",
                        "searching": false,
                        "paging": true,
                        "serverSide": true,
                        rowId: 'id',
                        "ajax": "/corporate/custom/requests",
                        "dom": 'T<"clear">frtlp',
                        "columns": [

                            {"data": "transferType"},
                            {"data": "beneficiaryAccountName"},
                            {"data": "financialInstitution.institutionName"},
                            {"data": "amount"},
                            {"data": "tranDate"},
                            {"data": "statusDescription"}

                        ], "columnDefs": [{
                            "targets" : 3,
                            "data" : "amount",
                            "render" : function(data, type,full, meta) {
                                if (type === 'display') {
                                    if(data == null)
                                        return data;
                                    var twoPlacedFloat = parseFloat(data).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
                                    return twoPlacedFloat;
                                }
                                return data;
                            }
                        },{
                            "targets": 4,
                            "data": "tranDate",
                            "render": function(data, type, full, meta) {

                                if (type === 'display') {
                                    if (data == null)
                                        return data;

                                    var dtStart = new Date(data);
                                    var dtStartWrapper = moment(dtStart);
                                    return dtStartWrapper.format('DD-MMM-YYYY');
                                }
                                return data;
                            }
                        }]
                    });


                    table.on('select', function () {
                        if (table.rows({
                            selected: true
                        }).indexes().length === 0) {
                            $('.bt-select').attr("disabled", true);
                        } else {
                            $('.bt-select').removeAttr("disabled");
                        }

                    });

                    table.on('deselect', function () {
                        if (table.rows({
                            selected: true
                        }).indexes().length === 0) {
                            $('.bt-select').attr("disabled", true);
                        } else {
                            $('.bt-select').removeAttr("disabled");
                        }
                    });

                });

                $("a.bt-link-act").on("click", function (e) {
                    e.preventDefault();
                    var link = $(e.currentTarget);
                    if ($(link).attr("disabled")) {
                        return;
                    }
                    var dt = $('#requests').DataTable();
                    var id = $(dt.row({
                        selected: true
                    }).node()).attr("id");
                    var ooo = link.attr("href").replace("index", id);
                    window.location.assign(ooo);

                });

                $("#delete-btn").on("click", function (e) {
                    e.preventDefault();
                    var link = $(e.currentTarget);
                    if ($(link).attr("disabled")) {
                        return;
                    }
                    var dt = $('#requests').DataTable();
                    var id = $(dt.row({
                        selected: true
                    }).node()).attr("id");
                    //window.location.href = link.attr("formaction") + '?id=' + id;
                    //replace {id} with id
                    var ooo = link.attr("href").replace("index", id);
                    warnBeforeRedirect(ooo);
                });


                function warnBeforeRedirect(ooo) {
                    swal({
                        title: "Are you sure?",
                        text: "Are you sure that you want to delete this code?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete code!",
                        closeOnConfirm: false
                    }, function () {
                        // Redirect the user
                        window.location.assign(ooo);
                    });
                }

                /*]]>*/
            </script>
        </th:block>
    </body>
</html>