<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

    <body onload="javascript:var bread = [['Home', '/corporate/custom']];currentBar('custom duty');breadCrumb(bread)">

        <div layout:fragment="content">
            <div class="col-md-5 col-sm-5 ">
                <select class="form-control full-width coronation-form-control hide-content-only" id="view">
                    <option value="account">Overview</option>
                </select>

                <div class="col-xs-12 no-mt" >
                    <a type="button" th:href="@{/corporate/custom/payment}" class="btn btn-default ">New</a>
                </div>
            </div>
        </div>
    </body>
</html>