<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

    <body onload="javascript:var bread = [['Home', '/corporate/custom']];currentBar('custom duty');breadCrumb(bread)">

        <div layout:fragment="content">
            <div class="col-md-5 col-sm-5">
                <select class="form-control full-width coronation-form-contro invisible" id="view">
                    <option value="account">Overview</option>
                </select>
            </div>

            <div class="col-xs-12">
                <div class="no-pad-lef no-mt no-bd  alert">
                    <div class="pull-right" style="width: 100%">
                            <div class="pull-right">
                                <select id="dutyFilter" class="form-control pull-left" style="width: 30%" onchange="filter()">
                                    <option value="Status">Status</option>
                                    <option value="Amount">Amount</option>
                                    <option value="Date">Date</option>
                                </select>
                                <!--<span>-->
                                <button class="btn btn-success pull-right" id="search" type="button">Go!</button>
                                <div id="cdinput" class="col-lg-6 pull-left"></div>
                                <!--</span>-->
                            </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                            <a type="button" class="btn bt-select btn-default bt-link-act"
                               th:href="@{/corporate/custom/index/authorizations}" disabled="disabled"> View</a>
                            <a type="button" th:href="@{/corporate/custom/payment}" class="btn btn-default">New</a>
                        </div>
                        <div class="btn-group pull-right" role="group" aria-label="First group">
                            <a href="/corporate/custom/tranid/receipt" class="btn btn-default pull-right bt-select bt-receipt" disabled="disabled" style="margin-top: 4%" id="receipt">Receipt</a>
                            <button class="btn btn-default pull-right bt-select" disabled="disabled" id="refresh" onclick="refresh()" type="button">Refresh</button>
                        </div>
                    </div>

                    <br/>
                    <div class="table-responsive">
                        <table class="table bg-white" id="requests">
                            <thead>
                            <td>Transfer type</td>
                            <td>Transfer type</td>
                            <td>Beneficiary</td>
                            <td>Bank</td>
                            <td>Amount</td>
                            <td>Date</td>
                            <td>Approval Status</td>
                            <td>Payment Status</td>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--<p id="ignorePDF">don't print this to pdf</p>-->
            <!--<div>-->
                <!--<p id="testR"><font size="3" color="red">print this to pdf</font></p>-->
            <!--</div>-->
        </div>


        <th:block layout:fragment="scripts">
            <!-- <script th:src="@{~/customer/js/dataTables.bootstrap.js}"></script>-->
            <!--<script th:src="@{~/bank/vendors/datatables.net/js/jquery.dataTables.js}"></script>-->
            <script th:src="@{~/customer/js/dataTables.select.js}"></script>
            <!--<script th:src="@{~/customer/jsPdf-1.3.2/from_html.js}"></script>-->
            <!--<script th:src="@{~/customer/jsPdf-1.3.2/jspdf.js}"></script>-->
            <!--<script th:src="@{~/customer/jsPdf-1.3.2/split_text_to_size.js}"></script>-->
            <!--<script th:src="@{~/customer/jsPdf-1.3.2/standard_fonts_metrics.js}"></script>-->
            <script th:src="@{~/bank/vendors/sweetalert/sweetalert.min.js}"></script>
            <script th:src="@{~/bank/vendors/bootstrap-dialog/js/bootstrap-dialog.js}"></script>
            <script th:src="@{~/bank/js/jquery.spring-friendly.min.js}"></script>
            <script th:inline="javascript">

                $("#pattern").keyup(function(event){
                    if(event.keyCode == 13){
                        $("#search").click();
                    }
                });

                $("#search").on("click", function(e) {
                    e.preventDefault();
                    dt = $('#requests').DataTable();
                    dt.ajax.reload(null, true);
                });

                function filter() {
                    $('#pattern').remove();
                    var pass = document.createElement('input');
                    var selectedText = $('#dutyFilter :selected').text();
                    console.log(selectedText);
                    if(selectedText == "Date"){
                        pass.id='pattern';
                        pass.type = 'Date';
                    }else{
                        pass.id='pattern';
                        pass.type = 'text';
                    }
                    $('#cdinput').append(pass);
                    $("#pattern").attr("class","form-control");
                }

                /*<![CDATA[*/
                var PaymentStatus;
                var ApprovalStatus;
                var NotificationStatus;
                var paymentRef;
                var code;
                var message;
                $(document).ready(function () {
                    var pass = document.createElement('input');
                    pass.id='pattern';
                    pass.type = 'text';
                    $('#cdinput').append(pass);
                    $("#pattern").attr("class","form-control");

                    var table = $('#requests').DataTable({
                        select: true,
                        responsive: true,
                        "lengthMenu": [ [5, 10, 20], [5, 10, 20] ],
                        "pagingType": "input",
                        "searching": false,
                        "paging": true,
                        "serverSide": true,
                        rowId: 'id',
                        "ajax" : {
                            url : "/corporate/custom/all",
                            "type" : "GET",
                            "data" : function(d) {
                                d.csearch = $('#pattern').val();
                                d.selectedStatus = $('#dutyFilter :selected').text();
                            }
                        },
                        "dom": 'T<"clear">frtlp',
                        "columns": [
                            {"data": "id",
                            "visible":false},
                            {"data": "transferType"},
                            {"data": "beneficiaryAccountName"},
                            {"data": "financialInstitution.institutionName"},
                            {"data": "amount"},
                            {"data": "tranDate"},

                            {"data": "statusDescription"},
                            {"data": "customDutyPayment.message"},
                            {"data": "customDutyPayment.paymentStatus","visible":false},
                            {"data": "customDutyPayment.approvalStatus","visible":false},
                            {"data": "customDutyPayment.notificationStatus","visible":false},
                            {"data": "customDutyPayment.paymentRef","visible":false},
                            {"data": "customDutyPayment.code","visible":false},
                            {"data": "customDutyPayment.tranId","visible":false}
                            // {"data": "customDutyPayment.message"}

                        ], "columnDefs": [{
                            "targets" : 4,
                            "data" : "amount",
                            "render" : function(data, type,full, meta) {
                                if (type === 'display') {
                                    if(data == null)
                                        return data;
                                    var twoPlacedFloat = parseFloat(data).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
                                    return twoPlacedFloat;
                                }
                                return data;
                            }
                        },{
                            "targets": 5,
                            "data": "tranDate",
                            "render": function(data, type, full, meta) {

                                if (type === 'display') {
                                    if (data == null)
                                        return data;

                                    var dtStart = new Date(data);
                                    var dtStartWrapper = moment(dtStart);
                                    return dtStartWrapper.format('DD-MMM-YYYY');
                                }
                                return data;
                            }
                        }]
                    });

                    table.on('select', function () {
                        if (table.rows({
                            selected: true
                        }).indexes().length === 0) {
                            $('.bt-select').attr("disabled", true);
                        } else {
                            $('.bt-select').removeAttr("disabled");
                        }
                    });

                    table.on('deselect', function () {
                        if (table.rows({
                            selected: true
                        }).indexes().length === 0) {
                            $('.bt-select').attr("disabled", true);
                        } else {
                            $('.bt-select').removeAttr("disabled");
                        }
                    });

                });
                var id;
                var tranId;
                var table =  $('#auditview').DataTable();

                $("#requests").on("click", "tr", function()
                {
                    var table =  $('#requests').DataTable();
                    id = table.row(this).id();
                    var currentRow = $(this).closest("tr");

                    var data = table.row(currentRow).data();
//                    console.log(data['id']);
                    tranId = data['customDutyPayment']['tranId'];
                    console.log("the row id "+id+" tran id "+tranId);
                });
//                $("#refresh").on("click", function (e) {
//                    e.preventDefault();
//
//                });

                function refresh() {
                    showSpinner();

                    console.log("refresh id "+id);

                    $.ajax({
                    "url":"/corporate/custom/"+id+"/refresh",
                    "type" : "GET",
                    "data" :  {
            //            id : id
            //            ApprovalStatus : ApprovalStatus,
            //            NotificationStatus : NotificationStatus,
            //            paymentRef : paymentRef,
            //            code : message
                            },success: function (result) {
                                console.log(result["","message"]);
                            table.ajax.reload(null,true);
                                    hideSpinner();
                            },
                            error: function (dd) {
                                $('#refresh'.attr("disabled", true));
                    //                        console.log("error")
                                hideSpinner();
                                bootbox.alert("<div style='text-align: center'>Service not available</div>");
                                return false;
                            }
                        });
                    }

//                function receipt() {
//                    showSpinner();
//
//                    console.log("receipt id "+id);
//
//                    $.ajax({
//                        "url":"/corporate/custom/"+tranId+"/report",
//                        "type" : "GET",
//                        "data" :  {
//                            //            id : id
//                            //            ApprovalStatus : ApprovalStatus,
//                            //            NotificationStatus : NotificationStatus,
//                            //            paymentRef : paymentRef,
//                            //            code : message
//                        },success: function (result) {
//                            console.log(result["","message"]);
//                            table.ajax.reload(null,true);
//                            hideSpinner();
//                        },
//                        error: function (dd) {
//                            $('#receipt'.attr("disabled", true));
//                            //                        console.log("error")
//                            hideSpinner();
//                            bootbox.alert("<div style='text-align: center'>Service not available</div>");
//                            return false;
//                        }
//                    });
//                }

                $("a.bt-receipt").on("click", function (e) {
                    e.preventDefault();
                    var link = $(e.currentTarget);
                    if ($(link).attr("disabled")) {
                        return;
                    }
                    var dt = $('#requests').DataTable();
                    var id = $(dt.row({
                        selected: true
                    }).node()).attr("id");
                    var ooo = link.attr("href").replace("tranid", tranId);

                    window.open(ooo,'_blank');

                });

                $("#delete-btn").on("click", function (e) {
                    e.preventDefault();
                    var link = $(e.currentTarget);
                    if ($(link).attr("disabled")) {
                        return;
                    }
                    var dt = $('#requests').DataTable();
                    var id = $(dt.row({
                        selected: true
                    }).node()).attr("id");
                    //window.location.href = link.attr("formaction") + '?id=' + id;
                    //replace {id} with id
                    var ooo = link.attr("href").replace("index", id);
                    warnBeforeRedirect(ooo);
                });


                function warnBeforeRedirect(ooo) {
                    swal({
                        title: "Are you sure?",
                        text: "Are you sure that you want to delete this code?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete code!",
                        closeOnConfirm: false
                    }, function () {
                        // Redirect the user
                        window.location.assign(ooo);
                    });
                }

                /*]]>*/
            </script>
        </th:block>
    </body>
</html>