<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/{name}/css/custom.css(name=#{menu.custom})}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/font-awesome/font-awesome.min.css}"/>
    <link rel="shortcut icon" th:href="@{~/customer/{name}/img/favicon.ico(name=#{menu.custom})}" type="image/x-icon">
    <link rel="icon" th:href="@{~/customer/{name}/img/favico.ico(name=#{menu.custom})}" type="image/x-icon">
    <title>Custom Duty Payment</title>
</head>
<body onload="javascript:var bread = [['Home', '/corporate/custom'],['Custom Payment', '/corporate/custom']];currentBar('Custom Payment');breadCrumb(bread)">
<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">
        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>
    <div class="col-xs-12  no-pad-left no-pad-right">
        <div class="no-pad-lef no-mt alert no-bd">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12">
                    <form  class="form-horizontal">
                        <!--<div th:replace="layout::form-validation"></div>-->
                        <div id="assessmentGrp">
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="col-sm-2">Custom Area Command</label>
                                    <select name="CommandCode" id="CommandCode" class="form-control full-width" th:field="*{customsCode}">
                                        <option value=""> -Select Area Command- </option>
                                        <option th:each="command : ${commands}" th:value="${command.commandCode}" th:text="${command.commandDesc}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="col-sm-2">SDG Assessment Year</label>
                                    <input type="text" class="form-control full-width" required="required" id="sdgAssessmentYear" name="sdgAssessmentYear"
                                           placeholder="2018" th:field="*{assessmentDetailsRequest.sadAsmt.SADYear}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="col-sm-2">SDG Assessment Serial</label>
                                    <input type="text" class="form-control full-width" required="required" id="sdgAssessmentSerial" name="sdgAssessmentSerial"
                                           placeholder="A" th:field="*{assessmentDetailsRequest.sadAsmt.SADAssessmentSerial}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="col-sm-2">SDG Assessment Number</label>
                                    <input type="text" class="form-control full-width" required="required" name="sdgAssessmentNumber" id="sdgAssessmentNumber"
                                           placeholder="1234" th:field="*{assessmentDetailsRequest.sadAsmt.SADAssessmentNumber}"/>
                                </div>
                            </div>
                            <div class="col-sm-6 col-sm-offset-2">
                                <btn id="assessmentBtn"  class="btn btn-primary pull-right">Get Assessment</btn>
                            </div>
                        </div>
                        <div id="paymentGrp">
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="col-sm-2 ">SDG Assessment Date</label>
                                    <input class="col-sm-8 form-control full-width" readonly="readonly" type="text" id="sgdAssessmentDate"
                                           th:field="*{assessmentDetail.responseInfo.SGDAssessmentDate}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="col-sm-2 ">Declarant Code</label>
                                    <input class="col-sm-8 form-control full-width" readonly="readonly" type="text" id="declarantCode"
                                           th:field="*{assessmentDetail.responseInfo.declarantCode}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="col-sm-2">Declarant Name</label>
                                    <input class="col-sm-8 form-control full-width" readonly="readonly" type="text" id="declarantName" th:field="*{assessmentDetail.responseInfo.declarantName}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="col-sm-2">Company Code</label>
                                    <input class="col-sm-8 form-control full-width" readonly="readonly" type="text" id="companyCode"  th:field="*{assessmentDetail.responseInfo.companyCode}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="col-sm-2">Company Name</label>
                                    <input class="col-sm-8 form-control full-width" readonly="readonly" type="text" id="companyName" th:field="*{assessmentDetail.responseInfo.companyName}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="col-sm-2">Bank Code</label>
                                    <input class="col-sm-8 form-control full-width" readonly="readonly" type="text" id="bankCode" th:field="*{assessmentDetail.responseInfo.bankCode}"/>
                                </div>
                            </div>
                            <!--<div class="form-group">-->
                            <!--<div class="col-sm-8">-->
                            <!--<label class="col-sm-2">Bank Branch Code</label>-->
                            <!--<input class="col-sm-8 form-control full-width" readonly="readonly" type="text" id="bankBranchCode" th:field="*{assessmentDetail.responseInfo.bankBranchCode}"/>-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="form-group">
                                <input type="hidden" id="tranId" readonly="readonly" th:field="*{assessmentDetail.responseInfo.tranId}"/>
                                <input type="hidden" id="code" readonly="readonly" th:field="*{assessmentDetail.code}"/>
                                <input type="hidden" id="message" readonly="readonly" th:field="*{assessmentDetail.message}"/>
                                <input type="hidden" id="taxId" readonly="readonly" th:field="*{assessmentDetail.responseInfo.taxDetails}"/>
                                <input type="hidden" id="formMNumber" readonly="readonly" th:field="*{assessmentDetail.responseInfo.formMNumber}"/>
                                <div class="col-sm-8">
                                    <label class="col-sm-2">Total Amount to be Paid</label>
                                    <input class="col-sm-8 form-control full-width" readonly="readonly" type="text" id="totalAmount" th:field="*{assessmentDetail.responseInfo.totalAmount}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="col-sm-2">Payment Details</label>
                                    <div class="x_content">
                                        <div class="table-responsive col-xs-12 no-pad-left no-pad-right" >
                                            <table class="table" id="tranDetails">
                                                <thead>
                                                <tr>
                                                    <th>Tax Code</th>
                                                    <th>Description</th>
                                                    <th>Amount</th>
                                                </tr>
                                                </thead>
                                                <tbody id="content">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label class="col-sm-2">Approval Status</label>
                                    <input class="col-sm-8 form-control full-width" readonly="readonly" type="text" id="approvalStatusDescription" th:field="*{assessmentDetail.responseInfo.approvalStatusDescription}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label>Account Number</label>
                                    <span class="req"></span>
                                    <select name="acctNumber" id="acctNumber" class="form-control full-width"
                                            required="required" th:field="*{assessmentDetail.account}">
                                        <option th:each="s: ${accounts}" th:value="${s.accountNumber}" th:text="${s.accountNumber}"></option></select>
                                </div>

                            </div>
                            <div class="col-sm-8 balError" style="color:red"></div>


                            <div class="col-sm-6 col-sm-offset-2">
                                <a id="paymentBtn"  class="btn btn-primary pull-right">Next</a>
                                <a id="RefeshBtn"  class="btn btn-primary pull-right" style="margin-right: 2px" onclick="location.reload()">Refresh</a>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content no-bd-rad tokenBox" id="paymentModal">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <form th:action="@{/corporate/custom/summary}" method="POST" id="otpform" modelAttribute="assessmentDetail">
                    <div class="modal-body no-bd-rad col-md-12 col-sm-12 col-xs-12">
                        <p style="margin-bottom:20px">Please, make sure you confirm the payment is confirm </p>
                        <div id="massessmentGrp">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2">Custom Area Command</label>
                                    <input type="text" class="form-control full-width" id="mcommand" name="mcommand"
                                           readonly="readonly" />
                                </div>
                            </div>
                            <br/>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2">SDG Assessment Year</label>
                                    <input type="text" class="form-control full-width" id="msdgAssessmentYear" name="sdgAssessmentYear"
                                           readonly="readonly"  th:field="*{assessmentDetailsRequest.sadAsmt.SADYear}"/>
                                </div>
                            </div>
                            <br/>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2">SDG Assessment Serial</label>
                                    <input type="text" class="form-control full-width" id="msdgAssessmentSerial" name="sdgAssessmentSerial"
                                           readonly="readonly"   th:field="*{assessmentDetailsRequest.sadAsmt.SADAssessmentSerial}"/>
                                </div>
                            </div>
                            <br/>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2">SDG Assessment Number</label>
                                    <input type="text" class="form-control full-width" readonly="readonly"  name="sdgAssessmentNumber" id="msdgAssessmentNumber"
                                           th:field="*{assessmentDetailsRequest.sadAsmt.SADAssessmentNumber}"/>
                                </div>
                            </div>
                            <br/>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2 ">SDG Assessment Date</label>
                                    <input class="col-sm-8 form-control full-width" readonly="readonly" type="text" id="msgdAssessmentDate"
                                           th:field="*{assessmentDetail.responseInfo.SGDAssessmentDate}"/>
                                </div>
                            </div>
                            <br/>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2 ">Declarant Code</label>
                                    <input class="col-sm-8 form-control full-width" readonly="readonly" type="text" id="mdeclarantCode"
                                           th:field="*{assessmentDetail.responseInfo.declarantCode}"/>
                                </div>
                            </div>
                            <br/>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2">Declarant Name</label>
                                    <input class="col-sm-8 form-control full-width" readonly="readonly" type="text" id="mdeclarantName" th:field="*{assessmentDetail.responseInfo.declarantName}"/>
                                </div>
                            </div>
                            <br/>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2">Company Code</label>
                                    <input class="col-sm-8 form-control full-width" readonly="readonly" type="text" id="mcompanyCode"  th:field="*{assessmentDetail.responseInfo.companyCode}"/>
                                </div>
                            </div>
                            <br/>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2">Company Name</label>
                                    <input class="col-sm-8 form-control full-width" readonly="readonly" type="text" id="mcompanyName" th:field="*{assessmentDetail.responseInfo.companyName}"/>
                                </div>
                            </div>
                            <br/>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2">Bank Code</label>
                                    <input class="col-sm-8 form-control full-width" readonly="readonly" type="text" id="mbankCode" th:field="*{assessmentDetail.responseInfo.bankCode}"/>
                                </div>
                            </div>
                            <br/>
                            <!--<div class="form-group">-->
                            <!--<div class="col-sm-8">-->
                            <!--<label class="col-sm-2">Bank Branch Code</label>-->
                            <!--<input class="col-sm-8 form-control full-width" readonly="readonly" type="text" id="mbankBranchCode" th:field="*{assessmentDetail.responseInfo.bankBranchCode}"/>-->
                            <!--</div>-->
                            <!--</div>-->
                            <br/>
                            <div class="form-group">
                                <input type="hidden" id="mTranId"  th:field="*{assessmentDetail.responseInfo.tranId}"/>
                                <input type="hidden" id="mTaxDetails" name="TaxDetails"/>
                                <input type="hidden" id="mCode" readonly="readonly" th:field="*{assessmentDetail.code}"/>
                                <input type="hidden" id="mMessage" readonly="readonly" th:field="*{assessmentDetail.message}"/>
                                <input type="hidden" id="mFormMNumber" readonly="readonly" th:field="*{assessmentDetail.responseInfo.formMNumber}"/>
                                <div class="col-sm-12">
                                    <label class="col-sm-2">Total Amount to be Paid</label>
                                    <input class="col-sm-8 form-control full-width" readonly="readonly" type="text" id="mtotalAmount" th:field="*{assessmentDetail.responseInfo.totalAmount}"/>
                                </div>
                            </div>
                            <br/>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2">Payment Details</label>
                                    <div class="x_content">
                                        <div class="table-responsive col-xs-12 no-pad-left no-pad-right" >
                                            <div id="taxtable">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2">Approval Status</label>
                                    <input class="col-sm-8 form-control full-width" readonly="readonly" type="text" id="mapprovalStatusDescription" th:field="*{assessmentDetail.responseInfo.approvalStatusDescription}"/>
                                </div>
                            </div>
                            <br/>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>Account Number</label>
                                    <input class="col-sm-8 form-control full-width" readonly="readonly"
                                           type="text" id="macctNumber" th:field="*{assessmentDetail.account}"/>
                                </div>
                                <div class="col-sm-8 balError" style="color:red"></div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer no-bd-top ">
                        <input type='button' class="btn btn-link less-required token-btn" id="usetoken" value='Decline'/>
                        <input type='submit' class="btn btn-link token-btn required-step" value='Confirm'/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#paymentGrp').hide();
            hideModal(false);
        });

        function hideModal(bool){
            console.log("should it show "+bool);
            console.log($('#declarantCode').val());
            $('#msdgAssessmentNumber').val($('#sdgAssessmentNumber').val());
            $('#msdgAssessmentSerial').val($('#sdgAssessmentSerial').val());
            $('#msdgAssessmentYear').val($('#sdgAssessmentYear').val());
            $('#mcommand').val($('#CommandCode').val());
            $('#mdeclarantCode').val($('#declarantCode').val());
            $('#mdeclarantName').val($('#declarantName').val());
            $('#mcompanyCode').val($('#companyCode').val());
            $('#mtotalAmount').val($('#totalAmount').val());
            $('#mcompanyName').val($('#companyName').val());
            $('#mTranId').val($('#tranId').val());
            $('#mFormMNumber').val($('#formMNumber').val());
            $('#mapprovalStatus').val($('#approvalStatus').val());
            $('#mapprovalStatusDescription').val($('#approvalStatusDescription').val());
            $('#mtotalAmount').val($('#totalAmount').val());
            $('#msgdAssessmentDate').val($('#sgdAssessmentDate').val());
            $('#mTaxDetails').val($('#taxId').val());
            // $('#mCode').val($('#code').val());
            $('#mMessage').val($('#message').val());
            $('#mbankCode').val($('#bankCode').val());
            $('#mbankBranchCode').val($('#bankBranchCode').val());
            $('#macctNumber').val($('#acctNumber').val());
            console.info($("#taxId").val());
            var t = $("#taxId").val();
            $('#myModal').modal({
                backdrop: 'static',
                keyboard: false,
                "data": {
                    SADAssessmentNumber: $('#sdgAssessmentNumber').val(),
                    SADAssessmentSerial: $('#sdgAssessmentSerial').val(),
                    SADYear: $('#sdgAssessmentYear').val(),
                    CommandCode: $('#CommandCode').val()
                },
                show: bool
            });
        }

        $("#assessmentBtn").on("click",function(event) {
            // Prevent the form from submitting via the browser.
            event.preventDefault();
            console.log("test btn");
            //ajaxPost();
            // $('#custompayment').show();
            $.ajax({
                "url": "/corporate/custom/assessment/details",
                "type": "POST",
                "data": {
                    SADAssessmentNumber: $('#sdgAssessmentNumber').val(),
                    SADAssessmentSerial: $('#sdgAssessmentSerial').val(),
                    SADYear: $('#sdgAssessmentYear').val(),
                    CommandCode: $('#CommandCode').val()
                },
                success: function(result) {
                    if(result.ResponseInfo != null) {
                        $('#assessmentBtn').hide();
                        $('#declarantCode').val(result.ResponseInfo["DeclarantCode"]);
                        $('#declarantName').val(result.ResponseInfo["DeclarantName"]);
                        $('#companyCode').val(result.ResponseInfo["CompanyCode"]);
                        $('#totalAmount').val(result.ResponseInfo["TotalAmount"]);
                        $('#companyName').val(result.ResponseInfo["CompanyName"]);
                        $('#tranId').val(result.ResponseInfo["TranId"]);
                        $('#formMNumber').val(result.ResponseInfo["FormMNumber"]);
                        $('#approvalStatus').val(result.ResponseInfo["ApprovalStatus"]);
                        $('#approvalStatusDescription').val(result.ResponseInfo["ApprovalStatusDescription"]);
                        $('#totalAmount').val(result.ResponseInfo["TotalAmount"]);
                        $('#sgdAssessmentDate').val(result.ResponseInfo["SGDAssessmentDate"]);
                        $('#bankCode').val(result.ResponseInfo["BankCode"]);
                        $('#commandCode').val(result.ResponseInfo["CommandCode"]);
                        $('#code').val(result["Code"]);
                        $('#message').val(result["Message"]);
                        $('#bankBranchCode').val(result.ResponseInfo["BankBranchCode"]);
                        $('#taxId').val(JSON.stringify(result.ResponseInfo["TaxDetails"]));
                        $("#balError").text(result.AccountBalanceStatusMessage);
                        var t = result.ResponseInfo["TaxDetails"];
                        console.info(t);
                        var table = document.getElementById('tranDetails');

                        var tr = document.createElement('tr');
                        t.forEach(function (t) {
                            var tr = document.createElement('tr');
                            tr.innerHTML = '<td>' + t.TaxAmount + '</td>' +
                                '<td>' + t.TaxDesc + '</td>' +
                                '<td>' + t.TaxAmount + '</td>';
                            table.appendChild(tr);
                        });
                        $('#taxtable').append(table);
                        if (result != null && result != "null") {
                            $('#paymentGrp').show();
                        }
                    }else{
                        alert("Assessment Details not found")
                        console.info("empty");
                        return false;
                    }
                },
                error: function (dd) {
                    alert("Assessment Details not found");
                    return false;
                }
            });
        });
        $("#paymentBtn").on("click",function(event) {
            console.log(this.SADAssessmentNumber);
            getBal($("#acctNumber").val(),$("#totalAmount").val());
            hideModal(true);
        });

        $("#usetoken").on("click",function(event) {
            $('#myModal').modal('hide');
        });

        $("#acctNumber").on("change",function () {
            var account=$("#acctNumber").val();
            var amount=$("#totalAmount").val();
            getBal(account,amount);


        })

        function getBal(account,amount){
            $.ajax({
                url:"/corporate/custom/"+account+"/"+amount+"/checkbal",
                type:'GET',
                success:function(result){
                    console.log(result);
                    $(".balError").text(result);
                }

            });
        }

    </script>
</th:block>
</body>
</html>
