<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

    <body onload="javascript:var bread = [['Home', '/corporate/custom'],['Custom Payment', '/corporate/custom']];currentBar('Custom Payment');breadCrumb(bread)">
        <div layout:fragment="content">
            <div class="col-md-5 col-sm-5 ">
                <select class="form-control full-width coronation-form-control hide-content-only" id="view">
                    <option value="account">Overview</option>
                </select>
            </div>
            <div class="col-xs-12  no-pad-left no-pad-right">
                <div class="no-pad-lef no-mt alert no-bd">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12">
                            <form method="post" class="form-horizontal" th:action="@{/corporate/custom/details}" th:object="${assessmentDetailsRequest}">
                                <!--<div th:replace="layout::form-validation"></div>-->
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label class="col-sm-2">Custom Area Command</label>
                                        <select name="CommandCode" class="form-control full-width" th:field="*{customsCode}">
                                            <option value=""> -Select Area Command- </option>
                                            <option th:each="command : ${commands}" th:value="${command.commandCode}" th:text="${command.commandDesc}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label class="col-sm-2">SDG Assessment Year</label>
                                        <input type="text" class="form-control full-width" name="sdgAssessmentYear"
                                               placeholder="2018" th:field="*{SADYear}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label class="col-sm-2">SDG Assessment Serial</label>
                                        <input type="text" class="form-control full-width" name="sdgAssessmentSerial"
                                               placeholder="A" th:field="*{SADAssessmentSerial}"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label class="col-sm-2">SDG Assessment Number</label>
                                        <input type="text" class="form-control full-width" name="sdgAssessmentNumber"
                                               placeholder="1234" th:field="*{SADAssessmentNumber}"/>
                                    </div>
                                </div>
                                <!--<div class="form-group">-->
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <!--<button class="btn btn-white" type="reset" id="cancel">Cancel</button>-->
                                        <button class="btn btn-primary pull-right" type="submit">Get Assessment</button>
                                    </div>
                                <!--</div>-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>