<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

<body onload="javascript:var bread = [['Home', '/corporate/dashboard'],['Transfer Log']];currentBar('transfer log');breadCrumb(bread)">

    <div layout:fragment="content">
        <div class="col-md-5 col-sm-5">

            <select class="form-control full-width coronation-form-contro invisible" id="view">
            <option value="account">Overview</option>
        </select>
        </div>

        <div class="col-xs-12 ">
            <div class="table-responsive">
                <table id="ct" class=" table table-condensed">
                    <thead>
                        <td>Date</td>
                        <td>Amount</td>
                        <td>Beneficiary</td>
                        <td>Beneficiary Bank</td>
                        <td>Remarks</td>
                        <td>Status</td>
                        <td>&nbsp;</td>
                    </thead>
                    <tbody>

                    </tbody>
                    <tfoot>
                        <td>Date</td>
                        <td>Amount</td>
                        <td>Beneficiary</td>
                        <td>Beneficiary Bank</td>
                        <td>Remarks</td>
                        <td>Status</td>
                        <td></td>
                    </tfoot>
                </table>
            </div>

        </div>

    </div>


    <th:block layout:fragment="scripts">
        <script th:inline="javascript">
            /*<![CDATA[*/
            $(document).ready(function() {
                var url = "/corporate/transfer/history/all";
                var table = $('#ct').DataTable({
                    responsive: true,
                    "lengthMenu": [
                        [5, 10],
                        [5, 10]
                    ],
                    "pagingType": "input",
                    "searching": true,
                    "paging": true,
                    "serverSide": true,
                    "ajax": url,
                    "dom": 'T<"clear">frtlp',
                    "columns": [{
                        "data": "tranDate"
                    }, {
                        "data": "amount"
                    }, {
                        "data": "beneficiaryAccountName"
                    }, {
                        "data": "financialInstitution.institutionName"
                    }, {
                        "data": "remarks"
                    }, {
                        "data": "status"
                    }, {
                        "data": "id"
                    }, ],
                    "columnDefs": [{
                        "targets": 0,
                        "data": "tranDate",
                        "render": function(data, type, full, meta) {
                            if (type === 'display') {
                                if (data == null)
                                    return data;
                                var dtStart = new Date(parseInt(data));

                                var dtStartWrapper = moment(dtStart);
                                return dtStartWrapper.format('MMM Do YYYY, h:mm:ss a');
                            }
                            return data;
                        }
                    },{
                        "targets" : 1,
                        "data" : "amount",
                        "render" : function(data, type,full, meta) {
                            if (type === 'display') {
                                if(data == null)
                                    return data;
                                var twoPlacedFloat = parseFloat(data).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
                                return twoPlacedFloat;
                            }
                            return data;
                        }
                    },
                        {
                            "targets" : 5,
                            "data" : "status",
                            "render" : function(data, type,full, meta) {
                                if (type === 'display') {
                                    if(data == '00'||data == '000')
                                        return "Transaction Successful";
                                    if(data=="09"||data=="34"){
                                        return "Pending";
                                    }
                                    else return "Failed";

                                }
                                return data;
                            }
                        },
                        {
                        "targets": 6,
                        "data": "id",
                        "render": function(data, type, full, meta) {
                            return '<a href="' + data + '/downloadreceipt" target="_blank">Receipt</a>';
                        }
                    }]
                });

                //            $("#search").on("click", function(e) {
                //                e.preventDefault();
                //                dt = $('#ct').DataTable();
                //                dt.ajax.reload(null, true);
                //
                //            });
                //            $('.dataTables_empty').html('No data available');

            });

            /*]]>*/
        </script>
    </th:block>

</body>

</html>