<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="corp_layout :: site-head">

</head>
<body>

<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">

            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content-bg">
                <div class="row form-spacing">
                    <!--<div class="col-md-6 col-sm-6">-->
                    <table width="100%" cellpadding="0" cellspacing="0" style=" box-sizing: border-box; font-size: 14px; border-radius: 3px; margin: 0;">
                        <tr>
                            <td class="alert alert-warning" style=" font-size: 18px;  text-align: center;  padding: 20px;">
                                Transfer Request
                            </td>
                        </tr>
                        <table>
                            <tr>

                                <th colspan="2">Transaction Summary</th>


                            </tr>
                            <tr>

                                <th>Source account</th>
                                <td>0987654650</td>

                            </tr>
                            <tr>

                                <th>Destination account</th>
                                <td>231456789</td>

                            </tr>
                            <tr>

                                <th>Amount</th>
                                <td >1,000,000</td>

                            </tr>
                            <tr>

                                <th>Remarks</th>
                                <td >BABA IJEBU</td>

                            </tr>
                        </table>
                    </table>
                    <!--</div>-->
                </div>
            </div>

        </div>
    </div>
</section>


<!-- CONTENT-WRAPPER SECTION END-->

</body>
</html>