<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="corp_layout :: site-head">

</head>
<body>

<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">

            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content-bg">

                    <!--<div class="col-md-6 col-sm-6">-->
                    <table class="table table-responsive">
                        <tr>

                            <th>Source account</th>
                            <td th:text="${transRequest.customerAccountNumber}"></td>

                        </tr>
                        <tr>

                            <th>Destination account</th>
                            <td th:text="${transRequest.beneficiaryAccountNumber}"></td>

                        </tr>
                        <tr>

                            <th>Destination account owner</th>
                            <td th:text="${transRequest.beneficiaryAccountName}"></td>

                        </tr>
                        <tr>

                            <th>Amount</th>
                            <td th:text="${#numbers.formatDecimal(transRequest.amount, 1, 'COMMA', 2, 'POINT')}"></td>

                        </tr>
                        <tr>

                            <th>Remarks</th>
                            <td th:text="${transRequest.remarks}"></td>

                        </tr>
                        <tr>

                            <th>Transfer Type</th>
                            <td th:text="${transRequest.transferType}"></td>

                        </tr>
                    </table>
                    <!--</div>-->

            </div>

        </div>
    </div>
</section>


<!-- CONTENT-WRAPPER SECTION END-->

</body>
</html>