<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="cust_layout :: site-head">
</head>
<body>
<div class="container">
    <header th:replace="cust_layout :: header">
    </header>

<section class="content-wrapper">
    <div class="containe">

        <div class="row">

            <div class="col-md-4 col-sm-4">
                <h5 class="page_header">  Transaction Successful</h5>
                 <select class="form-control invisible">
                        <option value="account">Account Overview</option>
                </select>
            </div>

            
        </div>
        <div class="row">
            <div class="col-md-9 content-bg">
                <!--<div class="row form-spacing">-->
                <div class="">



                        <table class="''table table-responsive">
                            <tr>

                                <th>Source account</th>
                                <td th:text="${transRequest.customerAccountNumber}"></td>

                            </tr>
                            <tr>

                                <th>Destination account</th>
                                <td th:text="${transRequest.beneficiaryAccountNumber}"></td>

                            </tr>
                            <tr>

                                <th>Amount</th>
                                <td th:text="${transRequest.amount}"></td>

                            </tr>
                            <tr>

                                <th>Remarks</th>
                                <td th:text="${transRequest.remarks}"></td>

                            </tr>
                        </table>


                                <div class="form-group">


                                    <a target="_blank" th:href="@{'/corporate/transfer/' + ${transRequest.id} +'/receipt'}" >Receipt</a>

                                    <a th:href="@{/corporate/dashboard}" >Home</a>
                                    <a th:href="@{/corporate/transfer/}" >Make another transfer</a>
                                </div>




                </div>
            </div>
            <div class="col-md-3 pull-right " >
                <div th:replace="cust_layout :: sidebar" class="" >
                </div>
            </div>
        </div>
    </div>

</section>


<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
</div>
</body>

</html>