<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

<body onload="javascript:var bread = [['Home', '/corporate/dashboard'],['transfer authentication','']];currentBar('transfer authentication');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12">
        <div class="col-sm-offset-3 col-sm-6 no-pad-lef  no-mt no-bd alert">

            <table class="table table-hover ">
                <tr class="top-row">

                    <th>Source account</th>
                    <td th:text="${corpTransferRequest.customerAccountNumber}"></td>

                </tr>
                <tr>

                    <th>Destination account</th>
                    <td th:text="${corpTransferRequest.beneficiaryAccountNumber}"></td>

                </tr>
                <tr>

                    <th>Amount</th>
                    <td th:text="${#numbers.formatDecimal(corpTransferRequest.amount, 1, 'COMMA', 2, 'POINT')}"></td>

                </tr>
                <tr>

                    <th>Remarks</th>
                    <td th:text="${corpTransferRequest.remarks}"></td>

                </tr>
            </table>


            <form method="post" th:action="@{/corporate/transfer/process}" th:object="${transferRequest}">

                <!--<input type="hidden" th:field="*{customerAccountNumber}"/>-->
                <!--<input type="hidden" th:field="*{beneficiaryAccountNumber}"/>-->
                <!--<input type="hidden" th:field="*{beneficiaryAccountName}"/>-->
                <!--<input type="hidden" th:field="*{amount}"/>-->
                <!--<input type="hidden" th:field="*{remarks}"/>-->
                <div class="form-group">
                    <label>Token *</label>
                    <input type="text" name="token" id="token" placeholder="" class="form-control full-width" required="required"/>
                    <br/>
                    <div class="form-group">
                        <button type="submit" class="btn btn-link required-step useloader">Proceed</button>
                        <button type="button" onclick='redirect();' class="btn btn-link less-required">Cancel</button>
                    </div>


                </div>
            </form>

        </div>
    </div>

</div>


<th:block layout:fragment="scripts">

    <script>
        $(document).ready(function ()
        {

            $(".useloader").click(function(){
                if($('#token').val() === ''){
                    hideSpinner();
                }
//            alert("The paragraph was clicked.");
            });
        });
        function redirect()
        {
           
            window.location.href = "/corporate/transfer";
        }


    </script>
</th:block>

</body>
</html>