<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="javascript:var bread = [['Home', '/retail/dashboard'],['Beneficiary Management', '/retail/beneficiary'],['Add new beneficiary']];currentBar('add new beneficiary');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5 ">

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12" >
        <div class=" no-pad-lef no-mt alert no-bd">
           <div class="">
                 <div class="col-md-6 col-sm-6 no-pad-left">
                        <div class="">
                            <div class="form-group">
                                <label>Beneficiary Type</label>
                                <span class="req"></span><select name="beneficiaryType" id="benType"
                                                                 class="form-control full-width">
                                <option th:value="local">Other Banks</option>
                                <!--<option th:value="foreign">Foreign Banks</option>-->
                                <option th:value="intrabank">Coronation Bank</option>
                                </select>
                            </div>


                            <form id="local" method="post" th:action="@{/retail/beneficiary/local/summary}"
                                  th:object="${localBeneficiaryDTO}">
                                <input type="hidden" th:value="local" class="form-control"/>
                                <div class="form-group">
                                    <label>Beneficiary Bank</label>
                                    <span class="req"></span>
                                    <select name="beneficiaryBank" id="beneficiaryBank" class="form-control full-width"
                                            placeholder="select"
                                            th:field="*{beneficiaryBank}" required="required">
                                        <option th:each="bank : ${localBanks}" th:value="${bank.institutionCode}"
                                                th:text="${bank.institutionName}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Account Number</label>
                                    <span class="req"></span><input onblur="getAccountName()" type="number" min="0"
                                                                    id="acct_num" name="acct_num" class="form-control full-width"
                                                                    th:field="*{accountNumber}"
                                                                    placeholder="Account Number"/>
                                    <p class="errors" th:if="${#fields.hasErrors('accountNumber')}"
                                       th:errors="*{accountNumber}">&times;</p>
                                    <p id='loading-icon' style="display:none"><i class='fa fa-spinner fa-spin'
                                                                                 style="font-size:10px;color:#003056"></i>
                                        Getting Account Name. Please Wait</p>
                                    <p class="acctError" style="display:none;">invalid account number or Bank
                                        details</p>
                                </div>

                                <div class="form-group">
                                    <label>Account Name</label>
                                    <input type="text" id="acct_name" name="acct_name"
                                                                    class="form-control full-width"
                                                                    th:field="*{accountName}"
                                                                    placeholder="Beneficiary Name" readonly="readonly"/>
                                    <p class="errors" th:if="${#fields.hasErrors('accountName')}"
                                       th:errors="*{accountName}">&times;</p>
                                </div>
                                <div class="form-group">
                                    <label>Preferred Name</label>
                                    <input type="text" class="form-control full-width" name="preferredName"
                                           placeholder="Preferred Name"/>
                                </div>
                                <button id="localsave" style="display: none;" class="btn btn-link">Save</button>
                                <!--<button id="neq" type="button" class="btn btn-link" onclick="getAccountName();">Name-->
                                <!--Enquiry-->
                                <!--</button>-->
                                <a th:href="@{/retail/benficiary}" class="btn btn-link">Cancel</a>
                            </form>

                            <form id="foreign" method="post" th:action="@{/retail/beneficiary/foreign}"
                                  th:object="${internationalBeneficiaryDTO}" style="display: none">
                                <input type="hidden" th:value="foreign" class="form-control"/>
                                <div class="form-group">
                                    <label>Beneficiary Bank</label>
                                    <span class="req"></span><input type="text" class="form-control"
                                                                    placeholder="Beneficiary Bank"
                                                                    th:field="*{beneficiaryBank}"/>
                                </div>
                                <div class="form-group">

                                    <label>Swift Code</label>
                                    <span class="req"></span><input type="text" class="form-control" name="swiftCode"
                                                                    placeholder="Bank SWIFT Code"
                                                                    th:field="*{swiftCode}" required="required"/>
                                </div>
                                <div class="form-group">
                                    <label>Sort Code</label>
                                    <span class="req"></span><input type="text" class="form-control" name="sortCode"
                                                                    placeholder="Bank Sort Code"
                                                                    th:field="*{sortCode}" required="required"/>
                                </div>
                                <div class="form-group">
                                    <label>Beneficiary Name</label>
                                    <span class="req"></span><input type="text" class="form-control" name="accountName"
                                                                    placeholder="Beneficiary Name"
                                                                    th:field="*{accountName}" required="required"/>
                                </div>

                                <div class="form-group">
                                    <label>Beneficiary Account Number</label>
                                    <span class="req"></span>
                                    <input min="0" type="number" class="form-control" name="accountNumber"
                                           placeholder="Beneficiary Account Number" th:field="*{accountNumber}"
                                           required="required"/>

                                </div>
                                <div class="form-group">
                                    <label>Currency Code</label>
                                    <span class="req"></span>
                                    <select name="currencyCode" id="currencyCode" class="form-control full-width"
                                            required="required">

                                        <option th:each="ccyCode : ${foreignCurrencyCodes}" th:value="${ccyCode.code}"
                                                th:text="${ccyCode.code}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Beneficiary Address</label>
                                    <span class="req"></span><textarea name="beneficiaryAddress" class="form-control"
                                                                       th:field="*{beneficiaryAddress}"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Intermediary Bank Name</label>
                                    <input type="text" class="form-control" name="intermediaryBankName"
                                           placeholder="Intermediary Bank Name" th:field="*{intermediaryBankName}"/>
                                </div>
                                <div class="form-group">
                                    <label>Intermediary Account Number</label>
                                    <input min="0" type="number" class="form-control full-width" name="intermediaryBankAcctNo"
                                           placeholder="Intermediary Bank Account Number"
                                           th:field="*{intermediaryBankAcctNo}"/>

                                </div>
                                <button class="btn btn-primary">Save</button>
                            </form>

                            <form id="intrabank" method="post" th:action="@{/retail/beneficiary/local/summary}"
                                  th:object="${localBeneficiaryDTO}" style="display: none">
                                <input type="hidden" th:value="intrabank" class="form-control "/>
                                <div class="form-group">
                                    <label>Beneficiary Bank</label>
                                    <span class="required"></span><select name="beneficiaryBank" class="form-control full-width"
                                                                          th:field="*{beneficiaryBank}"
                                                                          required="required">
                                    <option th:value="${bankCode}">Coronation Merchant Bank</option>
                                </select>
                                    <p class="iacctError" style="display:none;">invalid account number or Bank
                                        details</p>
                                </div>
                                <div class="form-group">
                                    <label>Account Number</label>
                                    <span class="required"></span><input onblur="getIntraBankAccountName();" type="number" min="0" class="form-control full-width"
                                                                         name="accountNumber"
                                                                         th:field="*{accountNumber}"
                                                                         id="iacct_num" placeholder="Account Number"
                                                                         required="required"/>

                                </div>

                                <div class="form-group">
                                    <label>Account Name</label>
                                    <span class="required"></span><input type="text" class="form-control full-width"
                                                                         name="accountNumber" th:field="*{accountName}"
                                                                         id="iacct_name" readonly="readonly"
                                                                         required="required"/>
                                    <label
                                            th:if="${#fields.hasErrors('accountName')}" th:errors="*{accountName}"
                                            class="validation-message"></label>
                                </div>
                                <div class="form-group">
                                    <label>Preferred Name</label>
                                    <input type="text" class="form-control full-width" name="preferredName"
                                           placeholder="Beneficiary Alias" th:field="*{preferredName}"
                                           required="required"/>
                                </div>
                                <button id="ilocalsave" style="display: none;" class="btn btn-link required-step">Save</button>

                                <a th:href="@{/retail/benficiary}" class="btn btn-link less-required">Cancel</a>
                            </form>
                        </div>
                 </div>
            </div>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">
   
    <script>
        $('#benType').on('change', function () {
            if ($(this).val() === "foreign") {
                $("#foreign").show();
                $("#local").hide();
                $("#intrabank").hide();
            }
            else if ($(this).val() === "local") {
                $("#local").show();
                $("#foreign").hide();
                $("#intrabank").hide();
            } else if ($(this).val() === "intrabank") {
                $("#local").hide();
                $("#foreign").hide();
                $("#intrabank").show();
            }
        });
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            $('#beneficiaryBank').change(function () {
                $('#acct_name').val("");
                $('.acctError').hide();
            });

            $('#acct_num').change(function () {
                $('#acct_name').val("");
                $('.acctError').hide();
            });
            //        sortSelect('#beneficiaryBank', 'text', 'asc');

            $("#beneficiaryBank").prop("selectedIndex", -1);

        });


        function getAccountName() {
            $('#loading-icon').show();
            $('#localsave').hide();
            //make sure alert message is not empty
            var acct = $('#acct_num').val();
            var bank = $('#beneficiaryBank').val();

            if (( acct == null || acct == '' ) || ( bank == null || bank == '' )) {
                $('#loading-icon').hide();
                $('.acctError').show().css("color", "red");
                $('#loading-icon').hide();
                return false;
            }
l
            $.getJSON('/retail/transfer/' + acct + '/' + bank + '/nameEnquiry', function (jd) {
                var message = jd.message;
                var success = jd.success;
                console.log(message);
                console.log(success);
                if (success == false) {
                    $('.acctError').text(message);
                    $('.acctError').show().css("color", "red");
                    $('#loading-icon').hide();
                } else {
                    $('#acct_name').val(message);
                    $('#localsave').show();
                    $('#neq').hide();
                    $('.acctError').hide()
                    document.getElementById('loading-icon').style.display = 'none';
                    $('#loading-icon').hide();
                }


            });

        }
        ;


        function getIntraBankAccountName() {
            //make sure alert message is not empty
            $('#iacct_name').val("");
            $('#ilocalsave').hide()
            var acct = $('#iacct_num').val();
            if (( acct == null || acct == '' )) {


                $('.iacctError').show().css("color", "red");
                return false;
            }


            $.getJSON('/retail/transfer/' + acct + '/nameEnquiry', function (jd) {
                var message = jd.message;
                var success = jd.success;
                console.log(message);
                console.log(success);
                if (success == false) {
                    $('.iacctError').text(message);
                    $('.iacctError').show().css("color", "red");
                    $('#iloading-icon').hide();
                } else {
                    $('#iacct_name').val(message);
                    $('#ilocalsave').show();
                    $('.iacctError').hide()
                    document.getElementById('iloading-icon').style.display = 'none';
                    $('#loading-icon').hide();
                }


            });


        }
        /*]]>*/
    </script>
</th:block>

</body>
</html>