<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="cust_layout :: site-head">

</head>
<body>
<header th:replace="cust_layout :: header">
</header>

<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h5 class="page_header"> Beneficiary List</h5>
                <a th:href="@{/retail/beneficiary/new}" class=" pull-right btn btn-sm">Add New Beneficiary</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content-bg">
                <div class="row spacing">
                    <div class="col-md-10">
                        <h4 class="sub_header">Local Beneficiaries</h4>
                        <table class="table">
                            <thead>
                                <td>Name</td>
                                <td>Account Number</td>
                                <td>Bank</td>
                                <td>Delete</td>
                            </thead>
                            <tbody>
                                <tr th:each="loc : ${localBen}">
                                    <td th:text="${loc.accountName}"></td>
                                    <td th:text="${loc.accountNumber}"></td>
                                    <td th:text="${loc.beneficiaryBank}"></td>
                                    <td><a th:href="@{'/retail/beneficiary/' + ${loc.id} + '/loc/delete'}"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                        <h4 class="sub_header">International Beneficiaries</h4>
                        <table class="table">
                            <thead>
                                <td>Name</td>
                                <td>Account Number</td>
                                <td>Bank</td>
                                <td>Delete</td>
                            </thead>
                            <tbody>
                                <tr th:each="int : ${intBen}">
                                    <td th:text="${int.accountName}"></td>
                                    <td th:text="${int.accountNumber}"></td>
                                    <td th:text="${int.beneficiaryBank}"></td>
                                    <td><a th:href="@{'/retail/beneficiary/' + ${int.id} + '/int/delete'}"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div th:replace="cust_layout :: sidebar" class="col-md-3 sidebar">
            </div>
        </div>
    </div>
</section>

<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="cust_layout ::footer">
</footer>
</body>
</html>