<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{ret-layout}">

<body onload="javascript:var bread = [['Home', '/retail/dashboard'],['Beneficiary Management', '/retail/beneficiary'],['beneficiary list']];currentBar('Beneficiary list');breadCrumb(bread)">

<div layout:fragment="content">
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content no-bd-rad tokenBox" id="tokenmodal">
                <form id="loginform" th:action="@{/retail/beneficiary/authenticate}" method="POST" >
                    <input type="hidden" id="myID" name="id"/>
                <div class="modal-body no-bd-rad">
                    <h3 class="tokenHeader"><span class='text-danger'>Delete Beneficiary</span>, <span th:text="*{username}" style="text-transform: capitalize">Tolu</span></h3>
                    <div class="margin-bottom">
                        <p style="margin-bottom:20px">Enter token to confirm beneficiary delete</p>
                        <div id="username_div" class="form-group">
                                <input  type="text" id="token" required name="token" class='my-select tokenInput' placeholder="Token Code" autocomplete="off"/>
                        </div>
                        <div id='errorMess' class=" text-danger "></div>
                        <!--<div id='successMess' class=" text-success "></div>-->
                    </div>
                    <div >
                        <p>Click YES to confirm and NO to abort.</p>
                    </div>

                </div>
                <div class="modal-footer no-bd-top ">
                    <input type='button' class="btn btn-link less-required token-btn " data-dismiss="modal" value='NO'/>
                    <input type='submit' class="btn btn-link token-btn required-step" value='YES'/>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 ">
                 <a th:href="@{/retail/beneficiary/new}" class="pull-right">Add New Beneficiary</a>

        <select class="form-control full-width coronation-form-control hide-content-only" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 ml-15 no-pad-lef no-pad-right " >
        <div class="col-xs-11 no-pad-lef no-mt alert no-bd">
           <div class="">
                 <div class="">
                        <div class="bg-white table-responsive">
                        <table class="table" id="mytab">
                            <thead class='thead'>
                                <th >Name</th>
                                <th class="text-cente">Account Number</th>
                                <th class="text-cente">Bank</th>
                                <th class="text-cente">Delete</th>
                            </thead>
                            <tbody>
                                <tr th:each="loc : ${localBen}">
                                    <td th:text="${loc.accountName}"></td>
                                    <td th:text="${loc.accountNumber}"></td>
                                    <td th:text="${loc.beneficiaryBank}"></td>
                                    <td><a th:id="${loc.id}" onclick="validateDel(this.id)"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        <!--<h4 class="sub_header">International Beneficiaries</h4>-->
                        <!--<div class="bg-white">-->
                        <!--<table class="table">-->
                           <!--<thead class='thead'>-->
                               <!--<th >Name</th>-->
                                <!--<th class="text-cente">Account Number</th>-->
                                <!--<th class="text-cente">Bank</th>-->
                                <!--<th class="text-cente">Delete</th>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                                <!--<tr th:each="int : ${intBen}">-->
                                    <!--<td th:text="${int.accountName}"></td>-->
                                    <!--<td th:text="${int.accountNumber}"></td>-->
                                    <!--<td th:text="${int.beneficiaryBank}"></td>-->
                                    <!--<td ><a th:id="${int.id}" onclick="validateIntDelete(this.id)"><i class="fa fa-trash"></i></a></td>-->
                                <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                        <!--</div>-->
                    </div>
            </div>
        </div>
    </div>

</div>


<th:block layout:fragment="scripts">
   <script th:src="@{~/bank/vendors/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{~/bank/js/jquery.spring-friendly.min.js}"></script>
<script th:src="@{~/bank/vendors/bootstrap-dialog/js/bootstrap-dialog.js}"></script>


<!-- Page-Level Scripts -->
<script>
    /*<![CDATA[*/
var token = "";
    function validateDel(id) {
        $("#myModal").modal('show');
        $('#myID').val(id);
    }

    function validateDelete(id) {
        var ooo = "/retail/beneficiary/"+id+ "/loc/delete";
        //goto url
        warnBeforeRedirect(ooo);
    }

    function validateIntDelete(id) {
        var ooo = "/retail/beneficiary/"+id+ "/int/delete";
        //goto url
        warnBeforeRedirect(ooo);
    }

    function warnBeforeRedirect(id) {
        $("#myModal").modal('show');
        $('.del').on('click', function(){
            window.location.assign(ooo);
        });

    }


    /*]]>*/
</script>

</th:block>




</body>
</html>