<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="corp_layout :: site-head">

</head>
<body>
<header th:replace="corp_layout ::corp-header">
</header>

<section class="content-wrapper">
    <div class="container">

        <div class="row">
            <div class="col-md-8 content-bg">
                <div class="row spacing">
                    <div class="col-md-10">
                        <h4 class="sub_header">Pending Transfers</h4>
                        <table class="table">
                            <thead>
                            <td>Transfer type</td>
                            <td>Beneficiary</td>
                            <td>Bank</td>
                            <td>Amount</td>
                            <td>Action</td>
                            </thead>
                            <tbody>
                            <tr>
                            <tr th:each="pnd : ${pendAuths}">
                                <td th:text="${pnd.corpTransferRequest.transferType}"></td>
                                <td th:text="${pnd.corpTransferRequest.beneficiaryAccountName}"></td>
                                <td th:text="${pnd.corpTransferRequest.financialInstitution.institutionName}"></td>
                                <td th:text="${pnd.corpTransferRequest.amount}"></td>
                                <td><a class="btn btn-sm" th:href="@{'/corporate/' + ${pnd.id} + '/authorize'}"><i></i>Approve</a></td>
                            </tr>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div th:replace="corp_layout :: corp-sidebar" class="col-md-3 sidebar">
            </div>
        </div>
    </div>
</section>

<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="corp_layout ::corp-footer">
</footer>
</body>
</html>