<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="corp_layout :: site-head">

</head>
<body>
<div class="container">
<header th:replace="corp_layout ::corp-header">
</header>

<section class="content-wrapper">
    <div class="">

        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h5 class="page_header"> Pending Transfers</h5>

                <select class="form-control invisible" name="beneficiaries">
                    <option value="Overveiw">Beneficiaries</option>
                </select>
            </div>
            <p class="col-xs-12 invisible">
                Fields marked <span style="color:red">*</span> are compulsory
            </p>
        </div>

        <div class="row">
            <div class="col-md-9 content-bg">
                <div class="row">


                        <table class="table">
                            <thead>
                            <td>Transfer type</td>
                            <td>Beneficiary</td>
                            <td>Bank</td>
                            <td>Amount</td>
                            <td>Action</td>
                            </thead>
                            <tbody>
                            <tr>
                            <tr th:each="pnd : ${pendAuths}">
                                <td th:text="${pnd.corpTransferRequest.transferType}"></td>
                                <td th:text="${pnd.corpTransferRequest.beneficiaryAccountName}"></td>
                                <td th:text="${pnd.corpTransferRequest.financialInstitution.institutionName}"></td>
                                <td th:text="${pnd.corpTransferRequest.amount}"></td>
                                <td><a class="btn btn-sm" th:href="@{'/corporate/' + ${pnd.id} + '/authorize'}"><i></i>Approve</a></td>
                            </tr>
                            </tr>
                            </tbody>
                        </table>

                </div>
            </div>
            <div class="col-md-3 pull-right">
            <div th:replace="corp_layout :: corp-sidebar">
            </div>
            </div>
        </div>
    </div>
</section>

<!-- CONTENT-WRAPPER SECTION END-->
<footer th:replace="corp_layout ::corp-footer">
</footer>
</div>
</body>
</html>