<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>



<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <!--<a href="index.html"><img th:src="@{~/images/cmb_logo.png}"/></a>-->
                </div>

                <div class="clearfix"></div>
                <div class="clearfix"></div>

                <div th:replace="layout :: admin-menu"></div>
                <div th:replace="layout :: menu-footer-adm"></div>

            </div>
        </div>
        <div th:replace="layout :: top-nav"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Service Request Configuration</h3>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <form method="post" th:action="@{/admin/srconfig}" th:object="${serviceReqConfig}" class="form-horizontal">
                                    <div class="x_content">
                                        <br />

                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Name <span class="required"></span>
                                            </label>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <input class="form-control col-md-7 col-xs-12" th:field="*{requestName}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Type <span class="required"></span></label>
                                            <div class="col-md-4 col-sm-6 col-xs-12">

                                                <select class="form-control" th:field="*{requestType}" >
                                                    <option value="" name="select">Select..</option>
                                                    <option th:each="requestType : ${requestTypes}" th:value="${requestType.code}" th:text="${requestType.description}" th:selected="${requestType.code==serviceReqConfig.requestType}"></option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">
                                                Check if <span class="required"></span>
                                            </label>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <label><input type="checkbox" th:field="*{authenticate}" /> &nbsp; Requires Authentication</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Group<span class="required"></span></label>
                                            <div class="col-md-4 col-sm-6 col-xs-12">

                                                <select class="form-control" th:field="*{groupId}">
                                                    <option value="" name="select">Select..</option>
                                                    <option th:each="requestGroup : ${requestGroups}" th:value="${requestGroup.id}" th:text="${requestGroup.name}" th:selected="${requestGroup.id==serviceReqConfig.groupId}"></option>
                                                </select>

                                            </div>
                                        </div>

                                        <br/><br/>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <button type="submit" id="button_add" class="btn-xs btn-default btn">Add Field</button>
                                            <button type="submit" id="button_del" class="btn-xs btn-default btn">Remove</button>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12 col-sm-6 col-xs-12">
                                                <table id="mytab" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%" >
                                                    <thead>
                                                    <tr>
                                                        <th>Field Name</th>
                                                        <th>Field Label</th>
                                                        <th>Field Type</th>
                                                        <th>Type Data</th>
                                                    </tr>
                                                    </thead>

                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-sm-offset-2" align="center">
                                    <button type="reset" id="cancel" class="btn btn-default">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>

                                    </div>
                                    <div th:replace="layout::form-validation"></div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- footer content -->
        <footer th:replace="layout :: footer">
        </footer>
        <!-- /footer content -->
    </div>
</div>
<script th:src="@{~/bank/vendors/datatables.net/js/jquery.dataTables.js}"></script>
<script th:src="@{~/bank/js/dataTables.bootstrap.js}"></script>
<script th:src="@{~/bank/js/dataTables.select.js}"></script>
<script th:src="@{~/bank/js/jquery.spring-friendly.min.js}"></script>

<script type="text/javascript" language="javascript" class="init">
    /*<![CDATA[*/

    $(document).ready(function() {
        var counter = 0;
        var t = $('#mytab').DataTable({dom : 'rt',
            select : {style:'single'},
            ordering : false,
            "language": {
                "emptyTable": "No request fields. Click Add"
            }
        });




        $('#button_add').on( 'click', function (e) {
            e.preventDefault();
            t.row.add( [
                '<div class="container-fluid"><input name="formFields['+counter+'].fieldName" class="form-control"></div>',
                '<input name="formFields['+counter+'].fieldLabel" class="form-control">',
                '<select name="formFields['+counter+'].fieldType" class="form-control">\
                            <option value="CODE">Code</option>\
                            <option value="TEXT">Text</option>\
                            <option value="TEXTAREA">Text Area</option>\
                            <option value="FI">Financial Institutions</option>\
                            <option value="ACCT">Account</option>\
                            <option value="DATE">Date</option>\
                            <option value="LIST">Fixed List</option></select>',
                '<input name="formFields['+counter+'].typeData" class="form-control ">'
            ] ).draw( false );
            counter++;
        } );

        $('#button_del').click( function (e) {
            e.preventDefault()
            var dt = $('#mytab').DataTable();
            dt.row('.selected').remove().draw( false );


        } );
    } );

    document.getElementById("cancel").onclick = function () {
        location.href = "/admin/srconfig";
    }

    /*]]>*/

</script>
</body>
</html>