<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

<body onload="javascript:var bread = 'home';currentBar('dashboard');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5">

        <select class="form-control full-width bank-form-contro invisible" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 " >
        <div class=" no-pad-lef table-responsive bg-white alert" style="padding:0px !important">
            <table class="table table-hover no-pad-lef" id="users">
                <caption style="font-size: large">Transactional Accounts</caption>

                <thead class='thead'>  <div class=" no-pad-lef table-responsive bg-white alert">
                <strong><th class="text-cente">Acct Name</th></strong>
                <th class="text-cente">Acct No.</th>
                <th class="text-cente">Type</th>
                <th class="text-cente">Currency</th>
                <th class="text-cente">Av. Bal</th>
                <th class="text-cente">Led. Bal.</th>
                <th class="text-cente">&nbsp;</th>
                </div>
                </thead>
                <tbody>
                <tr th:each="list : ${accountList}" class="tt">
                    <td  th:text="${list.preferredName}"></td>
                    <td  th:text="${list.accountNumber}"></td>
                    <td  th:text="${list.accountType}"></td>
                    <td  th:text="${list.currencyCode}"></td>
                    <td  th:text="${list.accountBalance}" class="bal"></td>
                    <td  th:text="${list.ledgerBalance}" class="bal"></td>

                    <td th:align="center">
                        <select th:id="${list.id}" class="quickAccess" th:attr="onchange='javascript:getId(\'' + ${list.id} + '\');'" th:if="${list.accountType!='LOAN' and list.accountType!='FIXED DEPOSIT'}">

                            <option>Quick Actions</option>
                            <option value="Last 10 Transaction">Last 10 Transaction</option>
                            <option value="Transaction History">Transaction History</option>
                            <option value="Account Statement">Account Statement</option>

                        </select>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div  th:if="${not #lists.isEmpty(loanAccounts)}" class=" no-pad-lef table-responsive bg-white alert">



        <table class="table table-hover no-pad-lef" id="loans">
                <caption style="font-size: large">Loan Accounts</caption>
                <thead>
                <tr>
                    <th>Account Name</th>
                    <th>Account Number</th>
                    <th>Account Currency</th>
                    <th>Pdf</th>
                    <th>Excel</th>
                    <th>Email</th>

                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <tr>
                    <th>Account Name</th>
                    <th>Account Number</th>
                    <th>Account Currency</th>
                    <th>Pdf</th>
                    <th>Excel</th>
                    <th>Email</th>

                </tr>
                </tfoot>
            </table>

        </div>

        <div  th:if="${not #lists.isEmpty(fixedDepositAccounts)}" class=" no-pad-lef table-responsive bg-white alert">


            <table class="table table-hover no-pad-lef" id="fixedDepositDTO">

                <caption style="font-size: large">FIXED DEPOSIT ACCOUNTS</caption>

                <thead>
                <tr>
                    <th>Account Name</th>
                    <th>Account Number</th>
                    <th>Account Currency</th>
                    <th>Details</th>
                    <th>Pdf</th>
                    <th>Excel</th>
                    <th>Email</th>


                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <tr>
                    <th>Account Name</th>
                    <th>Account Number</th>
                    <th>Account Currency</th>
                    <th>Details</th>
                    <th>Pdf</th>
                    <th>Excel</th>
                    <th>Email</th>


                </tr>
                </tfoot>
            </table>


        </div>


        <table th:if="${displayCoverage}" class="table table-hover no-pad-lef" id="coverage">

            <caption style="font-size: large">COVERAGE TYPES</caption>

            <thead>
            <tr>

                <th>Customer ID</th>
                <th>Coverage Name</th>
                <th>Coverage Details</th>


            </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            <tr>
            <tr>
                <th>Customer ID</th>
                <th>Coverage Name</th>
                <th>Coverage Details</th>

            </tr>

            </tr>
            </tfoot>
        </table>


    </div>



    <div id="depositMailModal" class="modal" >
        <div class="modal-dialog">
            <div class="modal-content no-bd-rad tokenBox" >
                <form id="fixMailForm" action="#" th:action="@{/corporate/fixdeposit/email}" method="post" th:object="${fixedDepositDTO}">
                    <div class="modal-body no-bd-rad">

                        <h3 class="tokenHeader"><span class='text-danger'>Hello</span>, </h3>
                        <div class="margin-bottom">
                            <p style="margin-bottom:20px">Kindly enter recipient name and email you are sending fixed deposit details to. </p>
                            <div id="username_div" class="form-group">

                                <input  type="hidden" required class='my-select5 tokenInput' id="accNo" name="accountNumber" th:field="*{accountNumber}"  />
                                <input  type="text" name="recipientName" required class='my-select5 tokenInput' placeholder="Recipient Name " th:field="*{recipientName}" />

                                <input  type="email" name="recipientEmail" required class='my-select5 tokenInput' placeholder="Recipient Email " th:field="*{recipientEmail}" />
                            </div>
                            <p style="margin-bottom:20px; color:#9F614B;" id="waiting"><b>Sending Email....... </b></p>


                        </div>


                    </div>
                    <div class="modal-footer no-bd-top ">
                        <input type='button' class="btn btn-link less-required token-btn" id="backButton" value='Back'/>
                        <input type='submit' class="btn btn-link token-btn required-step" id="mailButton"  value='Send'/>
                    </div>

                </form>
            </div>
        </div>
    </div>



    <div id="mailModal" class="modal" >
        <div class="modal-dialog">
            <div class="modal-content no-bd-rad tokenBox" >
                <form id="mailForm" action="#" th:action="@{/corporate/loan/email}" method="post" th:object="${mailLoanDTO}">
                    <div class="modal-body no-bd-rad">

                        <h3 class="tokenHeader"><span class='text-danger'>Hello</span>, </h3>
                        <div class="margin-bottom">
                            <p style="margin-bottom:20px">Kindly enter recipient name and email you are sending loan details to. </p>
                            <div id="username_div1" class="form-group">

                                <input  type="hidden" required class='my-select5 tokenInput' id="accNum" name="accountNumber" th:field="*{accountNumber}"  />
                                <input  type="text" name="recipientName" required class='my-select5 tokenInput' placeholder="Recipient Name " th:field="*{recipientName}" />

                                <input  type="email" name="recipientEmail" required class='my-select5 tokenInput' placeholder="Recipient Email " th:field="*{recipientEmail}" />
                            </div>
                            <p style="margin-bottom:20px; color:#9F614B;" id="wait"><b>Sending Email....... </b></p>


                        </div>


                    </div>
                    <div class="modal-footer no-bd-top ">
                        <input type='button' class="btn btn-link less-required token-btn" id="cancelButton" value='Back'/>
                        <input type='submit' class="btn btn-link token-btn required-step" id="sendButton"  value='Send'/>
                    </div>

                </form>
            </div>
        </div>
    </div>



</div>
















<th:block layout:fragment="scripts">

    <link rel="stylesheet" type="text/css" th:href="@{~/bank/vendors/datatables.net/datatables.net-buttons/css/buttons.dataTables.min.css}"/>

   <script>

        $(document).ready(function () {
//            $('.tt').each(function () {
//                var sth = $(this).find(".bal").html();
//                $(this).find(".bal").html(numberWithCommas(sth));
////                $(this).find(".bal").html('₦'+ numberWithCommas(sth));
//            })


            $('.bal').each(function(i,obj){
                var sth = $(this).text();
                sth = parseFloat(sth).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
                $(this).text(sth);
            })
        });


        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function getId(Id) {
            if ($('#'+Id).val() === "Last 10 Transaction") {
                if (( Id != null || Id != '' )) {
                    window.location.href = "/corporate/account/" + Id + "/statement";
                }
            }
            if ($('#'+Id).val() === "Transaction History") {
                if (( Id != null || Id != '' )) {
                    window.location.href = "/corporate/account/" + Id+ "/viewonlyhistory";
                }
            }
            if ($('#'+Id).val() === "Account Statement") {
                if (( Id != null || Id != '' )) {
                    window.location.href = "/corporate/account/viewstatement/"+Id;
                }
            }

        }
    </script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            var table = $('#loans').DataTable({
                select:true,
                responsive: true,
                "lengthMenu" : [ [ 10, 20, 30,-1],	[ 10, 20,30, "All" ] ],
                "pagingType" : "simple_numbers",
                "searching": false,
                "paging": true,
                "serverSide" : true,
                "ajax": "/corporate/dashboard/loans",
                "dom": 'T<"clear">frtlp',
                "columns": [
                    { "data": "accountName" },
                    { "data": "accountNumber" },
                    { "data": "currencyCode" },
                ] ,

                "columnDefs" : [
            {
                    "targets" : 3,
                    "data" : "accountNumber",
                    "render" : function(data, type,full, meta) {

                       return'<a href="/corporate/loan/pdf/' + data + '"><i class="fa fa-file-pdf-o"></i>  download </a>';
                    }
                },
                    {
                        "targets" : 4,
                        "data" : "accountNumber",
                        "render" : function(data, type,full, meta) {

                            return'<a href="/corporate/loan/excel/' + data + '"><i class="fa fa-file-excel-o"></i> download </a>';
                        }
                    },
                    {
                        "targets" : 5,
                        "data" : "accountNumber",
                        "render" : function(data, type,full, meta) {

                            return'<a  onclick="mailLoan(\'' + data + '\')" ><i class="fa fa-envelope-o"></i> Send</a>';
                        }
                    }]


        });


            var table = $('#fixedDepositDTO').DataTable({
                select:true,
                responsive: true,
                "lengthMenu" : [ [ 5, 10, 20,-1],	[ 5, 10,20, "All" ] ],
                 "pagingType" : "simple_numbers",
                "searching": false,
                "paging": true,
                "serverSide" : true,
                "ajax": "/corporate/dashboard/fixdeposit",
                "dom": 'T<"clear">frtlp',
                "columns": [
                    { "data": "accountName" },
                    { "data": "accountNumber" },
                    { "data": "currencyCode" },
                    { "data": "accountNumber", render : function (data,type,full,meta) {
                        if(data!=null){

                              return'<a href="/corporate/fixdeposit/view/details/' + data + '"><i class="fa fa-eye"></i>  View </a>';

                        }

                        }


                    }
                ] ,

                "columnDefs" : [
                    {
                    "targets" : 4,
                    "data" : "accountNumber",
                    "render" : function(data, type,full, meta) {

                           return'<a href="/corporate/fixdeposit/download/PDF/' + data + '"><i class="fa fa-file-pdf-o"></i>  download </a>';
                    }
                },
                    {
                        "targets" : 5,
                        "data" : "accountNumber",
                        "render" : function(data, type,full, meta) {


                              return'<a href="/corporate/fixdeposit/download/EXCEL/' + data + '"><i class="fa fa-file-excel-o"></i> download </a>';
                        }
                    },
                    {
                        "targets" : 6,
                        "data" : "accountNumber",
                        "render" : function(data, type,full, meta) {

                             return'<a onclick="depositMail(\'' + data + '\')" ><i class="fa fa-envelope-o"></i> Send</a>';

                        }
                    }]


            });


        });

        var displayCoverage = /*[[${displayCoverage}]]*/ false;
        if(displayCoverage){
            var table = $('#coverage').DataTable({
                select: true,
                responsive: true,
                "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]],
                "pagingType": "simple_numbers",
                "searching": false,
                "paging": true,
                "serverSide": true,
                "ajax": "/corporate/dashboard/coverage",
                "dom": 'T<"clear">frtlp',
                "columns": [
                    {"data": "customerId"},
                    {"data": "coverageName"},
                    {
                        "data": "coverageUrl", render: function (data, type, full, meta) {
                            if (data != null) {
                                console.log("The Data2 : " + data);
                                return '<a href="/corporate/coverage/view/' + data + '"><i class="fa fa-eye"></i>  View </a>';
                            }

                        }


                    }

                ]

            });
        }


        /*]]>*/
    </script>
    <script th:inline="javascript">
        $(document).ready(function () {
            $("#mailModal").hide();
            $("#depositMailModal").hide();
             $("#wait").hide();
             $("#waiting").hide();


        });


        function mailLoan(data) {
            $("#mailModal").show( function(){
                console.log("am here 2");
                $(".modal-body #accNum").val( data );

            });


        }

        function depositMail(data){
            console.log("fix mail called");
            $("#depositMailModal").show(function() {
                console.log("am here");
                $(".modal-body #accNo").val( data );

            });
        }



        $("#cancelButton").click(function() {
            $("#mailModal").hide();
        });
        $("#sendButton").click(function () {
            $("#wait").show();
        });


        $("#backButton").click(function() {
            $("#depositMailModal").hide();
        });
        $("#mailButton").click(function () {
            $("#waiting").show();
        });
    </script>

</th:block>

</body>
</html>