<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{corp-layout}">

<body onload="javascript:var bread = 'home';currentBar('dashboard');breadCrumb(bread)">

<div layout:fragment="content">
    <div class="col-md-5 col-sm-5">

        <select class="form-control full-width coronation-form-contro invisible" id="view">
            <option value="account">Overview</option>
        </select>
    </div>

    <div class="col-xs-12 " >
        <div class=" no-pad-lef table-responsive bg-white alert">
            <table class="table table-hover no-pad-lef" id="users">
                <caption style="font-size: large">Transactional Accounts</caption>

                <thead class='thead'>
                <strong><th class="text-cente">Acct Name</th></strong>
                <th class="text-cente">Acct No.</th>
                <th class="text-cente">Type</th>
                <th class="text-cente">Currency</th>
                <th class="text-cente">Av. Bal</th>
                <th class="text-cente">Led. Bal.</th>
                <th class="text-cente">&nbsp;</th>
                </thead>
                <tbody>
                <tr th:each="list : ${accountList}" class="tt">
                    <td  th:text="${list.preferredName}"></td>
                    <td  th:text="${list.accountNumber}"></td>
                    <td  th:text="${list.accountType}"></td>
                    <td  th:text="${list.currencyCode}"></td>
                    <td  th:text="${list.accountBalance}" class="bal"></td>
                    <td  th:text="${list.ledgerBalance}" class="bal"></td>

                    <td th:align="center">
                        <select th:id="${list.id}" class="quickAccess" th:attr="onchange='javascript:getId(\'' + ${list.id} + '\');'" th:if="${list.accountType!='LOAN' and list.accountType!='FIXED DEPOSIT'}">

                            <option>Quick Actions</option>
                            <option value="Last 10 Transaction">Last 10 Transaction</option>
                            <option value="Transaction History">Transaction History</option>
                            <option value="Account Statement">Account Statement</option>

                        </select>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${not #lists.isEmpty(coverageList)}">

            <th:block th:each="item : ${coverageList}">
                <div class="item">

                    <div class="no-pad-lef table-responsive no-mt bg-white alert" th:id="${item}">

                    </div>
                </div>
            </th:block>

        </div>

<!--        <div th:if="${not #lists.isEmpty(fixedDeposits)}" class="no-pad-lef table-responsive bg-white alert" style="padding:0px !important">-->
<!--            <table class="table table-hover no-pad-lef" id="users" c>-->
<!--                <caption style="font-size: large">Fixed Deposit Accounts</caption>-->
<!--                <thead class='thead'>-->
<!--                &lt;!&ndash;<tr>&ndash;&gt;-->

<!--                <th class="text-cente">Account Number</th>-->
<!--                <th class="text-cente">Booking Date</th>-->
<!--                <th class="text-cente">Deposit Amount </th>-->
<!--                <th class="text-cente">Rate (%)</th>-->
<!--                <th class="text-cente">Tenor (days)</th>-->
<!--                <th class="text-cente">Maturity Date</th>-->
<!--                <th class="text-cente">Maturity Amount</th>-->
<!--                <th class="text-cente">&nbsp;</th>-->
<!--                &lt;!&ndash;</tr>&ndash;&gt;-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="list : ${fixedDeposits}" class="tt">-->
<!--                    <td th:align="cente" th:text="${list.accountNumber}"></td>-->
<!--                    <td th:align="cente" th:text="${list.bookingDate}"></td>-->
<!--                    <td th:align="cente" th:text="${list.initialDepositAmount}" class="bal"></td>-->
<!--                    <td th:align="cente" th:text="${list.rate}"></td>-->
<!--                    <td th:align="cente" th:text="${list.tenor}"></td>-->
<!--                    <td th:align="cente" th:text="${list.maturityDate}" ></td>-->
<!--                    <td th:align="cente" th:text="${list.maturityAmount}" class="bal"></td>-->

<!--                    <td th:align="center" >-->


<!--                    </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->
<!--        <div th:if="${not #lists.isEmpty(loans)}" class="no-pad-lef table-responsive bg-white alert" style="padding:0px !important">-->
<!--            <table class="table table-hover no-pad-lef" id="users" c>-->
<!--                <caption style="font-size: large">Loan Accounts</caption>-->
<!--                <thead class='thead'>-->
<!--                &lt;!&ndash;<tr>&ndash;&gt;-->


<!--                <th class="text-cente">Account Number</th>-->
<!--                <th class="text-cente">Start Date</th>-->
<!--                <th class="text-cente">Amount</th>-->
<!--                <th class="text-cente">Rate (%)</th>-->
<!--                <th class="text-cente">Tenor (mths)</th>-->
<!--                <th class="text-cente">Maturity Date</th>-->
<!--                <th class="text-cente">&nbsp;</th>-->
<!--                &lt;!&ndash;</tr>&ndash;&gt;-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="list : ${loans}" class="tt">-->
<!--                    <td th:align="cente" th:text="${list.accountNumber}"></td>-->
<!--                    <td th:align="cente" th:text="${list.startDate}"></td>-->
<!--                    <td th:align="cente" th:text="${list.amount}" class="bal"></td>-->
<!--                    <td th:align="cente" th:text="${list.interestRate}" ></td>-->
<!--                    <td th:align="cente" th:text="${list.tenor}"></td>-->
<!--                    <td th:align="cente" th:text="${list.maturityDate}" ></td>-->

<!--                    <td th:align="center" >-->


<!--                    </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->

<!--        <div th:if="${not #lists.isEmpty(treasuryBills)}" class="no-pad-lef table-responsive bg-white alert" style="padding:0px !important">-->
<!--            <table class="table table-hover no-pad-lef" id="users" c>-->
<!--                <caption style="font-size: large">Treasury Bills</caption>-->
<!--                <thead class='thead'>-->
<!--                &lt;!&ndash;<tr>&ndash;&gt;-->

<!--                <th class="text-cente">Start Date</th>-->
<!--                <th class="text-cente">Face Value</th>-->
<!--                <th class="text-cente">Carrying Value</th>-->
<!--                <th class="text-cente">Rate (%)</th>-->
<!--                <th class="text-cente">Maturity Date</th>-->
<!--                <th class="text-cente">&nbsp;</th>-->
<!--                &lt;!&ndash;</tr>&ndash;&gt;-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="list : ${treasuryBills}" class="tt">-->
<!--                    <td th:align="cente" th:text="${list.startDate}"></td>-->
<!--                    <td th:align="cente" th:text="${list.faceValue}" class="bal"></td>-->
<!--                    <td th:align="cente" th:text="${list.carryingValue}" class="bal"></td>-->
<!--                    <td th:align="cente" th:text="${list.rate}" ></td>-->
<!--                    <td th:align="cente" th:text="${list.maturityDate}" ></td>-->

<!--                    <td th:align="center" >-->


<!--                    </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->

<!--        <div th:if="${not #lists.isEmpty(bonds)}" class="no-pad-lef table-responsive bg-white alert" style="padding:0px !important">-->
<!--            <table class="table table-hover no-pad-lef" id="users" c>-->
<!--                <caption style="font-size: large">Bonds</caption>-->
<!--                <thead class='thead'>-->
<!--                &lt;!&ndash;<tr>&ndash;&gt;-->

<!--                <th class="text-cente">Booking Date</th>-->
<!--                <th class="text-cente">Face Value</th>-->
<!--                <th class="text-cente">Carrying Value</th>-->
<!--                <th class="text-cente">Coupon Value</th>-->
<!--                <th class="text-cente">Rate (%)</th>-->
<!--                <th class="text-cente">Next Coupon Payment</th>-->
<!--                <th class="text-cente">&nbsp;</th>-->
<!--                &lt;!&ndash;</tr>&ndash;&gt;-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="list : ${bonds}" class="tt">-->
<!--                    <td th:align="cente" th:text="${list.bookingDate}"></td>-->
<!--                    <td th:align="cente" th:text="${list.faceValue}" class="bal"></td>-->
<!--                    <td th:align="cente" th:text="${list.carryingValue}" class="bal"></td>-->
<!--                    <td th:align="cente" th:text="${list.couponValue}" class="bal"></td>-->
<!--                    <td th:align="cente" th:text="${list.rate}" ></td>-->
<!--                    <td th:align="cente" th:text="${list.nextCouponPaymentDate}" ></td>-->

<!--                    <td th:align="center" >-->


<!--                    </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->


<!--        <div th:if="${not #lists.isEmpty(equities)}" class="no-pad-lef table-responsive bg-white alert" style="padding:0px !important">-->
<!--            <table class="table table-hover no-pad-lef" id="users" c>-->
<!--                <caption style="font-size: large">Equities</caption>-->
<!--                <thead class='thead'>-->
<!--                &lt;!&ndash;<tr>&ndash;&gt;-->

<!--                <th class="text-cente">Name</th>-->
<!--                <th class="text-cente">Average Unit Cost</th>-->
<!--                <th class="text-cente">Number of Unit</th>-->
<!--                <th class="text-cente">Total Cost</th>-->
<!--                <th class="text-cente">&nbsp;</th>-->
<!--                &lt;!&ndash;</tr>&ndash;&gt;-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="list : ${equities}" class="tt">-->
<!--                    <td th:align="cente" th:text="${list.equityName}"></td>-->
<!--                    <td th:align="cente" th:text="${list.averageUnitCost}" class="bal"></td>-->
<!--                    <td th:align="cente" th:text="${list.numOfUnit}"></td>-->
<!--                    <td th:align="cente" th:text="${list.totalCost}" class="bal"></td>-->

<!--                    <td th:align="center" >-->

<!--                    </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->

<!--        <div th:if="${not #lists.isEmpty(cards)}" class="no-pad-lef table-responsive bg-white alert" style="padding:0px !important">-->
<!--            <table class="table table-hover no-pad-lef" id="users" >-->
<!--                <caption style="font-size: large">Cards</caption>-->
<!--                <thead class='thead'>-->
<!--                &lt;!&ndash;<tr>&ndash;&gt;-->

<!--                <th class="text-cente">Name</th>-->
<!--                <th class="text-cente">Type</th>-->
<!--                <th class="text-cente">Number</th>-->
<!--                <th class="text-cente">Expiry Date</th>-->
<!--                <th class="text-cente">Balance</th>-->
<!--                <th class="text-cente">&nbsp;</th>-->
<!--                &lt;!&ndash;</tr>&ndash;&gt;-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="list : ${cards}" class="tt">-->
<!--                    <td th:align="cente" th:text="${list.cardName}"></td>-->
<!--                    <td th:align="cente" th:text="${list.cardType}"></td>-->
<!--                    <td th:align="cente" th:text="${list.cardNumber}"></td>-->
<!--                    <td th:align="cente" th:text="${list.expiryDate}"></td>-->
<!--                    <td th:align="cente" th:text="${list.balance}" class="bal"></td>-->

<!--                    <td th:align="center" >-->


<!--                    </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->


<!--        <div th:if="${not #lists.isEmpty(virtualWallets)}" class="no-pad-lef table-responsive bg-white alert" style="padding:0px !important">-->
<!--            <table class="table table-hover no-pad-lef" id="users" c>-->
<!--                <caption style="font-size: large">Virtual Wallets</caption>-->
<!--                <thead class='thead'>-->
<!--                &lt;!&ndash;<tr>&ndash;&gt;-->

<!--                <th class="text-cente">Platform</th>-->
<!--                <th class="text-cente">Balance</th>-->

<!--                <th class="text-cente">&nbsp;</th>-->
<!--                &lt;!&ndash;</tr>&ndash;&gt;-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="list : ${virtualWallets}" class="tt">-->
<!--                    <td th:align="cente" th:text="${list.platformName}"></td>-->
<!--                    <td th:align="cente" th:text="${list.balance}" class="bal"></td>-->

<!--                    <td th:align="center" >-->


<!--                    </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->
    </div>

</div>


<th:block layout:fragment="scripts">

    <script>

        $(document).ready(function () {
//            $('.tt').each(function () {
//                var sth = $(this).find(".bal").html();
//                $(this).find(".bal").html(numberWithCommas(sth));
////                $(this).find(".bal").html('₦'+ numberWithCommas(sth));
//            })


            $('.bal').each(function(i,obj){
                var sth = $(this).text();
                sth = parseFloat(sth).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
                $(this).text(sth);
            })
        });


        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function getId(Id) {
            if ($('#'+Id).val() === "Last 10 Transaction") {
                if (( Id != null || Id != '' )) {
                    window.location.href = "/corporate/account/" + Id + "/statement";
                }
            }
            if ($('#'+Id).val() === "Transaction History") {
                if (( Id != null || Id != '' )) {
                    window.location.href = "/corporate/account/" + Id+ "/viewonlyhistory";
                }
            }
            if ($('#'+Id).val() === "Account Statement") {
                if (( Id != null || Id != '' )) {
                    window.location.href = "/corporate/account/viewstatement/"+Id;
                }
            }

        }
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            var corpId = [[${corpId}]];
            $.ajax({
                url: "/corporate/accountcoverage/"+corpId,
                type: 'GET',
                success: function (response) {
                    let keys = Object.keys(response);
                    for (let element of keys) {
                        let coverage = response[element];
                        let header = Object.keys(coverage[0].details);
                        let table = document.createElement('table');
                        table.setAttribute('id',element+'table');
                        table.setAttribute('class','table table-hover');

                        let tableCaptionElement = document.createElement('caption');
                        tableCaptionElement.setAttribute('id',element+'caption');
                        tableCaptionElement.setAttribute("style", "margin-top: 3.5em;");

                        let tableCaptionNode = document.createTextNode(element);
                        tableCaptionElement.appendChild(tableCaptionNode);

                        let tableHeader = document.createElement('thead');
                        tableHeader.setAttribute('class','thead');

                        let datatableColumns =[];
                        for(let i=0;i<header.length;i++){
                            let th = document.createElement('th');
                            let node = document.createTextNode(header[i][0].toUpperCase()+header[i].slice(1));
                            th.appendChild(node);
                            tableHeader.appendChild(th);
                            datatableColumns.push({"data":header[i]});

                        }
                        let tbody = document.createElement('tbody')
                        for (let i = 0; i < coverage.length; i++) {
                            let tr = document.createElement('tr');
                            let row = Object.keys(coverage[i].details);
                            for (let coverageElement of row) {
                                let td = document.createElement('td');
                                tr.appendChild(td);
                                let textNode = document.createTextNode(coverage[i].details[coverageElement]);
                                td.appendChild(textNode);
                            }
                            tbody.appendChild(tr);

                        }
                        table.appendChild(tableCaptionElement);
                        table.appendChild(tableHeader);
                        table.appendChild(tbody);
                        document.getElementById(element).appendChild(table);


                        let datatable = $("#"+element+'table').DataTable({
                            responsive: true,
                            "lengthMenu": [ [5, 10, 20], [5, 10, 20] ],
                            "pagingType": "full_numbers",
                            "searching": false,
                            "paging": true,
                            "dom": 'T<"clear">frtlp',
                            "columns":datatableColumns,


                        });





                    }


                },
                error:function (response) {
                    console.log(response)
                }
            });


        });






        /*]]>*/
    </script>

</th:block>

</body>
</html>