<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/plugins/jquery-steps/css/jquery.steps.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/jquery-ui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/font-awesome/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/custom.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{~/customer/css/media.css}" />
    <link rel="shortcut icon" th:href="@{~/customer/img/favicon.ico}" type="image/x-icon">
    <link rel="icon" th:href="@{~/customer/img/favico.ico}" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
</head>

<body onload ='redirect()' class="LTR Safari Chrome Safari44 Chrome44 JAJP SmallDevice ContentBody">


<script>

    function redirect()
    {
        var version = detectIE();

        if (version <= 9 && version != false)
        {
            var id = document.getElementById('body');
            if(version <= 8)
            {

                id.style.display = "none";
            }
            else

                id.style.display = "";


            // window.location.href='/unsupported';
        }
    }

    function detectIE() {
        var ua = window.navigator.userAgent;

        // Test values; Uncomment to check result …

        // IE 10
        // ua = 'Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)';

        // IE 11
        // ua = 'Mozilla/5.0 (Windows NT 6.3; Trident/7.0; rv:11.0) like Gecko';

        // Edge 12 (Spartan)
        // ua = 'Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.71 Safari/537.36 Edge/12.0';

        // Edge 13
        // ua = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/46.0.2486.0 Safari/537.36 Edge/13.10586';

        var msie = ua.indexOf('MSIE ');
        if (msie > 0) {
            // IE 10 or older => return version number
            return parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
        }

        var trident = ua.indexOf('Trident/');
        if (trident > 0) {
            // IE 11 => return version number
            var rv = ua.indexOf('rv:');
            return parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10);
        }

        var edge = ua.indexOf('Edge/');
        if (edge > 0) {
            // Edge (IE 12+) => return version number
            return parseInt(ua.substring(edge + 5, ua.indexOf('.', edge)), 10);
        }

        // other browser
        return false;
    }
</script>

<!--[if lte IE 9]>
<div class="browserupgrade">

    <div class="text-center">
        <img class="img img-responsive" style="display:block;margin:0px auto;text-align:center;background:white;padding:10px;margin-bottom:20px" th:src="@{~/customer/img/cmb_logo.png}" alt="Coronation Merchant Bank" />

        <p >You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>

    </div>


</div>
<![endif]-->

<div class="container" id="body">


    <div class="row">
        <div class="top-bar col-xs-12">
            <ul class="top-link">
                <li class="no-bd"><a href="https://www.coronationmb.com/" target="_blank"> Coronation merchant bank</a>&nbsp;</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 visible-xs no-pad-left no-pad-right">
            <div class="center" style="margin:0px auto;">
                <a href="/" class="log" data-toggle="tooltip" data-placement="bottom" title="Coronation Merchant Bank">
                    <img class="img img-responsive pull-right" style="display:block;margin:0px auto;" th:src="@{~/customer/img/cmb_logo.png}" alt="Coronation Merchant Bank" />
                </a>
            </div>
        </div>


        <div class="col-sm-9 no-pad-left">

            <nav class="navbar navbar-default bg-success">
                <div class="">
                    <div class="navbar-header navbar-left ">
                        <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">MENU</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#" data-toggle="collapse" data-target="#navbar-collapse-1">Menu</a>
                    </div>
                    <div class="collapse navbar-collapse no-pad-left" id="navbar-collapse-1">
                        <ul class="nav navbar-nav ">
                            <li><a href="/"> HOME</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> LOGIN</a>
                                <ul class="dropdown-menu">
                                    <li><a th:href="@{/login/retail}"> INDIVIDUAL </a></li>
                                    <li><a th:href="@{/login/corporate}"> CORPORATE </a></li>
                                </ul>
                            </li>
                            <li><a href="/register"> REGISTER</a></li>
                            <li><a href="/#contact_us"> CONTACT US</a></li>
                            <li><a href="/faqs"> FAQ</a></li>
                        </ul>

                    </div>
                </div>
            </nav>

        </div>

        <div class="col-sm-3 hidden-xs no-pad-right">
            <div class="center" style="margin:0px auto;">
                <a href="/" class="log" data-toggle="tooltip" data-placement="bottom" title="Coronation Merchant Bank">
                    <img class="img img-responsive pull-right" style="display:block;margin:0px auto;" th:src="@{~/customer/img/cmb_logo.png}" alt="Coronation Merchant Bank" />
                </a>
            </div>
        </div>
    </div>


    <section class="content-wrapper">
        <div class="containe">
            <!-- Start row-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <br/>
                        <h2 class="header-title">First Time Login</h2>
                    <form id="setup-form"  action="/corporate/setup" method="post">

                        <div class="col-md-12">
                            <h3>Security Questions</h3>
                            <section class="col-md-12">
                                <!--<div class="row">-->
                                    <div class="col-md-offset-3  col-md-6">
                                        <br/>
                                        <input id="returnValue" type="hidden"/>
                                        <input id="noOfQuestions" th:name="noOfQuestions" th:value="${noOfQuestions}" type="hidden"/>
                                        <div th:each="questionList,ind : ${secQuestions}">
                                            <div class="form-group clearfix">
                                                <label>Question</label>
                                                <select th:name="'securityQuestion'+${ind.index}" th:id="'securityQuestion'+${ind.index}" class="form-control">
                                                    <option th:each="question : ${questionList}" th:text="${question.code}" th:value="${question.code}"></option>
                                                </select>
                                            </div>
                                            <div class="form-group clearfix">
                                                <label>Answer</label>
                                                <input type="text" th:name="'securityAnswer'+${ind.index}" class="form-control required" placeholder="Security Answer"/>
                                            </div>
                                        </div>
                                    </div>
                                <!--</div>-->
                            </section>
                            <h3>Phishing Image</h3>
                            <section>
                                <div class="row">
                                    <br/>
                                    <div class="col-md-offset-3 col-md-6">

                                        <div class="form-group">
                                            <label>Select Phishing Image</label>

                                            <div class="col-md-12" style="max-height: 250px; max-width: 450px;overflow: scroll;">
                                                <div class="col-md-3" th:each="image : ${images}" style="position: relative; max-height: 100px;">
                                                    <img th:src="${imagePath} + ${image}" width="100px" height="100px" style="padding: 5px;"/>
                                                    <input type="radio" name="phishing" th:value="${image}" id="check1" style="position: absolute; bottom: 20px; right: 20px;" />
                                                </div>
                                            </div>
                                            <input id="imgPaths" th:value="${imagePath}" style="display: none;" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 password">
                                        <br/>
                                        <h5 style="font-size: 16px; font-weight: bolder;">Related Information</h5>
                                        <p>What is a Phishing Image?</p>
                                        <p>
                                            This is an image that will be displayed anytime you want to log into the Coronation Merchant Bank Internet Banking application. This security feature will provide assurance that you are not interacting with a cloned version of the Internet Banking site, protecting you and your financial information even better.
                                        </p>

                                    </div>
                                    <div class="col-md-offset-3 col-md-6">
                                        <br/>
                                        <label>Give a name to the Phishing Image you have selected</label>

                                        <input type="text" name="caption" class="form-control required" placeholder="Enter Image Caption"/>
                                    </div>
                                </div>
                            </section>
                            <h3>Reset Password</h3>
                            <section>
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-4">
                                        <br/>

                                        <div class="form-group clearfix">
                                            <label>Password</label>
                                            <span class='req'></span><input onKeyUp="valPassword(this.value)" type="password" id="password" name="password" class="my-select required" placeholder="Password"/>
                                        </div>
                                        <div class="form-group clearfix">
                                            <div id="passwordDescription">Password not entered</div>
                                            <div id="passwordStrength"></div>
                                        </div>
                                        <div class="form-group clearfix">
                                            <label>Confirm Password</label>
                                            <span class='req'></span><input type="password" id="confirm" name="confirm" class="my-select required" placeholder="Confirm Password"/>
                                        </div>
                                    </div>

                                    <div class="col-md-4 password">
                                        <br/>
                                        <h5 style="font-size: 16px; font-weight: bolder;">Password tips</h5>
                                        <ul>
                                            <li th:each="rule : ${policies}" th:text="${rule}"></li>
                                        </ul>

                                    </div>
                                </div>
                            </section>

                            <h3>Summary</h3>
                            <section>
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-6">
                                        <div id="regSummary">
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            <!-- End row-->
        </div>
    </section>

    <div id="myModalError" class="modal fade " role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content no-bd-rad content ">
                <div class="modal-body">
                    <p id='errorMess' class='mess text-danger'>Put something here iff need be.</p>
                </div>
                <div class="modal-footer no-bd-top">
                    <button type="button" class="btn btn-link" data-dismiss="modal">OK</button>
                </div>
            </div>

        </div>
    </div>


    <div id="myModalSuccess" class="modal fade " role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content no-bd-rad content ">
                <div class="modal-body">
                    <p id='successMess' class='mess text-primary'>Put something here iff need be.</p>
                </div>
                <div class="modal-footer no-bd-top">
                    <button type="button" class="btn btn-link" data-dismiss="modal">OK</button>
                </div>
            </div>

        </div>
    </div>


    <div id="myLoader" class="modal fade " role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->

            <div class=" no-bd-rad no-bd content text-center " style=" background: transparent !important;">
                <div class="bg-white center" style="width:40%">
                    <img class="img-responsive block center  loader-img" style='padding:7px;' th:src="@{~/customer/img/loader.png}" alt="Coronation Merchant Bank" />
                    <div id='loading-icon bg-white text-center'><i class='fa fa-spinner block center fa-spin' style="font-size:18px;color:#003056"></i> Loading. Please Wait</div>
                </div>
            </div>

        </div>
    </div>

    <footer>
        <div class="containe">
            <div class="footer_bar">
                <div class="col-md-6 col-xs-12">
                    <ul class="list_group">
                        <li><a href="#" target="_blank">Privacy policy</a></li>
                        <li><a href="#" target="_blank">Disclaimer</a></li>
                        <li><a href="#" target="_blank">Terms &amp; Conditions</a></li>
                    </ul>

                </div>
                <div class="col-md-6 col-xs-12">
                    <p> &copy; 2017 - All rights reserved</p>
                </div>

            </div>
        </div>
    </footer>


</div>




<!-- CORE JQUERY SCRIPTS -->
<script th:src="@{~/customer/js/jquery-1.11.1.js}"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script th:src="@{~/customer/js/bootstrap.js}"></script>

<script th:src="@{~/customer/js/jquery.validate.min.js}"></script>
<script th:src="@{~/customer/js/jquery-ui.js}"></script>
<script th:src="@{~/customer/plugins/jquery-steps/js/jquery.steps.min.js}" type="text/javascript"></script>
<script th:src="@{~/customer/js/jasny-bootstrap.min.js}"></script>
<script th:src="@{~/customer/js/corpsetup.js}" th:inline="javascript" type="text/javascript"></script>
<script th:src="@{~/customer/js/passwordStrength.js}" th:inline="javascript" type="text/javascript"></script>
<script th:src="@{~/customer/plugins/bootstrap-notify/bootstrap-notify.js}"></script>
<script th:src="@{~/customer/js/errors.js}"></script>

<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    var m_noOfDigits = [[${passwordStrength.numOfdigits}]];
    var m_strCharacters = [[${passwordStrength.specialChars}]];
    var minLength = [[${passwordStrength.minLength}]];
    var noOfSpecChar = [[${passwordStrength.numOfSpecChar}]];

    function valPassword(strPassword) {
        runPassword(strPassword, minLength, m_noOfDigits, m_strCharacters, noOfSpecChar)
    }

    $(document).ready(function() {
        console.log("ready!");

        inputErrors();
        $('input').on("focus", function() {
            if ($(this).siblings('label.error')) {

                $(this).siblings('label.error').addClass('hidden');

            }

            if ($(this).hasClass('error')) {
                $(this).siblings('label.error').removeClass('hidden');
            }


        });


    });


    $('#password').bind("cut copy paste", function(e) {
        e.preventDefault();
    });
    $('#password').bind("cut copy paste", function(e) {
        e.preventDefault();
    });
    $('#confirm').bind("cut copy paste", function(e) {
        e.preventDefault();
    });

    /*]]>*/
</script>
</body>

</html>